<ion-content [class.darkContainer]="theme.darkMode">
    <app-titlebar></app-titlebar>
    <div *ngIf="!proposalDetailFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="proposalDetailFetched">
        <div *ngIf="proposalDetail">

            <div class="message">{{ 'crproposalvoting.withdraw-msg' | translate }}</div>
            <ion-list>
                <ion-row class="profile-data" *ngIf="proposalDetail.title">
                    <ion-col>
                        <h5>{{ 'common.title' | translate }}</h5>
                        <h4>{{ proposalDetail.title }}</h4>
                    </ion-col>
                </ion-row>

                <ion-row class="profile-data" *ngIf="onGoingCommand.data.proposalHash">
                    <ion-col>
                        <h5>{{ 'crproposalvoting.proposal-hash' | translate }}</h5>
                        <h4>{{ onGoingCommand.data.proposalHash }}</h4>
                    </ion-col>
                </ion-row>

                <ion-row class="profile-data">
                    <ion-col>
                        <h5>{{ 'crproposalvoting.withdraw-amount' | translate }}</h5>
                        <h4>{{ this.amount / Config.SELA }}</h4>
                    </ion-col>
                </ion-row>

                <ion-row class="profile-data" *ngIf="onGoingCommand.data.recipient">
                    <ion-col>
                        <h5>{{ 'crproposalvoting.recipient-address' | translate }}</h5>
                        <h4>{{ onGoingCommand.data.recipient }}</h4>
                    </ion-col>
                </ion-row>
            </ion-list>

            <div *ngIf="signingAndSendingProposalResponse">
                <ion-spinner></ion-spinner>
            </div>

            <ion-footer *ngIf="!signingAndSendingProposalResponse">
                <ion-row>
                    <ion-col class="left-col">
                        <ebutton mode="cancel" class="btn-container" id="cancel" (clicked)="cancel()"
                            [title]="'common.cancel' | translate"> </ebutton>
                    </ion-col>
                    <ion-col class="right-col">
                        <ebutton class="btn-container" id="confirm" (clicked)="signAndWithdraw()"
                            [title]="'common.confirm' | translate"> </ebutton>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </div>

        <div *ngIf="!proposalDetail" class="no-data">
            {{ 'crproposalvoting.no-data' | translate }}
        </div>
    </div>
</ion-content>