@import "src/app/identity/root.scss";

.container {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 10px;

  .header {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height:50px;
    }

    h1 {
      margin: 5px 0 0;
      font-size: 24px;
      font-weight: 700;
      color: #161740;
    }
  }

  .innerContainer {
    border: 1.2px solid #f55555;
    border-radius: 12px;
    background-color: #c7c9ba;
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8ff;
    overflow: hidden;
    flex-direction: column;
    font-size: 14px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
    color: #161740;
  }

  .btn-row {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
      width: 167px;
      height: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: #f8f8ff;

      ion-label {
        font-size: 16px;
        font-weight: 500;
        color: #161740;
        text-align: center;
      }
    }
  }
}

.darkContainer {
  background-color: #000;

  .header {
    h1 {
      color: #fdfeff;
    }
  }

  .innerContainer {
    background-color: #27293a;
  }

  .message {
    background: #393A48;
      color: #fdfeff;
  }

  .btn-row {
    .btn {
      background: #393A48;

      ion-label {
        color: #fdfeff;
      }
    }
  }
}