<ion-content [class.dark-container]="theme.darkMode">
    <app-titlebar></app-titlebar>
    <div class="council-header" *ngIf="candidatesService.isVoting">
        <ion-row>
            <ion-col class="left-col">
                <div id="vote-label">Vote is on going!</div>
            </ion-col>
            <ion-col class="right-col">
                <div class="btn-container align-center" id="vote-button" (click)="gotoCandidate()">
                    {{ 'voting.vote' | translate }}
                </div>
            </ion-col>
        </ion-row>
    </div>

    <ion-content class="content" [class.dark-container]="theme.darkMode">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
            </ion-refresher-content>
        </ion-refresher>

        <ion-grid *ngIf="candidatesService.crmembers.length > 0" class="container ion-no-padding">
            <ion-list lines="none" class="candidate-list">
                <ion-virtual-scroll [items]="candidatesService.crmembers" approxItemHeight="240px">
                    <ion-item class="candidate" *virtualItem="let member">
                        <ion-grid>
                            <ion-row (click)=onShowMemberInfo(member.did)>
                                <ion-col size="1.25" class="rank-col">
                                    {{ candidatesService.crmembers.indexOf(member) + 1 }}
                                </ion-col>
                                <ion-col size="1.5" class="img-col">
                                    <img [src]="member.avatar ? member.avatar : '/assets/crcouncilvoting/icon/avatar.png'"
                                        src-fallback="/assets/crcouncilvoting/icon/avatar.png">
                                </ion-col>
                                <ion-col class="label-col" size="7">
                                    <ion-label>
                                        <h4>{{ member.nickname }} </h4>
                                        <p>
                                            <ion-icon name="navigate"></ion-icon>
                                            {{ 'crcouncilvoting.' + member.location | translate }}
                                        </p>
                                    </ion-label>
                                </ion-col>
                                <ion-col class="label-col" size="2.25">
                                    <ion-label *ngIf="member.state != 'Elected'">
                                        <h5 class="state">{{'crcouncilvoting.'+ member.state | translate }}</h5>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-virtual-scroll>
            </ion-list>
        </ion-grid>

        <div *ngIf="candidatesService.crmembers.length === 0" class="spinner align-center">
            <ion-spinner name="crescent"></ion-spinner>
        </div>

    </ion-content>
</ion-content>