<ion-content [class.dark-container]="theme.darkMode">
    <app-titlebar></app-titlebar>
    <div class="council-header" *ngIf="crCouncilService.isVoting">
        <ion-row>
            <ion-col class="left-col">
                <div id="vote-label">{{ 'voting.vote-going' | translate }}</div>
            </ion-col>
            <ion-col class="right-col">
                <div class="btn-container align-center" id="vote-button" (click)="gotoCandidate()">
                    {{ 'voting.vote' | translate }}
                </div>
            </ion-col>
        </ion-row>
    </div>

    <div class="content" [class.vote-open]="crCouncilService.isVoting">
        <ion-grid *ngIf="crCouncilService.crmembers.length > 0" class="container ion-no-padding">
            <ion-list lines="none" class="candidate-list">
                <ion-item class="candidate" *ngFor="let member of crCouncilService.crmembers">
                    <ion-grid>
                        <ion-row (click)=onShowMemberInfo(member.did)>
                            <ion-col size="1.25" class="rank-col">
                                {{ crCouncilService.crmembers.indexOf(member) + 1 }}
                            </ion-col>
                            <ion-col size="1.5" class="img-col">
                                <img [src]="member.avatar ? member.avatar : '/assets/crcouncilvoting/icon/avatar.png'"
                                    src-fallback="/assets/crcouncilvoting/icon/avatar.png">
                            </ion-col>
                            <ion-col class="label-col" size="7">
                                <h4>{{ member.nickname }} </h4>
                                <!-- <p>
                                    <ion-icon name="navigate"></ion-icon>
                                    {{ 'crcouncilvoting.' + member.location | translate }}
                                </p> -->
                            </ion-col>
                            <ion-col class="label-col" size="2.25">
                                <h5 class="state" *ngIf="member.state != 'Elected'">{{'crcouncilvoting.'+
                                    member.state | translate }}</h5>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>

                <ion-item>
                    <ion-grid *ngIf="secretary">
                        <ion-row (click)=onShowSecretaryInfo()>
                            <ion-col size="1.25" class="rank-col">
                                SG
                            </ion-col>
                            <ion-col size="1.5" class="img-col">
                                <img [src]="secretary.avatar ? secretary.avatar : '/assets/crcouncilvoting/icon/avatar.png'"
                                    src-fallback="/assets/crcouncilvoting/icon/avatar.png">
                            </ion-col>
                            <ion-col class="label-col" size="7">
                                <h4>{{ secretary.didName }} </h4>
                                <p *ngIf="secretary.startDate">
                                    {{ secretary.startDate }}
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-item>

            </ion-list>
        </ion-grid>

        <div *ngIf="crMembersFetched && crCouncilService.crmembers.length == 0" class="no-data">
            {{ 'crcouncilvoting.no-members' | translate }}
        </div>

        <div *ngIf="!crMembersFetched" class="spinner align-center">
            <ion-spinner name="crescent"></ion-spinner>
        </div>

    </div>

</ion-content>