@import "../../root.scss";

.container {
    min-height: 100%;
    padding-top: 15%;

    ion-list {
        padding: 0;
        margin: 0;
        min-height: 100%;

        ion-item {
            --padding-start: 0px;
            --background: #ffffff;
            margin-bottom: 1px;
            border-radius: 8px;

            ion-row {
                padding: 2.5px 0;
            }

            ion-label {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow: hidden;
            }

            .date {
                font-weight: 600;
                font-size: 13px;
            }

            .tx {
                margin-top: 5px;
                font-size: 11px;
                font-weight: 600;
            }
        }
    }
}

.darkContainer {
    ion-list {
        ion-item {
            --background: #212021;
            box-shadow: none;
            --border-color: #2e2f4e;
        }
    }
}

/** No History **/
.noHistory {
    padding-top: 10px;

    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-label {
            font-size: 16px !important;
            font-weight: 500 !important;
        }
    }
}

/** Skeleton **/
._date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

._keys {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.loading-container {
    padding-top: 0;
}
