<app-titlebar></app-titlebar>
<ion-content *ngIf="hasConfigSections">
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="section" *ngFor="let section of sections" (click)="open(section.router)">
            <ion-col size="11" class="title-col">
                <h1>{{ section.name | translate }}</h1>
                <h2>{{ section.subtitle | translate }}</h2>
            </ion-col>
            <ion-col size="1" class="arrow-col">
                <img src="assets/settings/default/right-arrow.svg">
            </ion-col>
        </ion-row>
        <ion-row class="section" *ngIf="prefs.developerMode" [routerLink]="['/developer']">
            <ion-col size="11" class="title-col">
                <h1>{{ 'developer-setting' | translate }}</h1>
                <h2>{{ 'advanced-setting' | translate }}</h2>
            </ion-col>
            <ion-col size="1" class="arrow-col">
                <img src="assets/settings/default/right-arrow.svg">
            </ion-col>
        </ion-row>
        <ion-row class="section dev-mode">
            <ion-col size="8" class="title-col">
                <h1>{{ 'display-setting' | translate }}</h1>
                <h2 *ngIf="!theme.darkMode">{{ 'light-mode-on' | translate }}</h2>
                <h2 *ngIf="theme.darkMode">{{ 'dark-mode-on' | translate }}</h2>
            </ion-col>
            <ion-col size="4" class="arrow-col">
                <div *ngIf="!theme.darkMode" class="theme-toggle light-toggled">
                    <div class="dark-mode" (click)="theme.toggleTheme()"><p>{{ 'dark' | translate }}</p></div>
                    <div class="light-mode"><p>{{ 'light' | translate }}</p></div>
                </div>
                <div *ngIf="theme.darkMode" class="theme-toggle dark-toggled">
                    <div class="dark-mode"><p>{{ 'dark' | translate }}</p></div>
                    <div class="light-mode" (click)="theme.toggleTheme()"><p>{{ 'light' | translate }}</p></div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="section dev-mode" (click)="toggleDeveloperMode()">
            <ion-col size="9" class="title-col">
                <h1>{{ 'dev-mode' | translate }}</h1>
                <h2 *ngIf="prefs.developerMode">{{ 'on' | translate }}</h2>
                <h2 *ngIf="!prefs.developerMode">{{ 'off' | translate }}</h2>
            </ion-col>
            <ion-col size="3" class="arrow-col">
                <ion-toggle *ngIf="prefs.developerMode" checked mode="ios"></ion-toggle>
                <ion-toggle *ngIf="!prefs.developerMode" mode="ios"></ion-toggle>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>