<ion-content>
  <app-titlebar></app-titlebar>

  <!-- Initializing / Reloading and recomputing existing transfer -->
  <ion-grid *ngIf="initializing" class="container ion-padding" [class.dark-container]="theme.darkMode">
    <ion-spinner></ion-spinner>
    {{ 'easybridge.restoring-transfer' | translate }}
  </ion-grid>

  <!-- Intro -->
  <ion-grid *ngIf="!initializing && showingIntro" class="container ion-padding" [class.dark-container]="theme.darkMode">
    <p>
      {{ 'easybridge.intro-1' | translate }}
    </p>
    <p>
      {{ 'easybridge.intro-2' | translate }}
    </p>

    <ion-button (click)="showingIntro = false">{{ 'common.continue' | translate }}</ion-button>

    <ion-row>
      <ion-col size="3"><img src="assets/browser/dapps/glidefinance.png" /></ion-col>
      <ion-col size="9">{{ 'easybridge.glide-intro' | translate }}</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Real operations -->
  <ion-grid *ngIf="!initializing && !showingIntro" class="container ion-padding"
    [class.dark-container]="theme.darkMode">
    <!-- Source tokens -->
    <div class="heading">{{ 'easybridge.pick-source-token' | translate }}</div>
    <div class="wallet-name">{{ 'easybridge.active-wallet' | translate }}: <b>{{ getWalletName() }}</b></div>
    <div class="source-tokens">
      <ion-row *ngFor="let sourceToken of sourceTokens" class="source-token"
        [class.selected]="sourceToken == selectedSourceToken"
        [class.gone]="selectedSourceToken && selectedSourceToken != sourceToken"
        (click)="selectSourceToken(sourceToken)">
        <ion-col size="3">
          <img [src]="getTokenLogo(sourceToken.token)" class="network-logo" />
        </ion-col>
        <ion-col size="9">
          <div class="amount-symbol">
            {{ getDisplayableAmount(sourceToken.balance) }}
            <span class="token-symbol">{{ sourceToken.token.symbol }}</span>
          </div>
          <div class="token-name">
            {{ sourceToken.token.name }}
          </div>
        </ion-col>
      </ion-row>
      <ion-spinner *ngIf="fetchingTokens">{{ 'easybridge.searching-tokens' | translate }}</ion-spinner>
    </div>

    <!-- Destination tokens -->
    <div *ngIf="selectedSourceToken">
      <div class="heading">{{ 'easybridge.pick-destination-token' | translate }}</div>
      <div class="destination-tokens">
        <ion-row *ngFor="let destinationToken of destinationTokens" class="destination-token"
          [class.selected]="destinationToken == selectedDestinationToken"
          [class.gone]="selectedDestinationToken && selectedDestinationToken != destinationToken"
          (click)="selectDestinationToken(destinationToken)">
          <ion-col size="3">
            <img [src]="getTokenLogo(destinationToken.token)" class="network-logo" />
          </ion-col>
          <ion-col size="9">
            <div class="token-symbol">
              {{ destinationToken.token.symbol }}
            </div>
            <div class="token-name">
              {{ destinationToken.token.name }}
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- Transfer amount -->
    <div *ngIf="selectedSourceToken && selectedDestinationToken">
      <div class="heading">{{ 'easybridge.transfer-amount' | translate }}</div>
      <ion-input class="transfer-input" type="number" name="transferAmount" ngDefaultControl
        placeholder="{{ 'wallet.amount' | translate }}" [(ngModel)]="transferAmount"
        [disabled]="!this.canEditFields || transferIsBeingComputed" (ionBlur)="transferAmountChanged()"> <span
          class="token-symbol">{{
          selectedSourceToken.token.symbol }}</span></ion-input>

      <div *ngIf="userAmountBelowMinAmount()">
        {{ 'easybridge.below-min-bridge-amount' | translate : {minTx: activeTransfer.bridgeStep.minTx, symbol:
        selectedSourceToken.token.symbol } }}
      </div>
    </div>

    <!-- Computing -->
    <div *ngIf="transferIsBeingComputed">
      <ion-spinner></ion-spinner>
      {{ 'easybridge.computing-transfer-info' | translate }}
    </div>

    <!-- Transfer info -->
    <div *ngIf="selectedDestinationToken && activeTransfer && canTransfer()">
      <div class="heading">{{ 'easybridge.transfer-summary' | translate }}</div>
      <ion-row>
        <ion-col size="6">
          {{ 'easybridge.bridge-fees' | translate }}
        </ion-col>
        <ion-col size="6" *ngIf="hasBridgeFees()">
          {{ getDisplayableBridgeFees() }}% ({{ getDisplayableBridgeFeesAmount() }} {{
          selectedSourceToken.token.symbol }})
        </ion-col>
        <ion-col size="6" *ngIf="!hasBridgeFees()">
          {{ 'easybridge.free' | translate }}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="activeTransfer.swapStep">
        <ion-col size="6">
          {{ 'easybridge.swap-price-impact' | translate }}
        </ion-col>
        <ion-col size="6">
          {{ getDisplayableSwapPriceImpact() }} %
        </ion-col>
      </ion-row>

      <!-- Swap info, only if a swap is required -->
      <ion-row *ngIf="activeTransfer.swapStep">
        <ion-col size="6">
          {{ 'easybridge.swap-fees' | translate }}
        </ion-col>
        <ion-col size="6">
          {{ getDisplayableSwapFees() }}%
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          {{ 'easybridge.received-amount' | translate }}
        </ion-col>
        <ion-col size="6">
          <b>~ {{ getDisplayableAmount(activeTransfer.estimatedReceivedAmount) }}
            {{selectedDestinationToken.token.symbol}}</b>
        </ion-col>
      </ion-row>
    </div>

    <!-- Steps summary -->
    <div *ngIf="selectedDestinationToken && activeTransfer">
      <div class="heading">{{ 'easybridge.transfer-progress' | translate }}</div>
      {{ getTransferProgressIndex() + 1 }} / {{ getTotalNumberOfSteps() }} - {{ getTransferProgressMessage() }}
    </div>

    <!-- Errors -->
    <div *ngIf="lastError" class="last-error">
      <img src="assets/easybridge/icons/orange-warning.svg" /> {{ lastError }}
    </div>

    <!-- Transfer action -->
    <ion-button (click)="transfer()" [disabled]="!canTransfer()" *ngIf="!isCompleted()">{{ getTransferButtonText() }}
    </ion-button>
    <ion-button (click)="reset()" [disabled]="!canReset()" *ngIf="!isCompleted()">{{ 'easybridge.reset' | translate }}
    </ion-button>

    <ion-button (click)="done()" *ngIf="isCompleted()">{{ 'easybridge.done' | translate }}</ion-button>
  </ion-grid>

</ion-content>