<ion-content [class.dark-container]="theme.darkMode">
  <app-titlebar></app-titlebar>

  <!-- Initializing / Reloading and recomputing existing transfer -->
  <ion-grid *ngIf="initializing" class="container ion-padding intro-loading">
    <ion-spinner></ion-spinner>
    {{ 'easybridge.restoring-transfer' | translate }}
  </ion-grid>

  <!-- Intro -->
  <ion-grid *ngIf="!initializing && showingIntro" class="container ion-padding">
    <div class="card">
      <p [innerHTML]="'easybridge.intro-1' | translate"></p>
      <p [innerHTML]="'easybridge.intro-2' | translate"></p>
    </div>

    <div class="card glide-container ion-activatable ripple" (click)="openGlideFinance()">
      <ion-col size="3"><img src="assets/browser/dapps/glidefinance.png" /></ion-col>
      <ion-col size="9" [innerHTML]="'easybridge.glide-intro' | translate"></ion-col>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </ion-grid>

  <!-- Real operations -->
  <ion-grid *ngIf="!initializing && !showingIntro" class="container ion-padding transfer-container">
    <!-- Active wallet -->
    <div class="wallet-name">{{ 'easybridge.active-wallet' | translate }}: <b>{{ getWalletName() }}</b></div>

    <!-- Source tokens -->
    <div class="fetch-tokens-heading">
      <div class="heading" [class.highlighted]="!selectedSourceToken">{{ 'easybridge.pick-source-token' | translate }}
      </div>
      <ion-spinner *ngIf="fetchingTokens">{{ 'easybridge.searching-tokens' | translate }}</ion-spinner>
    </div>
    <div class="source-tokens">
      <div *ngFor="let sourceToken of sourceTokens" class="source-token"
        [class.selected]="sourceToken == selectedSourceToken"
        [class.gone]="selectedSourceToken && selectedSourceToken != sourceToken"
        (click)="selectSourceToken(sourceToken)">
        <div class="left">
          <img [src]="getTokenLogo(sourceToken.token)" class="network-logo" />
        </div>
        <div class="right">
          <div class="amount-symbol">
            {{ getDisplayableAmount(sourceToken.balance) }}
            <span class="token-symbol">{{ sourceToken.token.symbol }}</span>
          </div>
          <div class="token-name">
            {{ sourceToken.token.name }}
          </div>
        </div>
      </div>

      <div *ngIf="!fetchingTokens && sourceTokens.length === 0">
        {{ 'easybridge.no-source-funds' | translate }}
      </div>
    </div>

    <!-- Destination tokens -->
    <div *ngIf="selectedSourceToken">
      <div class="heading" [class.highlighted]="!selectedDestinationToken">{{ 'easybridge.pick-destination-token' |
        translate }}</div>
      <div class="destination-tokens">
        <div *ngFor="let destinationToken of destinationTokens" class="destination-token"
          [class.selected]="destinationToken == selectedDestinationToken"
          [class.gone]="selectedDestinationToken && selectedDestinationToken != destinationToken"
          (click)="selectDestinationToken(destinationToken)">
          <div class="left">
            <img [src]="getTokenLogo(destinationToken.token)" class="network-logo" />
          </div>
          <div class="right">
            <div class="amount-symbol token-symbol">
              {{ destinationToken.token.symbol }}
            </div>
            <div class="token-name">
              {{ destinationToken.token.name }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Transfer amount -->
    <div *ngIf="selectedSourceToken && selectedDestinationToken">
      <div class="heading" [class.highlighted]="!transferAmount">{{ 'easybridge.transfer-amount' | translate }}</div>

      <div class="amount-container">
        <ion-input #transferamount class="transfer-input" type="number" name="transferAmount" ngDefaultControl
          placeholder="{{ 'wallet.amount' | translate }}" [(ngModel)]="transferAmount"
          [disabled]="!this.canEditFields || transferIsBeingComputed"
          (ionFocus)="transferAmountFocused($event, transferamount)" (ionBlur)="transferAmountChanged()"> </ion-input>
        <span class="token-symbol">{{
          selectedSourceToken.token.symbol }}</span>
      </div>

      <div *ngIf="transferAmount && userAmountBelowMinAmount()">
        {{ 'easybridge.below-min-bridge-amount' | translate : {minTx: activeTransfer.bridgeStep.minTx, symbol:
        selectedSourceToken.token.symbol } }}
      </div>
    </div>

    <!-- Computing -->
    <div *ngIf="transferIsBeingComputed" class="card computing-container">
      <ion-spinner></ion-spinner>
      {{ 'easybridge.computing-transfer-info' | translate }}
    </div>

    <!-- Transfer info -->
    <div *ngIf="selectedDestinationToken && activeTransfer && canTransfer()" class="card transfer-summary">
      <div class="heading">{{ 'easybridge.transfer-summary' | translate }}</div>
      <ion-row>
        <ion-col size="5">
          {{ 'easybridge.bridge-fees' | translate }}
        </ion-col>
        <ion-col size="7" *ngIf="hasBridgeFees()">
          {{ getDisplayableBridgeFees() }}% ({{ getDisplayableBridgeFeesAmount() }} {{
          selectedSourceToken.token.symbol }})
        </ion-col>
        <ion-col size="7" *ngIf="!hasBridgeFees()">
          {{ 'easybridge.free' | translate }}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="activeTransfer.swapStep">
        <ion-col size="5">
          {{ 'easybridge.swap-price-impact' | translate }}
        </ion-col>
        <ion-col size="7">
          {{ getDisplayableSwapPriceImpact() }} %
        </ion-col>
      </ion-row>

      <!-- Swap info, only if a swap is required -->
      <ion-row *ngIf="activeTransfer.swapStep">
        <ion-col size="5">
          {{ 'easybridge.swap-fees' | translate }}
        </ion-col>
        <ion-col size="7">
          {{ getDisplayableSwapFees() }}%
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          {{ 'easybridge.received-amount' | translate }}
        </ion-col>
        <ion-col size="7">
          <b>~ {{ getDisplayableAmount(activeTransfer.estimatedReceivedAmount) }}
            {{selectedDestinationToken.token.symbol}}</b>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <div class="footer" *ngIf="!initializing">
    <!-- Steps summary -->
    <div *ngIf="selectedDestinationToken && activeTransfer" class="transfer-progress">
      <div class="heading">{{ 'easybridge.transfer-progress' | translate }}</div>
      <div class="progress-step">({{ getTransferProgressIndex() + 1 }} / {{ getTotalNumberOfSteps() }})</div>
      <div class="progress-message">{{ getTransferProgressMessage() }}</div>
    </div>

    <!-- Errors -->
    <div *ngIf="lastError" class="last-error">
      <img src="assets/easybridge/icons/orange-warning.svg" /> {{ lastError }}
    </div>

    <div class="buttons">
      <!-- First slide footer - next -->
      <ion-button *ngIf="!initializing && showingIntro" (click)="showingIntro = false">{{ 'common.continue' | translate
        }}
      </ion-button>

      <!-- Transfer -->
      <ion-button (click)="transfer()" [disabled]="!canTransfer()" *ngIf="!showingIntro && !isCompleted()">{{
        getTransferButtonText() }}
      </ion-button>

      <!-- Reset -->
      <p (click)="reset()" [disabled]="!canReset()" *ngIf="!showingIntro && !isCompleted() && canReset()" class="reset">
        {{'easybridge.reset'| translate }}
      </p>

      <!-- Done -->
      <ion-button (click)="done()" *ngIf="!showingIntro && isCompleted()">{{ 'easybridge.done' | translate }}
      </ion-button>
    </div>
  </div>

</ion-content>