
.container {
    display: flex;
    flex-direction: column;
}

p {
    margin-left: 20px;
}

ion-button {
    display: block;
    margin: 20px auto;
    width: 90%;
}

ion-spinner {
    align-self: center;
    margin: 10px;
}