@import "../../widgets.scss";

.backup-row {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--essentials-box-color);

  ion-col {
    display: flex;
  }

  .left-col {
    justify-content: center;
    align-items: flex-start;

    .inline-svg {
      margin: 0;
      margin-right: 5px;
    }
  }

  .mid-col {
    justify-content: center;
    align-items: flex-start;
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
    text-align: left;

    .title {
      margin-bottom: 6px;
    }

    .secondary-text {
      font-size: 14px;
      padding-right: 15px;
    }
  }

  .right-col {
    justify-content: center;
    align-items: flex-end;

    ebutton {
      width: 100%;
    }
  }
}
