<div class="root ion-activatable ripple" [class.cancel]="mode == 'cancel'" [class.disabled]="disabled"
    (click)="onClicked()">
    <div *ngIf="!spinning" class="inner-content" [class.left-icon-container]="leftIcon"
        [class.top-icon-container]="topIcon">
        <img [cache]="leftIcon" *ngIf="leftIcon && leftIconShouldBeCached()" class="icon left-icon" />
        <img [src]="leftIcon" *ngIf="leftIcon && !leftIconShouldBeCached()" class="icon left-icon" />

        <img [cache]="topIcon" *ngIf="topIcon && topIconShouldBeCached()" class="icon top-icon" />
        <img [src]="topIcon" *ngIf="topIcon && !topIconShouldBeCached()" class="icon top-icon" />

        <div class="title" [class.smaller]="topIcon" [class.uppercase]="uppercase">{{ title }}</div>
    </div>
    <ion-spinner *ngIf="spinning" name="crescent"></ion-spinner>

    <ion-ripple-effect *ngIf="!disabled"></ion-ripple-effect>
</div>