:host {
    display: flex;
    align-items: stretch;
    font-size: 16px;
    transition: all 0.2s ease;
    padding: 4px 2px;
    min-height: 60px; // Min for standard button, but can grow if top icon in use
    margin: 0 auto;

    &.full {
        width: 100%;
    }

    .root {
        background: var(--essentials-button-background-color);
        color: var(--essentials-button-text-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        place-content: center;
        width: 100%;
        //height: 100%; // Don't use height, conflicting with parent align items stretch

        &.cancel {
            .title {
                opacity: 50%;
            }
        }

        &.danger {
            background: #ff4d4d;
            color: white;
        }

        &.disabled {
            opacity: 50%;
        }

        .inner-content {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            text-align: center;

            &.small {
                padding: 5px 10px;
            }

            &.top-icon-container {
                flex-direction: column;
            }

            .left-icon {
                margin-right: 5px;
                width: 22px;
                height: 22px;
            }

            .top-icon {
                margin-bottom: 5px;
                width: 20px;
                height: 20px;
            }

            .roundedIcon {
                border-radius: 50%;
                overflow: hidden;
            }

            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex: 1; // Title only should be compressed, not the icon

                &.smaller {
                    font-size: 11px;
                }

                &.uppercase {
                    text-transform: uppercase;
                }
            }
        }

        ion-spinner {
            margin: 0 40px;
            --color: var(--essentials-button-text-color);
        }

        ion-ripple-effect {
            --ripple-color: var(--ion-text-color);
        }
    }
}
