@import "src/app/identity/root.scss";

.backupTextArea {
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 20px;
    margin-top: 10px;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
}
