@import "src/app/voting/root.scss";

ion-row {
    background-color: #ffffff;
}

ion-list {
    background-color: #ffffff;
}

ion-col {
    margin: 0px;
}

.id-row {
    margin-top: 29px;
    .avatar {
        width: 68px;
        height: 68px;
    }

    .name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    .location {
        color: #acacac;
    }

    #status {
        text-align: center;
        padding: 5px 10px;
        border-radius: 10px;
        min-width: 46px;
        height: 22px;
        font-size: 10px;
        font-weight: 600;
        background-color: #74FFDE;
        color: #000000;
    }
}

.candidate-row {
    margin-top: 24px;
    height: 153px;
    border-radius: 21px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fe;

    .progress-container {
        padding-left: 10px !important;
    }

    .progress-wrapper {
        width: 102px;
        height: 102px;

        .ratio {
            position: absolute;
            top: 50%;
            bottom: auto;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        round-progress {
            width: 100% !important;
            height: 100% !important;
        }
    }

    ion-row {
        background-color: #f5f7fe;
    }

    #candidate-title {
        margin-top: 0px;
        font-weight: 600;
        font-size: 18px;
    }

    h5 {
        font-size: 11px;
    }

    h4 {
        font-size: 12px;
    }
}

.about{
    margin-top: 24px;
    padding: 7px 5px;
    width: 100%;
    height: 47px;
    color: #909090;
    background-color: #F5F7FE;
    border-radius: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
}

#social-media {
    padding: 0 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex-direction: column;
    list-style: none;

    #item {
        width: 30px;
        height: 30px;

        img {
            min-height: 18px;
        }
    }
}

.darkContainer {
    ion-row {
        background-color: #121212;
    }

    ion-list {
        background-color: #121212;
    }

    .candidate-row {
        background-color: #212021;
        ion-row {
            background-color: #212021;
        }
    }

    .about{
        color: #9D9D9D;
        background-color: #252525;

    }

}
