<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <img [src]="!theme.darkMode ? this.networkWallet.network.logo : this.networkWallet.network.logo" />
        <div *ngIf="qrcode" class="qrcode-container">
            <qrcode class="qrcode" [qrdata]="qrcode" [width]="200"></qrcode>
        </div>
        <ion-row class="address-title-row">
            <ion-col class="title-col" [size]="walletAddressInfo.length > 1 ? 6 : 12"
                [class.active]="addressType == 0" (click)="setAddressType(0)">
                <h1>{{ walletAddressInfo[0].title }}</h1>
            </ion-col>

            <ion-col *ngIf="walletAddressInfo.length > 1" class="title-col" size="6"
                [class.active]="addressType == 1" (click)="setAddressType(1)">
                <h1>{{ walletAddressInfo[1].title }}</h1>
            </ion-col>
        </ion-row>

        <ion-row class="address-row">
            <ion-col class="address-col">
              <h2 *ngIf="qrcode" (click)="copyAddress()">
                  {{ qrcode.slice(0,20) }}<br>{{ qrcode.slice(20,50) }}
              </h2>
              <ion-icon class='icon' mode="ios" name="open-outline" (click)="openForBrowseMode()"></ion-icon>
            </ion-col>
        </ion-row>
        <p>{{ 'wallet.coin-receive-tap-to-copy' | translate }}</p>

        <h3 *ngIf="!isSingleAddress" (click)="showAddressList()">
            {{ 'wallet.coin-receive-address-list' | translate }}
        </h3>
    </ion-grid>
</ion-content>