<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <img [src]="!theme.darkMode ? 'assets/wallet/coins/ela-black.svg' : 'assets/wallet/coins/ela-white.svg'"/>
        <div *ngIf="qrcode" class="qrcode-container">
            <qrcode [qrdata]="qrcode" [size]="150"></qrcode>
        </div>
        <h1>{{ 'wallet.coin-receive-ela-address' | translate: { coinName: elastosChainCode } }}</h1>
        <h2 *ngIf="qrcode" (click)="copyAddress()">
            {{ qrcode.slice(0,20) }}<br>{{ qrcode.slice(20,50) }}
        </h2>
        <p>{{ 'wallet.coin-receive-tap-to-copy' | translate }}</p>

        <h3 *ngIf="!isSingleAddress" (click)="showAddressList()">
            {{ 'wallet.coin-receive-address-list' | translate }}
        </h3>
    </ion-grid>
</ion-content>