@import "src/app/wallet/root.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 30px 20px;

    img {
        width: 75px;
        height: 75px;
        padding: 5px;
    }

    .qrcode-container {
        border-radius: 21px;
        background-color: var(--essentials-box-color);
        padding: 20px;
        margin: 20px;
        zoom: 1.2;
    }

    h1,
    h2,
    h3,
    p {
        margin: 0;
        font-weight: 400;
    }

    h1 {
        font-size: 13px;
        margin-bottom: 20px;
    }

    h2 {
        width: 80%;
        padding: 20px 0 20px 20px;
        margin: 0 10px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    h3,
    p {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.6px;
        margin-bottom: 25px;
    }

    h3 {
        padding-bottom: 5px;
        text-decoration: underline;
    }

    .address-title-row {
        margin-bottom: 10px;
        border-radius: 17px;

        .title-col {
            opacity: 0.6;

            h1 {
                margin: 0;
                font-weight: 300;
                font-size: 12px;
                text-align: center;
            }

            &.active {
                opacity: 1;
            }
        }
    }

    .address-row {
      background-color: var(--essentials-box-color);
      margin-bottom: 10px;
      border-radius: 17px;

      .address-col {
        display: flex;
        align-items: center;
        justify-content: flex-start;

          &.active {
              opacity: 1;
          }

          ion-icon {
            height: 20px;
            width: 20px;
          }
      }
  }
}
