<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="!suggestionDetailsFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="suggestionDetailsFetched" [class.darkContainer]="theme.darkMode">

        <div class="message">{{ 'crproposalvoting.create-suggestion-msg' | translate }}</div>
        <ion-list>
            <ion-row class="profile-data" *ngIf="suggestionDetails.title">
                <ion-col>
                    <h5>{{ 'common.title' | translate }}</h5>
                    <h4>{{ suggestionDetails.title }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="proposaltype">
                <div>
                    <h5>{{ 'crproposalvoting.type' | translate }}</h5>
                    <h4 class="align-center proposaltype">{{ 'crproposalvoting.proposaltype-' +
                        proposaltype | translate }}</h4>
                </div>
            </ion-row>

            <ion-row class="profile-data" *ngIf="suggestionDetails.abs">
                <ion-col>
                    <h5>{{ 'crproposalvoting.suggestion-abstract' | translate }}</h5>
                    <h4>{{ suggestionDetails.abs }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="createSuggestionCommand.data.recipient">
                <ion-col>
                    <h5>{{ 'crproposalvoting.recipient-address' | translate }}</h5>
                    <h4>{{ createSuggestionCommand.data.recipient }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="proposaltype == 'normal'">
                <ion-col>
                    <h5>{{ 'crproposalvoting.attach-budget' | translate }}</h5>
                    <table>
                        <tr>
                            <th>{{ 'crproposalvoting.type' | translate }}</th>
                            <th>{{ 'crproposalvoting.stage' | translate }}</th>
                            <th>{{ 'crproposalvoting.amount' | translate }}</th>
                        </tr>
                        <tr *ngFor='let budget of createSuggestionCommand.data.budgets'>
                            <td>{{ 'crproposalvoting.' + budget.type | translate }}</td>
                            <td>{{ budget.stage }}</td>
                            <td>{{ budget.amount / Config.SELA }}</td>
                        </tr>
                    </table>
                    <!-- <h4>View Attachment</h4> -->
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="proposaltype == 'normal'">
                <ion-col>
                    <h5>{{ 'crproposalvoting.budget-amount' | translate }}</h5>
                    <h4>{{ buggetAmount / Config.SELA }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data"
                *ngIf="createSuggestionCommand.data.secretarygeneraldid && proposaltype == 'secretarygeneral'">
                <ion-col>
                    <h5>{{ 'crproposalvoting.secretarygeneraldid' | translate }}</h5>
                    <h4>{{ createSuggestionCommand.data.secretarygeneraldid }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data"
                *ngIf="suggestionDetails.newAddress && (proposaltype == 'changeproposaladdress' || proposaltype == 'changeproposalowner')">
                <ion-col>
                    <h5>{{ 'crproposalvoting.new-recipient-address' | translate }}</h5>
                    <h4>{{ suggestionDetails.newAddress }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data"
                *ngIf="suggestionDetails.newOwnerDID && proposaltype == 'changeproposalowner'">
                <ion-col>
                    <h5>{{ 'crproposalvoting.new-owner-did' | translate }}</h5>
                    <h4>{{ suggestionDetails.newOwnerDID }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="creationDate">
                <ion-col>
                    <h5>{{ 'crproposalvoting.creation-date' | translate }}</h5>
                    <h4>{{ creationDate }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data"
                *ngIf="suggestionDetails.targetProposalTitle &&
                (proposaltype == 'changeproposalowner' || proposaltype == 'closeproposal')">
                <ion-col>
                    <h5>{{ 'crproposalvoting.target-proposal-title' | translate }}</h5>
                    <h4>{{ suggestionDetails.targetProposalTitle }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data"
                *ngIf="createSuggestionCommand.data.targetproposalhash && (proposaltype == 'changeproposalowner' || proposaltype == 'closeproposal')">
                <ion-col>
                    <h5>{{ 'crproposalvoting.target-proposal-hash' | translate }}</h5>
                    <h4>{{ createSuggestionCommand.data.targetproposalhash }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="suggestionDetails.address">
                <ion-col>
                    <h5>{{ 'crproposalvoting.suggestion-url' | translate }}</h5>
                    <h4>{{ suggestionDetails.address }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="createSuggestionCommand.data.drafthash">
                <ion-col>
                    <h5>{{ 'crproposalvoting.suggestion-hash' | translate }}</h5>
                    <h4>{{ createSuggestionCommand.data.drafthash }}</h4>
                </ion-col>
            </ion-row>
        </ion-list>

        <div *ngIf="signingAndSendingSuggestionResponse">
            <ion-spinner></ion-spinner>
        </div>

        <ion-footer *ngIf="!signingAndSendingSuggestionResponse">
            <ion-row>
                <ion-col class="left-col">
                    <div class="btn-container align-center" id="cancel" (click)="cancel()">
                        {{ 'common.cancel' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col class="right-col">
                    <div class="btn-container align-center" id="confirm" (click)="signAndCreateSuggestion()">
                        {{ 'common.confirm' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
            </ion-row>
        </ion-footer>
    </div>

</ion-content>