@import "src/app/crproposalvoting/root.scss";

.proposaltype {
    padding: 50px, 15px;
    height: 40px;
    width: auto;
    border-radius: 7px;
    background-color:#F2F2F2;
    text-align: center;
    align-items: center;
}

table,
td,
th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

.darkContainer {
    .proposaltype {
        background-color: #3C3C3C;
    }

    table,
    td,
    th {
        border: 1px solid white;
    }
}
