<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="!proposalDetailsFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="proposalDetailsFetched" [class.darkContainer]="theme.darkMode">

        <div class="message">{{ 'crproposalvoting.withdraw-msg' | translate }}</div>
        <ion-list>
            <ion-row class="profile-data" *ngIf="proposalDetails.title">
                <ion-col>
                    <h5>{{ 'common.title' | translate }}</h5>
                    <h4>{{ proposalDetails.title }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data"
                *ngIf="withdrawCommand.data.proposalhash">
                <ion-col>
                    <h5>{{ 'crproposalvoting.proposal-hash' | translate }}</h5>
                    <h4>{{ withdrawCommand.data.proposalhash }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="withdrawCommand.data.amount">
                <ion-col>
                    <h5>{{ 'crproposalvoting.withdraw-amount' | translate }}</h5>
                    <h4>{{ withdrawCommand.data.amount / Config.SELA  }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="withdrawCommand.data.recipient">
                <ion-col>
                    <h5>{{ 'crproposalvoting.recipient-address' | translate }}</h5>
                    <h4>{{ withdrawCommand.data.recipient }}</h4>
                </ion-col>
            </ion-row>
        </ion-list>

        <div *ngIf="signingAndSendingSuggestionResponse">
            <ion-spinner></ion-spinner>
        </div>

        <ion-footer *ngIf="!signingAndSendingSuggestionResponse">
            <ion-row>
                <ion-col class="left-col">
                    <div class="btn-container align-center" id="cancel" (click)="cancel()">
                        {{ 'common.cancel' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col class="right-col">
                    <div class="btn-container align-center" id="confirm" (click)="signAndWithdraw()">
                        {{ 'common.confirm' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
            </ion-row>
        </ion-footer>

    </div>
</ion-content>



