<ion-slides #slider [options]="slideOpts" (ionSlideNextEnd)="loadNext()" class="can-slides">
  <ion-slide *ngFor="let candidate of displayedCandidates">
    <ion-card class="ion-text-center" color="primary">
      <ion-grid>
        <ion-row class="header-container">
          <ion-col size="3" class="img-container">
            <img-loader *ngIf="!candidate.imageUrl" useImg><img src='/assets/crcouncilvoting/icon/avatar.png'></img-loader>
            <img-loader *ngIf="candidate.imageUrl" class="can-img"useImg><img [src]="candidate.imageUrl"></img-loader>
          </ion-col>
          <ion-col size="9" class="name-container">
            <ion-card-title>
              {{ candidate.nickname }}
            </ion-card-title>
          </ion-col>
        </ion-row>
        <ion-card-content>
          <ion-row class="detail-container">
            <p>{{ 'current-rank' | translate }}</p>
            <h3>#{{ candidatesService.candidates.indexOf(candidate) + 1 }}</h3>
          </ion-row>
          <ion-row class="detail-container">
            <p>{{ 'current-votes' | translate }}</p>
            <h3>{{ candidate.votes }}</h3>
          </ion-row>
          <ion-row class="detail-container">
            <p>{{ 'percent-votes' | translate }}</p>
            <h3>{{ getVotePercent(candidate.votes) }}%</h3>
          </ion-row>
          <ion-row class="website">
            <p>{{ 'website' | translate }}</p>
            <h3>{{ candidate.url }}</h3>
          </ion-row>
        </ion-card-content>
      </ion-grid>
    </ion-card>
  </ion-slide>
</ion-slides>
