* {
  font-family: 'Raleway' !important;
  background: transparent;
}

.spinner {
  position: fixed;
  z-index: 2;
  top: 40%;
  left: 46.5%;

  ion-spinner {
    transform: scale(2);
  }
}

/** Header **/
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #732dcf;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  ion-label {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
  }
}