<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <!-- Network name -->
        <div class="item-label">{{ 'wallet.network-name' | translate }}</div>
        <ion-row class="item-row">
            <ion-col size="12">
                <ion-input type="text" clearInput placeholder="My custom network" [(ngModel)]="editedNetworkEntry.name"
                    name="toAddress" ngDefaultControl>
                </ion-input>
            </ion-col>
        </ion-row>

        <!-- RPC URL -->
        <div class="item-label">{{ 'wallet.network-rpc-url' | translate }}</div>
        <ion-row class="item-row">
            <ion-col size="12">
                <ion-input type="text" clearInput placeholder="https://" [(ngModel)]="editedNetworkEntry.rpcUrl"
                    name="rpcUrl">
                </ion-input>
            </ion-col>
        </ion-row>

        <!-- Account RPC URL -->
        <div class="item-label">{{ 'wallet.network-account-rpc-url' | translate }}</div>
        <ion-row class="item-row">
            <ion-col size="12">
                <ion-input type="text" clearInput placeholder="https://" [(ngModel)]="editedNetworkEntry.accountRpcUrl"
                    name="accountRpcUrl">
                </ion-input>
            </ion-col>
        </ion-row>

        <!-- Chain ID -->
        <div class="item-label">{{ 'wallet.network-chain-id' | translate }}</div>
        <ion-row class="item-row">
            <ion-col size="12">
                <ion-input type="number" clearInput placeholder="128" [(ngModel)]="editedNetworkEntry.chainId"
                    name="rpcUrl">
                </ion-input>
            </ion-col>
        </ion-row>

        <!-- Currency symbol -->
        <div class="item-label">{{ 'wallet.network-token-symbol' | translate }}</div>
        <ion-row class="item-row">
            <ion-col size="12">
                <ion-input type="text" clearInput placeholder="ETH" [(ngModel)]="editedNetworkEntry.mainCurrencySymbol"
                    name="tokenSymbol">
                </ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="footer" [class.dark-container]="theme.darkMode">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ebutton mode="cancel" *ngIf="!editionMode" (clicked)="cancel()"
                        [title]="'common.cancel' | translate">
                    </ebutton>
                    <ebutton mode="cancel" *ngIf="editionMode" (clicked)="delete()"
                        [title]="'common.delete' | translate">
                    </ebutton>
                </ion-col>
                <ion-col size="6">
                    <ebutton (clicked)="saveChanges()" [disabled]="!canSave()"
                        [title]="'common.save-changes' | translate"></ebutton>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>