<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <!-- Network name -->
        <div class="item-label">Name</div>
        <ion-row class="item-row">
            <ion-col size="12">
                <ion-input type="text" clearInput placeholder="My custom network" [(ngModel)]="editedNetworkEntry.name"
                    name="toAddress" ngDefaultControl>
                </ion-input>
            </ion-col>
        </ion-row>

        <!-- RPC URL -->
        <div class="item-label">RPC URL</div>
        <ion-row class="item-row">
            <ion-col size="12">
                <ion-input type="text" clearInput placeholder="https://" [(ngModel)]="editedNetworkEntry.rpcUrl"
                    name="rpcUrl">
                </ion-input>
            </ion-col>
        </ion-row>

        <!-- Chain ID -->
        <div class="item-label">Chain ID</div>
        <ion-row class="item-row">
            <ion-col size="12">
                <ion-input type="number" clearInput placeholder="128" [(ngModel)]="editedNetworkEntry.chainId"
                    name="rpcUrl">
                </ion-input>
            </ion-col>
        </ion-row>

        <!-- Currency symbol -->
        <div class="item-label">Token symbol (optional)</div>
        <ion-row class="item-row">
            <ion-col size="12">
                <ion-input type="text" clearInput placeholder="ETH" [(ngModel)]="editedNetworkEntry.mainCurrencySymbol"
                    name="tokenSymbol">
                </ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button class="cancel" *ngIf="!editionMode" (click)="cancel()">Cancel</ion-button>
                <ion-button class="cancel" *ngIf="editionMode" (click)="delete()">Delete</ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button class="confirm" color="secondary" (click)="saveChanges()" [disabled]="!canSave()">Save
                    changes</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>