@import 'src/app/wallet/root.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 30px;

  p {
    margin: 0;
    padding: 0 30px 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.26;
    letter-spacing: -0.46px;
    text-align: center;
  }

  .scan-row {
    margin: 15px 0 30px;
    border-radius: 16px;
    padding: 10px 10px 10px 15px;
    box-shadow: 0 3px 15px 0 #ededf0;
    background-color: #ffffff;

    ion-col {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-input {
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.34px;
        text-align: left;
        --padding-end: 15px;
      }

      .scan-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 45px;
        height: 45px;

        img {
            width: 60%;
            height: 60%;
            object-fit: contain;
        }
      }
    }
  }

  div {
    width: 100%;
  }

  .coin-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h2, h3 {
      margin: 0;
    }

    h2 {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 1px;
      color: #372153;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    #symbol {
      letter-spacing: 4px;
    }
  }
}

.darkContainer {
  .scan-row {
    background-color: #212021;
    box-shadow: none;

    ion-col {
      ion-input {
        background-color: #212021;
      }
    }
  }

  .coin-row {
    h2 {
      color: #9D9D9D;
    }
  }
}
