<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="suggestion" [class.darkContainer]="theme.darkMode">
        <ion-grid>

            <ion-card>
                <ion-card-title>{{ 'crproposalvoting.suggestion' | translate }} <span>#</span>{{ suggestion.id }}
                </ion-card-title>
                <ion-card-subtitle>{{ 'crproposalvoting.by' | translate }} {{ suggestion.proposer }} &#8226; {{
                    uxService.formatDate(suggestion.createdAt) }}</ion-card-subtitle>
                <p [class.proposed]="suggestion.status === 'proposed'" [class.signed]="suggestion.status === 'signed'"
                    [class.unsigned]="suggestion.status === 'unsigned'">
                    {{ 'crproposalvoting.' + suggestion.status | translate }}
                </p>
            </ion-card>

            <div *ngFor="let item of suggestionDetails">
                <ion-card *ngIf="item.value" class="section-row">
                    <ion-col size="12" (click)="item.active = !item.active">
                        <h1>{{ item.title }}</h1>
                        <img [class.rotate]="item.active"
                            [src]="!theme.darkMode ? 'assets/crproposalvoting/icons/down-arrow.svg' : 'assets/crproposalvoting/icons/darkmode/down-arrow.svg'" />
                    </ion-col>
                    <ion-col *ngIf="item.active" class="details-col" size="12" [ngSwitch]="item.type">
                        <div *ngSwitchCase="'html'" [innerHtml]="item.value"></div>
                        <div *ngSwitchCase="'milestone'" class="milestone-container">
                            <div class="vertical-line-container">
                                <div class="inner"></div>
                            </div>
                            <div class="content">
                                <div *ngFor="let entry of item.value" class="entry">
                                    <div class="marker"></div>
                                    <ion-col size="2">{{entry.stage}}</ion-col>
                                    <!-- <div class="number">{{entry.stage}}</div> -->
                                    <ion-col size="8">
                                        <ion-label>
                                            <h5>{{uxService.formatDate(entry.timestamp) }}</h5>
                                            <h5>{{entry.goal}}</h5>
                                        </ion-label>
                                    </ion-col>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'budgets'">
                            <ion-row>
                                <ion-col size="12">
                                    <ion-label>
                                        <h5>{{'crproposalvoting.total-budget' | translate}} (ELA)</h5>
                                        <h4>5000</h4>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-label>
                                        <h5>{{'crproposalvoting.receive-address' | translate}}</h5>
                                        <h4>ddagagagg</h4>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-label>
                                        <h5>{{'crproposalvoting.payment-schedule' | translate}}</h5>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <div class="budget-container">
                                    <div class="budget" *ngFor="let entry of item.value">
                                        <p>{{ entry.type }} </p>
                                        <p>{{ entry.stage }} </p>
                                        <p>{{ entry.amount }} </p>
                                        <p>{{ entry.paymentCriteria }} </p>
                                    </div>
                                </div>
                            </ion-row>
                        </div>
                        <div *ngSwitchCase="'implementationTeam'">
                            <ion-grid>
                                <ion-row *ngFor="let entry of item.value">
                                    <ion-col size="2.5" class="img-col">
                                        <img
                                            [src]="entry.avatar ? entry.avatar : '/assets/crcouncilvoting/icon/avatar.png'">
                                    </ion-col>
                                    <ion-col class="label-col" size="9.5">
                                        <ion-label>
                                            <h4>{{ entry.member }} </h4>
                                            <h4>{{ entry.role }} </h4>
                                            <h4>{{ entry.responsibility }}</h4>
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-col>
                </ion-card>
            </div>
        </ion-grid>

        <ion-grid *ngIf="!suggestion" class="spinner spinner-container">
            <ion-spinner name="crescent"></ion-spinner>
        </ion-grid>

        <div *ngIf="(isCRMember && suggestion.status == 'signed') || (isSelf && suggestion.status == 'unsigned')">
            <div class="footer-space"></div>
            <ion-footer>
                <ion-row>
                    <ion-col class="align-center">
                        <div *ngIf="isCRMember && suggestion.status == 'signed'" class="btn-container align-center" id="sign"
                            (click)="makeIntoProposal()">
                            {{ 'crproposalvoting.make-into-proposal' | translate }}
                        </div>
                        <div *ngIf="isSelf && suggestion.status == 'unsigned'" class="btn-container align-center" id="sign"
                            (click)="signSuggestion()">
                            {{ 'crproposalvoting.sign-suggestion' | translate }}
                        </div>
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </div>
    </div>

</ion-content>