<ion-content>
  <ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()" [class.dark-tabs]="theme.darkMode">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" [class.selected]="selectedTab == 'home'">
        <ion-icon class="home-run"></ion-icon>
        <ion-label>{{ 'identity.home' | translate  }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile" [class.selected]="selectedTab == 'profile'">
        <ion-icon class="Profile">
        </ion-icon>
        <ion-label>{{ 'identity.profile'  | translate  }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="credentials" [class.selected]="selectedTab == 'credentials'">
        <ion-icon class="Credentials">
        </ion-icon>
        <ion-label>{{ 'identity.credentials'  | translate  }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>