@import "src/app/identity/root.scss";

ion-tab-bar {
  width: 100%;
  height: 80px;
  //box-shadow: 0 -5px 25px 0 rgba(188, 188, 188, 0.16);
  --background: var(--essentials-box-color);

  ion-tab-button {
    --background: transparent;

    ion-icon {
      opacity: 0.7;
    }

    ion-label {
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      margin-top: 10px;

      color: var(--ion-text-color);
      opacity: 0.7;
    }

    &.tab-selected {
      ion-icon {
        opacity: 1;
      }

      ion-label {
        opacity: 1;
      }
    }
  }
}

.home-run {
  width: 23px;
  height: 23px;
  object-fit: contain;
  content: url("/assets/identity/buttons/home-run-dark.svg");
}

.Profile {
  width: 19.4px;
  height: 23.2px;
  object-fit: contain;
  content: url("/assets/identity/buttons/profile-dark.svg");
}

.Credentials {
  width: 21.5px;
  height: 21.5px;
  object-fit: contain;
  content: url("/assets/identity/buttons/credentials-dark.svg");
}

.dark-tabs {
  .home-run {
    content: url("/assets/identity/buttons/home-run-selected-dark.svg");
  }

  .Profile {
    content: url("/assets/identity/buttons/profile-selected-dark.svg");
  }

  .Credentials {
    content: url("/assets/identity/buttons/credentials-selected-dark.svg");
  }

  /*   .selected {
    .Credentials {
      content: url("/assets/identity/buttons/credentials-selected-dark.svg");
    }
    .Profile {
      content: url("/assets/identity/buttons/profile-selected-dark.svg");
    }
    .home-run {
      content: url("/assets/identity/buttons/home-run-selected-dark.svg");
    }
  }
 */
}
