@import "src/app/wallet/root.scss";

.container {
    min-height: 100%;
    margin: 0;
    padding: 15px 20px;

    .list-title-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        h1 {
            margin: 0 0 10px;
            font-size: 18px;
            font-weight: 500;
            text-align: left;
        }

        p {
            margin: 0 20px 0 0;
            font-size: 12px;
            font-weight: 300;
            text-align: left;
        }

        .search-container {
            ion-input {
                background: var(--essentials-box-color);
                height: 40px;
                --color: var(--ion-text-color);
                font-size: 15px;
                border-radius: 50px !important;
                --padding-start: 20px;
                text-align: left;
            }
        }
    }

    .subwallet-row {
        .right-col {
            justify-content: center;

            ion-toggle {
                zoom: 0.65;
            }
        }
    }
}
