@import "src/app/identity/root.scss";

.container {
  min-height: 100%;
  padding: 0;

  ion-row {
    border-bottom: 1px solid #EAEAEA;
  }

  .header {
    padding: 13px 15px;

    ion-col {
        padding-left: 0;
        padding-right: 0;

        ion-label {
            font-size: 30px;
            font-weight: 600;
            line-height: 0.93;
            text-align: left;
        }
    }
  }

  .item {
    padding: 5px 0;

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 15px;
        width: 15px;
      }
    }

    .label-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      ion-label {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.62;
        text-align: left;
      }
    }
  }
}

.darkContainer {
  ion-row {
    border-bottom: 1px solid #464646;
  }
}
