@import 'src/app/wallet/root.scss';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px;
    background-image: url('/assets/wallet/background/intent.svg');
    object-fit: cover;

    ion-card {
        position: relative;
        margin: 50px 0 60px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 15px 0 #ededf0;
        border-radius: 15px;
        padding: 25px 15px 30px;
        overflow: visible;

        img {
            width: 85px;
            height: 101px;
            position: absolute;
            z-index: 10;
            top: -50.5px;
            object-fit: contain;
        }

        ion-card-title {
            font-size: 21px;
            font-weight: 600;
            line-height: 1.29;
            color: #2e2f4e;
            margin: 40px 15px 10px;
        }

        ion-card-subtitle {
            text-align: center;
            text-transform: none;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.46;
            color: #161740;
            margin: 0 15px;
        }
    }

    h2 {
        margin: 90px 30px 140px;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.46;
        text-align: center;
        color: #b176ff;
    }

    .btn {
        height: 47px;
        left: 2%;
        right: 2%;
        width: 96%;
        overflow: visible;
        position: fixed;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: #6e23d0;
        box-shadow: 0 3px 15px 0 #ededf0;

        ion-label {
            font-size: 17px;
            font-weight: 500;
            color: #ffffff;
        }
    }

  /*   .btn-row {
        width: 100%;
        display: flex;
        margin-top:20px;
        justify-content: space-around;
        align-items: center;

        .btn {
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
        
            ion-label {
                font-size: 17px;
                font-weight: 500;
            }
        }
      
        .cancel {
            box-shadow: 0 3px 15px 0 #ededf0;
            background-color: #6e23d0;
            
            ion-label {
                color: #ffffff;
            }
        }
    } */
}

.dark-container {
  background-image: url('/assets/wallet/background/darkmode/intent.svg');

    ion-card {
        background: #2e2f4e;
        box-shadow: 0 3px 15px 0 #151626;

        ion-card-title {
            color: #ffffff;
        }

        ion-card-subtitle {
            color: #cfd1f7;
        }
    }

    .btn {
        box-shadow: 0 3px 15px 0 #151626;
    }

  /*   .btn-row {
        .cancel {
            box-shadow: 0 3px 15px 0 #151626;
        }
    } */
}