<ion-content>
    <app-titlebar title="text-vote-crcouncil"></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode" *ngIf="masterWallet && masterWallet.subWallets[chainId]">
        <ion-card>
            <img-loader [src]="!theme.darkMode ? 'assets/wallet/intents/syncing.svg' : 'assets/wallet/intents/darkmode/syncing.svg'" useImg></img-loader>
            <ion-card-title>{{ 'waitforsync-loading' | translate }}</ion-card-title>
            <ion-card-subtitle>
                {{ 'waitforsync-intro' | translate }}
            </ion-card-subtitle>
        </ion-card>
        <ion-row
            class="subwallet-row ripple ion-activatable"
            [class.dark-subwallet-row]="theme.darkMode"
        >
            <ion-col size="2" class="left-col">
                <img [src]="uiService.getSubWalletIcon(masterWallet.getSubWallet(chainId))">
            </ion-col>
            <ion-col size="5" class="middle-col">
                <h1>{{ uiService.getSubwalletTitle(masterWallet.getSubWallet(chainId)) }}</h1>
                <p>{{ uiService.getSubwalletSubtitle(masterWallet.getSubWallet(chainId)) }}</p>
            </ion-col>
            <ion-col size="5" class="right-col">
                <h1>{{ uiService.getFixedBalance(subWallet.getDisplayBalance()) }}</h1>
                <p *ngIf="subWallet.getAmountInExternalCurrency(subWallet.getDisplayBalance())">
                    {{ subWallet.getAmountInExternalCurrency(subWallet.getDisplayBalance()) }}
                    {{ currencyService.selectedCurrency.symbol }}
                </p>
            </ion-col>
            <ion-col offset="2" size="10" class="bottom-col">
                <span *ngIf="subWallet.progress === 100 && subWallet.type !== CoinType.ERC20" class="synced">{{ 'synced' | translate }} &#8226; {{ uiService.getSyncTimeFromNow(subWallet.syncTimestamp) }}</span>
                <span *ngIf="subWallet.progress !== 100 && subWallet.type !== CoinType.ERC20" class="syncing">{{ 'syncing' | translate }} <span *ngIf="subWallet.syncTimestamp>0">&#8226; {{ uiService.getSyncTimeFromNow(subWallet.syncTimestamp) }}</span></span>
                <span *ngIf="subWallet.type === CoinType.ERC20" class="synced">{{ 'ela-erc20' | translate }}</span>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>

 <!--        <ion-row class="btn-row">
            <ion-col class="btn cancel ion-activatable ripple" size="12" (click)="cancelOperation()">
                <ion-label>{{ 'cancel' | translate }}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row> -->

        <div class="btn ion-activatable ripple" (click)="cancelOperation()">
            <ion-label>{{ 'cancel' | translate }}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </div>
    </ion-grid>
</ion-content>
