@import "src/app/crcouncilvoting/root.scss";

.container {
  min-height: 100%;
  padding-top: 12%;
  padding-bottom: 16%;
  background: #181d20;

  .candidate-list {
    padding: 0px 0px 1px;
    background: #181d20;

    ion-item {
      margin: 6px 0;
      --padding-start: 0px;

      .rank-container {
        font-size: 12px !important;
        font-weight: 600;
        padding-right: 1px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-img, img {
          border-radius: 10px;
          width: 40px;
          height: 40px;
        }
      }

      .check-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        ion-icon {
          width: 30px;
          height: 30px;
        }

        ion-checkbox {
          --background: #181d20;
        }

        .custom-checkbox {
          background: #181d20;
          border: 1px solid #1de9b6;;
          border-radius: 5px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          ion-icon {
            width: 20px;
            height: 20px;
          }
        }
      }

      ion-label {
        margin-top: 6px;

        h4, p {
          font-weight: 600;
          color: white;
        }

        h4 {
          font-size: 14px;
        }

        p {
          font-size: 10px !important;
          color: white !important;

          ion-icon {
            color: #1de9b6;
          }

          .votes {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.add-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 8%;
  background: linear-gradient(40deg, #181d20 0%, #1acda0 50%, #181d20 100%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: candidatesSelected;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;

  @keyframes candidatesSelected {
    0% { bottom: -100px }
    100% { bottom: 0px }
  }

  h1 {
    margin: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;
  }

  ion-img {
    width: 50px;
    height: 50px;
    position: relative;
    transform: rotate(180deg);
  }

  // Move logo from left to right if votes are casting //
  .add-logo-anim {
    animation: add-logo;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;

    @keyframes add-logo {
      0% { left: 0% }
      100% { left: 50%; }
    }
  }

  // Fade initial title if votes are casting ..
  .add-title-anim {
    animation: add-title;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

    @keyframes add-title {
      0% { opacity: 1 }
      100% { opacity: 0 }
    }
  }
}

.ripple {
  overflow: hidden;
}

.selected {
  color: #1de9b6 !important;
  font-weight: 700;
}

.spinner-container {
  background: #181d20;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    ion-spinner {
      transform: scale(2);
    }
  }
}
