<ion-content>
  <app-titlebar></app-titlebar>

<!--   <div class="ion-text-center header">
    <ion-label>{{ getTitle() }}</ion-label>
  </div> -->

  <ion-grid *ngIf="candidatesService.candidates.length > 0" id="add-padding-bottom" class="container ion-no-padding" [class.dark-container]="theme.darkMode">
    <app-candidate-slider
      *ngIf="showCandidate"
      [candidate]="candidate"
      [candidateIndex]="candidateIndex"
    >
    </app-candidate-slider>
    <ion-list lines="none" class="candidate-list" [class.blur]="showCandidate">
      <ion-virtual-scroll [items]="candidatesService.candidates"  approxItemHeight="240px">
        <ion-item class="candidate" [class.selected]="!candidateIsSelected(candidate)" *virtualItem="let candidate">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col
                size="1.25"
                class="rank-col"
                (click)="_showCandidate(candidatesService.candidates.indexOf(candidate), candidate)"
              >
                {{ candidatesService.candidates.indexOf(candidate) + 1 }}
              </ion-col>
              <ion-col size="1.5" class="img-col" (click)="_showCandidate(candidatesService.candidates.indexOf(candidate), candidate)">
                <img [src]="candidate.imageUrl ? candidate.imageUrl : '/assets/crcouncilvoting/icon/avatar.png'">
              </ion-col>
              <ion-col size="8.25" class="label-col" (click)="_showCandidate(candidatesService.candidates.indexOf(candidate), candidate)">
                <ion-label>
                  <h4 [class.selected]="candidateIsSelected(candidate)">{{ candidate.nickname }}</h4>
                  <p>
                    <ion-icon name="navigate"></ion-icon> {{ candidate.location }} &nbsp;
                    <span class="votes">{{ fixVotes(candidate.votes) }}</span> {{ 'votes' | translate }}
                  </p>
                </ion-label>
              </ion-col>
              <ion-col size="1" class="checkbox-col" (click)="addCandidate(candidate)">
                <ion-checkbox [value]="candidateIsSelected(candidate)"></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>
  </ion-grid>

  <ion-grid *ngIf="candidatesService.council.length > 0"  class="container ion-no-padding" [class.dark-container]="theme.darkMode">
    <ion-list lines="none" class="candidate-list">
      <ion-virtual-scroll [items]="candidatesService.council"  approxItemHeight="240px">
        <ion-item class="candidate" *virtualItem="let member">
          <ion-grid>
            <ion-row>
              <ion-col
                size="1.25"
                class="rank-col"
              >
                {{ candidatesService.council.indexOf(member) + 1 }}
              </ion-col>
              <ion-col size="1.5" class="img-col">
                <img [src]="member.avatar ? member.avatar : '/assets/crcouncilvoting/icon/avatar.png'">
              </ion-col>
              <ion-col class="label-col" size="8.25">
                <ion-label>
                  <h4>{{ member.didName }}</h4>
                  <p><ion-icon name="navigate"></ion-icon> {{ member.location }}</p>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>
  </ion-grid>

  <ion-grid *ngIf="candidatesService.candidates.length === 0 && candidatesService.council.length === 0" class="spinner-container ion-no-padding">
    <div class="spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ion-grid>

  <div *ngIf="candidatesService.candidates.length > 0" class="footer" (click)="walletAlert()">
    <ion-button [disabled]="!candidatesService.selectedCandidates.length" (click)="walletAlert()">
      {{ 'dist-votes' | translate }}
    </ion-button>
  </div>
</ion-content>

