<!---------- CRC CANDIDATES ---------->
<ion-header *ngIf="candidatesService.candidates.length > 0">
  <div class="ion-text-center header">
    <ion-label>Cyber Republic Candidates</ion-label>
  </div>
</ion-header>

<ion-content *ngIf="candidatesService.candidates.length > 0">
  <ion-grid class="container ion-no-padding">
    <app-candidate-slider
      *ngIf="showCandidate"
      [candidate]="candidate"
      [candidateIndex]="candidateIndex"
    >
    </app-candidate-slider>
    <ion-list lines="none" class="candidate-list" [class.blur]="showCandidate">
      <ion-virtual-scroll [items]="candidatesService.candidates"  approxItemHeight="240px">
        <ion-item class="candidate" [class.selected]="!candidateIsSelected(candidate)" *virtualItem="let candidate">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col
                size="1"
                class="rank-container ion-no-padding"
                (click)="_showCandidate(candidatesService.candidates.indexOf(candidate), candidate)"
              >
                {{ candidatesService.candidates.indexOf(candidate) + 1 }}
              </ion-col>
              <ion-col size="2" class="img-container" (click)="_showCandidate(candidatesService.candidates.indexOf(candidate), candidate)">
                <ion-img *ngIf="!candidate.imageUrl" src='/assets/crcouncilvoting/icon/avatar.png'></ion-img>
                <img *ngIf="candidate.imageUrl" [src]="candidate.imageUrl">
              </ion-col>
              <ion-col size="8" (click)="_showCandidate(candidatesService.candidates.indexOf(candidate), candidate)">
                <ion-label>
                  <h4 [class.selected]="candidateIsSelected(candidate)">{{ candidate.nickname }}</h4>
                  <p>
                    <ion-icon name="pin"></ion-icon> {{ candidate.location }} &nbsp;
                    <span class="votes">{{ fixVotes(candidate.votes) }}</span> votes
                  </p>
                </ion-label>
              </ion-col>

              <ion-col *ngIf="!candidateIsSelected(candidate)" size="1" class="check-container" (click)="addCandidate(candidate)">
                <div class="custom-checkbox"></div>
              </ion-col>
              <ion-col *ngIf="candidateIsSelected(candidate)" size="1" class="check-container" (click)="addCandidate(candidate)">
                <div class="custom-checkbox">
                  <ion-icon name="checkmark"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>
  </ion-grid>

  <div class="add-btn ion-activatable ripple" (click)="walletAlert()">
    <h1>DISTRIBUTE VOTES</h1>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-content>

<!---------- CRC COUNCIL ---------->
<ion-header *ngIf="candidatesService.council.length > 0">
  <div class="ion-text-center header">
    <ion-label>CR Council Members</ion-label>
  </div>
</ion-header>

<ion-content *ngIf="candidatesService.council.length > 0">
  <ion-grid class="container ion-no-padding">
    <ion-list lines="none" class="candidate-list">
      <ion-virtual-scroll [items]="candidatesService.council"  approxItemHeight="240px">
        <ion-item class="candidate" *virtualItem="let member">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col
                size="1"
                class="rank-container ion-no-padding"
              >
                {{ candidatesService.council.indexOf(member) + 1 }}
              </ion-col>
              <ion-col size="2" class="img-container">
                <ion-img *ngIf="!member.avatar" src='/assets/crcouncilvoting/icon/avatar.png'></ion-img>
                <img *ngIf="member.avatar" [src]="member.avatar">
              </ion-col>
              <ion-col size="8">
                <ion-label>
                  <h4>{{ member.didName }}</h4>
                  <p class="selected">
                    <ion-icon name="pin"></ion-icon> {{ member.location }} &nbsp;
                  </p>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>
  </ion-grid>

  <!-- <div class="add-btn ion-activatable ripple">
    <h1>{{ getCouncilStartDate() }}</h1>
    <ion-ripple-effect></ion-ripple-effect>
  </div> -->
</ion-content>

<ion-content *ngIf="candidatesService.candidates.length === 0 && candidatesService.council.length === 0">
  <ion-grid class="spinner-container ion-no-padding">
    <div class="spinner">
      <ion-spinner name="bubbles" color="success"></ion-spinner>
    </div>
  </ion-grid>
</ion-content>
