<ion-content 
    [scrollEvents]="true" #content [class.darkContent]="theme.darkMode" class="lightmode"
    [class.darkmode]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-content>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
            </ion-refresher-content>
        </ion-refresher>

        <!-- Search Input - reveal if first proposals are fetched on page load -->
        <ion-row *ngIf="showSearch" class="search-row">
            <ion-input #input autosize placeholder="{{ 'crproposalvoting.search-proposal' | translate }}"
                [(ngModel)]="searchInput" name="searchInput" ngDefaultControl (ngModelChange)="searchProposal($event)"
                mode="ios" clearInput>
            </ion-input>
        </ion-row>

        <ion-grid *ngIf="proposalsFetched" class="container">
            <div *ngIf="proposals.length > 0">
                <ion-row *ngFor="let proposal of proposals" (click)="selectProposal(proposal)"
                    class="item-row ripple ion-activatable">
                    <ion-col size="2" class="left-col">
                        <h1><span>#</span>{{ proposal.id }}</h1>
                    </ion-col>
                    <ion-col size="8.5" class="middle-col">
                        <h1>{{ proposal.title }}</h1>
                        <p class="date">{{ uxService.formatDate(proposal.createdAt) }} &#8226; {{ proposal.proposedBy }}
                        </p>
                        <p class="status" [class.final]="proposal.status === 'FINAL'"
                            [class.active]="proposal.status === 'ACTIVE'"
                            [class.rejected]="proposal.status === 'REJECTED'">
                            {{ uxService.getDisplayableStatus(proposal.status) }}
                        </p>
                    </ion-col>
                    <ion-col size="1.5" class="right-col">
                        <ion-img
                            [src]="!theme.darkMode ? '/assets/crproposalvoting/icons/right-arrow.svg' : '/assets/crproposalvoting/icons/darkmode/right-arrow.svg'">
                        </ion-img>
                    </ion-col>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-row>
            </div>
            <div *ngIf="proposals.length == 0" class="more">
                {{ 'crproposalvoting.no-proposals' | translate }}
            </div>
        </ion-grid>

        <!-- Spinner Container - Reveal if proposals are being fetched -->
        <ion-grid *ngIf="!proposalsFetched" class="spinner-container">
            <div class="spinner">
                <ion-spinner name="crescent"></ion-spinner>
            </div>
        </ion-grid>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreProposals($event)">
            <ion-infinite-scroll-content class="ion-padding-top" loadingSpinner="crescent">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>

</ion-content>