<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="!proposalDetailsFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="proposalDetailsFetched" [class.darkContainer]="theme.darkMode">

        <!-- <div class="message">{{ 'crproposalvoting.review-proposal-msg' | translate }}</div> -->
        <ion-list>
            <ion-row class="profile-data" *ngIf="proposalDetails.title">
                <ion-col>
                    <h5>{{ 'crproposalvoting.proposal-title' | translate }}</h5>
                    <h4>{{ proposalDetails.title }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="reviewProposalCommand.data.proposalHash">
                <ion-col>
                    <h5>{{ 'crproposalvoting.proposal-hash' | translate }}</h5>
                    <h4>{{ reviewProposalCommand.data.proposalHash }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="voteResult">
                <div>
                    <h5>{{ 'crproposalvoting.vote-result' | translate }}</h5>
                    <h4 class="align-center vote-result" [id]="voteResult"><img
                            [src]="!theme.darkMode ? '../assets/crproposalvoting/icons/' + voteResult + '.svg' : '../assets/crproposalvoting/icons/darkmode/' + voteResult + '.svg'">
                        <span>{{ 'crproposalvoting.' + voteResult | translate }}</span>
                    </h4>
                </div>
            </ion-row>
        </ion-list>

        <div *ngIf="signingAndSendingSuggestionResponse">
            <ion-spinner></ion-spinner>
        </div>

        <ion-footer *ngIf="!signingAndSendingSuggestionResponse">
            <ion-row>
                <ion-col class="left-col">
                    <div class="btn-container align-center" id="cancel" (click)="cancel()">
                        {{ 'common.cancel' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col class="right-col">
                    <div class="btn-container align-center" id="confirm" (click)="signAndReviewProposal()">
                        {{ 'common.confirm' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
            </ion-row>
        </ion-footer>
    </div>
</ion-content>