
ion-spinner {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}

.message {
    margin: 24px;
    padding: 10px;
    height: 87px;
    color: white;
    background-color: #3f6fea;
    border-radius: 8px;
}

ion-list {
    margin: 0;
    padding: 0px 24px;

    .profile-data {
        padding: 15px 0px 10px 0px;
        border-bottom: 1px solid #dbdbdb;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5,
        h4 {
            margin: 0;
        }

        h5 {
            margin-bottom: 2px;
            font-size: 13px;
            line-height: 16px;
            opacity: 0.7;
        }

        h4 {
            font-size: 16px;
            line-height: 20px;
        }

        div {
            padding-left: 5px;
            h5 {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}

//-------- CreateSuggestionPage and CreateProposalPage -------
.proposaltype {
    padding: 10px 15px;
    border-radius: 7px;
    background-color:#F2F2F2;
}

table,
td,
th {
    border: 1px solid black;
}

table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}
//--------------------------------------------------------

ion-footer {
    position: fixed;
    width: 100%;
    height: 113px;
    left: 0px;
    bottom: 0px;
    background-color: #ffffff;

    box-shadow: 0px -6px 14px rgba(0, 0, 0, 0.08);
    border-radius: 30px 30px 0px 0px;
    ion-row {
        padding: 0 15px;
    }

    .btn-container {
        height: 54px;
        width: 100%;
        border-radius: 15px;

        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
    }

    #cancel {
        padding: 20px;
        border: 1px solid #e1d6f7;
        color: #732cce;
        background-color: white;
    }

    #confirm {
        color: white;
        background-color: #732cce;
    }
}

.darkContainer {
    ion-input {
        background-color: #212021;
        box-shadow: none;
    }

    ion-list {
        .profile-data {
            border-bottom: 1px solid #464646;
        }
    }

    ion-footer {
        background-color: #212021;

        #cancel {
            color: #ddcdf2;
            background-color: #212021;
        }

        #confirm {
            color: white;
            background-color: #592996;
        }
    }

    .proposaltype {
        background-color: #3C3C3C;
    }

    table,
    td,
    th {
        border: 1px solid white;
    }
}
