@import "src/app/wallet/root.scss";

.verify-container {
    min-height: 100%;
    padding: 30px 35px;

    ion-input {
        background: var(--essentials-box-color);
        font-size: 15px;
        --padding-start: 12px;
    }

    .btn-container {
        margin-top: 25px;
    }
}

.verified-container {
    min-height: 100%;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    object-fit: cover;

    p {
        margin: 0;
        padding: 20px 25px 25px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
    }

    .btn-container {
        margin-top: 0px;
        width: 95%;
    }

    .key {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 16px;
        background: var(--essentials-box-color);
        font-size: 12px;
        border-radius: 15px;
    }
}

@media screen and (max-height: 670px) {
    .verified-container {
        .mnemonic-row {
            ion-col {
                margin-bottom: 15px;
            }
        }
    }
}
