<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid *ngIf="hideMnemonic && hasMnemonic" class="verify-container ion-no-padding ion-no-margin"
        [class.verify-dark-container]="theme.darkMode">
        <ion-row class="btn-container">
            <ebutton (clicked)="onExport()" [title]="'wallet.text-export-mnemonic' | translate"> </ebutton>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="!hideMnemonic" class="ion-text-center verified-container"
        [class.verify-dark-container]="theme.darkMode">
        <p *ngIf="hasMnemonic">
            {{ 'wallet.mnemonic-prompt1' | translate }}<b>{{ 'wallet.mnemonic-prompt2' | translate }}</b>{{
            'wallet.mnemonic-prompt3' | translate }}<br><br>
        </p>
        <ion-row *ngIf="hasMnemonic" class="mnemonic-row">
            <ion-col size="3.6" *ngFor="let item of mnemonicList; let i=index">
                <div class="mnemonic-index">{{ i + 1 }}</div>
                <ion-label>{{ item }}</ion-label>
            </ion-col>
        </ion-row>
        <p *ngIf="evmPrivateKey">{{ 'wallet.export-private-key-intro' | translate }}</p>
        <div *ngIf="evmPrivateKey" class="key" (click)="copyPrivateKey(evmPrivateKey)">
            {{ evmPrivateKey }}
        </div>

        <p *ngIf="tronPrivateKey">{{ 'wallet.export-tron-private-key-intro' | translate }}</p>
        <div *ngIf="tronPrivateKey" class="key" (click)="copyPrivateKey(tronPrivateKey)">
            {{ tronPrivateKey }}
        </div>
        <ion-row *ngIf="!hideMnemonic && isFromIntent" class="btn-container">
            <ebutton (clicked)="onShare()" [title]="'wallet.text-allow' | translate"> </ebutton>
        </ion-row>
    </ion-grid>
</ion-content>