<ion-content class="redpacket-settings">
  <app-titlebar></app-titlebar>
  <ion-grid class="container ion-padding">

    <!-- Options -->
    <ion-row class="redpacket-settings-options-container">
      <div class="redpacket-settings-options-text">
        <div class="redpacket-settings-option-title">{{ 'redpackets.profile-visibility' | translate }}</div>
        <div class="redpacket-settings-option-text">{{ 'redpackets.profile-visibility-hint' | translate }}</div>
      </div>
      <div class="redpacket-settings-options-value">
        <ion-toggle class="button" [(ngModel)]="isProfileVisibible" (ionChange)="visibilityChanged()"></ion-toggle>
      </div>
    </ion-row>

    <!-- Profile -->
    <ion-row class="redpacket-container redpacket-inline redpacket-user-profile-container">
      <div class="redpacket-user-profile-image">
        <ion-avatar *ngIf="!userAvatar" class="noAvatar">
          <img [src]="'assets/launcher/default/default-avatar.svg'" alt="Avatar">
        </ion-avatar>
        <ion-avatar *ngIf="userAvatar" class="hasAvatar">
          <img [src]="'data:' + userAvatar.contentType + ';base64,' + userAvatar.base64ImageData" alt="Avatar">
        </ion-avatar>
      </div>

      <div class="redpacket-user-profile-infos">
        <div class="redpacket-user-profile-infos-name">{{ userName }}</div>
        <div class="redpacket-user-profile-infos-did">{{ userDID }}</div>
      </div>
    </ion-row>

    <!-- Notes -->
    <ion-row class="redpacket-note-container">
      <div class="redpacket-note-info-logo">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.4" d="M14.34 0H5.67C2.28 0 0 2.38 0 5.92V14.09C0 17.62 2.28 20 5.67 20H14.34C17.73 20 20 17.62 20 14.09V5.92C20 2.38 17.73 0 14.34 0" fill="#C8C8C8"/>
          <path d="M9.99512 8.48438C10.4771 8.48438 10.8701 8.87738 10.8701 9.35938V13.7794C10.8701 14.2614 10.4771 14.6544 9.99512 14.6544C9.51312 14.6544 9.12012 14.2614 9.12012 13.7794V9.35938C9.12012 8.87738 9.51312 8.48438 9.99512 8.48438Z" fill="white"/>
          <path d="M9.995 7.0625C9.516 7.0625 9.125 6.6695 9.125 6.1875C9.125 5.7055 9.52 5.3125 10.005 5.3125C10.488 5.3125 10.88 5.7055 10.88 6.1875C10.88 6.6695 10.488 7.0625 9.995 7.0625Z" fill="white"/>
        </svg>
      </div>
      <div class="redpacket-note-info-text">
        <div class="redpacket-note-info-text-title">Note</div>
        <div class="redpacket-note-info-text-content">
          Unspent tokens and
          provisionning fees are returned at
          the expiration of the red packet.
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
