<ion-content>
  <app-titlebar></app-titlebar>
  <div class="container ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
    <p style="margin-bottom: 50px;">Getting ready to connect to an external app with Wallet Connect</p>
  </div>
</ion-content>

<ion-footer *ngIf="suggestToResetSession" [class.lightmode]="!theme.darkMode" [class.darkmode]="theme.darkMode">
  <p>
    It seems like the link with the application cannot be established. Please <b>get a new QR code</b> from the
    calling application and scan it again.
  </p>
  <ion-button color="primary" (click)="scanAgain()">Scan again</ion-button>
</ion-footer>