<ion-content>
  <app-titlebar></app-titlebar>
  <div class="container ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
    <p style="margin-bottom: 50px;">{{ 'settings.wallet-connect-request-loading' | translate }}</p>
  </div>
</ion-content>

<ion-footer *ngIf="suggestToResetSession" [class.lightmode]="!theme.darkMode" [class.darkmode]="theme.darkMode">
  <p *ngIf="comingFromScanner()">
    {{ 'settings.wallet-connect-request-error1' | translate }} <b>{{ 'settings.get-a-new-qr-code' | translate }}</b>{{ 'settings.wallet-connect-request-error2' | translate }}
  </p>
  <p *ngIf="!comingFromScanner()">
    {{ 'settings.wallet-connect-request-error3' | translate }}
  </p>
  <ion-button color="primary" (click)="retryOrCancel()">{{ getActionButtonTitle() }}</ion-button>
</ion-footer>