<ion-content>
  <app-titlebar></app-titlebar>
  <div class="ion-text-center">
    <p>Getting ready to connect to an external app with Wallet Connect, please wait</p>
    <ion-spinner></ion-spinner>
    <div *ngIf="suggestToResetSession">
      <h3>Taking too long?</h3>
      <p>
        It seems like communication with the application cannot be established. You could try to manually
        deleting any existing session and try again.
      </p>
      <ion-button color="primary" (click)="viewSessions()">View active sessions</ion-button>
    </div>
  </div>
  <!-- <ion-button color="primary" (click)="cancel()">Connect</ion-button> -->
</ion-content>