/.angular/cache
.angular
.sourcemaps/
node_modules/
/www
.DS_Store
package-lock.json
.vscode/
typings/
*.tmp
*.buildback
*.hprof

origin_platforms/
platforms/
origin_plugins/
/plugins/
scripts/cache/
src/assets/generated/
resources/ios/icon/
.env
src/environments/*
cedict_db/
circular-dependencies.json
src/assets/wallet/data/
