{
  "printWidth": 120,
  "bracketSameLine": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": false,
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid"
}
