<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859676453180-488sh58m1qd6p0nt5oh5i712vdlr5eb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859676453180-488sh58m1qd6p0nt5oh5i712vdlr5eb4</string>
	<key>API_KEY</key>
	<string>AIzaSyD0hqUHDucSF4PIXQbyULNmurvQMxRTh2k</string>
	<key>GCM_SENDER_ID</key>
	<string>859676453180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.elastos.essentials.app</string>
	<key>PROJECT_ID</key>
	<string>elastos-trinity-browser</string>
	<key>STORAGE_BUCKET</key>
	<string>elastos-trinity-browser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859676453180:ios:49d5788b0855c47c425639</string>
	<key>DATABASE_URL</key>
	<string>https://elastos-trinity-browser.firebaseio.com</string>
</dict>
</plist>