@import "../../widgets.scss";

.header-row {
  margin-bottom: 5px;

  .title-col {
    padding: 0px;
  }

  .more-col {
    display: flex;
    align-items: center;
    font-size: 10px;
    justify-content: flex-end;

    img {
      margin-left: 5px;
      height: 10px;
    }
  }
}

.networks-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  place-content: space-between;

  .networks {
    display: flex;
    width: auto;
    flex: 1;

    .network {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      img {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;

        &.active {
          border: solid 2px var(--ion-text-color);
        }
      }

      .title {
        text-align: center;
        font-size: 11px;

        &.active {
          font-weight: bold;
        }
      }
    }
  }

  .grid {
    width: 30px;
  }
}
