<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="container ion-no-padding ion-no-margin" [class.darkContainer]="theme.darkMode">
    <ion-row class="input-container">
      <ion-col class="input-title" size="2.5">
        <ion-label>{{ 'contacts.name' | translate }}</ion-label>
      </ion-col>
      <ion-col class="input" size="9.5">
        <ion-input
          #input
          placeholder="{{ 'contacts.custom-name' | translate }}"
          [(ngModel)]="customName"
          name="customName" ngDefaultControl
          (ngModelChange)="nameChanged($event)">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="input-container">
      <ion-col class="input-title" size="2.5">
        <ion-label>{{ 'common.bio' | translate }}</ion-label>
      </ion-col>
      <ion-col class="input" size="9.5">
        <ion-input
          placeholder="{{ 'contacts.custom-note' | translate }}"
          [(ngModel)]="customNote"
          name="customNote" ngDefaultControl
          (ngModelChange)="noteChanged($event)">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="input-container">
      <ion-col class="input-title" size="6">
        <ion-label>{{ 'contacts.avatar' | translate }}</ion-label>
      </ion-col>
      <ion-col class="input" size="6" (click)="getPhoto()">
        <ion-icon src='assets/contacts/icon/right-arrow.svg'></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="btn-container">
      <ion-button color="success" (click)="customizeContact()">
        {{ 'contacts.save-changes' | translate }}
      </ion-button>
    </ion-row>
    <ion-row class="msg-container">
      <p *ngIf="!contactAddedWithNoName" class="ion-text-center">
        {{ 'contacts.customize-info' | translate }}
      </p>
      <p *ngIf="contactAddedWithNoName" class="ion-text-center">
        {{ 'contacts.customize-info2' | translate }} <br><br>
        {{ 'contacts.customize-info3' | translate }}
      </p>
    </ion-row>
  </ion-grid>
</ion-content>
