@import 'src/app/contacts/root.scss';

.container {
  min-height: 100%;
  padding: 0;

  .profile-img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
  }

  .btn-container {
    padding: 15px 15px 0;

    ion-button {
      height: 50px;
      width: 100%;
      --border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.1px;
    }
  }

  .msg-container {
    padding-top: 0px;

    p {
      margin-top: 0;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    };
  }

  ion-list {
    padding: 15px;
    margin: 0;

    ion-item {
      --padding-start: 0px;
      --inner-padding-end: 0px;

      ion-col {
        padding: 0;
        display: flex;
        align-items: center;

        img {
          width: 50px ;
          height: 50px;
        }

        ion-label {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.2;
        }

        ion-checkbox {
          --border-color: #565bdb;
          --border-width: 2px;
          --background: transparent;
        }
      }
    }

    .first-col {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;

      .letter {
        font-size: 11px;
        font-weight: 700;
      }
    }
  }
}

.darkContainer {
  ion-list {
    background: #121212;

    ion-item {
      --background: #121212;
    }
  }
}
