@import "../../pages//wallet/coin/coin-tx-info/item-rows.scss";

.cosigners {
  .details-row {
    flex-direction: column !important;

    ion-row {
      height: 40px !important;
    }

    .cosigner-name {
      align-self: center;
    }

    .cosigner-signed {
      align-self: center;
    }

    ion-button {
      &.sign {
        width:100%;
        height:100%;
      }
    }
  }
}