@import "../../pages//wallet/coin/coin-tx-info/item-rows.scss";

.root {
  text-align: center;

  ion-spinner {
    margin-bottom: 20px;
  }
}

.cosigners {
  text-align: left;

  .details-row {
    flex-direction: column !important;

    ion-row {
      height: 50px !important;
    }

    .cosigner-name {
      align-self: center;
    }

    .cosigner-signed {
      align-self: center;
      text-align: center;
    }

    .button {
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 14px;
      background: var(--essentials-button-background-color);
      color: var(--essentials-button-text-color);
    }

    ebutton {
      min-height: 36px;
    }
  }
}

.item-row {
  &.link {
    ion-col {
      text-align: start;

      &.icon-col {
        align-self: center;
        text-align: center;

        ion-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
