<app-titlebar></app-titlebar>
<ion-content>
    <ion-grid class="container ion-no-padding ion-no-margin" [class.darkContainer]="theme.darkMode">
        <ion-row class="input-container">
            <ion-input
                #input
                autosize
                clearInput
                placeholder="Enter old password"
                [(ngModel)]="oldPayPassword"
                mode="ios"
            >
            </ion-input>
        </ion-row>
        <ion-row class="input-container">
            <ion-input
                #input
                autosize
                clearInput
                placeholder="Enter new password"
                [(ngModel)]="payPassword"
                mode="ios"
            >
            </ion-input>
        </ion-row>
        <ion-row class="input-container">
            <ion-input
                #input
                autosize
                clearInput
                placeholder="Re-enter new password"
                [(ngModel)]="rePayPassword"
                mode="ios"
            >
            </ion-input>
            <div 
                class="password-failed" 
                *ngIf="!passwordsMatch() && rePayPassword"
            > Passwords do not match
            </div>
        </ion-row>
        <ion-row class="btn-container">
            <ion-button color="primary" (click)="onSubmit()">
                <ion-label>{{ 'confirm' | translate }}</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>