.container {
    min-height: 100%;
    background: #f8f8ff;
    padding: 30px 35px;

    .input-container {
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;

        ion-input {
            background: #ffffff;
            box-shadow: 0 3px 15px 0 #ededf0;
            color: #000000;
            font-size: 15px;
            --padding-start: 12px;
        }

        .password-failed {
            color: #FF6464;
            font-weight: 700;
            font-size: 10px;
            margin-top: 10px;
        }
    }
  
    .btn-container {
        padding-top: 15px;

        ion-button {
            height: 41px;
        }
    }
}   
  
.darkContainer {
    background: #191a2f;

    .input-container {
        ion-input {
            background: #2b2c49;
            box-shadow: 0 3px 15px 0 #151626;
            color: #ffffff;
        }
    }
}
