@import "src/app/identity/root.scss";

ion-title {
    font-weight: 700;
    font-size: 23px;
    position: absolute;
    left: 0px !important;
    top: 0px !important;
    width: 100%;
    height: 100%;
    text-align: center !important;
    color:#000000;
    // margin-left: 0px !important;
    // margin-top: 0px !important;
}

ion-toolbar {   
    --background: white !important;

    .back {
        height:18px;
        margin-left:10px;
        margin-top:8px;
        padding:8px;
        transform: rotateY(180deg);
        fill: black;
    }
}

.transparent-background {
    --background: none !important;
    color:white; // Light color text when using a transparent background
}