@import "src/app/identity/root.scss";

.container {
  .header-row {
    .avatar-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .avatar {
        width: 215.1px;
        height: 214.6px;
        margin: 0 auto;
        object-fit: contain;
        display: flex;
        justify-content: center;
        color: #ffffff;
        background-image: url("/assets/identity/svg/empty-balloon.svg");
        background-blend-mode: multiply;
        padding: 35px;
    
        ion-icon {
          display: block;
          margin: auto;
          width: 70%;
          height: 70%;
        }

        img {
          display: block;
          margin: auto;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
          width: 100%;
          height: 100%;
        }
      }
  
      span {
        font-size: 13px;
        font-weight: 500;
        color: #565bdb;
      }
    }

    .show-col {
      padding: 20px 5px 5px;

      span {
        font-size: 14px;
        font-weight: 600;
        float: right;
      }
    }
  }

  .credentials {
    .main-row {
      border-top: 1px solid #EAEAEA;
      padding-top: 1px;
      padding-bottom: 1px;

      ion-col {
        padding: 0;
      }

      .icon-col {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 15.1px;
          height: 15.1px;
          object-fit: contain;
        }
      }
  
      .subject-col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      
        ion-label, span {
          font-size: 13px;
          font-weight: 600;
          line-height: 1.62;
          text-align: left;
          --color: #121212;
        }
      
        .avatar-label {
          line-height: 3.24;
        }
      }
  
      .edit-col {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      
        ion-input,
        ion-label,
        ion-select,
        ion-datetime {
          font-size: 13px;
          font-weight: 500;
          text-align: left;
          letter-spacing: -0.25px;
          color: #121212;
          --padding-bottom: 3px;
          --padding-end: 5px;
          --padding-top: 3px;
        }
      
        ion-input, ion-datetime {
          --padding-start: 0px;
        }
      
        ion-select {
          width: 150px;
          position: relative;
          left: -20px;
        }
      }

      .toggle-col {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;

        ion-toggle {
          zoom: 0.7;
        }
      }
    }
  }
  
  .btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    ion-button {
      height: 50px;
      width: 90%;
      --background: linear-gradient(to bottom, #732dcf, #640fd4);
      --border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.1px;
    }
  }
}

.darkContainer {
  .header-row {
    .show-col {
      span {
        color: white;
      }
    }
  }

  .credentials {
    .main-row {
      border-top: 1px solid #464646;

      .subject-col {
        ion-label,
        span {
          --color: #ffffff;
        }
      }
    
      .edit-col {
        ion-label,
        ion-select,
        ion-datetime,
        ion-input {
          color: #ffffff;
        }
      }
    }
  }
}
