@import "src/app/launcher/root.scss";

:host {
  display: block;
}

.root {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0;

  &.editing {
    overflow: hidden;
  }

  &.selecting {
    border-bottom: solid 1px #555;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .touch-disabler {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
  }

  .edition,
  .plugin-control,
  .adding-plugin-edition {
    position: absolute;

    ion-col {
      display: flex;
      align-items: center;
    }

    .item {
      background: #444;
      padding: 5px;
    }

    &.reduced {
      width: 0px;
      overflow: hidden;
    }
  }

  .edition {
    right: 0;
    top: 0px;
  }

  .adding-plugin-edition {
    right: 0;
    top: 0px;
  }

  .plugin-control {
    left: 0;
    bottom: 0px;
  }

  .selection {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    margin: 10px;
    box-shadow: 0 0 5px #888;
    z-index: 20000;
    transition: 0 0.3s ease;

    &:active {
      background: rgba(0, 0, 0, 1);
    }
  }
}
