@import 'src/app/wallet/root.scss';

.container {
    position: relative;
    min-height: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/assets/wallet/background/background.svg');
    object-fit: cover;

    p {
        margin: 0;
        padding: 30px 50px 40px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
        color: #fdfeff;
    }

    ion-slides {
        margin: 0;
        width: 100%;

        ion-slide {
            width: 100%;
            padding: 0 15px;
            display: flex;
            flex-direction: column;

            .input-row {
                width: 95%;
                background: #803fd5;
                padding: 0px 10px;
                border-radius: 8px;
                margin-bottom: 15px;

                ion-col {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span, ion-input {
                        color: #fdfeff;
                    }

                    span {
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: -0.41px;
                        text-align: center;
                    }

                    ion-input {
                        background: #803fd5;
                        font-weight: 400;
                        font-size: 14px;
                        letter-spacing: -0.34px;
                        text-align: left;
                        text-transform: lowercase;
                        --padding-start: 12px;
                    }
                }

                .input-col {
                    justify-content: flex-start;
                }
            }        

            .btn-container {
                margin-top: 150px;
            }
        }
    }
}