@import "src/app/wallet/root.scss";

.container {
    position: relative;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;

    p {
        margin: 0;
        padding: 30px 45px 40px;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
    }

    ion-slides {
        margin: 0;
        width: 100%;
        --bullet-background-active: var(--ion-text-color);

        ion-slide {
            width: 100%;
            padding: 0 15px;
            display: flex;
            flex-direction: column;

            .input-row {
                width: 95%;
                background: var(--essentials-box-color);
                padding: 0px 10px;
                border-radius: 8px;
                margin-bottom: 15px;

                ion-col {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: -0.41px;
                        text-align: center;
                    }

                    .virtual-input {
                        background: var(--essentials-box-color);
                        font-weight: 400;
                        font-size: 18px;
                        text-align: left;
                        text-transform: lowercase;
                        --padding-start: 12px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                    }
                }

                .input-col {
                    justify-content: flex-start;
                }
            }

            .currentInput {
                opacity: 0.3;
            }
        }
    }

    .btn-container {
        margin-top: 50px;

        ebutton {
            margin: 0 15px;
        }
    }

    h1 {
        margin: 15px;
        padding: 0;
        font-size: 13px;
        font-weight: 400;
    }
}
