
<ion-content>
    <app-titlebar></app-titlebar>

    <div [class.darkContainer]="theme.darkMode">
        <ion-list>
            <ion-row class="profile-data">
                <ion-col>
                    <h5  *ngIf="nodePublicKey==''">{{ 'crcouncilmanager.enter-node-publickey' | translate }}</h5>
                    <h5  *ngIf="nodePublicKey!=''">{{ 'crcouncilmanager.edit-node-publickey' | translate }}</h5>
                    <h4><ion-input
                        type="text"
                        name="publickey" ngDefaultControl
                        [(ngModel)]="nodePublicKey">
                    </ion-input>
                </h4>
                </ion-col>
            </ion-row>
        </ion-list>

        <ion-row class="btn-container">
            <ion-button color="success" (click)="goTransaction()">
                {{ 'common.confirm' | translate }}
            </ion-button>
        </ion-row>
    </div>
</ion-content>