<ion-row class="widget widget-background elastos-voting-row category-row" [class.darkContainer]="theme.darkMode"
  *ngIf="runnableApps">
  <ion-col size="12" class="title-col">
    <ion-label>{{ runnableApps.type | translate }}</ion-label>
  </ion-col>
  <ion-col *ngFor="let app of runnableApps.apps" class="app-col ripple ion-activatable"
    [class.deprecated]="app.id == 'dpos'" size="12" (click)="appService.startApp(app)">
    <ion-row class="app-row" [class.add-border]="app !== runnableApps.apps[runnableApps.apps.length -1]">
      <ion-col class="left-col" size="2">
        <div class="icon-container" [id]="app.id">
          <img [src]="app.iconDark && theme.darkMode ? app.iconDark : app.icon">
        </div>
      </ion-col>
      <ion-col class="mid-col" size="8">
        <div class="title">{{ app.name | translate }}</div>
        <div class="secondary-text subtitle">{{ app.description | translate }}</div>
      </ion-col>
      <ion-col class="right-col" size="2">
        <img
          [src]="theme.darkMode ? '/assets/launcher/widgets/white-right-arrow.svg' : '/assets/launcher/widgets/black-right-arrow.svg'">
      </ion-col>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-col>
</ion-row>