@import "../../widgets.scss";

.elastos-voting-row {
  .app-col {
    margin-bottom: 10px;

    .app-row {
      .mid-col {
        align-items: center;

        ion-label {
          text-align: left;

          h1 {
            font-size: 14px;
          }
        }
      }
    }
  }
}
