<!-- Wallets -->
<div class="widget" [class.darkContainer]="theme.darkMode" *ngIf="onReadyToDisplay.value && walletNetworkService.activeNetwork.value">
  <!-- External header -->
  <ion-row class="header-row">
    <ion-col size="6" class="title-col" (click)="openWallet()">
      <ion-label>{{ 'launcher.active-wallet' | translate }}</ion-label>
    </ion-col>
    <ion-col size="6" class="network-col" (click)="pickNetwork()">
      {{ walletNetworkService.activeNetwork.value.name }}
      <img class="network-logo" [src]="walletNetworkService.activeNetwork.value.logo">
    </ion-col>
  </ion-row>

  <!-- Widget with background -->
  <ion-row class="wallets-row" *ngIf="initializationComplete">
    <ion-col size="12" class="wallets-col">
      <div *ngIf="masterWalletWithNetworkWalletList.length == 0" (click)="openWallet()" class="no-wallet">
        {{ 'launcher.touch-to-create-wallet' | translate }}
      </div>

      <!-- Wallets list - horizontal slide -->
      <div class="wallet-widget-row ripple ion-activatable" [style.background]="backgroundGradient" *ngIf="activeWalletEntry">
        <img class="melted-logo" [src]="walletNetworkService.activeNetwork.value.logo">
        <ion-row class="card-label-row" (click)="openWallet()">
          <!-- Wallet name and balance -->
          <div class="main-content">
            <div class="wallet-name">{{ activeWalletEntry.masterWallet.name }}</div>
            <!-- Balance -->
            <div *ngIf="activeWalletEntry.networkWallet && !currencyService.useCurrency" class="balance">
              {{ WalletUtil.getFriendlyBalance(activeWalletEntry.networkWallet.getDisplayBalance(),
                activeWalletEntry.networkWallet.getDecimalPlaces()) }}
              {{ activeWalletEntry.networkWallet.getDisplayTokenName() }}
            </div>
            <div *ngIf="activeWalletEntry.networkWallet && currencyService.useCurrency" class="balance">
              {{ WalletUtil.getFriendlyBalance(activeWalletEntry.networkWallet.getDisplayBalanceInActiveCurrency()) }}
              {{ currencyService.selectedCurrency.symbol }}
            </div>

            <!-- Not supported -->
            <div *ngIf="!activeWalletEntry.networkWallet" class="unsupported-wallet">
              {{ 'wallet.unsupported-on-network' | translate:{network:
              walletNetworkService.activeNetwork.value.name} }}
            </div>
          </div>

          <!-- Single address - directly copy -->
          <div class="single-address"
            *ngIf="activeWalletEntry.networkWallet && getWalletAddresses(activeWalletEntry.networkWallet).length === 1"
            (click)="copySingleAddressToClipboard($event, getWalletAddresses(activeWalletEntry.networkWallet)[0].address)">
            <div class="title">{{ 'launcher.address' | translate }}</div>
            <div class="bottom">
              <div class="address">
                {{getReducedWalletAddress(getWalletAddresses(activeWalletEntry.networkWallet)[0].address)}}
              </div>
              <img
                [src]="theme.darkMode ? 'assets/launcher/icons/dark_mode/copy.svg' : 'assets/launcher/icons/copy.svg'">
            </div>
          </div>

          <!-- Several addresses - need to open a popup to select -->
          <div class="addresses"
            *ngIf="activeWalletEntry.networkWallet &&getWalletAddresses(activeWalletEntry.networkWallet).length > 1"
            (click)="pickWalletAddress($event, activeWalletEntry.networkWallet)">
            {{ 'launcher.addresses' | translate }}
            <img
              [src]="theme.darkMode ? 'assets/wallet/icons/darkmode/down-arrow.svg' : 'assets/wallet/icons/down-arrow.svg'">
          </div>
        </ion-row>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="pager" *ngIf="masterWalletWithNetworkWalletList.length > 1">
        <div class="bullet" *ngFor="let wallet of masterWalletWithNetworkWalletList; let i = index" [class.active]="i === activeWalletIndex" (click)="goToWalletIndex(i)"></div>
        <!-- <ion-icon name="chevron-back-outline" class="left" (click)="prevWallet()"></ion-icon>
        <ion-icon name="chevron-forward-outline" class="right" (click)="nextWallet()"></ion-icon> -->
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="wallets-row" *ngIf="!initializationComplete">
    <ion-col size="12" class="wallets-col">
      <div class="wallet-loading-row ripple ion-activatable" [style.background]="backgroundGradient">
        <img class="melted-logo" [src]="walletNetworkService.activeNetwork.value.logo">
        <ion-row class="card-label-row" >
          <div class="main-content">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </div>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</div>