<ion-content [class.dark-container]="theme.darkMode" ngxDetectHideOnScroll scrollEvents [class.blur]="castingVote">
    <app-titlebar></app-titlebar>

    <div *ngIf="!dataFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="dataFetched">
        <ion-grid class="container ion-no-padding">
            <div class="votes-header">
                <div class="count"><span [class.overflow]="overflow">{{ votedEla }}</span> / {{ totalEla }}</div>
                {{ 'voting.votes' | translate }}
            </div>

            <div class="vote-list">
                <div *ngFor="let node of selectedNodes; index as i" class="vote row-list" lines="none">
                    <div class="index-col">{{ i+1 }}</div>
                    <div class="icon-col">
                        <img [src]="node.avatar ? node.avatar : '/assets/crcouncilvoting/icon/avatar.png'"
                            src-fallback="/assets/crcouncilvoting/icon/avatar.png">
                    </div>
                    <div class="vote-col">
                        <div class="name">{{ node.nickname }}</div>
                        <p>
                            <!-- <ion-icon name="navigate" class="navigate"></ion-icon> {{ 'crcouncilvoting.' +
                            node.location | translate }} •  -->
                            <span class="votes">{{ getVotesPercentage(node) }}%</span> {{ 'voting.of-votes' | translate }}
                        </p>
                        <p class="stake-until">{{ 'dposvoting.stake' | translate }}</p>
                        <ion-row>
                            <ion-col size="5.75" class="left-col input-col">
                                <ion-row class="input-container">
                                    <ion-input type="number" [(ngModel)]="node.userStakeDays"
                                        (ionBlur)="onInputDaysBlur(node)" (ionFocus)="onInputDaysFocus(node)">
                                    </ion-input>
                                    <p>{{ 'dposvoting.input-days' | translate }}</p>
                                </ion-row>
                            </ion-col>
                            <ion-col size="0.5"> </ion-col>
                            <ion-col size="5.75" class="right-col align-right input-col">
                                <ion-row class="input-container">
                                    <ion-input type="number" [(ngModel)]="node.userVotes" (ionChange)="onInputVotesChange(node)"
                                        (ionBlur)="onInputVotesBlur(node)" (ionFocus)="onInputVotesFocus(node)">
                                    </ion-input>
                                    <p>{{ 'dposvoting.input-votes' | translate }}</p>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                        <p class="expiration-date">{{ 'dposvoting.expiration-date' | translate }}: <span [class.less-than]="node.userStakeDays < 10">{{ uxService.getStakeDate(node.userStakeDays) }}</span></p>
                    </div>
                </div>
            </div>

        </ion-grid>

        <div *ngIf="signingAndTransacting">
            <ion-spinner></ion-spinner>
        </div>

        <div *ngIf="!signingAndTransacting && isKeyboardHide">
            <div class="footer-space"></div>
            <ion-footer>
                <ion-row>
                    <ion-col class="left-col">
                        <ebutton class="btn-container" (clicked)="stakeMore()"
                            [title]="'dposvoting.stake-more' | translate"> </ebutton>
                    </ion-col>
                    <ion-col class="right-col">
                        <ebutton class="btn-container" (clicked)="cast()" [attr.disabled]="overflow || less_than_10_days"
                            [title]="'crcouncilvoting.cast-votes' | translate"> </ebutton>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </div>
    </div>
</ion-content>