@import "../../root.scss";

ion-content {
    --padding-bottom: 80px;

    .footer {
        background: var(--ion-background-color);
        z-index: 10;
        transition: transform 0.3s ease-in-out; // Transition on hide/show.
    }
}

h5 {
    font-size: 12px;
    margin-bottom: 2px;
}

// ion-input {
//     margin: 0 !important;
//     width: 90% !important;
// }

.overflow {
    color: red;
}

.container {
    padding-top: 10px;
    // margin-top: 55px;

    .votes-header {
        border-radius: 17px;
        padding: 15px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;

        .count {
            display: inline;
            font-weight: 600;
            font-size: 20px;
        }
    }

    .vote {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 16px;
        padding: 10px 15px 15px;

        // &:first-child {
        //     border-top: solid 3px #F5F4F8;
        // }

        .index-col {
            height: 50px;
            // width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
        }

        .icon-col {
            display: flex;
            justify-content: center;
            align-items: center;

            .img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                object-fit: cover;
                overflow: hidden;
                display: flex;
                align-items: center;
            }
        }

        p {
            margin: 0;
            font-size: 13px;
            font-weight: 400;
        }

        .vote-col {
            margin-left: 10px;
            flex: 0.9;

            .name {
                margin-bottom: 4px;
                font-size: 16px;
                font-weight: 500;
            }

            .navigate {
                color: #732cce;
            }

            .waringicon {
                display: flex;
                justify-content: center;

                img {
                    width: 20px;
                }
            }

            .voteright {
                text-align: right;
            }
        }

        .input-col {
            height: 36px;
        }

        .input-container {
            height: 100%;
            border-radius: 9px;
            padding: 0 6px;
            background: var(--essentials-box-color);
            border: solid 1px var(--essentials-border-separator-color);

            ion-input {
                height: 100%;
                text-align: right;

                font-size: 13px;
                font-weight: 400;
                background: var(--essentials-box-color);
            }

            p {
                height: 100%;

                text-align: right;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .expiration-date {
            opacity: 0.7;
            margin-top: 10px;

            .error-input {
                color: red;
            }
        }

        .stake-until {
            margin: 5px 0px;
        }
    }

    .button {
        display: flex;
        flex-direction: row;
    }

    .footer {
        flex-direction: row;
    }
}

.loading {
    position: fixed;
    width: 100%;
    top: 17%;
    z-index: 100;
}
