@import "src/app/identity/root.scss";

.content {
  height: 50%;
}

.container {
  height: 100%;
  padding: 5px 15px;

  .avatar-row {
    .icon-section {
      width: 215.1px;
      height: 214.6px;
      margin: 0 auto;
      object-fit: contain;
      display: flex;
      justify-content: center;
      color: #ffffff;
      background-image: url("/assets/identity/svg/empty-balloon.svg");
      background-blend-mode: multiply;
      padding: 35px;

      ion-icon {
        display: block;
        margin: auto;
        width: 70%;
        height: 70%;
      }

      img {
        display: block;
        margin: auto;
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }
  }

  .bio-row {
    padding-left: 5px;

    ion-col {
      display: flex;
      align-items: center;

      h1, p {
        margin: 0;
      }
    }

    .name-col {
      padding-bottom: 0;

      h1 {
        font-size: 24px;
        font-weight: 600;
      }
    }

    .description-col {
      padding-top: 0px;

      p {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.65px;
      }
    }

    .icon-col {
      justify-content: flex-end;

      div {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;

        img {
          height: 66%;
          width: 66%;
        }
      }

      .dots {
        margin-left: 5px;
      }
    }
  }

  .hive-row {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 83.9px;
    width: 100%;

    .hive-background {
      border-radius: 22px;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 25px;
      height: 80px;
      width: calc(100% - 30px);
      background-color: white;
      box-shadow: 0 3px 15px 0 #ededf0;

      .baloon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 98;
        width: 73px;
        height: 73px;
        margin: 5px 10px 10px -25px;
      }
      
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 37px;
        height: 33px;
        margin: 23px 10px 10px -8px;
      }
    }

    .hive-foreground {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;

      .hive-title, .hive-address {
        // font-family: 'Inter' !important;
        text-align: left;
      }

      .hive-title {
        margin: 18px auto 0px 85px;
        font-size: 15px;
        font-weight: 600;
      }

      .hive-address {
        margin: 5px auto 0px 85px;
        font-size: 13px;
        font-weight: 500;
      }

      .hive-loading {
        margin: 10px auto 0px 85px;

        img {
          width: 22px;
        }
      }
    }
  }

  .profile-row {
    border-top: 1.5px solid #EAEAEA;
    padding: 20px 0px 5px 5px;

    ion-col {
      display: flex;
      align-items: center;
    }

    .title-col {
      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.19;
        letter-spacing: 0.8px;
        text-align: left;
        float: left;
      }
    }

    .edit-col {
      justify-content: flex-end;

      span {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.19;
        letter-spacing: 0.13px;
        text-align: left;
        float: right;
        margin-right: 5px;
      }

      img {
        margin-left: 5px;
        width: 10px;
        height: 10px;
      }
    }
  
    .cred-container {
      padding: 10px 0px;
      width: 100%;

      ion-row {
        ion-col {
          img {
            height: 15px;
            width: 15px;
          }

          ion-label {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.29;
            text-align: left;
          }
        }
      }
    }
  }
  
  .issuer-cred {
    margin-top: 15px;
    padding: 0px 15px;
    color: #cfd1f7;
  
    .issuer-cred-header {
      display: block;
      font-weight: bold;
    }
  
    .issuer-cred-values {
      margin-top: 5px;
      font-size: 11px;
    }
  
    .issuer-cred-values img {
      object-fit: cover;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      float: left;
      margin-right: 10px;
    }
  
    .issuer-cred-name {
      margin-left: 10px;
      font-weight: bold;
      display: block;
    }
  }  
}

.darkContainer {
  .profile-row {
    border-top: 1.5px solid #464646;
  }

  .hive-row {
    .hive-background {
      background-color: #212021;
      box-shadow: none;
    }

    .hive-foreground {
      .hive-title, .hive-address {
        color: #ffffff;
      }
    }
  }
}