@import "src/app/wallet/root.scss";

.network-container {
  border-radius: 11px;
  padding: 5px;
  margin: 10px 15px;

  .displayed-network {
    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 24px;
        width: 24px;
      }

      ion-label {
        margin-left: 12px;
        font-size: 14px;
        font-weight: 600;
      }

      .arrow-icon {
        height: 16px;
        width: 16px;
      }
    }
  }

  .network-options {
    padding: 10px 0px 20px;

    .header-row {
      margin-bottom: 20px;

      ion-col {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        align-self: center;

        h1,
        p {
          margin: 0;
        }

        h1 {
          font-size: 22px;
          font-weight: 500;
          text-align: left;
          margin: 0 0 5px;
        }

        p {
          font-size: 13px;
          font-weight: 300;
          text-align: left;
        }

        img {
          width: 30px;
          height: 30px;
          align-self: flex-end;
        }

        .arrow-icon {
          transform: rotate(180deg);
        }
      }
    }

    .network-row {
      border-radius: 17px;
      padding: 5px 10px;
      margin-bottom: 7.5px;
      background-color: var(--essentials-box-color);

      ion-col {
        display: flex;
        align-items: center;
      }

      .left-col {
        justify-content: flex-start;

        img {
          width: 35px;
          height: 35px;
        }

        h1 {
          margin: 0 0 0 10px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.7px;
          text-align: left;
        }
      }

      .right-col {
        justify-content: flex-end;

        ion-icon {
          width: 15px;
          height: 12px;
          visibility: hidden;
        }
      }
    }

    .selected-network {
      .right-col {
        ion-icon {
          visibility: visible;
        }
      }
    }
  }
}

.networkOptions-container {
  position: relative;
}

.container {
  min-height: 100%;
  padding: 20px;

  .main-title-row {
    margin-bottom: 10px;
    margin-left: 5px;

    p {
      margin: 0;
      font-size: 13px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.33px;
      text-align: left;
    }
  }
}
