@import "src/app/wallet/root.scss";

.container {
  min-height: 100%;
  padding: 20px;
  padding-bottom: 50px; // For the footer

  .main-title-row {
    margin-bottom: 10px;
    margin-left: 5px;

    p {
      margin: 0;
      font-size: 13px;
      font-weight: 500;
      line-height: inherit;
      letter-spacing: -0.33px;
      text-align: left;
      opacity: 0.7;
    }
  }

  .network-row {
    margin-bottom: 10px;
    padding: 5px;
    background: var(--essentials-box-color);
    border-radius: 7px;

    .left-col {
      align-self: center;
      text-align: center;

      .logo {
        border-radius: 50%;
        width: 35px;
        height: 35px;
      }
    }

    .middle-col {
      font-size: 16px;
      font-weight: 600;
      align-self: center;
    }

    .right-col {
      justify-content: center;
      align-self: center;

      ion-icon {
        width: 25px;
        height: 25px;
      }
    }
  }

  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
