<ion-content>
    <div class="ion-text-center ion-padding-horizontal">
        <p *ngIf="!managedProviders.length">
            {{ 'adminproviderlist.no-providers' | translate }} <br> {{ 'adminproviderlist.providers-msg2' | translate }}
        </p>
        <p *ngIf="managedProviders.length">
            {{ 'adminproviderlist.providers-msg' | translate }} <br> {{ 'adminproviderlist.providers-msg2' | translate }}
        </p>
        <ion-button *ngFor="let provider of managedProviders" (click)="editProvider(provider)">{{ provider.name }}</ion-button>
    </div>
</ion-content>