<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="ion-text-center container">
      <p>{{ 'wallet.advanced-import-intro' | translate }}</p>
      <ion-row class="txt-container">
        <ion-textarea
          autoGrow
          placeholder="{{ 'wallet.paste-mnemonic' | translate }}"
          [(ngModel)]="mnemonicSentence"
          (ionChange)="onMnemonicSentenceChanged()"
          mode="ios"
        >
        </ion-textarea>
      </ion-row>
      <h1>{{ 'wallet.advanced-import-msg' | translate }}</h1>
      <ion-row class="btn-container">
        <ion-button color="secondary" [disabled]='!inputMnemonicCompleted()'(click)="onImport()">
          {{ 'wallet.import-wallet' | translate }}
        </ion-button>
      </ion-row>
  </ion-grid>
</ion-content>
