@import 'src/app/wallet/root.scss';

.container {
    position: relative;
    min-height: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/assets/wallet/background/background.svg');
    object-fit: cover;

    p {
        margin: 0;
        padding: 30px 30px 40px;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
        color: #fdfeff;
    }

    .txt-container {
        padding: 0 15px;

        ion-textarea {
            height: 150px;
            width: 100%;
            background-color: #803fd5;
            color: #fdfeff;
            text-transform: lowercase;
            border-radius: 10px;
            --padding-start: 12px;
            --padding-top: 12px;

            font-size: 16px;
            line-height: 1.06;
            letter-spacing: -0.41px;
            text-align: left;
            --placeholder-font-weight: 400;
            --placeholder-color: #fdfeff;
        }
    }

    h1 {
        margin: 0;
        padding: 30px 0;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.31px;
        color: #fdfeff;
    }

    .btn-container {
        margin-top: 150px;
    }
}