<!-- Wallet Connect -->
<div class="widget widget-background wallet-connect-row" [class.darkContainer]="theme.darkMode"
  *ngIf="someWalletConnectSessionsCanBeDisplayed() || forSelection || editing" (click)="showWalletConnectSessions()">
  <img class="icon" src="assets/settings/icon/walletconnect.svg">
  <ion-label>{{ 'launcher.active-wallet-connect-sessions' | translate }}</ion-label>

  <!-- List of connections -->
  <div class="connections-row">
    <ion-row class="connections">
      <ion-col *ngFor="let instance of walletConnectInstances" class="connector-col" size="4">
        <div class="connector" *ngIf="instance.getLogo()">
          <img class="connector-logo" [src]="instance.getLogo()" src-fallback="assets/settings/icon/walletconnect.svg"/>
          <p>{{ instance.getName() }}</p>
        </div>
      </ion-col>
    </ion-row>
    <div class="grid">
      <img src="/assets/launcher/icons/dark_mode/grid.svg" (click)="showWalletConnectSessions()" />
    </div>
  </div>

</div>
