@import "src/app/identity/root.scss";

ion-modal {
    --ion-background-color: transparent !important;
    backdrop-filter: blur(6px) ;
    --background: none !important;
}
.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.modal-box {
  margin: 12px 30px;
  width: 100%;
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
  border-radius: 18px;
  background-color: #ffffff;
  padding-left: 12px;
  padding-top: 12px;
  width: 100%;
  margin-bottom: 15px;
}
.action-buttons > *{
  border-radius: 18px;
  background-image: url('../../../../assets/identity/actionsheet/background.svg');
  object-fit: contain;
}

.action-button{

  width: 156px;
  height: 84px;
  margin-bottom: 12px;
  padding-top: 11.6px;
  padding-bottom: 11.6px;
  padding-left: 28.8px;

}

.action-icon{

}

.action-title{
  margin-left: 9.7px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #ffffff;
}

.action-description{
  display: block;
  margin-top: 5px;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
}

.action-cancel {
  height: 49px;
  width: 100%;
  border-radius: 18px;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;

  color: #372153;
}