<ion-content>
  <ion-grid class="ion-text-center" [class.dark-process-container]="theme.darkMode">
    <ion-row *ngIf="!publicationFailed">
      <ion-col size="12">
        <ion-label>
          <h1 *ngIf="publicationSuccessful">{{ 'wallet.tx-success' | translate }}</h1>
          <h1 *ngIf="publishing">{{ 'wallet.eth-sending-transaction' | translate }}</h1>
          <br />
          <h2 *ngIf="publishing">{{ 'wallet.eth-transaction-wait' | translate }}</h2>
        </ion-label>

        <ion-spinner *ngIf="publishing" class="spinner"></ion-spinner>

        <div class="success-row result" [class.darkContainer]="theme.darkMode" *ngIf="publicationSuccessful">
          <lottie-player src="../../../../assets/wallet/animations/success-1.json" background="transparent" speed="0.5"
            style="width: 80px; height: 80px;" autoplay></lottie-player>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="item-row ripple ion-activatable" *ngIf="publicationFailed">
      <ion-col size="12">
        <h1 *ngIf="publicationStatus == 'error'">{{ 'wallet.eth-transaction-fail' | translate }}</h1>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="publicationFailed">
      <ion-col class="btn cancel ion-activatable ripple" size="12">
        <ebutton (clicked)="cancel()" [title]="'common.close' | translate"> </ebutton>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>