<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid *ngIf="preliminaryChecksCompleted" class="container" [class.dark-container]="theme.darkMode">
    <ion-card>
      <img src="assets/identity/default/securityWarning.svg">
      <ion-card-title>{{ 'identity.sign-cred' | translate }}</ion-card-title>
      <ion-card-subtitle *ngIf="requestDapp">{{ requestDapp.appPackageId }}</ion-card-subtitle>
    </ion-card>

    <div class="msg-container">
      <p class="first-msg">{{ 'identity.credimport-intro' | translate }}</p>
      <p>{{ 'identity.credimport-intro2' | translate }}</p>
    </div>

    <ion-row class="data-container">
      <div class="data-header" (click)="showIdentifier = !showIdentifier">
        <p>{{ 'identity.identifier' | translate }}</p>
        <img *ngIf="!showIdentifier" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="showIdentifier" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="showIdentifier">{{ displayableCredential.identifier }}</h5>
    </ion-row>

    <ion-row class="data-container">
      <div class="data-header" (click)="showReceiver = !showReceiver">
        <p>{{ 'identity.receiver' | translate }}</p>
        <img *ngIf="!showReceiver" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="showReceiver" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="showReceiver">
        {{ displayableCredential.receiver.slice(0,25) }} <br>
        {{ displayableCredential.receiver.slice(25,50) }}
      </h5>
    </ion-row>

    <ion-row class="data-container">
      <div class="data-header" (click)="showExpiration = !showExpiration">
        <p>{{ 'identity.expire' | translate }}</p>
        <img *ngIf="!showExpiration" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="showExpiration" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="showExpiration">{{ displayableCredential.expirationDate }}</h5>
    </ion-row>

    <ion-row *ngFor="let entry of displayableCredential.values" class="data-container" >
      <div class="data-header" (click)="entry.showData = !entry.showData">
        <p>{{ didService.getUserFriendlyBasicProfileKeyName(entry.name) }}</p>
        <img *ngIf="!entry.showData" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="entry.showData" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="entry.showData">{{ getDisplayableEntryValue(entry.value) }}</h5>
    </ion-row>

    <ion-row class="btn-container" (click)="acceptRequest()">
      <ion-button color="tertiary">
        <ion-label>{{ 'identity.accept' | translate }}</ion-label>
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>
