<ion-content [class.dark-container]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-grid class="content">
        <!-- Header -->
        <ion-row class="searching-row" (click)="doScan()" *ngIf="isBluetoothEnable && !scanning">
            <ion-col class="scan-again">
                <img
                    [src]="!theme.darkMode ? 'assets/wallet/icons/reload.svg' : 'assets/wallet/icons/darkmode/reload.svg'" />
                {{ 'wallet.ledger-scan-scan-again' | translate }}
            </ion-col>
        </ion-row>

        <!-- Scan in progress -->
        <ion-row *ngIf="scanning" class="scanning">
            <ion-spinner name="crescent"></ion-spinner>
            <ion-label>{{ 'wallet.ledger-scan-ledger-scanning' | translate }}</ion-label>
        </ion-row>

        <!-- Error: No bluetooth -->
        <ion-row class="retry-row" *ngIf="!isBluetoothEnable">
            <div>{{ 'wallet.ledger-scan-bluetooth-not-enable' | translate }}</div>
            <ebutton (clicked)="showBluetoothSetting()"
                [title]="'wallet.ledger-scan-open-bluetooth-setting' | translate"
                *ngIf="supportOpeningBluetoothSetting"> </ebutton>
        </ion-row>

        <!-- Found device -->
        <ion-row class="device-row ripple ion-activatable" *ngIf="device">
            <div class='title'>{{ 'wallet.ledger-scan-available-devices' | translate }}</div>
        </ion-row>
        <ion-row class="device-row ripple ion-activatable" *ngIf="device" (click)="connectLedger()">
            <ion-col size="11">
                <ion-label>{{ device.name }}</ion-label>
            </ion-col>
            <ion-col size="1">
                <img src="assets/wallet/icons/right-arrow-alt.svg" />
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>

        <ion-row class="device-row ripple ion-activatable" *ngIf="pairedDevices">
            <div class='title'>{{ 'wallet.ledger-scan-paired-devices' | translate }}</div>
        </ion-row>
        <ion-row class="device-row ripple ion-activatable" *ngFor="let device of pairedDevices"
            (click)="selectLedger(device)">
            <ion-col size="11">
                <ion-label>{{ device.name }}</ion-label>
            </ion-col>
            <ion-col size="1">
                <img src="assets/wallet/icons/right-arrow-alt.svg" />
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>

    </ion-grid>
</ion-content>