<ion-content class="lightmode" [class.darkmode]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-content>
        <ion-row class="searching-row">
            <div class='title'>{{ 'wallet.ledger-searching' | translate }}</div>
        </ion-row>
        <ion-row class="note-row">
            <div class='search-prompt'>{{ 'wallet.ledger-note' | translate }}</div>
        </ion-row>
        <ion-row *ngIf="scanning">
            <ion-spinner name="crescent"></ion-spinner>
            <ion-label>{{ 'wallet.ledger-scanning' | translate }}</ion-label>
        </ion-row>
        <ion-row class="retry-row" *ngIf="!isBluetoothEnable">
            <div> Bluetooth is not enable, pls open it first</div>
            <ion-button color="primary" (click)="showBluetoothSetting()">
                <ion-label> Open bluetooth setting </ion-label>
            </ion-button>
        </ion-row>
        <ion-row class="note-row" *ngIf="device" (click)="connectLedger()">
            <ion-label>{{ device.name }}</ion-label>
        </ion-row>
        <ion-row *ngIf="!scanning">
            <ion-button color="primary" (click)="doScan()">
                <ion-label> Scan </ion-label>
            </ion-button>
        </ion-row>

    </ion-content>
</ion-content>