ion-grid {
    background: #ffffff;
    height: 100%;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    h1 {
      margin: 0 0 15px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.45px;
      color: #000000;
    }
  
    h2 {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      color: #000000;
      opacity: 0.7;
      padding: 0 40px;
    }

    .error {
        color: #f04141;
    }
  
    .visualProgress-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -15px;
    }

    .add-margin {
        margin-top: 30px;
    }
}
  
.darkContainer {
    background: #121212;
    
    h1 {
        color: #FFFFFF;
      }

    h2 {
        color: #ACACAC;
        opacity: 1;
    }

    .error {
        color: #f04141;
    }
}

/* ion-grid {
    height: 100%;
    padding: 10px 20px;

    ion-icon, ion-spinner {
        width: 25px;
        height: 25px;
        color: #565bdb;
    }

    .spinner {
        margin-top: 40px;
    }

    .result {
        margin-top: 40px;
    }

    .success-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            padding: 0px 20px;
            font-size: 12px;
            font-weight: 600;
        };
    }
}

.footer {
    p {
        padding: 0px 20px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;

        span {
            font-size: 12px;
        }
    };
} */