<ion-row class="packet-preview red-packet-row ion-activatable ripple" (click)="onClicked()">
  TODO

  <!-- First column - the red packet icon -->
  <ion-col size="2" class="icon"> <img src="assets/redpackets/images/packet.png" /> </ion-col>

  <!-- Second column - the red packet infos -->
  <ion-col size="8" class="red-packet-preview-description">
    <div class="creator">Elastos Essentials</div> <!-- todo: bind -->
    <div class="description">This is my packet message blablabla</div>  <!-- todo: bind -->
    <div class="bottom-info">
      <div class="time-left">3 days left</div> <!-- todo: bind -->
      <span class="dot-separator">&bull;</span>
      <img class="bottom-info-icon" src="assets/redpackets/images/message.svg" />  <!-- todo: bind ? -->
    </div>
  </ion-col>

  <!-- Third column - the red packet published icon -->
  <ion-col size="2" class="red-packet-preview-icon">
    <img class="published-icon" src="assets/redpackets/images/message.svg" />
  </ion-col>

  <ion-ripple-effect></ion-ripple-effect>
</ion-row>
