<div class="container ion-activatable ripple card" [class.dark-container]="theme.darkMode" (click)="onClick()">
  <div class="card-icon">
    <img crossOrigin='anonymous' #icon name="icon" class="avatar" />
  </div>
  <div class="card-internal">
    <div class="card-header">
      <div class="left-col">
        <div class="card-title">{{ getTitle() }}</div>
        <div *ngIf="!description">
          <span class="card-value" *ngFor="let value of getValueItems()">
            {{ value.value }}
          </span>
        </div>
        <div *ngIf="description" class="card-value">
          {{description}}
        </div>

        <div *ngIf="isExpired" class="expired">Expired</div>

        <!-- <div class="card-issuer" *ngIf="hasIssuer(entry.issuer) && isVerified(entry)">
        <div class="card-issuer-badge">
          <img src="/assets/identity/svg/verified.svg" />
          <span>
            {{ 'identity.mycredentials-verifiedby' | translate }}
          </span>
        </div>
        <div class="card-issuer-values">
          <img class="card-issuer-avatar" [src]="getIssuerAvatar(entry.issuer)">
          <div>
            <span *ngIf="hasIssuerName(entry.issuer)">{{ getIssuerName(entry.issuer) }}</span>
            <span>{{ getIssuerDID(entry.issuer) }}</span>
          </div>

          <img class="card-issuer-chevron"
            src="{{ this.theme.darkMode ? '/assets/identity/svg/chevron-thin-right-dark.svg' : '/assets/identity/svg/chevron-thin-right.svg' }}" />
        </div>
      </div> -->
      </div>
      <div class="right-col">
        <div class="card-title-icons">
          <!-- <img class="verified-icon" *ngIf="!isVerified(entry)" src="/assets/identity/svg/verified-gray.svg" />
        <img class="verified-icon" *ngIf="isVerified(entry)" src="/assets/identity/svg/verified.svg" />
 -->

          <div class="icon">
            <img class="published-icon" *ngIf="!isPublished()" src="/assets/identity/svg/publish-gray.svg" />
            <img class="published-icon" *ngIf="isPublished()" src="/assets/identity/svg/credential-published.svg" />
          </div>
          <div *ngIf="selectable" class="icon">
            <div class="checkbox-col">
              <div (click)="onChecked($event)" class="checkbox" [ngStyle]="{
            'background': selected ? checkBoxColor : 'transparent',
            'border': '2px solid' + checkBoxColor
          }">
                <ion-icon *ngIf="selected" name="checkmark"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-ripple-effect *ngIf="!selectable"></ion-ripple-effect>
  </div>