<div class="container ion-activatable ripple card" [class.dark-container]="theme.darkMode" (click)="onClicked()">
  <div class="card-icon">
    <img crossOrigin='anonymous' #icon name="icon" src="assets/identity/smallIcons/dark/finger-print.svg" class="avatar"
      style="background-color: #00000080" />
  </div>
  <div class="card-internal">
    <div class="card-header">
      <div class="left-col">
        <div class="card-title">{{ getTitle() }}</div>
        <div *ngIf="!description">
          <span class="card-value" *ngFor="let value of getValueItems()">
            {{ value.value }}
          </span>
          <div class="sensitive" *ngIf="isSensitive()">{{ 'identity.sensitive' | translate }}</div>
        </div>
        <div *ngIf="description" class="card-value">
          {{description}}<br />
          <div class="sensitive" *ngIf="isSensitive()">{{ 'identity.sensitive' | translate }}</div>
        </div>

        <div *ngIf="isExpired" class="expired">{{ 'identity.expired' | translate }}</div>

        <div class="card-issuer" *ngIf="!selfIssued()">
          <div class="card-issuer-values">
            <img class="card-issuer-avatar" [src]="issuerIcon">
            <span class="card-issuer-name" *ngIf="getIssuerName()">{{ 'identity.delivered-by' | translate }}
              {{getIssuerName()}}</span>
            <span class="card-issuer-name" *ngIf="!getIssuerName()">{{ 'identity.delivered-by-unknown-issuer' |
              translate }}</span>
          </div>
        </div>
      </div>
      <div class="right-col">
        <div class="card-title-icons">
          <!-- <img class="verified-icon" *ngIf="!isVerified(entry)" src="/assets/identity/svg/verified-gray.svg" />
        <img class="verified-icon" *ngIf="isVerified(entry)" src="/assets/identity/svg/verified.svg" />
 -->

          <div class="icon" *ngIf="showPubStatus">
            <img class="published-icon" *ngIf="!isPublished()" src="/assets/identity/svg/publish-gray.svg" />
            <img class="published-icon" *ngIf="isPublished()" src="/assets/identity/svg/credential-published.svg" />
          </div>
          <div *ngIf="selectable" class="icon">
            <div class="checkbox-col">
              <div (click)="onChecked($event)" class="checkbox" [ngStyle]="{
            'background': selected ? checkBoxColor : 'transparent',
            'border': '2px solid' + checkBoxColor
          }">
                <ion-icon *ngIf="selected" name="checkmark"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-ripple-effect *ngIf="!selectable"></ion-ripple-effect>
  </div>