<ion-content [class.dark-container]="theme.darkMode" ngxDetectHideOnScroll scrollEvents [class.blur]="castingVote">
    <app-titlebar></app-titlebar>

    <div class="spinner" *ngIf="!initialComputationDone">
        <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div class="council-header" *ngIf="initialComputationDone">
        <div *ngIf="remainingTime">
            <p id="remaining-time">{{ ("voting.voting-ends-in" | translate) + " " + remainingTime }} </p>
        </div>
    </div>

    <ion-grid class="container ion-no-padding" *ngIf="initialComputationDone">

        <div class="votes-header">
            <div class="count"><span [class.overflow]="overflow">{{ votedEla }}</span> / {{ totalEla }}</div>
            {{ 'voting.votes' | translate }}
        </div>

        <div class="candidate-list">
            <div *ngFor="let candidate of crCouncilService.selectedCandidates; index as i" class="candidate"
                lines="none">
                <div class="index-col">{{ i+1 }}</div>
                <div class="icon-col img-col">
                    <img-svg-fallback class="img" [src]="candidate.avatar" default="assets/launcher/default/default-avatar.svg"></img-svg-fallback>
                </div>
                <div class="candidate-col">
                    <div class="name">{{ candidate.nickname }}</div>
                    <p>
                        <!-- <ion-icon name="navigate" class="navigate"></ion-icon> {{ 'crcouncilvoting.' +
                        candidate.location | translate }} • --> <span class="votes">{{
                            getDisplayableVotePercentage(candidate) }}%</span> {{ 'voting.of-votes' | translate }}
                    </p>
                    <ion-input type="tel" [(ngModel)]="candidatesVotes[candidate.cid]"
                        (ionBlur)="onInputBlur($event, candidate)" (ionFocus)="onInputFocus($event, candidate)">
                    </ion-input>
                    <ion-range min="0" max="10000" [(ngModel)]="candidatesPercentages[candidate.cid]"
                        (ngModelChange)="onSliderChanged($event, candidate)">
                    </ion-range>
                </div>
            </div>
        </div>
    </ion-grid>

    <div *ngIf="initialComputationDone" class="footer" ngxHideOnScroll>
        <ebutton mode="cancel" (clicked)="distributeEqually()" [title]="'crcouncilvoting.dist-equally' | translate">
        </ebutton>
        <ebutton [disabled]="overflow || castingVote" (clicked)="cast()"
            [title]="(!votesCasted ? 'crcouncilvoting.cast-votes' : 'crcouncilvoting.votes-casted') | translate ">
        </ebutton>
    </div>
</ion-content>