// @import "src/app/voting/crcouncilvoting/root.scss";

.container {
    min-height: 100%;
    padding-top: 10px;

    .votes-header {
        border-radius: 17px;
        padding: 15px;
        margin: 0 10px 12.5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;

        .count {
            display: inline;
            font-weight: 600;
            font-size: 20px;
        }
    }

    .candidate-list {
        padding: 0px 0px 1px;
        padding-bottom: 20%;

        .candidate {
            display: flex;
            align-items: flex-start;
            padding-top:20px;
            margin-bottom: 5px;

            .index-col {
                height: 50px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight:600;
            }

            .icon-col {
                height:50px;

                img {
                    width: 50px;
                    height: 100%;
                }
            }

            .candidate-col {
                margin-left: 10px;

                .name {
                    font-size: 16px;
                    font-weight: 500;
                }

                .navigate {
                    color: #732CCE;
                }

                ion-input {
                    text-align: center;
                    max-width: 50%;
                    border-radius: 6px;
                    --padding-top:6px;
                    --padding-bottom:6px;
                    font-weight:bold;
                }

                ion-range {
                    --bar-background:#C4C4C4;
                    --bar-background-active:#732CCE;
                    --bar-height:6px;
                    --knob-background:#C4C4C4;
                    --knob-border-radius:50%;
                    --knob-size:20px;
                    padding: 0;
                }
            }
        }
    }

    .button {
        display: flex;
        flex-direction: row;
    }
}

ion-footer {
    flex-direction: row;
}

.dark-container {
    .votes-header {
    }

    .candidate-list {
        .candidate {
            background: #212021;

            .candidate-col {
                ion-input {
                    background: #3B3B3B;
                    border: solid 1px #626262;
                    color: #ffffff;
                }
            }
        }
    }

    .cancel {
        box-shadow: 0 3px 6px 0 #151626;
        background-color: #202039;

        ion-label {
        }
    }

    .confirm {
        box-shadow: 0 3px 15px 0 #151626;
    }
}