<div *ngIf="warning === 'delete'" class="container deleteContainer" [class.darkContainer]="theme.darkMode">
  <ion-row class="header">
    <img src="/assets/identity/default/deleteWarning.svg">
    <h1 class="ion-padding-horizontal ion-text-center">{{ 'identity.delete-creds' | translate }}</h1>
  </ion-row>
  <ion-row>
    <ion-col class="message ion-padding">
      <p class="ion-padding">{{ 'identity.delete-creds-prompt' | translate }}</p>
    </ion-col>
  </ion-row>
  <ion-row  class="btn-row">
    <ion-col class="btn ion-activatable ripple" size="5" (click)="cancel()">
      <ion-label>{{ 'common.cancel' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="btn ion-activatable ripple" size="5" (click)="confirmDelete()">
      <ion-label>{{ 'common.continue' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>
</div>

<div *ngIf="warning === 'publishIdentity' || warning === 'publishVisibility'" class="container publishContainer" [class.darkContainer]="theme.darkMode">
  <ion-row class="header">
    <img src="/assets/identity/default/publishWarning.svg">
    <h1 class="ion-padding-horizontal ion-text-center">{{ getDisplayableHeader() }}</h1>
  </ion-row>
  <ion-row>
    <ion-col class="message ion-padding">
      <p class="ion-padding">{{ getDisplayableMessage() }}</p>
    </ion-col>
  </ion-row>
  <ion-row class="btn-row">
    <ion-col class="btn ion-activatable ripple" size="5" (click)="cancel()">
      <ion-label>{{ 'identity.not-yet' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col
      class="btn ion-activatable ripple"
      size="5"
      (click)="warning === 'publishIdentity' ? confirmPublishDID() : confirmPublishVisibility()"
    >
      <ion-label>{{ 'identity.publish' | translate }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>
</div>




