<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="container" [class.dark-container]="theme.darkMode">
    <!-- Publish identity -->
    <ion-row class="section" >
      <ion-col size="10.5" class="title-col">
        <h1>{{ 'settings.identity-publishing' | translate }}</h1>
        <h2>{{ getPublishIdentityTitle() }}</h2>
      </ion-col>
      <ion-col size="1.5" class="right-col">
        <div (click)="togglePublishIdentityMedium()">
          <ion-toggle *ngIf="publishIdentityMedium == 'assist'" checked mode="ios"></ion-toggle>
          <ion-toggle *ngIf="publishIdentityMedium == 'wallet'" mode="ios"></ion-toggle>
        </div>
      </ion-col>
    </ion-row>
    <!-- Main API provider -->
    <ion-row class="section" (click)="open('/settings/privacy/elastosapiprovider')">
      <ion-col size="11" class="title-col">
          <h1>{{ 'settings.elastos-api-provider' | translate }}</h1>
          <h2>{{ 'settings.elastos-api-provider-des' | translate }}</h2>
      </ion-col>
      <ion-col size="1" class="right-col">
          <img [src]="!theme.darkMode ? 'assets/settings/icon/light_mode/detail-arrow.svg' : 'assets/settings/icon/dark_mode/detail-arrow.svg'">
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>