<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="container" [class.dark-container]="theme.darkMode">
      <div class="icon-container">
          <img src="assets/wallet/coins/eth-purple.svg">
          <div class="ela-icon">
              <img src="assets/wallet/coins/ela-black.svg"/>
          </div>
      </div>
      <div class="coinTitle">{{ coin.getDescription() }}</div>
      <div *ngIf="contractAddress" class="qrcode-container">
          <qrcode [qrdata]="contractAddress" [size]="150"></qrcode>
      </div>
      <h1>{{ 'wallet.coin-erc20-details-address' | translate }}</h1>
      <h2 *ngIf="contractAddress" (click)="copy()">
          {{ contractAddress.slice(0,20) }}<br>{{ contractAddress.slice(20,50) }}
      </h2>
      <p>{{ 'wallet.coin-receive-tap-to-copy' | translate }}</p>
      <div *ngIf="canDelete" class="btn cancel ion-activatable ripple" (click)="delete()">
        <ion-label>{{ 'wallet.coin-erc20-details-delete' | translate }}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="btn confirm ion-activatable ripple" [class.expand]="!canDelete" (click)="share()">
        <ion-label>{{ 'wallet.coin-erc20-details-share' | translate }}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
  </ion-grid>
</ion-content>