<div class="container" [class.darkContainer]="theme.darkMode">
  <ion-row class="header">
    <img class="logo" *ngIf="type === 'danger'" src="/assets/contacts/images/warning.svg">
    <img class="logo" *ngIf="type === 'custom'" [src]="customIcon">
    <h1 class="ion-padding-horizontal ion-text-center">{{ title }}</h1>
  </ion-row>

  <ion-row>
    <ion-col class="message ion-no-padding">
      <p class="ion-padding-horizontal">
        {{ text }} <br>
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="btn-row">
    <ebutton mode="cancel" (clicked)="cancel()" [title]="'common.cancel' | translate"></ebutton>
    <ebutton (clicked)="confirm()" [title]="confirmationButtonText"></ebutton>
  </ion-row>
</div>