.container {
  background: var(--essentials-box-color);
  border: 1.2px solid var(--ion-text-color);
  border-radius: 12px;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .logo {
      height: 40px;
    }

    h1 {
      margin: 5px;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110px;
    padding: 10px;
    overflow: hidden;

    p {
      font-size: 16px;
      font-weight: 300;
      text-align: center;
    }
  }

  .btn-row {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    ebutton {
      width: 45%;
    }
  }
}
