ion-grid {
    padding: 10px 20px;

    ion-icon,
    ion-spinner {
        width: 25px;
        height: 25px;
        color: #565bdb;
    }

    .spinner {
        margin-top: 40px;
    }

    .result {
        margin-top: 40px;
    }

    .success-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            padding: 0px 20px;
            font-size: 12px;
            font-weight: 600;
        }
    }

    .networks {
        margin-top: 10px;

        .network {
            flex-direction: column;
            display: flex;
            align-items: center;

            img {
                height: 40px;
                max-width: 40px;
            }

            ion-label {
                margin-top: 10px;
            }
        }

        .arrow {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
    }
}

ion-button {
    margin: 0 20px;
}
