@import "src/app/launcher/root.scss";

ion-grid {
  min-height: 100%;
  margin: 0;
  padding: 15px 20px;

  ion-row.tip-message {
    p {
      line-height: 1.8;
      font-size: 14px;
    }
  }

  .title-row {
    margin-bottom: 15px;

    ion-label {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.04;
      text-align: left;
      color: #191a2f;
    }
  }

  .close-all-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #8888b0;
    font-size: 13px;
    font-weight: 500;
  }

  .app-row {
    box-shadow: 0 3px 15px 0 #ededf0;
    background-color: #ffffff;
    border-radius: 17px;
    width: 100%;
    margin: 10px 0;

    .logo-col, .name-col {
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .logo-col {
      padding-left: 7.5px;

      img {
        border-radius: 15px;
        width: 44.7px;
        height: 44.7px;
        object-fit: contain;
      }
    }

    .name-col {
      h2 {
        margin: 0;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.44;
      }
    }

    .close-col {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 17px;
      box-shadow: 0 3px 15px 0 #ededf0;

      img {
        width: 10px;
        height: 10px;
      }
    }
  }

  .empty-container {
    margin-top: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 22px;
      font-weight: 500;
      line-height: 2.42;
      letter-spacing: 1.2px;
      color: #8888b0;
      margin: 0;
    }

    p {
      font-size: 15px;
      font-weight: normal;
      line-height: 1.38;
      letter-spacing: 1.6px;
      color: #8888b0;
      margin: 0;
    }
  }
}

.dark-container  {
  .title-row {
    ion-label {
      color: #ffffff;
    }
  }

  .app-row {
    box-shadow: 0 3px 15px 0 #151626;
    background-color: #2e2f4e;

    .close-col {
      box-shadow: 0 3px 15px 0 #151626;
    }
  }
}
