<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid [class.dark-container]="theme.darkMode">
        <ion-row class="title-row">
            <ion-col size="12">
                <ion-label>{{ 'launcher.tip-of-the-day' | translate }}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="currentlyShownTip">
            <h1>{{ getTipTitle(currentlyShownTip) }}</h1>
        </ion-row>
        <ion-row *ngIf="currentlyShownTip">
            <p style="color:gray;font-size:12px;font-style: italic;">{{ getTipAudience(currentlyShownTip) }}</p>
        </ion-row>
        <ion-row *ngIf="currentlyShownTip" class="tip-message">
            <p [innerHtml]="getTipMessage(currentlyShownTip)"></p>
        </ion-row>
        <ion-row *ngIf="currentlyShownTip">
            <ion-col size="4">
                <ebutton (clicked)="showPreviousTip()" [title]="'launcher.previous-tip' | translate"></ebutton>
            </ion-col>
            <ion-col size="4">
                <ebutton (clicked)="showNextTip()" [title]="'launcher.next-tip' | translate"></ebutton>
            </ion-col>
            <ion-col size="4">
                <ebutton (clicked)="closePage()" [title]="'common.close' | translate"></ebutton>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>