@import "src/app/launcher/root.scss";

ion-content {
    &::-webkit-scrollbar {
        display: none;
    }
}

/************************************** ALL THEMES **************************************/
.container {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px; // Footer

    ion-slide {
        display: flex;
        flex-direction: column;
    }

    widget-container {
        width: 100%;
        // As ion-slides auto resize the height to match slides content, we want as least 100%
        // screen height to be able to swipe from anywhere on the screen.
        // hack: only 90vh to not make slide content scroll under the title bar...
        min-height: 90vh;
    }
}

.home-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 50px;
    display: flex;
    place-content: space-between;
    align-items: center;

    .edit,
    .add {
        margin: 20px;
    }

    .nav {
        display: flex;

        .dot {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin: 5px;
        }
    }
}

/************************************** LIGHT THEME **************************************/
.light-container {
    background: #f5f5fd;

    .id-row {
        .mid-col {
            h1,
            h2 {
                color: #000000;
            }
        }
    }

    .category-row,
    .wallet-connect-row,
    .dapps-row {
        background-color: #ffffff;
        box-shadow: 0 3px 15px 0 #ededf0;

        .title-col {
            color: #000000;
        }

        .app-col {
            .app-row {
                .left-col {
                    #wallet {
                        background: #fbebff;
                    }

                    #identity {
                        background: #cff7ff;
                    }

                    #contacts {
                        background: #ffebf0;
                    }

                    #hive {
                        background: #fffdde;
                    }

                    #scanner {
                        background: #fbebff;
                    }

                    #settings {
                        background: #fff1eb;
                    }

                    #dpos {
                        background: #fae9ff;
                    }

                    #crcouncil {
                        background: #d0ffff;
                    }

                    #crproposal {
                        background: #ddf2ff;
                    }

                    #crsuggestion {
                        background: #f6ffde;
                    }

                    #browser {
                        background: #d8f6ff;
                    }
                }

                .widget-col {
                    .wallet-widget {
                        opacity: 0.8;
                    }

                    .hive-widget {
                        span {
                            color: #000000;
                            opacity: 0.32;
                        }
                    }
                }
            }
        }
    }
}

/************************************** DARK THEME **************************************/
.dark-container {
    background: #000;

    .id-row {
        .mid-col {
            h1,
            h2 {
                color: #ffffff;
            }
        }
    }

    .category-row,
    .wallet-connect-row,
    .dapps-row {
        background: #212021;
        box-shadow: none;

        .title-col {
            color: #9d9d9d;
        }

        .app-col {
            .add-border {
                border-bottom: 1px solid #464646;
            }

            .app-row {
                .left-col {
                    .icon-container {
                        box-shadow: 0px 0px 1px #000000e2;
                        background: #363636;
                    }
                }

                .mid-col {
                    ion-label {
                        h1 {
                            color: #ffffff;
                        }

                        p {
                            color: #acacac;
                            opacity: 1;
                        }
                    }
                }

                .widget-col {
                    .hive-widget {
                        span {
                            color: #7c7c7c;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .home-footer {
        background: #000;

        .nav {
            .dot {
                background: #868686;

                &.active {
                    background: #fff;
                }
            }
        }
    }
}
