<ion-content [class.lightmode]="!theme.darkMode" [class.dark-container]="theme.darkMode">
  <app-titlebar></app-titlebar>

  <ion-grid class="container" [class.light-container]="!theme.darkMode" [class.dark-container]="theme.darkMode">

    <ion-slides #widgetsslides [options]="widgetsSlidesOpts" (ionSlideDidChange)="onSlideChange()"
      class="widgets-containers-slides">
      <ion-slide>
        <widget-container name="left"></widget-container>
      </ion-slide>
      <ion-slide>
        <!-- <ebutton title="Button"></ebutton>
        <ebutton title="Button" mode="cancel"></ebutton>
        <ebutton title="Button" [disabled]="true"></ebutton>
        <ebutton title="Button" lefticon="/assets/launcher/icons/dark_mode/edit.svg"></ebutton>
        <ebutton title="Button" topicon="/assets/launcher/icons/dark_mode/edit.svg"></ebutton> -->

        <widget-container name="main"></widget-container>
      </ion-slide>
      <ion-slide>
        <widget-container name="right"></widget-container>
      </ion-slide>
    </ion-slides>

  </ion-grid>

  <div class="home-footer">
    <div class="edit" (click)="toggleEditWidgets()">
      <img [src]="theme.darkMode ? '/assets/launcher/icons/dark_mode/edit.svg' : '/assets/launcher/icons/edit.svg'" />
    </div>
    <div class="nav">
      <div class="dot" [class.active]="activeScreenIndex === 0"></div>
      <div class="dot" [class.active]="activeScreenIndex === 1"></div>
      <div class="dot" [class.active]="activeScreenIndex === 2"></div>
    </div>
    <div class="add" (click)="addWidget()">
      <img [src]="theme.darkMode ? '/assets/launcher/icons/dark_mode/add.svg' : '/assets/launcher/icons/add.svg'" />
    </div>
  </div>

</ion-content>