@import "src/app/components/titlebar/titlebar.component.scss";

:host {
    ion-header {
        ion-row {
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0;

            ion-col {
                .img-btn {
                    height: 31px;
                    width: 30px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                ion-input {
                    background: var(--essentials-box-color);
                    height: 37px;
                    border-radius: 5px;
                    font-size: 14px;
                    text-align: left;
                    --padding-start: 12px;
                    --padding-end: 10px;
                }
            }
        }
    }
}
