<ion-header class="ion-no-border" [class.darkContainer]="theme.darkMode" [class.lightContainer]="!theme.darkMode">
    <ion-row>
        <ion-col size="2">
            <div class="img-btn">
                <img [src]="getEssentialsLogoPath()" (click)="homeClicked()">
            </div>
        </ion-col>
        <ion-col size="10">
            <ion-input 
                type="text" name="url" ngDefaultControl (keyup.enter)="emit()"
                placeholder="Input a custom address here" [(ngModel)]="_url" class="url-input"
                inputmode="url" enterkeyhint="go" clearInput
            >
            </ion-input>
        </ion-col>
    </ion-row>
</ion-header>