<app-titlebar></app-titlebar>
<ion-content>
  <ion-grid class="container" [class.dark-container]="theme.darkMode" *ngIf="requestDapp">
    <ion-card>
      <img src="assets/default/securityWarning.svg">
      <ion-card-title>{{ 'sign-data' | translate }}</ion-card-title>
      <ion-card-subtitle *ngIf="requestDapp">{{ requestDapp.appPackageId }}</ion-card-subtitle>
    </ion-card>

    <div class="msg-container">
      <p class="first-msg">{{ 'credimport-intro' | translate }}</p>
      <p>{{ 'credimport-intro2' | translate }}</p>
    </div>

    <ion-row class="data-container">
      <p *ngIf="requestDapp">{{ requestDapp.allParams.data }}</p>
    </ion-row>

    <ion-row class="btn-container" (click)="acceptRequest()">
      <ion-button color="success">
        <ion-label>{{ 'accept' | translate }}</ion-label>
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>
