@import "src/app/identity/root.scss";

.container {
  min-height: 100%;
  width: 100%;
  padding: 5px 15px;

  .header-grid {
    padding: 0 10px 10px;

    .avatar-row {
      .icon-section {
        width: 215.1px;
        height: 214.6px;
        margin: 0 auto;
        object-fit: contain;
        display: flex;
        justify-content: center;
        color: #ffffff;
        background-image: url("/assets/identity/svg/empty-balloon.svg");
        background-blend-mode: multiply;
        padding: 35px;
  
        ion-icon {
          display: block;
          margin: auto;
          width: 70%;
          height: 70%;
        }
  
        img {
          display: block;
          margin: auto;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
          width: 100%;
          height: 100%;
        }
      }
    }

    .title-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 20px 0 10px;
  
      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
  
        p, h1 {
          margin: 0;
        }
  
        p {
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0.65px;
        }
    
        h1 {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }

  .status-grid {
    padding: 10px;
    border-top: 1.5px solid #EAEAEA;
    border-bottom: 1.5px solid #EAEAEA;
    margin-top: 5px;

    ion-row {
      ion-col {
        display: flex;
        align-items: center;

        ion-label {
          font-weight: 500;
          font-size: 13px;
        }

        .published {
          width: 24.8px;
          height: 19.6px;
          object-fit: contain;
        }
    
        .verified {
          width: 20.2px;
          height: 22.7px;
          margin-left:2px;
          object-fit: contain;
        }
      }
    }
  }

  .actions-row {
    background: #ffce00;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;

    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;

      .credentials-icon {
        width: 21.5px;
        height: 21.5px;
        object-fit: contain;
      }
    }

    .label-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .title {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.7px;
        text-align: left;
        color: #ffffff;
        margin: 0;
      }
  
      .description {
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
        margin: 0;
      }
    }
  }

  .options-grid {
    padding: 10px;

    .title-row {
      margin-bottom: 5px;

      p {
        margin: 0;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.65px;
      }
    }
  
    .options-row {
      display: flex;
      justify-content: space-between;
      align-items: space-between;

      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 10px;
        padding: 15px 10px;
        border-radius: 20px;

        img {
          width: 35px;
        }
    
        h2 {
          margin: 2px 2px 3px 2px;
          font-size: 17px;
          font-weight: 600;
          color: white;
        }
      
        span {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.6px;
          color: white;
          text-align: center;
        }  
      }
  
      .publish {
        background-image: url("/assets/identity/svg/background-blue.svg");
      }
  
      .share {
        background-image: url("/assets/identity/svg/background-black.svg");
      }
    
      .edit {
        background-image: url("/assets/identity/svg/background-black.svg");
      }
    
      .export {
        background-image: url("/assets/identity/svg/background-black.svg");
      }
    }
  }
}

.darkContainer {
  .status-grid {
    border-top: 1.5px solid #464646;
    border-bottom: 1.5px solid #464646;
  }

  .options-grid {
    h1 {
      color: white;
    }

    .options-row {
      ion-col {
        h2, span {
          color: black;
        }
      }
    
      .publish {
        span, h2 {
          color: #ffffff;
        }
      }

      .share {
        background-image: url("/assets/identity/svg/background-dark.svg");
      }
  
      .edit {
        background-image: url("/assets/identity/svg/background-dark.svg");
      }
  
      .export {
        background-image: url("/assets/identity/svg/background-dark.svg");
      }
    }
  }
}
