<app-titlebar></app-titlebar>
<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <ion-row>
      <div class="icon-section">
        <ion-icon *ngIf="!hiveService.rawImage" mode="ios" name="person"></ion-icon>
        <div *ngIf="hiveService.rawImage">
          <img [src]="hiveService.rawImage" />
        </div>
      </div>
    </ion-row>
    <ion-row class="section2">
      <span class="welcome-back">{{ 'welcome-back' | translate }}</span>
      <span class="username" *ngIf="profile">{{ getProfileName() }}</span>
    </ion-row>
    <ion-row class="alert-section">
      <ion-grid>
        <ion-row *ngIf="profileService.isPublishStatusFetched() && !profileService.didNeedsToBePublished">
          <ion-col size="1.5" class="detail-col">
            <img src="/assets/identity/svg/credential-published.svg" class="published">
          </ion-col>
          <ion-col size="7">
            <ion-label class="description">{{ 'identity-published-on-blockchain' | translate }}</ion-label>
          </ion-col>
          <ion-col size="3.5">
            <ion-label class="lastPublished">{{ getLastPublished() }}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="1.5" class="detail-col">
            <img *ngIf="unchangedPublishedCredentials.length > 0"
              src="/assets/identity/svg/credential-published.svg" class="published">
            <img *ngIf="unchangedPublishedCredentials.length == 0" src="/assets/identity/svg/publish-gray.svg"
              class="published">
          </ion-col>
          <ion-col size="10.5">
            <ion-label class="description">
              {{ unchangedPublishedCredentials.length }}/{{ profileService.allCreds.length }}
              {{ 'credentials-published-on-blockchain' | translate }}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="profileService.verifiedCredentials.length > 0">
          <ion-col size="1.5" class="detail-col">
            <img src="/assets/identity/svg/verified.svg" class="verified">
          </ion-col>
          <ion-col size="10.5">
            <ion-label class="description">
              {{ profileService.verifiedCredentials.length }}/{{ profileService.allCreds.length }}
              {{ 'credentials-verified' | translate }}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="profileService.verifiedCredentials.length == 0">
          <ion-col size="1.5" class="detail-col">
            <img src="/assets/identity/svg/verified-gray.svg" class="verified">
          </ion-col>
          <ion-col size="10.5">
            <ion-label class="description">
              {{ profileService.verifiedCredentials.length }}/{{ profileService.allCreds.length }}
              {{ 'credentials-verified' | translate }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row class="actionsSection" *ngIf="hasModifiedCredentials">
      <ion-grid>
        <ion-row>
          <ion-button class="primary" shape="round" expand="block" color="warning"
            (click)="this.profileService.publish()">
            <ion-icon slot="start" src="/assets/identity/svg/Credentials.svg" class="Credentials"></ion-icon>
            <ion-grid>
              <ion-row>
                <span class="title">{{ 'credentials-modified' | translate }}</span>
              </ion-row>
              <ion-row>
                <span class="description">
                  {{ 'credentials-modified-description' | translate }}
                </span>
              </ion-row>
            </ion-grid>

            <ion-icon slot="end" src="/assets/identity/svg/chevron-thin-right-dark.svg" class="chevron-thin-right"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-row>
    <ion-row class="current-options-section">
      <ion-grid>
        <ion-row>
          <h1>{{ 'current-options' | translate }}</h1>
        </ion-row>
        <ion-row class="options">
          <div class="publish" (click)="profileService.publish()">
            <img src=" /assets/identity/svg/publish-button.svg" />
            <h2>{{ 'publish' | translate}}</h2>
            <span>{{ 'publish-description' | translate }}</span>
          </div>
          <div class="edit" (click)="profileService.editProfile()">
            <img src="{{ this.theme.darkMode ? '/assets/identity/svg/edit-button-dark.svg' : '/assets/identity/svg/edit-button.svg' }}" />
            <h2>{{ 'edit' | translate}}</h2>
            <span>{{ 'edit-description' | translate }}</span>
          </div>
          <div class="share" (click)="profileService.shareIdentity()">
            <img
              src="{{ this.theme.darkMode ? '/assets/identity/svg/share-button-dark.svg' : '/assets/identity/svg/share-button.svg' }}" />
            <h2>{{ 'share' | translate}}</h2>
            <span>{{ 'share-description' | translate }} </span>
          </div>
          <div class="export" (click)="exportMnemonic()">
            <img
              src="{{ this.theme.darkMode ? '/assets/identity/svg/share-button-dark.svg' : '/assets/identity/svg/share-button.svg' }}" />
            <h2>{{ 'export-mnemonics' | translate}}</h2>
            <span>{{ 'export-mnemonics-description' | translate}}</span>
          </div>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
