<ion-row *ngIf="purchaseablePlan" class="ripple ion-activatable" [class.darkContainer]="theme.darkMode">
    <ion-col size="12" class="removeBorder">
        <h1>{{ purchaseablePlan.getName() }}</h1>
    </ion-col>
    <ion-col size="12">
        <h2>{{ 'hivemanager.payment-plan.max-storage' | translate }}</h2>
        <p>{{ purchaseablePlan.getMaxStorage() }} MB</p>
    </ion-col>
    <ion-col *ngIf="purchaseablePlan.getCost() != 0" size="12" class="removeBorder">
        <h2>{{ 'hivemanager.payment-plan.cost' | translate }}</h2>
        <p>{{ purchaseablePlan.getCost() }} {{ purchaseablePlan.getCurrency() }} / {{ purchaseablePlan.getDuration() }} {{ 'hivemanager.payment-plan.days' | translate }}</p>
    </ion-col>
    <ion-col *ngIf="purchaseablePlan.getCost() == 0" size="12" class="removeBorder">
        <h2>{{ 'hivemanager.payment-plan.cost' | translate }}</h2>
        <p>{{ 'hivemanager.payment-plan.free' | translate }}</p>
    </ion-col>
    <ion-ripple-effect></ion-ripple-effect>
</ion-row>

<ion-row *ngIf="activePlan" class="ripple ion-activatable" [class.darkContainer]="theme.darkMode">
    <ion-col size="12" class="removeBorder">
        <h1>{{ activePlan.getName() }}</h1>
    </ion-col>
    <ion-col size="12">
        <h2>{{ 'hivemanager.payment-plan.max-storage' | translate }}</h2>
        <p>{{ activePlan.getMaxStorage() }} MB</p>
    </ion-col>
    <ion-col size="12">
        <h2>{{ 'hivemanager.payment-plan.file-storage' | translate }}</h2>
        <p>{{ UI.getFriendlyStorageSize(activePlan.getCurrentFileStorageUsed()) }} MB</p>
    </ion-col>
    <ion-col size="12">
        <h2>{{ 'hivemanager.payment-plan.data-storage' | translate }}</h2>
        <p>{{ UI.getFriendlyStorageSize(activePlan.getCurrentDatabaseStorageUsed()) }} MB</p>
    </ion-col>
    <ion-col size="12" class="removeBorder">
        <h2>{{ 'hivemanager.payment-plan.start-time' | translate }}</h2>
        <p>{{ UI.getFriendlyDate(activePlan.getStartTime()) }}</p>
    </ion-col>
    <ion-ripple-effect></ion-ripple-effect>
</ion-row>