<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid [class.dark-container]="theme.darkMode">
        <ion-grid class="box app">
            <ion-row *ngIf="appMetaLoaded()">
                <ion-col size="3" class="icon-col">
                    <div class="icon-container">
                        <img class="icon" [src]="browsedAppInfo.iconUrl"
                            src-fallback="/assets/launcher/apps/app-icons/browser.svg" />
                    </div>
                </ion-col>
                <ion-col size="8" class="info-container">
                    <div class="title">{{browsedAppInfo.title}}</div>
                    <div class="info">{{browsedAppInfo.description}}</div>
                </ion-col>
            </ion-row>
            <ion-spinner name="crescent" *ngIf="!appMetaLoaded()"></ion-spinner>
        </ion-grid>

        <ion-grid class="box switches">
            <div class="header">{{ 'dappbrowser.menu-active-net-wallet' | translate }}</div>

            <ion-grid class="switches-container">
                <ion-row>
                    <ion-col size="6">
                        <ion-row class="ripple ion-activatable" (click)="pickNetwork()"
                            *ngIf="walletNetworkService.activeNetwork.value">
                            <ion-col size="3" class="logo-container">
                                <img class="network-logo" [src]="getActiveNetworkLogo()">
                            </ion-col>
                            <ion-col size="9">
                                <div class="title">{{ 'dappbrowser.network' | translate }}</div>
                                <div class="network">
                                    {{ getActiveNetworkName() }}
                                </div>
                            </ion-col>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-row>
                    </ion-col>
                    <ion-col size="6">
                        <ion-row class="ripple ion-activatable" *ngIf="walletService.activeNetworkWallet.value"
                            (click)="pickWallet()">
                            <ion-col size="3" class="logo-container">
                                <img
                                    [src]="!theme.darkMode ? '/assets/browser/icons/icon-wallet.svg' : 'assets/browser/icons/dark_mode/icon-wallet.svg'" />
                            </ion-col>
                            <ion-col size="9">
                                <div class="title">{{ 'dappbrowser.wallet' | translate }}</div>
                                <div class="network">{{walletService.activeNetworkWallet.value.masterWallet.name}}</div>
                            </ion-col>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-grid>

        <ion-grid class="box actions">
            <div class="header">{{ 'dappbrowser.menu-actions' | translate }}</div>

            <ion-row class="action-items">
                <ion-col size="4" class="ripple ion-activatable">
                    <div class="action" (click)="addToFavorites()" *ngIf="appMetaLoaded() && !isInFavorites()">
                        <img
                            [src]="!theme.darkMode ? '/assets/browser/icons/icon-fav.svg' : 'assets/browser/icons/dark_mode/icon-fav.svg'" />
                        {{ 'dappbrowser.menu-action-add-to-favorites' | translate }}
                    </div>
                    <div class="action ripple ion-activatable" (click)="removeFromFavorites()" *ngIf="isInFavorites()">
                        <img
                            [src]="!theme.darkMode ? '/assets/browser/icons/icon-fav-active.svg' : 'assets/browser/icons/dark_mode/icon-fav-active.svg'" />
                        {{ 'dappbrowser.menu-action-remove-from-favorites' | translate }}
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col size="4" class="ripple ion-activatable">
                    <div class="action" (click)="openExternal()">
                        <img
                            [src]="!theme.darkMode ? '/assets/browser/icons/icon-external.svg' : 'assets/browser/icons/dark_mode/icon-external.svg'" />
                        {{ 'dappbrowser.menu-action-external-browser' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col size="4" class="ripple ion-activatable">
                    <div class="action" (click)="reloadPage()">
                        <img
                            [src]="!theme.darkMode ? '/assets/browser/icons/icon-reload.svg' : 'assets/browser/icons/dark_mode/icon-reload.svg'" />
                        {{ 'dappbrowser.menu-action-reload' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col size="4" class="ripple ion-activatable">
                    <div class="action" (click)="copyUrl()">
                        <img
                            [src]="!theme.darkMode ? '/assets/browser/icons/icon-copy-link.svg' : 'assets/browser/icons/dark_mode/icon-copy-link.svg'" />
                        {{ 'dappbrowser.menu-action-copy-link' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col size="4" class="ripple ion-activatable">
                    <div class="action" (click)="shareUrl()">
                        <img
                            [src]="!theme.darkMode ? '/assets/browser/icons/icon-share-link.svg' : 'assets/browser/icons/dark_mode/icon-share-link.svg'" />
                        {{ 'dappbrowser.menu-action-share' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <!--  <ion-col size="4" class="ripple ion-activatable">
                    <div class="action" (click)="clearBrowserData()">
                        <img
                            [src]="!theme.darkMode ? '/assets/browser/icons/icon-close.svg' : '/assets/browser/icons/dark_mode/icon-close.svg'" />
                        {{ 'dappbrowser.menu-action-clear-data' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col> -->
            </ion-row>
        </ion-grid>
        <ion-row class="clear-data" (click)="clearBrowserData()">
            {{ 'dappbrowser.clear-browser-data' | translate }}
        </ion-row>
    </ion-grid>
</ion-content>