.app {
  text-align: center;

  .icon-col {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: center;

    .icon-container {
      display: flex;
      align-self: flex-end;
      width: 60px;
      height: 60px;
      background: white;
      border-radius: 30%;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      border: solid 2px white;

      img {
        padding: 0;
      }
    }
  }

  .info-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;

    .title {
      font-weight: 600;
      font-size: 14px;
    }
    .info {
      opacity: 0.7;
      margin-top: 5px;
    }
  }
}

.box {
  background: var(--essentials-box-color);
  border-radius: 18px;
  margin: 10px;
  margin-bottom: 20px;

  .header {
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.switches {
  .title {
    opacity: 0.7;
    font-weight: 600;
    font-size: 12px;
  }

  .switches-container {
    .logo-container {
      display: flex;
      align-items: center;
      background: var(--ion-background-color);
      border-radius: 10px;
      justify-content: center;
    }
  }
}

.actions {
  .action-items {
    padding-bottom: 20px;

    .action {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

.clear-data {
  justify-content: center;
  opacity: 0.7;
}
