<ion-slides [options]="slideOpts" (ionSlideNextEnd)="loadNext()" class="node-slides"
    [class.dark-node-slides]="theme.darkMode">
    <ion-slide *ngFor="let node of _nodes">
        <ion-card class="ion-text-center">
            <ion-grid>
                <ion-row class="header-container">
                    <ion-col size="3" class="img-container">
                        <img [src]="node.imageUrl ? node.imageUrl : '../assets/dposvoting/icon/elastos-icon.svg'">
                    </ion-col>
                    <ion-col size="9" class="name-container">
                        <ion-card-title>
                            {{ node.nickname }}
                        </ion-card-title>
                    </ion-col>
                </ion-row>
                <ion-card-content>
                    <ion-row class="detail-container">
                        <p>{{ 'dposvoting.slider-rank' | translate }}</p>
                        <h3>#{{ node.index }}</h3>
                    </ion-row>
                    <ion-row class="detail-container">
                        <p>{{ 'dposvoting.slider-votes' | translate }}</p>
                        <h3>{{ getVotes(node.votes) }}</h3>
                    </ion-row>
                    <ion-row class="detail-container">
                        <p>{{ 'dposvoting.slider-rewards' | translate }}</p>
                        <h3>{{ getRewards(node.EstRewardPerYear) }}</h3>
                    </ion-row>
                    <ion-row class="detail-container">
                        <p>{{ 'dposvoting.slider-percentage' | translate }}</p>
                        <h3>{{ getVotePercent(node.votes) }}%</h3>
                    </ion-row>
                    <ion-row class="website">
                        <p>{{ 'common.website' | translate }}</p>
                        <h3 (click)="nodesService.openLink(node.url)">{{ node.url }}</h3>
                    </ion-row>
                </ion-card-content>
            </ion-grid>
        </ion-card>
    </ion-slide>
</ion-slides>