@import "../../root.scss";

ion-input {
    background: var(--essentials-box-color);
    height: 45px;
    border: 1px solid var(--essentials-border-separator-color);
    border-radius: 7px;
    font-size: 13px;
    text-align: left;
    --padding-start: 12px;
}

h5 {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 16px;
    opacity: 0.7;
}


