@import 'src/app/wallet/root.scss';

ion-slides {
    min-height: 100%;
}

ion-slide {
    padding: 15px 7.5px;
}

.single-slide {
    padding: 15px 20px;
}

ion-slide, .single-slide {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .main-title-row {
        margin-bottom: 10px;
        margin-left: 5px;

        h1, p {
            margin: 0;
        }
    
        h1 {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: -0.6px;
            line-height: 0.8;
            text-align: left;
            margin-bottom: 10px;
        }

        p {
            height: 13px;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #000000;
            opacity: 0.7;
        }
    }

    .list-title-row {
        margin-bottom: 10px;
        margin-left: 5px;
    
        h1 {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
            line-height: 0.8;
            letter-spacing: -0.45px;
            text-align: left;
        }
    }

    .collectibles-title {
        margin-top: 9.5px;
    }
}    

.sticky-btn {
    position: sticky;
    top: 10px;
    left: 7.5%;
    width: 85%;
    z-index: 10;

    ion-icon {
        color: white;
    }
}

.dark-slides  {
    ion-slide {
        .main-title-row {
            p {
                color: #9D9D9D;
                opacity: 1;
            }
        }
    }
}

.dark-slide {
    .main-title-row {
        p {
            color: #9D9D9D;
            opacity: 1;
        }
    }
}
