@import 'src/app/wallet/root.scss';

.network-container {
    border-radius: 11px;
    padding: 5px;
    margin: 10px 15px;
    background-color: #ffffff;
    box-shadow: 0 3px 15px 0 #ededf0;

    .displayed-network {
        ion-col {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 24px;
                width: 24px;
            }

            ion-label {
                margin-left: 12px;
                font-size: 14px;
                font-weight: 600;
            }

            .arrow-icon {
                height: 16px;
                width: 16px;
            }
        }
    }

    .network-options {
        padding: 10px 20px 20px;

        .header-row {
            margin-bottom: 20px;

            ion-col {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                ion-label {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    h1, p {
                        margin: 0;
                    }

                    h1 {
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 0.8;
                        text-align: left;
                        margin: 0 0 10px;
                    }

                    p {
                        height: 11px;
                        font-size: 10px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        text-align: left;
                        color: #000000;
                        opacity: 0.7;
                    }
                }

                .arrow-icon {
                    transform: rotate(180deg);
                }
            }
        }

        .network-row {
            border-radius: 17px;
            padding: 5px 10px;
            margin-bottom: 7.5px;
            background-color: transparent;
            border: 1px solid #ededf0;

            ion-col {
                display: flex;
                align-items: center;
            }

            .left-col {
                justify-content: flex-start;

                img {
                    width: 35px;
                    height: 35px;
                }

                h1 {
                    margin: 0 0 0 10px;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 0.7px;
                    text-align: left;
                }
            }

            .right-col {
                justify-content: flex-end;

                ion-icon {
                  width: 15px;
                  height: 12px;
                  visibility: hidden;
                }
            }
        }

        .selected-network {
            background-color: #ededf0;

            .right-col {
                ion-icon {
                    visibility: visible;
                }
            }
        }
    }
}

.dark-network-container {
    background-color: #212021;
    box-shadow: 0px 123px 89px #000000AD;

    .network-options {
        .header-row {
            ion-col {
                ion-label {
                    h1, p {
                        color: #ffffff;
                    }
                }
            }
        }

        .network-row {
            border: 1px solid #464446;
            background-color: transparent;
            box-shadow: none;
        }

        .selected-network {
            background-color: #312F31;
        }
    }
}


.networkOptions-container {
    position: relative;
}

.wallet-container {
    border-radius: 11px;
    padding: 5px;
    margin: 10px 15px;
    background-color: #ffffff;
    box-shadow: 0 3px 15px 0 #ededf0;

    .wallet-selection {
        padding: 10px 20px 20px;

        .header-row {
            margin-bottom: 20px;

            ion-col {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                ion-label {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    h1, p {
                        margin: 0;
                    }

                    h1 {
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 0.8;
                        text-align: left;
                        margin: 0 0 10px;
                    }

                    p {
                        height: 11px;
                        font-size: 10px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        text-align: left;
                        color: #000000;
                        opacity: 0.7;
                    }
                }

                .arrow-icon {
                    transform: rotate(180deg);
                }
            }
        }

        .wallet-row {
            border-radius: 17px;
            padding: 5px 10px;
            margin-bottom: 7.5px;
            background-color: transparent;
            border: 1px solid #ededf0;

            ion-col {
                display: flex;
                align-items: center;
            }

            .color-col {
                .color-block {
                    width: 100%;
                    height: 30px;
                    border-radius: 10px;
                }
            }

            .left-col {
                justify-content: flex-start;
                flex-direction: column;
                align-items: flex-start;

                img {
                    width: 35px;
                    height: 35px;
                }

                .wallet-name {
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 0.7px;
                }

                .wallet-amount {
                    font-size: 13px;
                    font-weight: 400;
                }
            }

            .right-col {
                justify-content: flex-end;

                ion-icon {
                  width: 15px;
                  height: 12px;
                  visibility: hidden;
                }
            }
        }

        .selected-wallet {
            background-color: #ededf0;

            .right-col {
                ion-icon {
                    visibility: visible;
                }
            }
        }
    }
}

.dark-wallet-container {
    background-color: #212021;
    box-shadow: 0px 123px 89px #000000AD;

    .wallet-selection {
        .header-row {
            ion-col {
                ion-label {
                    h1, p {
                        color: #ffffff;
                    }
                }
            }
        }

        .wallet-row {
            border: 1px solid #464446;
            background-color: transparent;
            box-shadow: none;
        }

        .selected-wallet {
            background-color: #312F31;
        }
    }
}

ion-slides {
    min-height: 100%;
}

ion-slide {
    padding: 15px 7.5px;
}

.single-slide {
    padding: 15px 20px;
}

ion-slide, .single-slide {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .main-title-row {
        margin-bottom: 10px;
        margin-left: 5px;

        h1, p {
            margin: 0;
        }

        h1 {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: -0.6px;
            line-height: 0.8;
            text-align: left;
            margin-bottom: 10px;
        }

        p {
            height: 13px;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #000000;
            opacity: 0.7;
        }
    }

    .list-title-row {
        margin-bottom: 10px;
        margin-left: 5px;

        h1 {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
            line-height: 0.8;
            letter-spacing: -0.45px;
            text-align: left;
        }
    }

    .card-label-row {
        .change-wallet {
            ion-col {
                padding: 0;
            }

            .change-wallet-col {
                text-align:right;

                img {
                    vertical-align:middle;
                    width: 22px;
                    height: 22px;
                }
                .change {
                    vertical-align:middle;
                    margin-left: 5px;
                    color: #ffffff;
                }
            }
        }
    }

    .collectibles-title {
        margin-top: 9.5px;
    }
}

.sticky-btn {
    position: sticky;
    top: 10px;
    left: 7.5%;
    width: 85%;
    z-index: 10;

    ion-icon {
        color: white;
    }
}

.dark-slides  {
    ion-slide {
        .main-title-row {
            p {
                color: #9D9D9D;
                opacity: 1;
            }
        }
    }
}

.dark-slide {
    .main-title-row {
        p {
            color: #9D9D9D;
            opacity: 1;
        }
    }
}
