<app-titlebar></app-titlebar>
<ion-content>
  <!-- Login Screen -->
  <ion-grid class="container" [class.dark-container]="theme.darkMode" *ngIf="!didStorePasswordIsValid">

    <div class="ion-text-center">
      <h1>{{ app.name }}</h1>
    </div>
  </ion-grid>

   <!-- Manage Screen -->
  <ion-grid class="container" [class.dark-container]="theme.darkMode" *ngIf="didStorePasswordIsValid">

   <!--  <p>
      This page allows you to configure your application identity on the Elastos DID sidechain, but
      also various technical settings for your application as a elastOS or as a native application.
    </p> -->

    <div class="ion-text-center">
      <h1>Generic App Info</h1>
    </div>
    <ion-list>
      <!--<div>
        <ion-title mode='md'>Icon</ion-title>
        <ion-item detail="false">
          <ion-img [src]="getAppIcon()" (click)="selectAndUploadAppIconFromLibrary()"></ion-img>
        </ion-item>
      </div>-->
      <div>
        <ion-title mode='md'>Title</ion-title>
        <ion-item detail="false">
          <ion-label>{{ app.name }}</ion-label>
        </ion-item>
      </div>
      <!--<div *ngIf="appDIDDocumentStatusWasChecked">
        <ion-title mode='md'>Short description</ion-title>
        <ion-item detail="false">
          <ion-label></ion-label>
        </ion-item>
      </div>
      <div *ngIf="appDIDDocumentStatusWasChecked">
        <ion-title mode='md'>Long description</ion-title>
        <ion-item detail="false">
          <ion-label></ion-label>
        </ion-item>
      </div>-->
    </ion-list>

    <br/>

    <div class="ion-text-center">
      <h1>App Identity status <ion-icon name="help-circle" (click)='dAppService.showHelp($event, appIdentityHelpMessage)'></ion-icon></h1>
    </div>
    <ion-list>
      <div>
        <ion-title mode='md'>DID</ion-title>
        <ion-item detail="false">
          <ion-label>{{ app.didString }} <ion-icon name="copy" (click)="copyAppDIDToClipboard()"></ion-icon></ion-label>
        </ion-item>
      </div>
      <div>
        <ion-title mode='md'>Mnemonic</ion-title>
        <ion-item detail="false">
          <ion-label>{{ didSession.mnemonic }}</ion-label>
        </ion-item>
      </div>
      <div>
        <ion-title mode='md'>Application DID published on chain?</ion-title>
        <ion-item detail="false">
          <ion-col *ngIf="!appDIDDocumentStatusWasChecked" style="color:grey">Checking...</ion-col>
          <ion-col *ngIf="appDIDDocumentStatusWasChecked && appDIDDocument" style="color:green">YES - All good</ion-col>
          <ion-col *ngIf="appDIDDocumentStatusWasChecked && !appDIDDocument" style="color:red">NO - Please publish</ion-col>
        </ion-item>
      </div>
      <div *ngIf="appDIDDocumentStatusWasChecked">
        <ion-title mode='md'>Is your developer DID published?</ion-title>
        <ion-item detail="false" *ngIf="developerDIDDocument" style="color:green">Yes</ion-item>
        <ion-item detail="false" *ngIf="!developerDIDDocument" style="color:red">No - please publish your developer DID from the identity app</ion-item>
      </div>
      <div *ngIf="appDIDDocumentStatusWasChecked">
        <ion-title mode='md'>Developer's DID</ion-title>
        <ion-item detail="false" *ngIf="getOnChainAppDeveloperDID() && chainDeveloperDIDMatchesLocalDID()">{{ getOnChainAppDeveloperDID() }}</ion-item>
        <ion-item detail="false" *ngIf="getOnChainAppDeveloperDID() && !chainDeveloperDIDMatchesLocalDID()">Different from currently signed in user - please publish to update</ion-item>
        <ion-item detail="false" *ngIf="!getOnChainAppDeveloperDID()" style="color:red">Not set - please publish</ion-item>
      </div>
      <div *ngIf="appDIDDocumentStatusWasChecked">
        <ion-title mode='md'>Is your app attached to your developer?</ion-title>
        <ion-item detail="false" *ngIf="getOnChainAppDeveloperDID()" style="color:green">Yes</ion-item>
        <ion-item detail="false" *ngIf="!getOnChainAppDeveloperDID()" style="color:red">No - please publish</ion-item>
      </div>

      <div *ngIf="appDIDDocumentStatusWasChecked">
        <ion-title mode='md'>Native redirect url <ion-icon name="help-circle" (click)='dAppService.showHelp($event, nativeRedirectUrlHelpMessage)'></ion-icon></ion-title>
        <ion-item detail="false">
          <ion-input [(ngModel)]="nativeRedirectUrl" placeholder="Set your intents redirect url here if any"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="appDIDDocumentStatusWasChecked">
        <ion-title mode='md'>Native custom scheme <ion-icon name="help-circle" (click)='dAppService.showHelp($event, nativeCustomSchemeHelpMessage)'></ion-icon></ion-title>
        <ion-item detail="false">
          <ion-input [(ngModel)]="nativeCustomScheme" placeholder="Set your custom scheme here if any"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="appDIDDocumentStatusWasChecked">
        <ion-title mode='md'>Native callback url <ion-icon name="help-circle" (click)='dAppService.showHelp($event, nativeCallbackUrlHelpMessage)'></ion-icon></ion-title>
        <ion-item detail="false">
          <ion-input [(ngModel)]="nativeCallbackUrl" placeholder="Set your intents callback url here if any"></ion-input>
        </ion-item>
      </div>

    </ion-list>

    <ion-button *ngIf="appDIDDocumentStatusWasChecked && appIdentityNeedsToBePublished()" (click)="publishAppIdentity()">
      <ion-label>Publish app identity</ion-label>
    </ion-button>

    <p *ngIf="!appIdentityNeedsToBePublished()" style="color:green">Everything is up to date, nothing to publish</p>

    <br/><br/>

    <!-- HIDDEN FOR NOW
    <div class="ion-text-center">
      <h1>elastOS publication</h1>
    </div>

    <ion-list>
      <div>
        <ion-title mode='md'>Publication status</ion-title>
        <ion-item detail="false">
          <ion-label *ngIf="!trinityPubStatusWasChecked">Checking...</ion-label>
          <ion-label *ngIf="trinityPubStatusWasChecked && trinityPublicationInfo" style="color: green;">Published</ion-label>
          <ion-label *ngIf="trinityPubStatusWasChecked && !trinityPublicationInfo" style="color:orange">Never published</ion-label>
        </ion-item>
      </div>
      <div *ngIf="trinityPublicationInfo">
        <ion-title mode='md'>Active publication info</ion-title>
        <ion-item detail="false">
          <ion-grid>
            <ion-row>
              <ion-col>App icon</ion-col>
              <ion-col>xxx</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>App name:</ion-col>
              <ion-col>{{ trinityPublicationInfo.appName }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>elastOS package ID</ion-col>
              <ion-col>org.a.b</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Version</ion-col>
              <ion-col>1.0.4</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </ion-list>

    <ion-button (click)="publishAppToElastOS()">
      <ion-label>Publish app to elastOS</ion-label>
    </ion-button>

    -->

  </ion-grid>


  <ion-fab class="ion-padding" vertical="bottom" horizontal="end" slot="fixed" *ngIf="didStorePasswordIsValid">
    <ion-fab-button (click)="deleteApp()" color="danger">
        <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
