<ion-content class="ion-padding-bottom">
  <app-titlebar></app-titlebar>

  <!-- Login Screen -->
  <ion-grid class="container" *ngIf="!didStorePasswordIsValid">
    <ion-row>
      <ion-col size="12" class="empty-app">
        <h1>{{ app.name }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Manage Screen -->
  <ion-grid class="container" *ngIf="didStorePasswordIsValid">

    <div class="section-container flex-ai-centered std-padding" *ngIf="!appDIDDocumentStatusWasChecked">
      <ion-spinner></ion-spinner>
    </div>
    <div class="section-container" *ngIf="appDIDDocumentStatusWasChecked">
      <ion-list>
        <ion-row>
          <ion-col size="12" class="app-icon">
            <ion-img *ngIf="!fetchingIcon && !uploadingIcon" [src]="getAppIcon()"
              (click)="selectAndUploadAppIconFromLibrary()"></ion-img>
            <p *ngIf="!fetchingIcon && !uploadingIcon && !base64iconPath">{{ 'developertools.set-app-icon' | translate
              }}</p>
            <p *ngIf="!fetchingIcon && !uploadingIcon && base64iconPath">{{ 'developertools.touch-to-change' | translate
              }}</p>
            <ion-spinner *ngIf="fetchingIcon || uploadingIcon"></ion-spinner>
          </ion-col>
          <ion-col size="12">
            <p>{{ 'common.title' | translate }}</p>
          </ion-col>
          <ion-col size="12">
            <ion-input [(ngModel)]="appName" placeholder="{{ 'developertools.appName-placeholder' | translate }}">
            </ion-input>
          </ion-col>
        </ion-row>

        <!-- <ion-row *ngIf="appDIDDocumentStatusWasChecked">
          <p>Short description</p>
          <ion-label detail="false">
            <ion-label></ion-label>
          </ion-label>
        </ion-row>
        <ion-row *ngIf="appDIDDocumentStatusWasChecked">
          <p>Long description</p>
          <ion-label detail="false">
            <ion-label></ion-label>
          </ion-label>
        </ion-row> -->
      </ion-list>
    </div>

    <div class="section-container">
      <ion-row class="section-title-row">
        <ion-col size="12">
          <h1>{{ 'developertools.app-identity-status' | translate }} </h1>
          <ion-icon name="help-circle" (click)='dAppService.showHelp($event, appIdentityHelpMessage)'></ion-icon>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-row>
          <ion-col size="12">
            <p>DID</p>
            <ion-icon name="copy" (click)="copyAppDIDToClipboard()"></ion-icon>
          </ion-col>
          <ion-col size="12">
            <ion-label>{{ app.didString }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>{{ 'common.mnemonic' | translate }}</p>
          </ion-col>
          <ion-col size=12>
            <ion-label>{{ didSession.mnemonic }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>{{ 'developertools.app-did-published?' | translate }}</p>
          </ion-col>
          <ion-col size="12" class="status-icon">
            <ion-label *ngIf="!appDIDDocumentStatusWasChecked">{{ 'developertools.checking' |
              translate }}</ion-label>

            <ion-label *ngIf="appDIDDocumentStatusWasChecked && publishedAppInfo.didDocument">{{
              'developertools.yes-published' | translate }}</ion-label>

            <ion-icon *ngIf="appDIDDocumentStatusWasChecked && !publishedAppInfo.didDocument"
              name="alert-circle-outline"></ion-icon>
            <ion-label *ngIf="appDIDDocumentStatusWasChecked && !publishedAppInfo.didDocument">{{
              'developertools.no-published' | translate }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="appDIDDocumentStatusWasChecked">
          <ion-col size="12">
            <p>{{ 'developertools.dev-did-published?' | translate }}</p>
          </ion-col>
          <ion-col size="12" class="status-icon">
            <ion-label detail="false" *ngIf="developerDIDDocument">{{ 'developertools.yes-published'
              | translate }}</ion-label>

            <ion-icon *ngIf="!developerDIDDocument" name="alert-circle-outline"></ion-icon>
            <ion-label detail="false" *ngIf="!developerDIDDocument">{{ 'developertools.no-published' |
              translate }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="appDIDDocumentStatusWasChecked">
          <ion-col size="12">
            <p>{{ 'developertools.app-attached-to-dev' | translate }}</p>
          </ion-col>
          <ion-col size="12" class="status-icon">
            <ion-label detail="false" *ngIf="getOnChainAppDeveloperDID()">{{
              'developertools.yes-published' | translate }}</ion-label>

            <ion-icon *ngIf="!getOnChainAppDeveloperDID()" name="alert-circle-outline"></ion-icon>
            <ion-label detail="false" *ngIf="!getOnChainAppDeveloperDID()">{{
              'developertools.no-published' | translate }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="appDIDDocumentStatusWasChecked" class="input-row">
          <ion-col size="12">
            <p>{{ 'developertools.native-redirect-url' | translate }} </p>
            <ion-icon name="help-circle" (click)='dAppService.showHelp($event, nativeRedirectUrlHelpMessage)'>
            </ion-icon>
          </ion-col>
          <ion-col size="12">
            <ion-input [(ngModel)]="nativeRedirectUrl"
              placeholder="{{ 'developertools.redirecturl-placeholder' | translate }}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="appDIDDocumentStatusWasChecked" class="input-row">
          <ion-col size="12">
            <p>{{ 'developertools.native-scheme' | translate }}</p>
            <ion-icon name="help-circle" (click)='dAppService.showHelp($event, nativeCustomSchemeHelpMessage)'>
            </ion-icon>
          </ion-col>
          <ion-col size="12">
            <ion-input [(ngModel)]="nativeCustomScheme"
              placeholder="{{ 'developertools.nativecustomscheme-placeholder' | translate }}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="appDIDDocumentStatusWasChecked" class="input-row">
          <ion-col size="12">
            <p>{{ 'developertools.native-callback-url' | translate }}</p>
            <ion-icon name="help-circle" (click)='dAppService.showHelp($event, nativeCallbackUrlHelpMessage)'>
            </ion-icon>
          </ion-col>
          <ion-col size="12">
            <ion-input [(ngModel)]="nativeCallbackUrl"
              placeholder="{{ 'developertools.nativecallbackurl-placeholder' | translate }}"></ion-input>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>

    <ebutton *ngIf="appDIDDocumentStatusWasChecked && appIdentityNeedsToBePublished() && !publishingDid"
      (clicked)="publishAppIdentity()" [title]="'developertools.publish-app-did' | translate">
    </ebutton>
    <ion-spinner *ngIf="appDIDDocumentStatusWasChecked && appIdentityNeedsToBePublished() && publishingDid">
    </ion-spinner>

    <p *ngIf="!appIdentityNeedsToBePublished()" class="up-to-date">{{ 'developertools.up-to-date' | translate }}</p>
  </ion-grid>


  <ion-fab class="ion-padding" vertical="bottom" horizontal="end" slot="fixed" *ngIf="didStorePasswordIsValid">
    <ion-fab-button (click)="deleteApp()" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>