<ion-content class="ion-text-center">
  <app-titlebar title="text-vote-crcouncil"></app-titlebar>
  <div class="warning" *ngIf="!btcSubWallet">
    <p>{{ 'wallet.wallet-unsupported-on-network' | translate:{network: currentNetworkName} }}</p>
  </div>

  <div class="warning" *ngIf="!isSignDataEnable">
    <p>{{ 'wallet.signbitcoindata-enable-signdata-request' | translate }}</p>
  </div>

  <ion-spinner class='spinner' *ngIf="loading && btcSubWallet"></ion-spinner>

  <ion-grid class="container" [class.dark-container]="theme.darkMode"
    *ngIf="!loading && networkWallet && isSignDataEnable">
    <div>
      <ion-card>
        <img [src]="networkWallet.network.logo">
        <h1>{{ networkWallet.network.getEffectiveName() }}</h1>
      </ion-card>

      <ion-card-header>
        <ion-card-subtitle>
          {{ 'wallet.signbitcoindata-intro' | translate }}
        </ion-card-subtitle>
        <ion-card-subtitle class="danger">
          {{ 'wallet.signbitcoindata-danger' | translate }}
        </ion-card-subtitle>
      </ion-card-header>
    </div>

    <!-- Signing Wallet info -->
    <ion-row class="wallet-info-row">
      <ion-col size="12" class="left-col">
        <div class="wallet-info">
          <div class="wallet-label">{{ 'wallet.signing-wallet' | translate }}</div>
          <h1 class="wallet-name">{{ getSigningWalletName() }}</h1>
          <div class="wallet-address">{{ getSigningWalletAddress() }}</div>
        </div>
      </ion-col>
    </ion-row>

    <!-- BUTTONS FOOTER -->
    <ebutton class="btn cancel" mode="cancel"
      (clicked)="cancelOperation()"
      [title]="'common.cancel' | translate">
    </ebutton>
    <ebutton class="btn confirm" [disabled]="actionIsGoing" (clicked)="goTransaction()"
      [title]="'common.confirm' | translate"></ebutton>
  </ion-grid>
</ion-content>