<ion-row class="widget widget-background" [class.darkContainer]="theme.darkMode"
  *ngIf="news.length > 0 || forSelection || editing" (click)="onBackgroundClicked()">
  <ion-row class="header-row">
    <ion-col size="6" class="title-col">
      {{ 'launcher.news-title' | translate }}
      <div class="badge" *ngIf="news.length > 0">{{ news.length }}</div>
    </ion-col>
    <ion-col size="6" class="icons">
      <ion-spinner class="item" *ngIf="refreshingFeedsChannels"></ion-spinner>
      <div class="item" inlineSVG="/assets/shared/curcol-icons/reload.svg" (click)="refreshAllNews()"></div>
      <img class="item"
        [src]="theme.darkMode ? '/assets/launcher/icons/dark_mode/grid.svg' : '/assets/launcher/icons/grid.svg'"
        (click)="showFullNews($event)" />
    </ion-col>
  </ion-row>

  <!-- We have news to show -->
  <ion-row class="news-row" *ngIf="news.length > 0">
    <ion-row class="newss" [class.transitioning]="transitioning">
      <ion-col size="12" *ngFor="let i of pageIndexes" (click)="showFullNews($event)">
        <div class="news" *ngIf="hasItemAt(i)">
          <div class="header">
            <img class="icon" [cache]="getIcon(i)" />
            <div class="sender">{{ getSender(i) }}</div>
          </div>
          <div class="title">{{ getTitle(i) }}</div>
          <div class="secondary-text message">{{ getMessage(i) }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-row>

  <!-- No news to show (eg: preview) -->
  <ion-row class="news-row" *ngIf="news.length === 0">
    <p>{{ 'launcher.no-news' | translate }}</p>
  </ion-row>
</ion-row>