<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-card>
            <img [src]="!theme.darkMode ? 'assets/wallet/intents/dpos.svg' : 'assets/wallet/intents/darkmode/dpos.svg'">
            <ion-card-title>{{ 'wallet.vote-you-are-voting' | translate }}</ion-card-title>
            <ion-card-subtitle>{{ 'wallet.vote-transaction-fees' | translate }}</ion-card-subtitle>
        </ion-card>
        <div class="msg-container">
            <p>{{ 'wallet.dposvote-voting-for' | translate }}</p>
            <h1 id="count">{{ coinTransferService.publickeys.length }}/36</h1>
            <p id="with">{{ 'wallet.dposvote-with' | translate }}</p>
            <h1 id="amount">{{ voteAmount | number:'1.0-3' }} <span>ELA</span></h1>
            <h2>{{ 'wallet.vote-revote' | translate }}</h2>
        </div>
        <div class="btn cancel ion-activatable ripple" (click)="cancelOperation()">
            <ion-label>{{ 'common.cancel' | translate }}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="btn confirm ion-activatable ripple" (click)="goTransaction()">
            <ion-label>{{ 'common.confirm' | translate }}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </div>
    </ion-grid>
</ion-content>
