<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-card>
            <img [src]="!theme.darkMode ? 'assets/wallet/intents/dpos.svg' : 'assets/wallet/intents/darkmode/dpos.svg'">
            <ion-card-title>{{ 'wallet.vote-you-are-voting' | translate }}</ion-card-title>
            <ion-card-subtitle>{{ 'wallet.vote-transaction-fees' | translate }}</ion-card-subtitle>
        </ion-card>
        <div class="msg-container">
            <p>{{ 'wallet.dposvote-voting-for' | translate }}</p>
            <h1 id="count">{{ coinTransferService.publickeys.length }}/36</h1>
            <p id="with">{{ 'wallet.dposvote-with' | translate }}</p>
            <h1 id="amount">{{ voteAmount | number:'1.0-3' }} <span>ELA</span></h1>
            <h2>{{ 'wallet.vote-revote' | translate }}</h2>
        </div>

        <!-- Buttons -->
        <ebutton class="cancel" mode="cancel" (clicked)="cancelOperation()" [title]="'common.cancel' | translate">
        </ebutton>
        <ebutton class="confirm" (clicked)="goTransaction()" [title]="'common.confirm' | translate"></ebutton>
    </ion-grid>
</ion-content>