<app-titlebar></app-titlebar>

<ion-grid *ngIf="!dataUrlImage">
  <ion-row class="btn-row">
    <ebutton (clicked)="takePicture(1)" [title]="'common.take-pictures' | translate"> </ebutton>
    <ebutton (clicked)="takePicture(0)" [title]="'common.photo-library' | translate"> </ebutton>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="dataUrlImage">
  <img [src]="dataUrlImage">
  <ion-row class="btn-row submit">
    <ebutton (clicked)="submit(true)" [title]="'common.use' | translate"> </ebutton>
    <ebutton (clicked)="dataUrlImage = null" [title]="'common.change' | translate"> </ebutton>
  </ion-row>
</ion-grid>