<app-titlebar></app-titlebar>

<ion-grid *ngIf="!dataUrlImage">
  <ion-row class="btn-row">
    <ion-button color="tertiary" (click)="takePicture(1)">
      <ion-label>{{ 'common.take-pictures' | translate }}</ion-label>
    </ion-button>
    <ion-button color="tertiary" (click)="takePicture(0)">
      <ion-label>{{ 'common.photo-library' | translate }}</ion-label>
    </ion-button>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="dataUrlImage">
  <img [src]="dataUrlImage">
  <ion-row class="btn-row submit">
    <ion-button color="tertiary" (click)="submit(true)">
      {{ 'common.use' | translate }}
    </ion-button>
    <ion-button color="tertiary" (click)="dataUrlImage = null">
      {{ 'common.change' | translate }}
    </ion-button>
  </ion-row>
</ion-grid>
