<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid *ngIf="sessionRequest && sessionRequest.request" class="container" [class.dark-container]="theme.darkMode">

    <ion-card>
      <ion-card-header>
        <img src="assets/settings/icon/walletconnect.svg">
        <ion-card-title>{{ 'settings.wallet-connect-request-title' | translate }}</ion-card-title>
        <ion-card-subtitle>{{ 'settings.wallet-connect-request-des' | translate }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <div class="section" *ngIf="ethAccounts && ethAccounts.length === 0">
      <ion-row class="section-item-row wrong-network">
        <ion-col size="12">
          <p *ngIf="ethAccounts && ethAccounts.length === 0" class="section-no-address">
            {{ 'settings.wallet-connect-no-address' | translate }}
          </p>
        </ion-col>
      </ion-row>
    </div>

    <div class="section">
      <ion-row class="section-title-row">
        <ion-col size="12">
          <p>{{ 'settings.app-info' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-row class="section-item-row">
        <ion-col size="12">
          <h1>{{ 'settings.name' | translate }}</h1>
          <p>{{ sessionRequest.request.peerMeta.name }}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="sessionRequest.request.peerMeta.description" class="section-item-row">
        <ion-col size="12">
          <h1>{{ 'settings.description' | translate }}</h1>
          <p>{{ sessionRequest.request.peerMeta.description }}</p>
        </ion-col>
      </ion-row>
      <ion-row class="section-item-row">
        <ion-col size="12">
          <h1>{{ 'settings.url' | translate }}</h1>
          <p>{{ sessionRequest.request.peerMeta.url }}</p>
        </ion-col>
      </ion-row>
    </div>

    <div class="section" *ngIf="ethAccounts && ethAccounts.length > 0">
      <ion-row class="section-title-row">
        <ion-col size="12">
          <p>{{ 'settings.wallet-accounts' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let address of ethAccounts" class="section-item-row address-row">
        <ion-col size="12">
          <p>{{ address }}</p>
        </ion-col>
      </ion-row>
    </div>

    <ebutton (clicked)="openSession()" [title]="'settings.connect' | translate">
    </ebutton>
  </ion-grid>
</ion-content>