<ion-content class="lightmode" [class.darkmode]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-grid class="container" [class.dark-container]="theme.darkMode" *ngIf="nft">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <h1>NFT Overview</h1>
                <p *ngIf="todaysTransactions > 20">{{ 'wallet.coin-new-transactions-today' | translate:{ '20+': todaysTransactions} }}}</p>
                <p *ngIf="todaysTransactions <= 20">{{ 'wallet.coin-new-transactions-today' | translate:{todaysTransactions: todaysTransactions} }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="gray-card card-row">
            <ion-row class="card-label-row">
                <h1>
                    <span>{{ nft.type }} NFT: {{ nft.name }}</span>
                </h1>
                <h3 *ngIf="!refreshingAssets && nft.getAssets()"><b>{{ nft.getAssets().length }}</b> assets owned</h3>
            </ion-row>
            <!-- <ion-row class="card-btn-row">
                <ion-col offset="0.25" size="3">
                    <div class="ion-activatable btn-box" (click)="receiveFunds()">
                        <img class="receive" src="assets/wallet/buttons/receive.png">
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                    <p class="btn-label">{{ 'wallet.coin-action-receive' | translate }}</p>
                </ion-col>
            </ion-row> -->
            <div class="arrow-down"></div>
        </ion-row>
        <ion-row class="list-title-row">
            <h1>Assets</h1>
        </ion-row>
        <ion-row *ngIf="refreshingAssets">
            <ion-spinner></ion-spinner>
        </ion-row>
        <div *ngIf="!refreshingAssets && nft.getAssets()">
            <ion-row class="item-row ripple ion-activatable" *ngFor="let asset of nft.getAssets()" (click)="showAssetDetails(asset)">
                <ion-col size="2" class="left-col">
                    <div class="asset-icon">
                        <img [src]="getAssetIcon(asset)">
                    </div>
                </ion-col>
                <ion-col size="10" class="middle-col">
                    <div class="asset-name">{{ getDisplayableAssetName(asset) }}</div>
                    <p><b>Token ID</b>: {{ getDisplayableAssetID(asset) }}</p>
                </ion-col>
                <ion-col size="12" *ngIf="asset.description" class="asset-description">
                    <p>{{ asset.description }}</p>
                </ion-col>
            </ion-row>
        </div>
        <div class="empty-list" *ngIf="!refreshingAssets && !nft.getAssets()">
            <img src="assets/wallet/icons/warning.svg"/>
            <h2>Collectibles for this NFT type cannot be listed.</h2>
        </div>

        <!-- <ion-row class="list-title-row">
                <h1>{{ 'wallet.coin-transactions' | translate }}</h1>
        </ion-row> -->
        <div *ngIf="transferList.length > 0">
            <ion-row
                class="item-row ripple ion-activatable"
                *ngFor="let item of transferList"
                (click)="onItem(item)"
            >
                <ion-col size="2" class="left-col">
                    <div
                        class="icon-container"
                        [class.purple]="item.type === 1"
                        [class.black]="item.type === 2"
                        [class.orange]="item.type === 3"
                    >
                        <img [src]="item.payStatusIcon">
                    </div>
                </ion-col>
                <ion-col [size]="item.amount.isZero() ? 7 : 5" class="middle-col">
                    <h1>{{ item.name | translate }}</h1>
                    <p>{{ item.datetime }}</p>
                </ion-col>
                <ion-col [size]="item.amount.isZero() ? 3 : 5" class="right-col">
                    <h1>{{ item.symbol }}{{ uiService.getFixedBalance(item.amount) }}</h1>
                    <p *ngIf="subWallet.getAmountInExternalCurrency(item.amount)">
                        {{ item.symbol }}{{ subWallet.getAmountInExternalCurrency(item.amount) }}
                        {{ currencyService.selectedCurrency.symbol }}
                    </p>
                </ion-col>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-row>
        </div>
        <div class="empty-list" *ngIf="transactionsLoaded && (transferList.length === 0)">
            <img src="assets/wallet/icons/warning.svg"/>
            <h1>{{ 'wallet.coin-no-transactions' | translate }}</h1>
        </div>
        <!-- <div class="more" (click)="clickMore()" *ngIf="isShowMore">
            {{ 'wallet.click-to-load-more' | translate }}
        </div> -->
    </ion-grid>
</ion-content>
