<ion-content class="lightmode" [class.darkmode]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-grid class="container" [class.dark-container]="theme.darkMode" *ngIf="nft">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <h1>{{ 'wallet.nft-overview' | translate}}</h1>
            </ion-col>
        </ion-row>
        <ion-row class="card-row">
            <img class="blurred-network-logo" [src]="networkWallet.network.logo" />
            <ion-row class="card-label-row">
                <h1>
                    <span>{{ nft.type }} NFT: {{ nft.name }}</span>
                </h1>
                <h3 *ngIf="!refreshingAssets && nft.getAssets()"><b>{{ nft.getAssets().length }}</b> {{
                    'wallet.nft-assets-owned' | translate}}</h3>
            </ion-row>
        </ion-row>
        <ion-row class="list-title-row">
            <h1>{{ 'wallet.nft-assets' | translate }}</h1>

            <div *ngIf="refreshingAssets" class="refreshing-spinner">
              <ion-spinner></ion-spinner>
            </div>
        </ion-row>

        <div *ngIf="assets.length > 0">
            <ion-row class="item-row ripple ion-activatable" *ngFor="let asset of assets"
                (click)="showAssetDetails(asset)">
                <ion-col size="3" class="left-col">
                    <div class="asset-icon">
                        <div *ngIf="!hasRealAssetIcon(asset)" class="icon-container">
                            <div class="inline-svg" [inlineSVG]="getAssetIcon(asset)"></div>
                        </div>
                        <img *ngIf="hasRealAssetIcon(asset)" [src]="getAssetIcon(asset)">
                    </div>
                </ion-col>
                <ion-col size="9" class="middle-col">
                    <div class="asset-name">{{ getDisplayableAssetName(asset) }}</div>
                    <p><b>{{ 'wallet.nft-token-id' | translate }}</b>: {{ getDisplayableAssetID(asset) }}</p>
                </ion-col>
                <ion-col size="12" *ngIf="asset.description" class="asset-description">
                    <p>{{ getDisplayableAssetDescription(asset) }}</p>
                </ion-col>
            </ion-row>
        </div>
        <div class="empty-list" *ngIf="!refreshingAssets && assets.length === 0">
            <img src="assets/wallet/icons/warning.svg" />
            <h2>{{ 'wallet.nft-collectibles-cant-be-listed' | translate }}</h2>
        </div>
    </ion-grid>
</ion-content>