@import 'src/app/wallet/root.scss';

ion-grid {
    padding: 20px;
    min-height: 100%;

    ion-card {
        margin: 0;
        margin-bottom: 37.5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #ffffff;
        border-radius: 17px;
        padding: 15px 30px;

        .icon-container {
            width: 62.2px;
            height: 62.2px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ion-card-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.29;
            color: #000000;
            padding: 5px 5px 10px;
        }

        ion-card-subtitle {
            font-size: 26px;
            font-weight: 600;
            line-height: 1.21;
            letter-spacing: 0.7px;
            text-align: center;
            text-transform: none;
            color: #000000;
        }

        p {
            margin: 0;
            padding: 5px;
            font-weight: 800;
            font-size: 12px;
            letter-spacing: 0.9px;
            color: #2e2f4e;
        }

        .complete {
            color: #2dd36f;
        }
        .pending {
            color: #ffd534;
        }
        .incomplete {
            color: #f04141;
        }
    }

    .received {
        .icon-container {
            background-color: #620ad4;

            img {
                width: 42px;
                height: 29.5px;
            }
        }
    }

    .sent {
        .icon-container {
            background-color: #343434;

            img {
                width: 42px;
                height: 29.5px;
            }
        }
    }

    .transferred {
        .icon-container {
            background-color: #20e3d2;

            img {
                width: 28px;
                height: 12.4px;
            }
        }
    }

    .item-row {
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #ffffff;
        border-radius: 17px;
        padding: 10px 7.5px 10px 22.5px;
        margin-bottom: 7.5px;

        .title-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            h1 {
                margin: 0;
                font-size: 13px;
                font-weight: 600;
                line-height: 1.46;
            }

            ion-icon {
                height: 17px;
                width: 17px;
                color: #620ad4;
            }
        }

        .arrow-col {
            display: flex;
            justify-content: center;
            align-items: center;

            .rotate {
                transform: rotate(-180deg);
            }
        }

        .details-container {
            margin-bottom: 7.5px;
            width: 100%;

            .details-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0px 15px 0px 5px;
                overflow: hidden;

                h2 {
                    margin: 5px 0 0;
                    font-weight: 400;
                    font-size: 13px;
                    word-break: break-all;
                    color: #000000;
                    opacity: 0.7;
                    font-family: 'Inter' !important;
                }
            }
        }
    }
}

.dark-container {
    ion-card {
        background-color: #212021;
        box-shadow: none;

        ion-card-title, ion-card-subtitle {
            color: #ffffff;
        }
    }

    .item-row {
        background-color: #212021;
        box-shadow: none;

        .details-container {
            .details-row {
                h2 {
                    color: #ACACAC;
                    opacity: 1;
                }
            }
        }
    }
}
