@import "src/app/wallet/root.scss";

.item-row {
    background-color: var(--essentials-box-color);
    border-radius: 17px;
    padding: 10px 7.5px 10px 22.5px;
    margin-bottom: 7.5px;

    .title-col {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        h1 {
            margin: 0;
            font-size: 13px;
            font-weight: 600;
            line-height: 1.46;
        }

        ion-icon {
            height: 17px;
            width: 17px;
            color: var(--ion-text-color);
        }
    }

    .arrow-col {
        display: flex;
        justify-content: center;
        align-items: center;

        .rotate {
            transform: rotate(-180deg);
        }
    }

    .details-container {
        margin-bottom: 7.5px;
        width: 100%;

        .details-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px 15px 0px 5px;
            overflow: hidden;

            h2 {
                margin: 5px 0 0;
                font-weight: 300;
                font-size: 13px;
                word-break: break-all;
                font-family: "Inter" !important;
            }
        }
    }
}
