.summary {
  margin: 0;
  padding: 0 5px;

  h2 {
    font-size: 24px;
    font-weight: 800;
  }
}

.details {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 5px;
  border-bottom: 1px solid #f04141;

  h4 {
    font-size: 12px;
    font-weight: 700;
    margin: 16px 0;
  }

  p {
    font-size: 12px !important;
    font-weight: 600;
    margin: 16px;
    color: #868f96 !important;

    span {
      font-size: 20px;
      color: #f04141;
    }
  }
}

.overflow {
  border-bottom: 1px solid #f04141;
  margin: 0 5px;

  ion-row {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h4 {
      font-size: 12px;
      font-weight: 700;
      margin: 16px 0;
    }

    h5, p {
      font-size: 10px !important;
      font-weight: 600;
      margin: 0 0 16px;
    }

    p {
      color: #868f96 !important;
    }
  }
}
