<ion-row class="ion-padding-top">
  <ion-col size="12">
    <h4>Packet Hash</h4>
  </ion-col>
</ion-row>

<ion-row class="section">
  <ion-col size="12">
    <ion-item class="ion-text-center">
      <ion-input
        [(ngModel)]="hash"
        placeholder="Enter red packet hash"
        minlength="10"
        clearInput="true"
        type="text">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<div *ngIf="!seekingPacket" class="custom-btn ion-text-center" (click)="searchHash()">
  <ion-label>Seek Red Packet</ion-label>
</div>

<div *ngIf="seekingPacket" class="creatingPacket" disabled>
  <ion-spinner name="dots"></ion-spinner>
</div>

<div *ngIf="seekingPacket" class="ion-padding ion-margin ion-text-center">
  <ion-spinner name="crescent" color="danger"></ion-spinner>
</div>

<div *ngIf="packet && !seekingPacket">
  <ion-row class="ion-padding-top">
    <ion-col size="12" class="summary">
      <h2>Packet Details</h2>
    </ion-col>
  </ion-row>

  <ion-row class="details">
    <h4>Packet Hash</h4>
    <p (click)="copy(hash)">{{ hash }} <span><ion-icon name="copy"></ion-icon></span></p>
  </ion-row>

  <ion-row class="details">
    <h4>Created</h4>
    <p>{{ getTime(packet.packet_start_timestamp) }}</p>
  </ion-row>

  <ion-row class="details">
    <h4>Type</h4>
    <p>{{ getType(packet.packet_type) }}</p>
  </ion-row>

  <ion-row class="details">
    <h4>Packet Creator</h4>
    <p>{{ packet.packet_creator }}</p>
  </ion-row>

  <ion-row class="details">
    <h4>Amount of Packets</h4>
    <p>{{ packet.packet_num }}</p>
  </ion-row>

  <ion-row class="details">
    <h4>Amount of ELA</h4>
    <p>{{ packet.packet_amt }}</p>
  </ion-row>

  <ion-row class="details">
    <h4>Packets Claimed</h4>
    <p>{{ packet.packet_rcv_num }}</p>
  </ion-row>

  <ion-row class="details">
    <h4>ELA Claimed</h4>
    <p>{{ packet.packet_rcv_amt }}</p>
  </ion-row>

  <div class="overflow">
    <ion-row>
      <h4>Packet Note</h4>
    </ion-row>
    <ion-row>
      <p> {{ packet.packet_blessing }} </p>
    </ion-row>
  </div>

  <div *ngIf="packet.packet_rcver_details.length > 0" class="overflow ion-margin-horizontal">
    <ion-row>
      <h4>Claimed Receivers</h4>
    </ion-row>
    <ion-row *ngFor="let r of packet.packet_rcver_details">
      <h5> {{ r.name }} </h5>
      <p> {{ r.address }} </p>
    </ion-row>
  </div>

</div>


