<ion-content ngxDetectHideOnScroll scrollEvents [class.dark-container]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-grid class="container" *ngIf="asset">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <h1>{{ nft.name }}</h1>
                <p>{{ 'wallet.nft-asset-with-type' | translate : {type: nft.type} }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="card-row">
            <ion-row class="card-label-row">
                <div class="asset-icon">
                    <img [src]="getAssetIcon()">
                </div>

                <div class="info-block">
                    <div class="info-title">{{ 'wallet.nft-name' | translate }}</div>
                    <div class="info-value">{{ getDisplayableAssetName() }}</div>
                </div>

                <div class="info-block">
                    <div class="info-title">{{ 'wallet.nft-token-id' | translate }}</div>
                    <div class="info-value">{{ getDisplayableAssetID() }}</div>
                </div>

                <div class="info-block" *ngIf="asset.description">
                    <div class="info-title">{{ 'wallet.nft-description' | translate }}</div>
                    <div class="info-value asset-description">{{ asset.description }}</div>
                </div>
            </ion-row>
        </ion-row>

        <!-- Attributes -->
        <div class="card-row attributes" *ngIf="asset.attributes && asset.attributes.length > 0">
            <div class="title">{{ 'wallet.nft-attributes' | translate }}</div>

            <div class="attribute info-block" *ngFor="let attribute of asset.attributes">
                <div class="info-title">{{ attribute.trait_type }}</div>
                <div class="info-value asset-description">{{ getAttributeValue(attribute)}}</div>
            </div>
        </div>

        <!-- BPoS NFT -->
        <div class="card-row attributes" *ngIf="asset.bPoSNFTInfo">
          <div class="title">{{ 'wallet.nft-bpos-info' | translate }}</div>

          <div class="attribute info-block" *ngFor="let attribute of bposNFTInfos">
              <div class="info-title">{{ attribute.title }}</div>
              <div class="info-value asset-description">{{ attribute.value }}</div>
          </div>
      </div>
    </ion-grid>

    <div class="footer" ngxHideOnScroll *ngIf="nft && canSendReceive()">
        <ion-row class="card-btn-row">
          <ion-col [size]="getColumnSize()">
              <ebutton class="btn-box" (clicked)="sendNFT()" topicon="assets/wallet/buttons/curcol-send.svg"
                  [title]="'wallet.coin-action-send' | translate">
              </ebutton>
          </ion-col>
          <ion-col [size]="getColumnSize()">
              <ebutton class="btn-box" (clicked)="receiveNFT()" topicon="assets/wallet/buttons/curcol-receive.svg"
                  [title]="'wallet.coin-action-receive' | translate">
              </ebutton>
          </ion-col>
          <ion-col [size]="getColumnSize()" *ngIf="asset.bPoSNFTInfo">
            <ebutton class="btn-box" (clicked)="destroyBPoSNFT()" topicon="assets/wallet/buttons/curcol-cross.svg"
                [title]="'wallet.nft-destroy' | translate">
            </ebutton>
        </ion-col>
      </ion-row>
    </div>
</ion-content>