<ion-content ngxDetectHideOnScroll scrollEvents [class.dark-container]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-grid class="container" *ngIf="asset">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <h1>{{ nft.name }}</h1>
                <p>{{ 'wallet.nft-asset-with-type' | translate : {type: nft.type} }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="card-row">
            <ion-row class="card-label-row">
                <div class="asset-icon">
                    <img [src]="getAssetIcon()">
                </div>

                <div class="info-block">
                    <div class="info-title">Name</div>
                    <div class="info-value">{{ getDisplayableAssetName() }}</div>
                </div>

                <div class="info-block">
                    <div class="info-title">{{ 'wallet.nft-token-id' | translate }}</div>
                    <div class="info-value">{{ getDisplayableAssetID() }}</div>
                </div>

                <div class="info-block" *ngIf="asset.description">
                    <div class="info-title">Description</div>
                    <div class="info-value asset-description">{{ asset.description }}</div>
                </div>
            </ion-row>
        </ion-row>

        <!-- Attributes -->
        <div class="card-row attributes" *ngIf="asset.attributes && asset.attributes.length > 0">
            <div class="title">{{ 'wallet.nft-attributes' | translate }}</div>

            <div class="attribute info-block" *ngFor="let attribute of asset.attributes">
                <div class="info-title">{{ attribute.trait_type }}</div>
                <div class="info-value asset-description">{{ getAttributeValue(attribute)}}</div>
            </div>
        </div>
    </ion-grid>

    <div class="footer" ngxHideOnScroll *ngIf="nft && canSendReceive()">
        <ion-row class="card-btn-row">
            <ion-col [size]="6" (click)="sendNFT()">
                <div class="ion-activatable btn-box">
                    <img class="send"
                        [src]="theme.darkMode ? 'assets/wallet/buttons/darkmode/send.svg' : 'assets/wallet/buttons/send.svg'">
                    <p class="btn-label">{{ 'wallet.coin-action-send' | translate }}</p>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ion-col>
            <ion-col [size]="6">
                <div class="ion-activatable btn-box" (click)="receiveNFT()">
                    <img class="receive"
                        [src]="theme.darkMode ? 'assets/wallet/buttons/darkmode/receive.svg' : 'assets/wallet/buttons/receive.svg'">
                    <p class="btn-label">{{ 'wallet.coin-action-receive' | translate }}</p>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>