.widgets-container {
  padding-bottom: 240px;
}

.msg-container {
  p {
    margin-top: 30px;
  }
}

.add-widget-container {
  padding: 10px;
  margin-top: 30px;

  .input-row {
    border-radius: 16px;
    padding: 10px 15px;
    background: var(--essentials-box-color);
    border: solid 1px var(--essentials-border-separator-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-col {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-input {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.34px;
        text-align: left;
        --placeholder-opacity: 0.8;
      }
    }

    .right-col {
      ion-icon {
        width: 18px;
        height: 18px;
      }

      img {
        height: 15px;
      }
    }
  }
}

.footer {
  z-index: 20000;
  background: var(--ion-background-color);

  ion-row {
    ion-col {
      .cat-selector {
        background: var(--essentials-box-color);
        color: var(--ion-text-color);
        margin: 5px;
        border-radius: 5px;
        text-align: center;
        padding: 15px 5px;
        transition: all 0.3s ease;
        font-weight: 600;
        font-size: 14px;

        &.active {
          color: var(--ion-background-color);
          background: var(--ion-text-color);
        }
      }
    }
  }
}
