<ion-grid [class.darkContainer]="theme.darkMode">

  <h1>{{ "identity.my-identity-qr-code" | translate }}</h1>
  <div>
    <qrcode [qrdata]="qrCodeString" [size]="150"></qrcode>
  </div>
  <h2>{{ didString.slice(4,16) }}...{{ didString.slice(40,46) }}</h2>

  <ion-row class="footer">
    <ion-button color="tertiary"  (click)="copyDIDToClipboard()">
      <ion-label>{{ 'common.copy-to-clipboard' | translate }}</ion-label>
    </ion-button>
    <ion-button color="tertiary" (click)="hideModal()">
      <ion-label>{{ "common.back" | translate }}</ion-label>
    </ion-button>
  </ion-row>

</ion-grid>

<!-- <ion-grid [class.darkContainer]="theme.darkMode">
  <ion-row class="ion-text-center">
    <h1 class="title">{{ "my-identity-qr-code" | translate }}</h1>
  </ion-row>

  <ion-row>
    <div class="border">
      <qrcode [qrdata]="qrCodeString" [size]="150"></qrcode>
    </div>

  </ion-row>

  <ion-row class="ion-text-center ion-justify-content-center">
    <ion-col size="6">
      <span class="did">{{ didString }}</span>
    </ion-col>
    <ion-col size="2" class="copy">
      <img src="{{
          this.theme.darkMode
            ? '/assets/identity/svg/icon-feather-dark.svg'
            : '/assets/identity/svg/icon-feather.svg'
        }}" (click)="copyDIDToClipboard()" />
    </ion-col>
  </ion-row>

  <ion-row class="btn-row">
    <ion-button color="tertiary" (click)="hideModal()">
      <ion-label>{{ "back" | translate }}</ion-label>
    </ion-button>
  </ion-row>
</ion-grid> -->