<ion-grid [class.darkContainer]="theme.darkMode">

  <h1>{{ "identity.my-identity-qr-code" | translate }}</h1>
  <div>
    <qrcode [qrdata]="qrCodeString" [width]="200"></qrcode>
  </div>
  <h2>{{ didString.slice(4,16) }}...{{ didString.slice(40,46) }}</h2>

  <ion-row class="footer">
    <ebutton (clicked)="shareInvitationLink()" [title]="'common.share' | translate"> </ebutton>
    <ebutton (clicked)="copyDIDToClipboard()" [title]="'common.copy-to-clipboard' | translate"> </ebutton>
  </ion-row>

</ion-grid>