@import 'src/app/contacts/root.scss';


.container {
  height: 302px;
  background: #ffffff;
  border: 1.2px solid #f55555;
  border-radius: 12px;

  .delete-header {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 5px;
      font-size: 24px;
      font-weight: 700;
      color: #161740;
      font-family: 'Inter' !important;
    }
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8ff;
    height: 110px;
    overflow: hidden;

    p {
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #161740;
      font-family: 'Inter' !important;
    }
  }

  .btn-row {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: #f8f8ff;

      ion-label {
        font-size: 15px;
        font-weight: 500;
        color: #161740;
        font-family: 'Inter' !important;
      }
    }
  }
}

.darkContainer {
  background: #363636;

  .delete-header {
    h1 {
      color: #fdfeff;
    }
  }

  .message {
    background: #212021;

    p {
      color: #fdfeff;
    }
  }

  .btn-row {
    .btn {
      background: #212021;

      ion-label {
        color: #fdfeff;
      }
    }
  }
}

