@import 'src/app/identity/root.scss';

.container {
  padding: 25px;
  background: #ffffff;

  .header-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 10px;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.5px;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  .btn-row {
    padding-top: 20px;
    width: 100%;

    ion-button {
      height: 50px;
      width: 100%;
      --background: linear-gradient(to bottom, #732dcf, #640fd4);
      --border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.1px;
    }
  }
}

.darkContainer {
  background: #262641;

  div {
    margin: 30px 0 10px;
  }

  h1, h2 {
    color: #ffffff;
  }
}