ul {
    margin: 0;
    display: flex;
    padding-left: 0;
    list-style-type: none;
}

li {
    margin-top: 0;

    div {
        display: block;
        line-height: 40px;
        width: 9px;
        height: 15px;
        border-radius: 4px;
        opacity: 0.8;
    }
}

li + li {
    margin-left: 4px;
}

.abstain {
    background-color: #3b3b3b;
}

.approve {
    background-color: #00de73;
}

.reject {
    background-color: #fc3e36;
}

.blank {
    background-color: var(--essentials-box-color);
}

.ratio {
    font-size: 13px;
    padding-left: 6px;
}
