@import "src/app/wallet/root.scss";

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px 10px;
    background-image: url("/assets/wallet/background/intent.svg");
    object-fit: cover;
    justify-content: center;

    ion-card {
        position: relative;
        margin: 50px 10px 30px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 15px 0 #ededf0;
        border-radius: 15px;
        padding: 25px 15px 30px;
        overflow: visible;

        img {
            width: 116px;
            height: 95px;
            position: absolute;
            z-index: 10;
            top: -47.5px;
            object-fit: contain;
        }

        ion-card-title {
            font-size: 21px;
            font-weight: 600;
            line-height: 1.29;
            color: #2e2f4e;
            margin: 40px 15px 10px;
        }

        ion-card-subtitle {
            text-align: center;
            text-transform: none;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.46;
            color: #161740;
            margin: 0 15px;
        }
    }

    .network-row {
        border-radius: 17px;
        padding: 5px 10px;
        margin-bottom: 7.5px;
        background-color: transparent;

        ion-col {
            display: flex;
            align-items: center;
        }

        .left-col {
            justify-content: center;

            img {
                width: 35px;
                height: 35px;
            }

            h1 {
                margin: 0 0 0 10px;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.7px;
                text-align: left;
            }
        }
    }

    .msg-container {
        padding: 20px 20px 5px;

        p,
        h1 {
            text-align: center;
            font-weight: 500;
        }

        p {
            margin: 0;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.25;
        }

        h1 {
            margin: 15px 0 30px;
            font-size: 22px;
            letter-spacing: 0.55px;

            span {
                font-size: 33px;
                font-weight: 700;
                line-height: 1.21;
                letter-spacing: 0.83px;
            }
        }

        ion-row {
            margin: 0;
            font-size: 12px;
            line-height: 1.25;
            align-items: center;

            div {
                text-align: right;
            }

            .div_center {
                text-align: center;
            }

            span {
                text-align: right;
                font-weight: 700;
                font-size: 18px;
            }
        }

        .price {
            text-align: left;
        }

        .edit-gas-col {
            display: flex;
        }

        .edit-gas-row {
            background: transparent;
            border-radius: 10px;
            margin-top: 0px;
            margin-bottom: 10px;

            .title {
                font-weight: 600;
                text-align: left;
                display: flex;
                justify-content: flex-end;
                height: 100%;
                min-height: 100%;
            }

            ion-input {
                --background: rgba(0, 0, 0, 0.1);
                height: 30px;
                margin-top: 10px;
            }
        }
    }

    .btn {
        height: 47px;
        width: 46.5%;
        position: fixed;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        ion-label {
            font-size: 17px;
            font-weight: 500;
        }
    }

    .cancel {
        left: 2%;
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #ffffff;

        ion-label {
            color: #000000;
        }
    }

    .confirm {
        right: 2%;
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #6e23d0;

        ion-label {
            color: #ffffff;
        }
    }

    .expand {
        right: 2%;
        width: 96%;
        overflow: visible;

        h3 {
            position: absolute;
            top: -45px;
            font-size: 13px;
            line-height: 1.46;
            color: #c79dff;
            font-weight: 500;
            text-align: center;
        }
    }
}

.dark-container {
    background-image: url("/assets/wallet/background/darkmode/intent.svg");

    ion-card {
        background: #2e2f4e;
        box-shadow: 0 3px 15px 0 #151626;

        ion-card-title {
            color: #ffffff;
        }

        ion-card-subtitle {
            color: #cfd1f7;
        }
    }

    .cancel {
        box-shadow: 0 3px 6px 0 #151626;
        background-color: #202039;

        ion-label {
            color: #ffffff;
        }
    }

    .confirm {
        box-shadow: 0 3px 15px 0 #151626;
    }

    .msg-container {
        .edit-gas-row {
            background: rgba(255, 255, 255, 0.2);
            margin-top: 10px;

            ion-input {
                --background: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

/* @import "../../../../functions.scss";

.text-right {
    text-align: right;
}
.bottom-border {
    border-bottom: 1px solid #dddddd;
}
.top-border {
    border-top: 1px solid #dddddd;
}
.font-size-1 {
    font-size: 16px;
}

ion-note {
    font-size: 12px;
}

ion-icon {
    margin-left: px2rem(20px);
    width: px2rem(32px);
    height: px2rem(32px);
}

.intro {
    font-size: 2em;
    margin:14vw;
}

.number-of-idchain {
    font-size: 1.7em;
    margin-top: 20px;
}

.number-of-idchain-value {
    font-weight: bold;
    font-size: 2.2em;
    margin: 5px;
}

.notes {
    margin-top: 5vh;
}

.note {
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.2em;
}

.note-entry {
    margin-bottom:10px;
} */
