<app-titlebar title="about"></app-titlebar>
<ion-content padding>
    <div id="logo">
        <img src="assets/wallet/images/logo.png" />
        <div>{{('version'|translate) + version}}</div>
    </div>
    <ion-list lines="none">
        <ion-item>
            <ion-label>spvsdk</ion-label>
            <ion-note slot="end">{{spvVersion}}</ion-note>
        </ion-item>
        <!-- <ion-item>
            <ion-label>commit</ion-label>
            <ion-note slot="end">{{commitVersion}}</ion-note>
        </ion-item> -->
        <ion-item detail (click)="goWebsite()">
            <ion-label>
                <h2>{{'website'|translate}}</h2>
                <p>www.elastos.org</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>