<ion-content>
    <app-titlebar></app-titlebar>

    <div [class.darkContainer]="theme.darkMode">
        <ion-list>
            <ion-row class="profile-data" *ngIf="member.didName">
                <ion-col>
                    <h5>{{ 'crcouncilvoting.member-name' | translate }}</h5>
                    <h4>{{ member.didName }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="member.did">
                <ion-col>
                    <h5>{{ 'crcouncilvoting.member-did' | translate }}</h5>
                    <h4>{{ member.did }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data">
                <ion-col>
                    <h5>{{ 'crproposalvoting.vote-number' | translate }}</h5>
                    <h5 id="max-votes-label">
                        <span>{{ 'crproposalvoting.max-votes-pre' | translate }}</span>
                        <span>{{ maxVotes }}</span>
                        <span>{{ 'crproposalvoting.max-votes-suf' | translate }}</span>
                    </h5>
                </ion-col>
                <ion-col class="right-col">
                    <ion-row>
                        <ion-input id="max-votes" type="number" name="amount" ngDefaultControl [(ngModel)]="amount">
                        </ion-input>
                    </ion-row>
                    <ion-row>
                        <div id="votes-buttons">
                            <div (click)="click0()">0</div>
                            <div id="max-button" (click)="clickMax()">{{ 'common.max' | translate}}</div>
                        </div>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-list>

        <div *ngIf="signingAndTransacting">
            <ion-spinner></ion-spinner>
        </div>

        <ion-footer *ngIf="!signingAndTransacting">
            <ion-row>
                <ion-col class="left-col">
                    <ebutton mode="cancel" id="cancel" (clicked)="cancel()" [title]="'common.cancel' | translate">
                    </ebutton>
                </ion-col>
                <ion-col class="right-col">
                    <ebutton id="confirm" (clicked)="goTransaction()" [title]="'common.confirm' | translate"></ebutton>
                </ion-col>
            </ion-row>
        </ion-footer>
    </div>

</ion-content>