<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="container ion-text-center ion-padding">
    <h1>Public packets</h1>
    <!-- <div *ngIf="fetchingPublicPackets">
      <ion-spinner></ion-spinner>
    </div> -->
    <div>
      <div *ngIf="publicPackets.length > 0">
        <packet-preview *ngFor="let packet of publicPackets" [packet]="packet" (click)="openPacket(packet)">
        </packet-preview>
      </div>
      <p *ngIf="publicPackets.length === 0">No public packet so far. What about creating your own?</p>
    </div>

    <div class="about">
      <div class="icon-container">
        <img src="assets/redpackets/images/packets.png" class="icon" />
        <div class="glow"></div>
      </div>

      <h1>About red packets</h1>

      <p>Traditionally used in China to celebrate special occasions and share happiness among friends,
        red packets are derived from this idea in Elastos Essentials to celebrate, but also to create entertainment for
        crypto communities.</p>

      <p>Red packets introduce much more fun compared to “airdrops”, as luck and reactivity are involved.</p>
    </div>
  </ion-grid>
</ion-content>