<ion-content>


    <ion-grid class="container ion-no-padding">
      <ion-row class="wallet-row">
          <ion-col size="2" class="color-col">
              <div class="inline-svg" inlineSVG="/assets/wallet/settings/curcol-wallet.svg"></div>
          </ion-col>
          <ion-col size="8.5" class="left-col">
              <!-- ngFor: Hack to get a netWallet variable -->
              <div class="wallet-name">{{ networkWallet.masterWallet.name }}</div>
              <div class="wallet-amount">
                  <h4 *ngIf="!currencyService.useCurrency">{{
                      WalletUtil.getWholeBalance(networkWallet.getDisplayBalance()) }}<span class="dot"
                          *ngIf="!networkWallet.getDisplayBalance().isZero() && WalletUtil.getDecimalBalance(networkWallet.getDisplayBalance())">.</span>
                      <span>{{ WalletUtil.getDecimalBalance(networkWallet.getDisplayBalance(),
                        networkWallet.getDecimalPlaces())
                          }}</span>
                      <span>{{ networkWallet.getDisplayTokenName() }}</span>
                  </h4>
                  <h4 *ngIf="currencyService.useCurrency">{{
                      WalletUtil.getWholeBalance(networkWallet.getDisplayBalanceInActiveCurrency())
                      }}<span class="dot"
                          *ngIf="!networkWallet.getDisplayBalance().isZero() && WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(networkWallet.getDisplayBalance()))">.</span>
                      <span>{{
                          WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(networkWallet.getDisplayBalance()))
                          }}</span>
                      <span> {{ currencyService.selectedCurrency.symbol }}</span>
                  </h4>
              </div>
          </ion-col>
          <ion-ripple-effect></ion-ripple-effect>
      </ion-row>

      <ion-row *ngFor="let walletAddress of addresses" class="address-row ion-activatable ripple">
          <ion-col size="1.5">
              <p> {{ getAddressTitle(walletAddress.addressType) }}</p>
          </ion-col>
          <ion-col size="10.5">
              <p>{{ walletAddress.address }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="info" [class.dark-wallet-container]="theme.darkMode">
      <h1>{{ 'identity.wallet-credential-info' | translate }}</h1>
    </div>

</ion-content>

<ion-footer class="ion-no-border" [class.lightmode]="!theme.darkMode" [class.darkmode]="theme.darkMode">
    <ion-row>
      <ion-col class="left-col">
          <ebutton mode="cancel" class="btn-container" id="cancel" (clicked)="cancelOperation()"
              [title]="'common.cancel' | translate"> </ebutton>
      </ion-col>
      <ion-col class="right-col">
          <ebutton class="btn-container" id="confirm" (clicked)="confirm()"
              [title]="'common.confirm' | translate"> </ebutton>
      </ion-col>
  </ion-row>
</ion-footer>