@import "src/app/wallet/root.scss";

.container {
  padding: 50px 15px 10px;
}

.wallet-row {
  border-radius: 17px;
  padding: 5px 10px;
  margin-bottom: 32px;
  background-color: var(--essentials-box-color);

  ion-col {
    display: flex;
    align-items: center;
  }

  .color-col {
    justify-content: center;

    .inline-svg {
      width: 24px;
      height: 24px;
    }
  }

  .left-col {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    img {
      width: 35px;
      height: 35px;
    }

    .wallet-name {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.7px;
    }

    .wallet-amount {
      h4 {
        font-size: 13px;
        font-weight: 300;
        margin: 0;
        margin-top: 5px;
      }
    }
  }
}

.address-row {
  border-radius: 17px;
  padding: 5px 10px;
  margin-bottom: 7.5px;
  background-color: var(--essentials-box-color);
  border: 1px solid var(--essentials-border-separator-color);

  ion-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: normal;

    p {
      width: 100%;
      font-size: 11px;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-self: center;

  h1 {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 20px 15px 5px;
  }
}
