<ion-content>
  <ion-grid class="ion-text-center" [class.dark-process-container]="theme.darkMode">
    <ion-row>
      <ion-col size="12">
        <ion-label>
          <h1>{{ 'wallet.network-switch-component-title' | translate }}</h1>
          <br />
          <p>{{ 'wallet.network-switch-component-intro' | translate }}</p>
        </ion-label>

        <ion-row class="networks">
          <ion-col size="5" class="network">
            <img [src]="currentNetwork.logo">
            <ion-label>{{ currentNetwork.name }}</ion-label>
          </ion-col>
          <ion-col size="2" class="arrow">
            <img class="arrow-icon"
              [src]="!theme.darkMode ? 'assets/wallet/icons/right-arrow.svg' : 'assets/wallet/icons/darkmode/right-arrow.svg'">
          </ion-col>
          <ion-col size="5" class="network">
            <img [src]="elastosNetwork.logo">
            <ion-label>{{ elastosNetwork.name }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="footer">
    <ion-button color="tertiary" (click)="switchNetwork()">
      {{ 'wallet.network-switch-component-confirm' | translate }}
    </ion-button>
  </div>
</ion-content>