<?xml version='1.0' encoding='utf-8'?>
<plugin id="elastos-essentials-plugin-internal" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Internal</name>
    <js-module name="Internal" src="www/internal.js">
        <clobbers target="internalManager" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="InternalManager">
                <param name="android-package" value="org.elastos.essentials.plugins.internal.InternalPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/InternalPlugin.java" target-dir="src/org/elastos/essentials/plugins/internal" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="InternalManager">
                <param name="ios-package" value="InternalPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/InternalPlugin.swift" />
    </platform>

    <hook src="hooks/before_plugin_install/build_ts.js" type="before_plugin_install" />
</plugin>