<ion-content>
    <div class="main-container" [class.dark-container]="theme.darkMode">
        <div class="terms-container">
            <img src="assets/crcouncilvoting/icon/terms.svg" />

            <div class="title">{{ 'crcouncilvoting.terms-title' | translate }}</div>

            <div class="scrolling-content" [innerHtml]="'crcouncilvoting.registration-terms' | translate">
            </div>

            <ion-row class="btn-row">
                <ion-col class="left-col">
                    <ebutton mode="cancel" (clicked)="cancel()" [title]="'common.cancel' | translate"> </ebutton>
                </ion-col>
                <ion-col class="right-col" color="success">
                    <ebutton (clicked)="accept()" [title]="'common.accept' | translate"></ebutton>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>