<ion-content>
    <div class="main-container" [class.dark-container]="theme.darkMode">
        <div class="terms-container">
            <img src="assets/crcouncilvoting/icon/terms.svg" />

            <div class="title">Terms of Service</div>

            <div class="scrolling-content" [innerHtml]="'crcouncilvoting.registration-terms' | translate">
            </div>

            <ion-row class="btn-row">
                <ion-col class="left-col">
                    <ion-button class="std-secondary-button" (click)="cancel()">
                        {{ 'common.cancel' | translate }}
                    </ion-button>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col class="right-col" color="success">
                    <ion-button class="std-action-button" (click)="accept()">
                        {{ 'common.accept' | translate }}
                    </ion-button>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>