
@import "src/app/voting/dposregistration/root.scss";

.main-container {
    display:flex;
    height:100%;
    align-items: center;

    .terms-container {
        margin: 20px;
        max-height: 85vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background:#FFFFFF;
        border: solid 1px #EEE;

        img {
            height: 40px;
            margin: 15px;
        }

        .title {
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
        }

        .scrolling-content {
            margin-top: 10px;
            overflow-y: scroll;
            padding: 10px;

            p {
                font-size:14px;

                .index {
                    font-weight: 800;
                    font-size: 1.2em;
                    margin-right: 5px;
                }
            }
        }

        .btn-row {
            ion-button {
                width: 100%;
            }

            .left-col {
                ion-button{
                    --ion-color-base: #EEEEEE !important;
                }
            }
        }
    }

    &.dark-container {
        color: white;

        .terms-container {
            background: #212021;
            border: none;

            .scrolling-content {

            }

            .btn-row {
                .left-col {
                    ion-button{
                        --ion-color-base: #2C2C2C !important;
                        --ion-color-shade: #4C4C4C !important;
                        --ion-color-contrast: white !important;
                    }
                }
            }
        }
    }
}