@import "src/app/contacts/root.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  min-height: 100%;

  .profile-container {
    background: var(--essentials-box-color);
    width: 90vw;
    border-radius: 12px;

    .img-row {
      display: flex;
      justify-content: center;

      img {
        height: 84px;
        width: 84px;
        margin-top: -42px;
        border-radius: 50%;
        box-shadow: 3px 3px 8px var(--essentials-border-separator-color);
        overflow: hidden;
        // border: 1.75px solid #4620b0;
      }

      .profile-img {
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
      }
    }

    .profile-name {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        margin: 15px;
        font-size: 22px;
        font-weight: 600;
        text-align: center;

        span {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .message {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 110px;
      overflow: hidden;

      p {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #161740;
        font-family: "Inter" !important;
      }
    }

    .btn-row {
      height: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .btn {
        width: 45%;
        height: 45px;
      }
    }
  }
}
