<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="ion-text-center container">
    <ion-row class="txt-container">
      <ion-textarea row=5 placeholder="{{ 'wallet.paste-privatekey' | translate }}" [(ngModel)]="privatekey" mode="ios">
      </ion-textarea>
      <ebutton (clicked)="pasteFromClipboard()" [title]="'wallet.paste' | translate"> </ebutton>
    </ion-row>
    <ion-row class="password-row" *ngIf="contentIsJsonObj">
      <ion-input type="password" name="backupPassword" ngDefaultControl
        placeholder="{{ 'wallet.keystore-backup-password' | translate }}" [(ngModel)]="keystoreBackupPassword">
      </ion-input>
    </ion-row>
    <ion-row class="prompt-row">
      <h1>{{ 'wallet.import-wallet-by-privatekey-info' | translate }}</h1>
      <!-- <h1>{{ 'wallet.import-wallet-by-keystore-info' | translate }}</h1> -->
    </ion-row>
    <ion-row class="btn-container">
      <ebutton [disabled]='!inputPrivatKeyCompleted()' (clicked)="onImport()"
        [title]="'wallet.import-wallet' | translate">
      </ebutton>
    </ion-row>
  </ion-grid>
</ion-content>