@import "src/app/didsessions/root.scss";

.container {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  .item {
    width: 100%;
    border-bottom: 1px solid #eaeaea;

    .id-col,
    .checkbox-col {
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h2 {
        margin: 0;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.2px;
      }

      p {
        margin: 0;
        margin-top: 2.5px;
        font-size: 10px;
        font-weight: 500;
        opacity: 0.7;
      }
    }

    .checkbox-col {
      align-items: flex-end;

      ion-checkbox {
        --border-color: var(--ion-text-color);
        --border-color-checked: var(--ion-text-color);
        --border-width: 1.5px;
        --checkmark-color: var(--ion-text-color);
        --background-checked: transparent !important;
      }
    }
  }
}

.dark-container {
  .item {
    border-bottom: 1px solid #464646;
  }
}
