.container {
    min-height: 100%;
    padding: 15px;
    padding-bottom: 15%;
    text-align: left;

    .no-favorite {
        text-align: center;
        margin: 10px;
    }

    .header-row {
        padding: 15px 5px 0;
        margin-bottom: 0;

        ion-col {
            padding-left: 0;
            padding-right: 0;

            h1 {
                font-size: 30px;
                font-weight: 600;
                line-height: 0.93;
                text-align: left;
                margin: 0 0 7.5px;
            }

            h2,
            h3 {
                font-size: 18px;
                opacity: 0.7;
                font-weight: 600;
            }

            h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

            h3 {
                margin: 0 0 15px 0;
                font-size: 16px;
                font-weight: 300;
            }
        }

        .network-col {
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .network-logo,
            .toggle {
                height: 16px;
            }

            .network-logo {
                margin-right: 5px;
            }

            .toggle {
                margin-left: 5px;
            }
        }
    }

    .no-in-app-notice-row {
        background-color: var(--essentials-box-color);
        padding: 5px;

        .icon {
            img {
                width: 100%;
            }
        }

        .main {
            .heading {
                font-weight: 600;
                margin-bottom: 5px;
            }
            .notice {
                margin-bottom: 5px;
            }
        }

        .close {
            justify-content: flex-end;
            align-items: flex-start;
            display: flex;

            img {
                width: 24px;
            }
        }
    }

    .fav-header,
    .other-apps-header {
        margin-bottom: 15px;
    }

    .dapp-row {
        margin-bottom: 10px;
        border-radius: 17px;
        font-weight: 500;
        padding: 10px;
        background-color: var(--essentials-box-color);

        .left-col {
            align-items: center;
            display: flex;
            align-self: start;
            flex-direction: column-reverse;

            .icon-container {
                align-items: center;
                justify-content: center;
                display: flex;
                background: var(--essentials-box-color);
                width: 50px;
                height: 50px;
                border-radius: 30%;
                overflow: hidden;
                border: solid 2px var(--essentials-border-separator-color);

                img {
                    max-width: 100%;
                    max-height: 100%;
                    border: 0;
                    padding: 0;
                }
            }
        }

        .middle-col {
            padding-left: 10px;
            display: flex;
            align-items: center;

            .title {
                font-size: 14px;
                margin-bottom: 3px;
                font-weight: 600;
            }

            .description {
                font-size: 12px;
                font-weight: 300;
            }
        }

        .right-col {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            img {
                width: 30px;
                height: 30px;
                padding: 8px;
                opacity: 0.6;

                &.active {
                    opacity: 1;
                }
            }
        }
    }

    .no-dapp-row {
        text-align: center;
        margin: 10px;
    }
}

.spinner-container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-spinner {
        transform: scale(2);
    }
}
