<ion-content class="ion-text-center">
    <browser-titlebar (urlChanged)="onUrlInput($event)" [attr.disabled]="iabRunning"></browser-titlebar>
    <ion-grid *ngIf="!iabRunning" class="container" [class.dark-container]="theme.darkMode">

        <ion-row class="header-row">
            <ion-col size="12">
                <h1>Discover dApps</h1>
                <h2>Central place to find Essentials-compatible dApps.</h2>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let app of dApps" class="dapp-row" (click)="onDAppClicked(app)">
            <ion-col class="left-col" size="2">
                <div class="icon-container">
                    <img [src]="app.icon">
                </div>
            </ion-col>
            <ion-col class="mid-col" offset="0.2" size="8">
                <ion-label>
                    <div class="title">{{ app.title }}</div>
                    <div class="description">{{ app.description }}</div>
                </ion-label>
            </ion-col>
            <ion-col class="right-col" size="1.8">
                <img
                    [src]="!theme.darkMode ? '/assets/launcher/icons/right-arrow.svg' : '/assets/launcher/icons/dark_mode/right-arrow.svg'">
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-grid *ngIf="iabRunning" class="spinner-container">
        <ion-spinner name="crescent"></ion-spinner>
    </ion-grid>

</ion-content>