<ion-content class="ion-text-center">
    <browser-titlebar (urlChanged)="onUrlInput($event)" [attr.disabled]="dabRunning"></browser-titlebar>
    <ion-grid *ngIf="!dabRunning" class="container" [class.dark-container]="theme.darkMode">

        <ion-row class="header-row">
            <ion-col size="12">
                <h1>{{ 'dappbrowser.home-header' | translate }}</h1>
                <h3>{{ 'dappbrowser.home-intro' | translate }}</h3>
            </ion-col>
        </ion-row>

        <ion-row class="header-row fav-header">
            <ion-col size="6">
                <h2>{{ 'dappbrowser.favorites' | translate }}</h2>
            </ion-col>
            <ion-col size="6" class="network-col" (click)="pickNetwork()">
                <img class="network-logo" [src]="walletNetworkService.activeNetwork.value.logo">
                {{ walletNetworkService.activeNetwork.value.name }}
                <img class="toggle"
                    [src]="!theme.darkMode ? 'assets/wallet/icons/change-wallet.svg' : 'assets/wallet/icons/darkmode/change-wallet.svg'">
            </ion-col>
        </ion-row>

        <p *ngIf="favorites.length == 0" class="no-favorite">
            {{ 'dappbrowser.no-favorite' | translate:{networkName: walletNetworkService.activeNetwork.value.name} }}
        </p>
        <div *ngIf="favorites.length > 0">
            <ion-row *ngFor="let favorite of favorites" class="dapp-row ripple ion-activatable"
                (click)="openFavorite(favorite)">
                <ion-col class="left-col" size="2">
                    <div class="icon-container">
                        <img [src]="favorite.iconUrl">
                    </div>
                </ion-col>
                <ion-col class="middle-col" size="8">
                    <ion-label>
                        <div class="title">{{favorite.name}}</div>
                        <div class="description">{{getShortFavoriteDescription(favorite)}}</div>
                    </ion-label>
                </ion-col>
                <ion-col class="right-col" size="2">
                    <img class="next"
                        [src]="!theme.darkMode ? '/assets/browser/icons/right-arrow.svg' : '/assets/browser/icons/dark_mode/right-arrow.svg'">
                    <img class="settings" src="/assets/browser/icons/settings.svg"
                        (click)="openFavoriteSettings($event, favorite)" />
                </ion-col>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-row>
        </div>

        <ion-row class="header-row other-apps-header">
            <ion-col size="6">
                <h2>{{ 'dappbrowser.home-other-dapps' | translate }}</h2>
            </ion-col>
            <ion-col size="6" class="network-col" (click)="pickNetwork()">
                <img class="network-logo" [src]="walletNetworkService.activeNetwork.value.logo">
                {{ walletNetworkService.activeNetwork.value.name }}
                <img class="toggle"
                    [src]="!theme.darkMode ? 'assets/wallet/icons/change-wallet.svg' : 'assets/wallet/icons/darkmode/change-wallet.svg'">
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let app of dApps" class="dapp-row ripple ion-activatable" (click)="onDAppClicked(app)">
            <ion-col class="left-col" size="2">
                <div class="icon-container">
                    <img [src]="app.icon">
                </div>
            </ion-col>
            <ion-col class="middle-col" size="8">
                <ion-label>
                    <div class="title">{{ app.title }}</div>
                    <div class="description">{{ app.description }}</div>
                </ion-label>
            </ion-col>
            <ion-col class="right-col" size="2">
                <img *ngIf="!app.useExternalBrowser"
                    [src]="!theme.darkMode ? '/assets/browser/icons/right-arrow.svg' : '/assets/browser/icons/dark_mode/right-arrow.svg'">
                <img *ngIf="app.useExternalBrowser"
                    [src]="!theme.darkMode ? '/assets/browser/icons/icon-external-link.svg' : '/assets/browser/icons/dark_mode/icon-external-link.svg'">
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>

        <ion-grid *ngIf="dApps.length == 0" class="no-dapp-row">
            {{ 'dappbrowser.home-no-other-dapp' | translate }}
        </ion-grid>
    </ion-grid>

    <ion-grid *ngIf="dabRunning" class="spinner-container">
        <ion-spinner name="crescent"></ion-spinner>
    </ion-grid>
</ion-content>