.container {
    min-height: 100%;
    padding: 15px;
    padding-bottom: 15%;
    text-align: left;

    .no-favorite {
        text-align: center;
        margin: 10px;
    }

    .header-row {
        padding: 15px 5px 0;
        margin-bottom: 0;

        ion-col {
            padding-left: 0;
            padding-right: 0;

            h1 {
                font-size: 30px;
                font-weight: 600;
                line-height: 0.93;
                text-align: left;
                margin: 0 0 7.5px;
            }

            h2,
            h3 {
                font-size: 18px;
                color: #000000;
                opacity: 0.7;
                font-weight: 600;
            }

            h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

            h3 {
                margin: 0 0 15px 0;
                font-size: 14px;
            }
        }

        .network-col {
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: #1c1c1c;

            .network-logo,
            .toggle {
                height: 16px;
            }

            .network-logo {
                margin-right: 5px;
            }

            .toggle {
                margin-left: 5px;
            }
        }
    }

    .fav-header,
    .other-apps-header {
        margin-bottom: 15px;
    }

    .dapp-row {
        margin-bottom: 10px;
        border-radius: 17px;
        font-weight: 500;
        padding: 10px;
        background-color: #ffffff;
        box-shadow: 0 3px 15px 0 #ededf0;

        .left-col {
            align-items: center;
            display: flex;
            flex-direction: column-reverse;

            .icon-container {
                align-items: center;
                justify-content: center;
                display: flex;
                background: #fff;
                width: 50px;
                height: 50px;
                border-radius: 30%;
                overflow: hidden;
                border: solid 2px white;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    border: 0;
                    padding: 0;
                }
            }
        }

        .middle-col {
            padding-left: 10px;
            display: flex;
            align-items: center;

            .title {
                font-size: 14px;
                margin-bottom: 3px;
                font-weight: 600;
            }

            .description {
                font-size: 10px;
                color: #000000;
                opacity: 0.7;
            }
        }

        .right-col {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 30px;
                height: 30px;
                padding: 8px;
            }
        }
    }

    .no-dapp-row {
        text-align: center;
        margin: 10px;
    }
}

.dark-container {
    .header-row {
        ion-col {
            h2,
            h3 {
                color: #9d9d9d;
                opacity: 1;
            }
        }

        .network-col {
            color: #acacac;
        }
    }

    .dapp-row {
        background-color: #212021;
        box-shadow: none;

        .middle-col {
            .description {
                color: #acacac;
                opacity: 1;
            }
        }
    }
}

.spinner-container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-spinner {
        transform: scale(2);
    }
}
