<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid *ngIf="wrongTargetDID" class="container wrong-target" [class.dark-container]="theme.darkMode">
    <p>Sorry, the credential you are trying to import is not for this identity.</p>
  </ion-grid>

  <ion-grid *ngIf="preliminaryChecksCompleted && !wrongTargetDID" class="container" [class.dark-container]="theme.darkMode">
    <!-- HEADER -->
    <div *ngIf="receivedIntent">
      <ion-row class="header-row">
        <img [src]="getDappIcon()">
        <!-- Temporarily removed as we don't get the info
           <h1>{{ 'identity.credential-import-from' | translate }}</h1>
           <h2 *ngIf="requestDapp">{{ getDisplayableIssuer().slice(0,25) }} <br> {{ getDisplayableIssuer().slice(25,50) }}</h2> -->
      </ion-row>
    </div>

    <div class="msg-container">
      <p class="first-msg">{{ 'identity.credimport-intro' | translate }}</p>
      <p><b>NOTE: The application is requesting to publish the credentials. They will become part of your public DID profile.</b></p>
      <p>{{ 'identity.credimport-intro2' | translate }}</p>
    </div>

    <div *ngFor="let credential of displayableCredentials">
      <ion-row class="data-container" *ngFor="let entry of credential.values">
        <div class="data-header" (click)="entry.showData = !entry.showData">
          <p>{{ didService.getUserFriendlyBasicProfileKeyName(entry.name)}}</p>
          <img *ngIf="!entry.showData" src="/assets/identity/lightmode/down-arrow.svg">
          <img *ngIf="entry.showData" src="/assets/identity/lightmode/up-arrow.svg">
        </div>
        <div *ngIf="entry.showData">
          <h5>{{ getDisplayableEntryValue(entry.value) }}</h5>
        </div>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!wrongTargetDID" [class.blur]="popup" [class.lightmode]="!theme.darkMode" [class.darkmode]="theme.darkMode">
  <div
    class="button ion-activatable ripple"
    [ngStyle]="{ 'background': requestDappColor, 'box-shadow': '0 1px 5px 0.1px' + requestDappColor }"
    (click)="!accepting && !popup ? acceptRequest() : rejectRequest()"
  >
    <ion-label *ngIf="!accepting && !forceToPublishCredentials">{{ 'identity.accept' | translate }}</ion-label>
    <ion-label *ngIf="!accepting && forceToPublishCredentials">{{ 'identity.accept-and-publish' | translate }}</ion-label>
    <ion-spinner *ngIf="accepting" name="crescent"></ion-spinner>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-footer>

<ion-footer *ngIf="wrongTargetDID" [class.lightmode]="!theme.darkMode" [class.darkmode]="theme.darkMode">
  <div
    class="button ion-activatable ripple"
    [ngStyle]="{ 'background': requestDappColor, 'box-shadow': '0 1px 5px 0.1px' + requestDappColor }"
    (click)="rejectRequest()"
  >
    <ion-label>{{ 'common.close' | translate }}</ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-footer>