<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid *ngIf="preliminaryChecksCompleted" class="container" [class.dark-container]="theme.darkMode">
    <ion-card>
      <img src="assets/identity/default/securityWarning.svg">
      <ion-card-title>{{ 'identity.credential-import-from' | translate }}</ion-card-title>
      <ion-card-subtitle *ngIf="requestDapp">{{ getDisplayableIssuer().slice(0,25) }} <br> {{ getDisplayableIssuer().slice(25,50) }}</ion-card-subtitle>
    </ion-card>

    <div class="msg-container">
      <p class="first-msg">{{ 'identity.credimport-intro' | translate }}</p>
      <p>{{ 'identity.credimport-intro2' | translate }}</p>
    </div>

    <div *ngFor="let credential of displayableCredentials">
      <ion-row class="data-container" *ngFor="let entry of credential.values">
        <div class="data-header" (click)="entry.showData = !entry.showData">
          <p>{{ didService.getUserFriendlyBasicProfileKeyName(entry.name)}}</p>
          <img *ngIf="!entry.showData" src="/assets/identity/lightmode/down-arrow.svg">
          <img *ngIf="entry.showData" src="/assets/identity/lightmode/up-arrow.svg">
        </div>
        <div *ngIf="entry.showData">
          <h5>{{ getDisplayableEntryValue(entry.value) }}</h5>
        </div>
      </ion-row>
    </div>

    <ion-row class="btn-container" (click)="acceptRequest()">
      <ion-button color="tertiary">
        <ion-label>{{ 'identity.accept' | translate }}</ion-label>
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>
