<ion-content class="lightmode" [class.darkmode]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-content ngxDetectHideOnScroll scrollEvents class="intersection-container">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
            </ion-refresher-content>
        </ion-refresher>

        <ion-grid class="container">
            <ion-row class="main-title-row">
                <ion-col size="12">
                    <h1>{{ getSubwalletTitle() }}</h1>
                    <p>{{ 'wallet.coin-new-transactions-today' |
                        translate:{todaysTransactions: todaysTransactions} }}</p>
                </ion-col>
            </ion-row>
            <ion-row [class]="getSubwalletClass()">
                <ion-row class="card-label-row">
                    <h3>{{ 'wallet.coin-balance' | translate }}</h3>
                    <div (click)="!chainIsERC20() ? currencyService.toggleCurrencyDisplay() : null">
                        <h4 *ngIf="!currencyService.useCurrency || chainIsERC20()" class="bigFont"
                            [class.smallFont]="useSmallFont()">{{
                            WalletUtil.getWholeBalance(networkWallet.subWallets[subWalletId].getDisplayBalance())
                            }}<span class="dot"
                                *ngIf="!networkWallet.subWallets[subWalletId].getDisplayBalance().isZero() && !networkWallet.subWallets[subWalletId].getDisplayBalance().isNaN() && WalletUtil.getDecimalBalance(networkWallet.subWallets[subWalletId].getDisplayBalance())">.</span>
                            <span class="decimals">{{
                                WalletUtil.getDecimalBalance(networkWallet.subWallets[subWalletId].getDisplayBalance(),
                                networkWallet.getDecimalPlaces())
                                }}</span>
                            <span class="ela"> {{ getCoinBalanceCurrency() }}</span>
                        </h4>
                        <h4 *ngIf="currencyService.useCurrency && !chainIsERC20()" class="bigFont"
                            [class.smallFont]="useSmallFont()">{{
                            WalletUtil.getWholeBalance(currencyService.getMainTokenValue(networkWallet.subWallets[subWalletId].getDisplayBalance()))
                            }}<span class="dot"
                                *ngIf="!networkWallet.subWallets[subWalletId].getDisplayBalance().isZero() && !networkWallet.subWallets[subWalletId].getDisplayBalance().isNaN() && WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(networkWallet.subWallets[subWalletId].getDisplayBalance()))">.</span>
                            <span class="decimals">{{
                                WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(networkWallet.subWallets[subWalletId].getDisplayBalance()))
                                }}</span>
                            <span class="ela"> {{ currencyService.selectedCurrency.symbol }}</span>
                        </h4>
                    </div>
                </ion-row>
                <div class="arrow-down"></div>
            </ion-row>

            <!-- Transactions list header -->
            <ion-row class="list-title-row">
                <ion-col class="title-col" [size]="hasInternalTransactions ? 6 : 12"
                    [class.active]="transactionListType == 0" (click)="setTransactionListType(0)">
                    <h1>{{ 'wallet.coin-transactions' | translate }}</h1>
                </ion-col>

                <ion-col *ngIf="hasInternalTransactions" class="title-col" size="6"
                    [class.active]="transactionListType == 1" (click)="setTransactionListType(1)">
                    <h1>{{ 'wallet.coin-internal-transactions' | translate }}</h1>
                </ion-col>
                <!-- <ion-col *ngIf="shouldShowLoadingSpinner" class="spinner-col" size="12">
                    <ion-spinner name="dots"></ion-spinner>
                </ion-col> -->
            </ion-row>

            <!-- List of transactions -->
            <div *ngIf="transactionsLoaded && offlineTransactions.length > 0">
                <ion-row class="item-row ripple ion-activatable" *ngFor="let offlineTx of offlineTransactions"
                    (click)="onOfflineTransactionItem(offlineTx)">
                    <ion-col size="2" class="left-col">
                        <div class="icon-container orange">
                            <img src="./assets/wallet/buttons/transfer.png">
                        </div>
                    </ion-col>
                    <ion-col size="10" class="middle-col">
                        <h1>{{ getOfflineTransactionTitle(offlineTx) }}</h1>
                        <p>{{ getOfflineTransactionDate(offlineTx) }}</p>
                    </ion-col>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-row>
            </div>

            <div *ngIf="transactionsLoaded && transferList.length > 0">
                <ion-row class="item-row ripple ion-activatable" *ngFor="let item of transferList"
                    (click)="onItem(item)">
                    <ion-col size="2" class="left-col">
                        <div class="icon-container" [class.purple]="(item.type === 1) && !item.isRedPacket"
                            [class.redpacket]="(item.type === 1) && item.isRedPacket" [class.black]="item.type === 2"
                            [class.orange]="item.type === 3">
                            <img [src]="item.payStatusIcon">
                        </div>
                    </ion-col>
                    <ion-col [size]="item.amount.isZero() ? 7 : 5" class="middle-col">
                        <h1>{{ getTransactionTitle(item) }}</h1>

                        <!-- TMP TEST -->
                        <h1 *ngFor="let event of getContractEvents(item)">* {{ event.description }}</h1>

                        <p class="memo" *ngIf="item.memo">{{ item.memo }}</p>
                        <p>{{ item.datetime }}</p>
                    </ion-col>
                    <ion-col [size]="item.amount.isZero() ? 3 : 5" class="right-col">
                        <h1>{{ item.symbol }}{{ uiService.getFixedBalance(item.amount) }}</h1>
                        <p *ngIf="subWallet.getAmountInExternalCurrency(item.amount)">
                            {{ item.symbol }}{{ subWallet.getAmountInExternalCurrency(item.amount) }}
                            {{ currencyService.selectedCurrency.symbol }}
                        </p>
                    </ion-col>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-row>
            </div>

            <!-- Empty transactions list -->
            <div class="empty-list" *ngIf="transactionsLoaded && transferList.length === 0">
                <img src="assets/wallet/icons/warning.svg" />
                <h1>{{ 'wallet.coin-no-transactions' | translate }}</h1>
            </div>

            <!-- Used to detect when user reaches the screen bottom to load more transactions -->
            <div #fetchmoretrigger></div>
            <ion-row class="list-title-row" *ngIf="canFetchMore && shouldShowLoadingSpinner">
                <ion-col class="spinner-col" size="12">
                    <ion-spinner id="fetching-more-spinner" name="dots"></ion-spinner>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>

    <div class="footer" ngxHideOnScroll *ngIf="subWallet">
        <img class="action-toggle" (click)="toggleShowAllActions()" *ngIf="shouldShowAllActionsToggle()"
            [src]="shouldShowAllActions ? 'assets/wallet/icons/down-arrow-large.svg' : 'assets/wallet/icons/up-arrow-large.svg'">
        <ion-row class="card-btn-row">
            <ion-col [size]="transfersColumnSize()" *ngIf="coinCanBeTransferred()">
                <div class="ion-activatable btn-box" (click)="transferFunds()">
                    <img class="transfer"
                        [src]="theme.darkMode ? 'assets/wallet/buttons/darkmode/transfer.svg' : 'assets/wallet/buttons/transfer.svg'">
                    <p *ngIf="chainIsELA()" class="btn-label">{{ 'wallet.coin-action-recharge' | translate }}</p>
                    <p *ngIf="!chainIsELA()" class="btn-label">{{ 'wallet.coin-action-withdraw' | translate }}</p>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ion-col>
            <ion-col [size]="transfersColumnSize()" (click)="sendFunds()">
                <div class="ion-activatable btn-box">
                    <img class="send"
                        [src]="theme.darkMode ? 'assets/wallet/buttons/darkmode/send.svg' : 'assets/wallet/buttons/send.svg'">
                    <p class="btn-label">{{ 'wallet.coin-action-send' | translate }}</p>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ion-col>
            <ion-col [size]="transfersColumnSize()">
                <div class="ion-activatable btn-box" (click)="receiveFunds()">
                    <img class="receive"
                        [src]="theme.darkMode ? 'assets/wallet/buttons/darkmode/receive.svg' : 'assets/wallet/buttons/receive.svg'">
                    <p class="btn-label">{{ 'wallet.coin-action-receive' | translate }}</p>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="card-btn-row" *ngIf="shouldShowAllActions && canEarnSwapOrBridge()">
            <ion-col size="4" *ngIf="canEarn()">
                <div class="ion-activatable btn-box" (click)="earn($event, subWallet)">
                    <img
                        [src]="theme.darkMode ? 'assets/wallet/buttons/darkmode/earn.svg' : 'assets/wallet/buttons/earn.svg'">
                    <p class="btn-label">{{ 'wallet.earn' | translate }}</p>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ion-col>
            <ion-col size="4" *ngIf="canSwap()">
                <div class="ion-activatable btn-box" (click)="swap($event, subWallet)">
                    <img
                        [src]="theme.darkMode ? 'assets/wallet/buttons/darkmode/swap.svg' : 'assets/wallet/buttons/swap.svg'">
                    <p class="btn-label">{{ 'wallet.swap' | translate }}</p>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ion-col>
            <ion-col size="4" *ngIf="canBridge()">
                <div class="ion-activatable btn-box" (click)="bridge($event, subWallet)">
                    <img
                        [src]="theme.darkMode ? 'assets/wallet/buttons/darkmode/bridge.svg' : 'assets/wallet/buttons/bridge.svg'">
                    <p class="btn-label">{{ 'wallet.bridge' | translate }}</p>
                    <ion-ripple-effect></ion-ripple-effect>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>