@import "src/app/wallet/root.scss";

ion-slides {
    min-height: 100%;
}

ion-slide {
    padding: 15px 7.5px;
}

.updateprogress {
    margin-bottom: 5px;
    text-align: center;
}

.single-slide {
    padding: 15px 20px;
}

ion-slide,
.single-slide {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;

    .card-label-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;

        .overview-img {
            margin-bottom: 20px;
            position: relative;

            img {
                width: 60px;
                height: 60px;
            }

            .glow {
                background-image: radial-gradient(circle, rgba(128, 82, 255, 0.2) 0%, rgba(128, 82, 255, 0) 70%);
                width: 120px;
                height: 120px;
                border-radius: 100%;
                position: absolute;
                top: -10px;
                z-index: -1;
                left: -26px;
            }
        }

        .title {
            margin-bottom: 10px;
            font-size: 20;
        }

        .bigFont {
            font-size: 34px;
            font-weight: 600;
        }

        .smallFont {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .subwallet-row {
        padding: 7px;
        background-color: var(--essentials-box-color);

        .left-title,
        .stake-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
            text-align: left;
            padding-left: 10px;
            margin-bottom: 10px;

            h1,
            p {
                margin: 0;
            }

            h1 {
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.7px;
            }

            p {
                font-size: 13px;
                font-weight: 400;
                padding: 3px 0 0;
            }

            .net-count {
                font-size: 12px;
            }
        }

        .stake-title {
            margin-bottom: 0px;
        }

        .img {
            display: flex;
            align-items: center;
            justify-content: center;

            .arrow-icon {
                height: 16px;
                width: 16px;
            }
        }
    }

    .network-row {
        border-radius: 10px;
        padding: 7px;
        background: var(--ion-background-color);

        .left-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
            text-align: left;
            padding-left: 10px;

            h1,
            p {
                margin: 0;
            }

            h1 {
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.7px;
            }

            h2 {
                margin-top: 5px;
                margin-bottom: 0;
            }

            p {
                font-size: 13px;
                font-weight: 400;
                padding: 3px 0 0;
            }
        }
    }

    .network-row:not(:last-child) {
        margin-bottom: 8px;
    }

    .collectibles-title {
        margin-top: 9.5px;
    }

    .staked-assets-provider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        align-items: center;

        img {
            height: 30px;
            margin-top: 5px;
        }
    }
}

.sticky-btn {
    position: sticky;
    top: 10px;
    left: 7.5%;
    width: 85%;
    z-index: 10;

    ion-icon {
        color: white;
    }
}

.dark-slide {
    .card-label-row {
        .overview-img {
            .glow {
                background-image: radial-gradient(circle, rgba(128, 82, 255, 0.5) 0%, rgba(128, 82, 255, 0) 70%);
            }
        }
    }
}
