<ion-content class="lightmode" [class.darkmode]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-content>
        <ion-grid class="single-slide" [class.dark-slide]="theme.darkMode" [class.blur]="native.popup">
            <!-- Grand total -->
            <ion-row class="card-label-row">
                <div class="overview-img">
                    <div class="inline-svg" inlineSVG="/assets/wallet/settings/curcol-wallet.svg"></div>
                </div>
                <div class='title'>{{ 'wallet.total-amount' | translate }}</div>
                <div class="bigFont" *ngIf="totalAmount.length <= 8">{{ totalAmount }}
                    <span class="ela">{{ currencyService.selectedCurrency.symbol }}</span>
                </div>
                <div class="smallFont" *ngIf="totalAmount.length > 8">{{ totalAmount }}
                    <span class="ela">{{ currencyService.selectedCurrency.symbol }}</span>
                </div>
            </ion-row>

            <!-- update progress -->
            <ion-row class="update-progress-row" *ngIf="getUpdatingProgressInfo() != '100'">
                <p class='updateprogress'> {{ 'wallet.refresh-refreshing-text' | translate }} {{ getUpdatingProgressInfo() }}% </p>
            </ion-row>

            <!-- Wallets list -->
            <ion-row *ngFor="let netWallet of assetsInfo" class="subwallet-row"
                [class.dark-subwallet-row]="theme.darkMode">
                <!-- Wallet total -->
                <ion-col [size]="6" class="left-title">
                    <h1>{{ netWallet.name }}</h1>
                    <p class="net-count">{{ 'wallet.wallet-asset-networks-count' | translate:{networksCount:
                        netWallet.networks.length} }}</p>
                </ion-col>
                <ion-col [size]="5" class="right-col">
                    <h1>
                        {{ netWallet.balanceString }}
                        <span> {{ currencyService.selectedCurrency.symbol }}</span>
                    </h1>
                </ion-col>
                <ion-col size="1" class='img' (click)="netWallet.show = ! netWallet.show">
                    <img class="arrow-icon"
                        [src]="theme.darkMode ? 'assets/wallet/icons/down-arrow-white.svg' : 'assets/wallet/icons/down-arrow.svg'">
                </ion-col>

                <!-- Networks list in a wallet -->
                <div *ngIf="netWallet.show">
                    <ion-row class="network-row" *ngFor="let network of netWallet.networks">
                        <ion-col [size]="12" class="left-title">
                            <h1>{{ network.name }}</h1>
                            <h2>
                                {{ network.balanceString }}
                                <span> {{ currencyService.selectedCurrency.symbol }}</span>
                            </h2>
                        </ion-col>
                        <!-- Subwallets / tokens -->
                        <ion-row class="subwallet-row" [class.dark-subwallet-row]="theme.darkMode"
                            *ngFor="let subWallet of network.subWallets">
                            <ion-col size="2" class="left-col">
                                <div class="icon-container">
                                    <img [src]="subWallet.getMainIcon()">
                                    <div *ngIf="subWallet.getSecondaryIcon()" class="ela-icon">
                                        <img [src]="subWallet.getSecondaryIcon()" />
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col [size]="5" class="middle-col">
                                <h1>{{ uiService.getSubwalletTitle(subWallet) }}</h1>
                                <p>{{ uiService.getSubwalletSubtitle(subWallet) }}</p>
                            </ion-col>
                            <ion-col [size]="5" class="right-col">
                                <p>
                                    {{ subWallet.getAmountInExternalCurrency(subWallet.getDisplayBalance()) }}
                                    {{ currencyService.selectedCurrency.symbol }}
                                </p>
                            </ion-col>
                        </ion-row>

                        <!-- Staked assets -->
                        <ion-col [size]="12" class="stake-title" *ngIf="network.stakedBalance">
                            <p>
                                {{ 'wallet.staking-assets' | translate }}
                            </p>
                        </ion-col>

                        <ion-row class="subwallet-row" [class.dark-subwallet-row]="theme.darkMode" *ngIf="network.stakedBalance">
                          <ion-col size="2" class="left-col">
                              <div class="icon-container">
                                  <img [src]="network.logo">
                              </div>
                          </ion-col>
                          <ion-col [size]="5" class="middle-col">
                              <h1>{{ network.name }}</h1>
                              <!-- <p>{{ uiService.getSubwalletSubtitle(subWallet) }}</p> -->
                          </ion-col>
                          <ion-col [size]="5" class="right-col">
                              <p>
                                  {{ network.stakedBalanceString }}
                                  {{ currencyService.selectedCurrency.symbol }}
                              </p>
                          </ion-col>
                        </ion-row>

                        <!-- staking assets from tin network -->
                        <!-- <ion-col [size]="12" class="stake-title" *ngIf="network.stakingData.length">
                            <p>
                                {{ 'wallet.staking-assets' | translate }}
                            </p>
                        </ion-col>

                        <ion-row class="subwallet-row" [class.dark-subwallet-row]="theme.darkMode"
                            *ngFor="let stakingAsset of network.stakingData">
                            <ion-col size="2" class="left-col">
                                <div class="icon-container">
                                    <img [src]="stakingAsset.farmIconUrl"
                                        [src-fallback]="getDefaultStakedAssetIcon(network)">
                                </div>
                            </ion-col>
                            <ion-col [size]="5" class="middle-col">
                                <h1>{{ stakingAsset.farmName }}</h1>
                            </ion-col>
                            <ion-col [size]="5" class="right-col">
                                <p>
                                    {{ usdToCurrencyAmount(stakingAsset.amountUSD) }}
                                    {{ currencyService.selectedCurrency.symbol }}
                                </p>
                            </ion-col>
                        </ion-row> -->
                    </ion-row>
                </div>
            </ion-row>

            <!-- Staked assets provider credit-->
            <!-- <ion-row class="staked-assets-provider" (click)="openStakedAssetsProvider()">
                <div class="intro">{{ 'wallet.staked-assets-info-by' | translate }}</div>
                <img
                    [src]="theme.darkMode ? 'assets/wallet/earn/darkmode/tinnetwork.png' : 'assets/wallet/earn/tinnetwork.png'" />
            </ion-row> -->
        </ion-grid>
    </ion-content>
</ion-content>