@import "src/app/identity/root.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;

  .app-icon {
    justify-content: center;

    ion-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  ion-card {
    margin: 0;
    background: var(--essentials-box-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    box-shadow: none;

    img {
      margin-top: 2.5px;
      width: 56px;
      height: 56px;
    }

    ion-card-title {
      font-size: 21px;
      font-weight: 600;
      line-height: 1.29;
      margin: 15px 15px 10px;
    }

    ion-card-subtitle {
      text-transform: none;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.46;
      margin: 0 15px 15px;
    }
  }

  .msg-container {
    padding: 20px 20px 5px;

    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      text-align: center;
    }

    .first-msg {
      margin-bottom: 20px;
    }
  }

  .data-container {
    background-color: var(--essentials-box-color);
    border-radius: 15px;
    padding: 0px 20px;
    margin-bottom: 7.5px;
    overflow: hidden;

    .data-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.46;
        text-align: left;
      }
    }

    h5 {
      margin: 0 0 10px;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.46;
      text-align: left;
    }
  }
}

ion-footer {
  padding: 30px 20px;

  ion-grid {
    width: 100%;
  }

  ebutton {
    width: 90%;
  }
}
