<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid *ngIf="preliminaryChecksCompleted" class="container" [class.dark-container]="theme.darkMode">
    <ion-card>
      <img src="assets/identity/default/securityWarning.svg">
      <ion-card-title>{{ 'identity.appidcredential-package-id' | translate }}</ion-card-title>
      <ion-card-subtitle *ngIf="requestDapp">{{ requestDapp.appPackageId }}</ion-card-subtitle>
    </ion-card>

    <div class="msg-container">
      <p class="first-msg">{{ 'identity.appidcredissue-intro' | translate }}</p>
    </div>

    <ion-row class="data-container">
      <div class="data-header" (click)="showAppInstanceDid = !showAppInstanceDid">
        <p>{{ 'identity.app-instancedid' | translate }}</p>
        <img *ngIf="!showAppInstanceDid" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="showAppInstanceDid" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="showAppInstanceDid">
        {{ displayableCredential.appinstancedid.slice(0,25) }} <br>
        {{ displayableCredential.appinstancedid.slice(25,50) }}
        </h5>
    </ion-row>

    <ion-row class="data-container">
      <div class="data-header" (click)="showAppDID = !showAppDID">
        <p>{{ 'identity.app-did' | translate }}</p>
        <img *ngIf="!showAppDID" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="showAppDID" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="showAppDID">
        {{ displayableCredential.appdid.slice(0,25) }} <br>
        {{ displayableCredential.appdid.slice(25,50) }}
      </h5>
    </ion-row>

    <ion-row class="data-container">
      <div class="data-header" (click)="showExpiration = !showExpiration">
        <p>{{ 'identity.expire' | translate }}</p>
        <img *ngIf="!showExpiration" src="/assets/identity/lightmode/down-arrow.svg">
        <img *ngIf="showExpiration" src="/assets/identity/lightmode/up-arrow.svg">
      </div>
      <h5 *ngIf="showExpiration">{{ displayableCredential.expirationDate.toLocaleString() }}</h5>
    </ion-row>

    <ion-row class="btn-container" (click)="acceptRequest()">
      <ion-button color="tertiary">
        <ion-label>{{ 'identity.accept' | translate }}</ion-label>
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>
