<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container ion-no-padding ion-no-margin" [class.darkContainer]="theme.darkMode">
         <p>{{ 'crcouncilmanager.node-publickey' | translate }}</p>
         <ion-row>
             <ion-input
                 type="text"
                 name="publickey" ngDefaultControl
                 [placeholder]="'crcouncilmanager.node-publickey' | translate"
                 [(ngModel)]="nodePublicKey">
             </ion-input>
         </ion-row>

        <ion-row>
            <ion-button color="success" (click)="goTransaction()">
                {{ 'common.confirm' | translate }}
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>