@import "../../root.scss";

:host {
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  background: #212021;

  .captcha-container {
    width: 100%;
    padding: 10px;
  }

  ion-input {
    background: #353235;
    border-radius: 7px;
    height: 47px;
    max-height: 47px;
    padding: 11px 10px;
    margin: 15px 0;
    --padding-start: 10px;
    --padding-end: 10px;
  }

  .grab-buttons {
    display: flex;
    justify-content: center;

    ion-button {
      box-sizing: border-box;
      border-radius: 15px;
      width: 50%;
      overflow: hidden;

      &.button-cancel {
        opacity: 0.7;
        margin-right: 10px;
      }
    }
  }
}

.captcha-holder {
  backdrop-filter: blur(30px);
  border-radius: 10px;
}
