<ion-content>
  <div class="container flex-column-container">
    <div class="captcha-container">
      <div class="captcha-holder">
        <ion-img [src]="captchaPicture"></ion-img>
      </div>
      <ion-input type="string"
                 placeholder="Enter the Captcha to Open Packet"
                 required=true
                 [(ngModel)]="captchaString" ngDefaultControl></ion-input>

      <div class="grab-buttons">
        <ion-button class="button-cancel" (click)="closeModal()">{{ 'redpackets.cancel' | translate }}</ion-button>
        <ion-button class="button-confirm" (click)="testCaptcha()">{{ 'redpackets.grab-packet' | translate }}</ion-button>
      </div>
    </div>
  </div>
</ion-content>
