.container {
    background: var(--essentials-box-color);
}

.suggestions {
    display: flex;
    padding: 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    align-content: flex-start;

    .word {
        margin: 5px;
        min-width: 30px;
        border-radius: 3px;
        padding: 5px;
        font-size: 14px;
        transition: 0.4s all ease;
    }

    .word:active {
        opacity: 0.5;
    }
}

.ongoing {
    color: inherit;
    font-size: 11px;
    height: 16px;
    justify-content: center;
    align-items: center;
    display: flex;

    .clear {
        margin-left: 5px;
        margin-right: 5px;
        height: 12px;
        width: 12px;
    }
}

.previous {
    display: flex;

    img {
        margin-right: 5px;
    }

    .delete {
        text-align: left;
    }
}

.keypad {
    padding: 10px;

    .letter-line {
        display: flex;
        justify-content: center;

        .letter {
            background: var(--ion-background-color);
            padding: 5px;
            width: 10vw;
            height: 40px; // Must remain in fixed px because the mnemonic dialog is also in fixed px
            margin: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s all ease;
        }

        .letter:active {
            opacity: 0.5;
        }
    }
}

.last-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .languages {
        display: flex;
        align-items: center;
        justify-content: center;

        .lang {
            img {
                width: 38px;
                height: 23px;
                margin: 8px;
            }
        }

        .selected {
            background: var(--ion-background-color);
        }
    }

    .right {
        display: flex;
        width: 70px;

        ion-icon {
            width: 30px;
            height: 20px;
            margin-left: 10px;
        }
    }
}
