@import "src/app/vote/root.scss";

ion-row {
    background-color: #ffffff;
}

ion-list {
    background-color: #ffffff;
}

ion-col {
    margin: 0px;
}

.id-row {
    margin-top: 29px;
    .avatar {
        width: 68px;
        height: 68px;
    }

    .name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    .location {
        color: #acacac;
    }

    .status {
        min-width: 68px;
        text-align: center;
        padding: 5px 10px;
        border-radius: 10px;
        height: 22;
        font-size: 10px;
        font-weight: 600;

    }

    .elected {
        color: #000000;
        background-color: #74ffde;
    }

    .impeached {
        color: #FFFFFF;
        background-color: #7B6700;
    }

    .returned {
        color: #FFFFFF;
        background-color: #7774FF;
    }

    .terminated {
        color: #FFFFFF;
        background-color: #BC1212;
    }

    .inactive {
        color: #808080;
        background-color: #ECECEC;
    }

    .active {
        color: #000000;
        background-color: #74ffde;
    }

    .illegal {
        color: #FFFFFF;
        background-color: #BC1212;
    }

    .expired {
        color: #000000;
        border: 1px solid #C4C4C4;
    }
}

.impeachment-row {
    margin-top: 24px;
    height: 153px;
    border-radius: 21px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fe;

    .progress-container {
        padding-left: 10px !important;
    }

    .progress-wrapper {
        width: 102px;
        height: 102px;

        .ratio {
            position: absolute;
            top: 50%;
            bottom: auto;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        round-progress {
            width: 100% !important;
            height: 100% !important;
        }
    }

    ion-row {
        background-color: #f5f7fe;
    }

    #impeachemnt-title {
        margin-top: 0px;
        font-weight: 600;
        font-size: 18px;
    }

    h4 {
        font-weight: 500;
        font-size: 14px;
    }
}

ion-segment {
    margin-top: 24px;
    padding: 7px 5px;
    height: 47px;
    color: #ffffff;
    background-color: #f5f7fe;

    ion-segment-button {
        color: #732cce;

        font-weight: bold;
        font-size: 14px;
        line-height: 142%;
    }
}

.voteResult {
    padding: 5px 10px;
    border-radius: 6px;
    height: 22;
    font-size: 10px;
}

.support {
    color: #00B978;
    background-color: rgba(96, 206, 180, 0.15);
}

.reject {
    color: #FF3838;
    background-color: #FFEAEA;
}

.abstention {
    color: #FFFFFF;
    background-color: #282828;
}

.undecided {
    color: #CCCCCC;
    background-color: rgba(96, 206, 180, 0.15);
}

.footer-space {
    background-color: #ffffff;
    height: 113px;
    width: 100%;
}

.darkContainer {
    ion-row {
        background-color: #121212;
    }

    ion-list {
        background-color: #121212;
    }

    .id-row {
        .impeached {
            background-color: #7B6800;
        }

        .inactive {
            color: #545454;
            background-color: #ECECEC;
        }

        .expired {
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
        }
    }

    .impeachment-row {
        background-color: #212021;
        ion-row {
            background-color: #212021;
        }
    }

    ion-segment {
        color: #474747;
        background-color: #252525;

        ion-segment-button {
            color: #ffffff;
        }
    }

    .support {
        color: #27D89A;
        background-color: rgba(116, 255, 222, 0.15);
    }

    .reject {
        color: #FF7474;
        background-color: #4E1616;
    }

    .undecided {
        color: #F8F8F8;
        background-color: #545454;
    }

    .footer-space {
        background-color: #121212;
    }


}
