
<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="!proposalDetailsFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="proposalDetailsFetched" [class.darkContainer]="theme.darkMode">

        <div class="message">{{ 'crproposalvoting.review-proposal-msg' | translate }}</div>
        <ion-list>
            <ion-row class="profile-data" *ngIf="proposalDetails.title">
                <ion-col>
                    <h5>{{ 'common.title' | translate }}</h5>
                    <h4>{{ proposalDetails.title }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data"
                *ngIf="reviewProposalCommand.data.proposalHash">
                <ion-col>
                    <h5>{{ 'crproposalvoting.proposal-hash' | translate }}</h5>
                    <h4>{{ reviewProposalCommand.data.proposalHash }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="voteResult">
                <ion-col>
                    <h5>{{ 'crproposalvoting.vote-result' | translate }}</h5>
                    <h4>{{ 'crproposalvoting.' + voteResult  | translate }}</h4>
                </ion-col>
            </ion-row>
        </ion-list>

        <ion-row class="btn-container" *ngIf="!signingAndSendingSuggestionResponse">
            <ion-col class="left-col">
                <ion-button color="light" (click)="cancel()">
                    {{ 'common.cancel' | translate }}
                </ion-button>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
            <ion-col class="right-col" color="success">
                <ion-button color="success" (click)="signAndCreateProposal()">
                    {{ 'common.confirm' | translate }}
                </ion-button>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
        <div *ngIf="signingAndSendingSuggestionResponse">
            <ion-spinner></ion-spinner>
        </div>
    </div>
</ion-content>





