@import "src/app/crproposalvoting/root.scss";

ion-grid {
    padding: 0;
  
    ion-card {
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0.1px 1px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding: 20px 30px;
    
        ion-card-title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            word-break: break-all;
            letter-spacing: -0.5px;

            span {
                font-size: 15px;
                font-weight: 500;
            }
        }
    
        ion-card-subtitle {
            font-size: 12px;
            font-weight: 600;
            color: black;
            text-align: center;
            text-transform: none;
            padding: 10px 0 5px;
        }

        p {
            margin: 0;
            font-weight: 700;
            font-size: 10px;
            letter-spacing: 0.9px;
            color: #666666;
        }

        .active {
            color: #ffc409;
        }

        .final {
            color: #2dd36f;
        }
        
        .rejected {
            color: #f04141;
        }
    }
    
    .section-row {
        box-shadow: 0 0.1px 1px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding: 10px 10px 10px 22.5px;
        margin-bottom: 2px;

        ion-col {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.46;
            }

            .rotate {
                transform: rotate(-180deg);
            }
        }

        .details-col {
            padding-top: 0;

            div, pre {
                margin: 10px 0;
                font-weight: 400;
                font-size: 12px;
                white-space: pre-wrap;
                word-wrap: break-word;
                font-family: 'Inter' !important;
            }

            .url:active  {
                color: #428cff;
            }
        }
    }

    .tab-container {
        margin: 15px;
        border-radius: 5px;
        background: #ececf3;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .tab {
            padding: 12px 6px;
            width: 32%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1.05px;
                text-align: center;
                color: #8889b1;
                
                span {
                    font-weight: 500;
                    font-size: 10px;
                }
            }
        }

        .right-tab {
            width: 36%;
        }

        .tab-active {
            background: #565bdb;
            border-radius: 5px;
            transform: scale(1.1);
            box-shadow: 0px 15px 25px 0 #d9dbff;

            p {
                color: #ffffff;
                font-weight: 800;
            }
        }
    }
}

.darkContainer {
    ion-card {
        background: #212021;
        box-shadow: none;

        ion-card-title, ion-card-subtitle {
            color: #ffffff;
        }
    }
    
    .section-row {
        background: #212021;
        box-shadow: none;
    }

    .tab-container {
        background: #212021;
        box-shadow: none;

        .tab {
            p {
                color: #666666;
            }
        }

        .tab-active {
            box-shadow: 0px 0px 1px #000000E2;
            background: #363636;

            p {
                color: #ffffff;
            }
        }
    }
}

.invisible {
    visibility: hidden;
}