<ion-content>
  <app-titlebar></app-titlebar>

  <ion-grid class="container ion-text-center ion-padding" *ngIf="packet">
    <div *ngIf="packetFetchErrored">
      Unable to retrieve red packet information, please retry later.
    </div>

    <div *ngIf="packet">
      <div *ngIf="checkingGrabStatus">
        <ion-spinner></ion-spinner>
        <ion-label>Trying to grab a packet! Please wait</ion-label>
      </div>
      <div *ngIf="grabStatusChecked">
        <!-- Winning -->
        <div *ngIf="justWon">
          <ion-row>
            <ion-col class="section">
              <ion-label>Red Packet Claimed!</ion-label>
              {{ packet.hash }}
            </ion-col>
          </ion-row>

          <ion-row class="ion-text-center">
            <ion-col class="section ion-padding">
              <h4 class="ion-no-margin">
                You received <span>{{ ela }} ELA</span>! <br>
                If this red packet is charged, you should <br>
                see your new balance once confirmed!
              </h4>
            </ion-col>
          </ion-row>
        </div>

        <!-- Captcha -->
        <div *ngIf="captchaChallengeRequired">
          <ion-img [src]="captchaPicture"></ion-img>
          <p>Please type the above letters (mind the case) to continue</p>
          <ion-input [(ngModel)]="captchaString" required></ion-input>
          <ion-button (click)="testCaptcha()">Grab packet</ion-button>
        </div>
      </div>
    </div>

    <!-- Packet info -->
    <div *ngIf="packet">
      <ion-row class="ion-padding-top">
        <ion-col size="12" class="summary">
          <div class="network" *ngIf="network">
            <ion-img [src]="network.logo"></ion-img>
            <ion-label>{{network.name}}</ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="section">
        <ion-col size="6" class="header">
          Initial quantity
        </ion-col>
        <ion-col size="6">
          <ion-label>{{ packet.quantity }}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="section">
        <ion-col size="6" class="header">
          Creation
        </ion-col>
        <ion-col size="6">
          <ion-label>{{ packet.creationDate }}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="section">
        <ion-col size="6" class="header">
          Expiration
        </ion-col>
        <ion-col size="6">
          <ion-label>{{ packet.expirationDate }}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="details">
        <h4>Packet Creator</h4>
        <p>{{ packet.packet_creator }}</p>
      </ion-row>

      <!-- TODO: summary of grabbed + remaining packets? And Amounts grabbed and claimed?
      <ion-row class="details">
        <h4>Packets Claimed</h4>
        <p>{{ packet.packet_rcv_num }}</p>
      </ion-row>

      <ion-row class="details">
        <h4>ELA Claimed</h4>
        <p>{{ packet.packet_rcv_amt }}</p>
      </ion-row>

      <ion-row class="details">
        <h4>Packets Remaining</h4>
        <p>{{ packet.packet_num - packet.packet_rcv_num }}</p>
      </ion-row>

      <ion-row class="details">
        <h4>ELA Remaining</h4>
        <p>{{ packet.packet_amt - packet.packet_rcv_amt }}</p>
      </ion-row> -->
    </div>

    <div *ngIf="packet">
      <ion-row class="ion-padding-top">
        <ion-col size="12" class="summary">
          <h2>Winners</h2>
        </ion-col>
      </ion-row>

      <!-- <ion-row class="details" *ngFor="let r of packet.packet_rcver_details">
        <h4> {{ r.name }} </h4>
        <p> {{ r.amount }} ELA</p>
      </ion-row> -->
    </div>


  </ion-grid>
</ion-content>