@import "../../root.scss";

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  .network {
    .logo {
      height: 50px;
      width: 50px;
    }
  }

  ion-label {
    font-weight: 900;
    font-size: 28px;
  }

  h4 {
    font-size: 14px;
    font-weight: 700;
  }

  span {
    font-size: 20px;
    font-weight: 800;
    color: #f04141;
  }
}
