<ion-content>
  <app-titlebar></app-titlebar>
  <!-- Packet creation on the backend -->
  <ion-grid class="container ion-text-center ion-padding" *ngIf="fetchingPacketInfo">
    Getting packet information, please wait
    <ion-spinner></ion-spinner>
  </ion-grid>

  <!-- Payment info -->
  <ion-grid class="container ion-text-center ion-padding" *ngIf="packet && !fetchingPacketInfo">
    <!-- Intro -->
    <p>
      You are about to finalize your red packet. Please confirm sending the following tokens to the red packet service.
    </p>
    <p *ngIf="packetContainsERC20Tokens()">
      <b>Note</b>: you have to send both native tokens and ERC20 tokens.
    </p>
    <p>
      <b>Note</b>: unspent tokens and provisionning fees are returned at the expiration of the red packet.
    </p>

    <!-- Cost summary -->
    <div class="nativeSummary">
      <h4>{{getNativeTokenSymbol()}}</h4>
      <ion-row>
        <ion-col size="6" class="header">Red packet</ion-col>
        <ion-col size="6" class="cost">{{getNativeRedPacketValue()}} {{getNativeTokenSymbol()}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="header">Transaction fees</ion-col>
        <ion-col size="6" class="cost">{{getNativeTokenTxFees()}} {{getNativeTokenSymbol()}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="header">Service fees (${{getNativeTokenServiceFeesUSD()}} USD)</ion-col>
        <ion-col size="6" class="cost">{{getNativeTokenServiceFees()}} {{getNativeTokenSymbol()}}</ion-col>
      </ion-row>

      <div class="custom-btn mt1" *ngIf="!isNativePaymentCompleted()" (click)="sendNativeToken()">
        <ion-label *ngIf="!sendingNativePayment">Send {{getNativeTokenTotal()}} {{getNativeTokenSymbol()}}</ion-label>
        <ion-spinner *ngIf="sendingNativePayment"></ion-spinner>
      </div>
      <div *ngIf="isNativePaymentCompleted()">
        <h1>Already paid!</h1>
      </div>
    </div>

    <div class="erc20summary" *ngIf="packet.costs.erc20Token">
      <h4>{{getERC20TokenSymbol()}}</h4>
      <ion-row>
        <ion-col size="6" class="header">Red packet</ion-col>
        <ion-col size="6" class="cost">{{getERC20RedPacketValue()}} {{getERC20TokenSymbol()}}</ion-col>
      </ion-row>

      <div class="custom-btn mt1" *ngIf="!isERC20PaymentCompleted()" (click)="sendERC20Tokens()">
        <ion-label *ngIf="!sendingERC20Payment">Send {{getERC20TokenTotal()}} {{getERC20TokenSymbol()}}</ion-label>
        <ion-spinner *ngIf="sendingERC20Payment"></ion-spinner>
      </div>
      <div *ngIf="isERC20PaymentCompleted()">
        <h1>Already paid!</h1>
      </div>
    </div>

    <div *ngIf="areAllPaymentsCompleted()">
      <h4>Status</h4>
      <p>The red packet is live!</p>
    </div>

    <div class="custom-btn" *ngIf="areAllPaymentsCompleted()" (click)="openPacketDetails()">
      <ion-label>View packet</ion-label>
    </div>

  </ion-grid>
</ion-content>