<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="container" [class.dark-container]="theme.darkMode" [class.blur]="popup">
    <!-- HEADER -->
    <div *ngIf="receivedIntent">
      <ion-row class="header-row">
        <img [src]="getDappIcon()">
        <h1>{{ 'identity.profile-request' | translate }}</h1>
        <h2>{{ getDappName() }}</h2>
        <p>{{ getIntro() }}</p>
      </ion-row>
    </div>

    <div *ngIf="organizedClaims.length">
      <ion-grid *ngFor="let claim of organizedClaims" class="claim-row">
        <ion-row class="heading">
          <ion-col size="9">
            <div class="reason">{{claim.claim.reason}}</div>
          </ion-col>
          <ion-col size="3" class="selection-summary">
            <small>{{claimSelectionSummary(claim)}}</small>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let credentialEntry of claim.matchingCredentials">
          <credential [credential]="credentialEntry.credential.pluginVerifiableCredential" [selectable]="true"
            [selected]="credentialEntry.selected" (checkBoxClicked)="onCredentialSelection(claim, credentialEntry)"
            class="credential">
          </credential>
        </ion-row>

        <div *ngIf="claim.matchingCredentials.length < claim.claim.min">
          <ion-grid class="warning" *ngIf="claim.matchingCredentials.length > 0">
            You are requested to provide at least {{claim.claim.min}} item(s) but you only have
            {{claim.matchingCredentials.length}}. You should be able to get more information from the following
            external apps:

          </ion-grid>
          <ion-grid class="warning" *ngIf="claim.matchingCredentials.length == 0">
            You are requested to provide at least {{claim.claim.min}} item(s) but you don't have any. You should be able
            to get more information from the following external apps:
          </ion-grid>

          <!-- There is a way to provide recommendations to user to generate some missing credentials -->
          <ion-grid *ngIf="claimHasNoMatchRecommendations(claim)">
            <div *ngFor="let rec of claim.claim.noMatchRecommendations" class="recommendation ion-activatable ripple"
              (click)="openRecommendation(rec)">
              <ion-icon name="link-outline"></ion-icon> {{ rec.title }}
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </ion-grid>
          <!-- There is no recommendation we can give to user -->
          <ion-grid *ngIf="!claimHasNoMatchRecommendations(claim)">
            Please ask the dApp team how to solve this problem.
          </ion-grid>
        </div>
      </ion-grid>
    </div>

    <!-- MANDATORY ITEMS -->
    <!-- <div *ngIf="mandatoryItems.length">
      <ion-row class="list-title-row">
        <ion-col offset="1">
          <h1 [ngStyle]="{ 'color': requestDappColor }">
            {{ 'identity.mandatory-data-access' | translate }}
          </h1>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of mandatoryItems" class="list-item-row">
        <ion-col offset="1" size="9">
          <ion-icon *ngIf="item.name !== 'avatar' || !avatarDataUrl" [src]="getCredIcon(item)" [ngStyle]="{ 'fill': requestDappColor }"></ion-icon>
          <img *ngIf="item.name === 'avatar' && avatarDataUrl" [src]="getCredIcon(item)" class="avatar">
          <div class="cred-item-div">
            <h1>{{ didService.getUserFriendlyBasicProfileKeyName(item.name) | translate }}</h1>
            <p>{{ getItemValueDisplay(item) | translate }}</p>
          </div>
        </ion-col>
      </ion-row>
    </div> -->

    <!-- OPTIONAL ITEMS -->
    <!-- <div *ngIf="optionalItems.length">
      <ion-row class="list-title-row">
        <ion-col offset="1">
          <h1 [ngStyle]="{ 'color': requestDappColor }">
            {{ 'identity.optional-data-access' | translate }}
          </h1>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of optionalItems" class="list-item-row">
        <ion-col offset="1" size="9">
          <ion-icon *ngIf="item.name !== 'avatar' || !avatarDataUrl" [src]="getCredIcon(item)" [ngStyle]="{ 'fill': requestDappColor }"></ion-icon>
          <img *ngIf="item.name === 'avatar' && avatarDataUrl" [src]="getCredIcon(item)" class="avatar">
          <div class="cred-item-div">
            <h1>{{ didService.getUserFriendlyBasicProfileKeyName(item.name) }}</h1>
            <p>{{ getItemValueDisplay(item) }}</p>
          </div>
        </ion-col>
        <ion-col size="2" class="checkbox-col">
          <div
            *ngIf="item.canBeDelivered && item.issuer.canBeDelivered"
            (click)="item.selected = !item.selected"
            class="checkbox"
            [ngStyle]="{
            'background': item.selected ? requestDappColor : 'transparent',
            'border': '2px solid' + requestDappColor
          }">
            <ion-icon *ngIf="item.selected" name="checkmark"></ion-icon>
          </div>
          <ion-icon
            *ngIf="!item.canBeDelivered || !item.issuer.canBeDelivered"
            class="cross-icon" name="close"
            [ngStyle]="{ 'color': requestDappColor }">
          </ion-icon>
        </ion-col>
      </ion-row>
    </div> -->
  </ion-grid>
</ion-content>

<ion-footer [class.blur]="popup" [class.lightmode]="!theme.darkMode" [class.darkmode]="theme.darkMode">
  <!-- Confirm -->
  <div class="button ion-activatable ripple"
    [ngStyle]="{ 'background': requestDappColor, 'box-shadow': '0 1px 5px 0.1px' + requestDappColor }"
    (click)="validationButtonClicked()" *ngIf="shouldShowValidationButtonSpinner() || selectionFulfillsTheRequest()">
    <!-- Spinner mode -->
    <ion-spinner *ngIf="shouldShowValidationButtonSpinner()" name="crescent"></ion-spinner>

    <ion-label *ngIf="!shouldShowValidationButtonSpinner() && selectionFulfillsTheRequest()">
      {{ 'identity.accept' | translate }}
    </ion-label>

    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <!-- Cancel -->
  <div class="button cancel-button ion-activatable ripple" (click)="validationButtonClicked()"
    *ngIf="!shouldShowValidationButtonSpinner() && !selectionFulfillsTheRequest()">

    <ion-label>
      {{ 'common.cancel' | translate }}
    </ion-label>

    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-footer>