@import '../../root.scss';

.hidden {
  display:none
}

.container {
  min-height: 100%;
  background: #A25BFE;
  margin: 0;
  padding-bottom: 20px;
  z-index: 0;

//   .ion-slide {
//     width: 100% !important;
//   }

//   .swipper-wrapper {
//     width: min-content !important; // Fix for iOS wrong width sometimes.
//   }

  ion-card-title {
    .img-container {
      display: flex;
      justify-content: center;
      padding: 0;

      img {
        width: 300px;
        height: 300px;
      }
    }

    .title {
      color: white;
      font-weight: 600;
      font-size: 26px;
      padding: 0;
      margin: 0;
    }

    .subtitle {
      color: white;
      line-height: 1.5;
      font-size: 14px;
      font-weight: 500;
      padding: 20px 60px 40px;
      margin: 0;
    }

    .btn-container {
      display: flex;
      justify-content: center;
      padding: 30px 5px;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        background: transparent;
        border: 3px solid white;
        border-radius: 20px;
        padding: 10px;

        ion-label {
          font-size: 14px;
          font-weight: 700;
          color: white;
        }
      }
    }

    .arrow-container {
      color: white;
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-height: 640px) {
  .container {
    ion-card-title {
      .img-container {
        img {
          width: 250px;
          height: 250px;
        }
      }

      .title {
        font-size: 24px;
      }

      .subtitle {
        font-size: 13px;
      }
    }
  }
}
