<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="ion-text-center container">
    <ion-row class="txt-container">
      <ion-textarea row=5 placeholder="{{ 'wallet.paste-privatekey' | translate }}" [(ngModel)]="privatekey" mode="ios">
      </ion-textarea>
      <ebutton (clicked)="pasteFromClipboard()" [title]="'wallet.paste' | translate"> </ebutton>
    </ion-row>
    <ion-row class="password-row" *ngIf="contentIsJsonObj">
      <ion-input type="password" name="backupPassword" ngDefaultControl
        placeholder="{{ 'wallet.keystore-backup-password' | translate }}" [(ngModel)]="keystoreBackupPassword">
      </ion-input>
    </ion-row>
    <ion-row class="prompt-row">
      <h1>{{ 'wallet.import-wallet-by-keystore-info' | translate }}</h1>
    </ion-row>
    <ion-row class="btn-container">
      <ebutton [disabled]='!inputPrivatKeyCompleted()' (clicked)="onImport()"
        [title]="'common.begin' | translate">
      </ebutton>
    </ion-row>

    <ion-row class="walletInfo">
      <p>{{ 'wallet.multi-sig-extended-public-key-copy' | translate }}</p>
    </ion-row>
    <ion-row class="walletInfo">
      <p> First Address </p>
      <textarea readonly class="key" (click)="copyAddress()">
          {{ address }}
      </textarea>
      <p> Mnemonic </p>
      <textarea readonly class="key" (click)="copyMnemonic()">
          {{ mnemonic }}
      </textarea>
      <p> Seed </p>
      <textarea readonly class="key" (click)="copySeed()">
          {{ seed }}
      </textarea>
      <p> File Path </p>
      <textarea readonly class="key" (click)="copyPath()">
        {{ filePath }}
      </textarea>
      <p> Basic Info </p>
      <textarea readonly class="key" (click)="copyBasicInfo()">
        {{ walletBasicInfo }}
      </textarea>
    </ion-row>


  </ion-grid>
</ion-content>