@import "src/app/wallet/root.scss";

.container {
    position: relative;
    min-height: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;

    p {
        margin: 0;
        padding: 30px 30px 40px;
        font-size: 19px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
    }

    .txt-container {
        padding: 10px 15px 0 15px;

        ion-textarea {
            height: 120px;
            width: 100%;
            background-color: var(--essentials-box-color);
            text-transform: lowercase;
            border-radius: 10px;
            --padding-start: 12px;
            --padding-top: 12px;

            font-size: 16px;
            line-height: 1.06;
            letter-spacing: -0.41px;
            text-align: left;
            //--placeholder-font-weight: 400;
            //--placeholder-color: #fdfeff;
        }

        ebutton {
            margin-top: 20px;
        }


    }

    .walletInfo {
        padding: 10px 15px 0 15px;
        margin: 0px;

        p {
            padding: 5px 0;
            font-size: 14px;
        }

        .key {
            width: 100%;
            height: 60px;
            margin-top: 0px;
            margin-bottom: 15px;
            padding: 5px;
            background: var(--essentials-box-color);
            box-shadow: 0 3px 15px 0 rgb(0 0 0 / 30%);
            font-size: 12px;
            border-radius: 15px;
            // color: white;
        }
    }

    .password-row {
        margin-top: 15px;
        padding: 0;

        ion-input {
            margin: 0 15px 0 15px;
            background: var(--essentials-box-color);
            border-radius: 8px;
        }
    }

    .prompt-row {
        padding: 5px 30px 0 30px;

        h1 {
            margin-top: 10px;
            padding: 0;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -0.31px;
        }
    }

    .btn-container {
        margin-top: 20px;
    }
}
