<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid *ngIf="receivedIntent" class="container" [class.dark-container]="theme.darkMode">
    <ion-card>
      <img src="assets/identity/images/fingerprint.svg">
      <ion-card-title>{{ 'identity.register-app' | translate }}</ion-card-title>
      <ion-card-subtitle *ngIf="requestDapp">{{ requestDapp.appPackageId }}</ion-card-subtitle>
    </ion-card>

    <div class="msg-container">
      <p class="first-msg">{{ 'identity.registerapp-intro' | translate }}</p>
    </div>

    <ion-row class="data-container">
      <p><span>{{ 'identity.visible' | translate }}</span>{{ 'identity.registerapp-msg' | translate }}</p>
      <p><span>{{ 'identity.private' | translate }}</span>{{ 'identity.registerapp-msg2' | translate }}</p>
      <div><p>{{ 'identity.publish' | translate }}</p> <ion-toggle color="tertiary" [(ngModel)]="shouldPublishOnSidechain"></ion-toggle></div>
    </ion-row>

    <ion-row class="btn-container" (click)="acceptRequest()">
      <ion-button color="tertiary">
        <ion-label>{{ 'identity.accept' | translate }}</ion-label>
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>
