
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

:root {
  /** Wallet - primary **/
  --ion-color-primary: linear-gradient(to bottom, #732dcf, #640fd4);
  --ion-color-primary-rgb: 115,45,207;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #6528b6;
  --ion-color-primary-tint: #8142d4;

  /** Wallet 2 - secondary **/
  --ion-color-secondary: linear-gradient(to bottom, #4a118d, #39136a);
  --ion-color-secondary-rgb: 74,17,141;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #410f7c;
  --ion-color-secondary-tint: #5c2998;

  /** Identity - tertiary **/
  --ion-color-tertiary: #565bdb;
  --ion-color-tertiary-rgb: 86,91,219;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4c50c1;
  --ion-color-tertiary-tint: #676bdf;

  /** Contacts - success **/
  --ion-color-success: #4620b0;
  --ion-color-success-rgb: 70,32,176;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #3e1c9b;
  --ion-color-success-tint: #5936b8;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: linear-gradient(to bottom, #181d20 0%,  #21313d 100%);
  --ion-color-dark-rgb: 24,29,32;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #151a1c;
  --ion-color-dark-tint: #2f3436;

  /** medium **/
  --ion-color-medium: #f0f1ff;
  --ion-color-medium-rgb: 240,241,255;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #d3d4e0;
  --ion-color-medium-tint: #f2f2ff;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-background-color: #F5F5FD;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #121212;
  --ion-text-color-rgb: 255,255,255;

  ion-refresher {
    background: #F5F5FD;

    ion-refresher-content {
      background: #F5F5FD;

      .refresher-pulling {
        background: #F5F5FD;

        .refresher-pulling-icon {
          background: #F5F5FD;
          color: #121212;
        }
      }

      .refresher-refreshing {
        background: #F5F5FD;

        .refresher-refreshing-icon {
          background: #F5F5FD;
          color: #121212;
        }
      }
    }
  }

  ion-alert {
    [aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios,
    .alert-radio-inner.sc-ion-alert-ios {
      font-weight: 600;
      color: #565bdb;
    }
  }
}

/*
 * Dark Colors
 * -------------------------------------------
 */

 body.dark {
  /** Wallet - primary **/
  --ion-color-primary: linear-gradient(to bottom, #732dcf, #640fd4);
  --ion-color-primary-rgb: 115,45,207;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #6528b6;
  --ion-color-primary-tint: #8142d4;

  /** Wallet 2 - secondary **/
  --ion-color-secondary: linear-gradient(to bottom, #4a118d, #39136a);
  --ion-color-secondary-rgb: 74,17,141;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #410f7c;
  --ion-color-secondary-tint: #5c2998;

  /** Identity - tertiary **/
  --ion-color-tertiary: #565bdb;
  --ion-color-tertiary-rgb: 86,91,219;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4c50c1;
  --ion-color-tertiary-tint: #676bdf;

  /** Contacts - success **/
  --ion-color-success: #4620b0;
  --ion-color-success-rgb: 70,32,176;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #3e1c9b;
  --ion-color-success-tint: #5936b8;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: linear-gradient(to bottom, #181d20 0%,  #21313d 100%);
  --ion-color-dark-rgb: 24,29,32;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #151a1c;
  --ion-color-dark-tint: #2f3436;

  /** Pop-up rows/toast colors **/
  --ion-color-medium: #f0f1ff;
  --ion-color-medium-rgb: 240,241,255;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #d3d4e0;
  --ion-color-medium-tint: #f2f2ff;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  ion-alert {
    --background: #121212;
    --ion-text-color: #ffffff;

    h2 {
        color: #ffffff;
    }

    button {
      span {
        color: #ffffff;
      }
    }

    [aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios,
    .alert-radio-inner.sc-ion-alert-ios {
      color: #565bdb;
      font-weight: 600;
    }
  }

  ion-refresher {
    background: #121212;;
    border: #121212;;

    ion-refresher-content {
      background: #121212;;
      border: #121212;;

      .refresher-pulling {
        background: #121212;;
        border: #121212;;

        .refresher-pulling-icon {
          background: #121212;;
          border: #121212;;
          color: white;
        }
      }

      .refresher-refreshing {
        background: #121212;;
        border: #121212;;

        .refresher-refreshing-icon {
          background: #121212;;
          border: #121212;;
          color: white;
        }
      }
    }
  }
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: #121212;
  --ion-item-background-activated: #121212;
}

.ios body.dark ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
  --ion-item-background: var(--ion-color-step-150);
}

/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18,18,18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #121212;
  --ion-item-background-activated: #121212;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.footer {
  position: fixed;
  bottom: 0;
  left: -2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;

  div {
    width: 100%;
  }

  ion-button {
    height: 50px;
    width: 100%;
    --background: linear-gradient(to bottom, #732dcf, #640fd4);
    --border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
  }
}

