@import "src/app/voting/crcouncilvoting/pages/crmember/crmember.page.scss";

.about {
    margin-top: 24px;
    padding: 7px 5px;
    width: 100%;
    height: 47px;
    background-color: var(--essentials-box-color);
    border-radius: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
}
