<ion-content>
    <app-titlebar></app-titlebar>

    <div *ngIf="secretary != null" [class.darkContainer]="theme.darkMode">
        <ion-list class="container">
            <ion-row class="id-row">
                <ion-col size="2.75" class="left-col">
                    <ion-avatar class="avatar">
                        <img [src]="secretary.avatar ? secretary.avatar : '/assets/crcouncilvoting/icon/avatar.png'"
                            src-fallback="/assets/crcouncilvoting/icon/avatar.png">
                    </ion-avatar>
                </ion-col>

                <ion-col size="6.5" class="name-col mid-col align-center">
                    <h2 class="name">{{ secretary.didName }}</h2>
                    <p class="location" *ngIf="secretary.startDate">
                        {{ secretary.startDate }}
                    </p>
                </ion-col>
            </ion-row>

            <ion-row>
                <div class="about align-center">{{'crcouncilvoting.about-secretary' | translate}}</div>
            </ion-row>

            <ion-row class="profile-data">
                <ion-col>
                    <!-- <h5>{{'crcouncilvoting.secretary-did' | translate}}</h5> -->
                    <h5>DID</h5>
                    <h4>{{ secretary.did }}</h4>
                </ion-col>
            </ion-row>

        </ion-list>
    </div>

    <!-- <div *ngIf="secretaryFetched && secretary == null" class="no-data">
        {{ 'crcouncilvoting.no-secretary-info' | translate }}
    </div> -->

    <div *ngIf="!secretaryFetched" class="spinner align-center">
        <ion-spinner name="crescent"></ion-spinner>
    </div>

</ion-content>