<ion-content>
  <app-titlebar></app-titlebar>
  <div class="ion-text-center header">
    <ion-label>{{ 'dposvoting.stats-overview' | translate }}</ion-label>
  </div>
  
<!--   <ion-refresher class="ion-margin-top ion-padding-top" slot="fixed" (ionRefresh)="updateStats($event)">
    <ion-refresher-content class="ion-margin-top ion-padding-top"></ion-refresher-content>
  </ion-refresher>
 -->
 
  <ion-grid 
    *ngIf="nodesService._nodes.length; else loadingList"
    class="container ion-no-padding ion-no-margin"
    [class.dark-container]="theme.darkMode"
  >
    <ion-list>
      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/validator.png">
            </ion-col>
            <ion-col size="5" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-last-validator' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="number-container ion-padding-end">
              <h4>{{ nodesService.block.validator }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/voters.png">
            </ion-col>
            <ion-col size="5" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-total-voters' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="number-container ion-padding-end">
              <h4>{{ fixTotalVoters() }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/vote.png">
            </ion-col>
            <ion-col size="5" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-total-votes' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="number-container ion-padding-end">
              <h4>{{ fixTotalVotes() }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
                <img src="../assets/dposvoting/icon/security.png">
            </ion-col>
            <ion-col size="5" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-ela-staking' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="number-container ion-padding-end">
              <h4>{{ fixTotalEla() }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/percent.png">
            </ion-col>
            <ion-col size="7" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-voters-percent' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="3" class="number-container ion-padding-end">
              <h4>{{ nodesService.voters.percent }}%</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/ratio.png">
            </ion-col>
            <ion-col size="7" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-active-nodes' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="3" class="number-container ion-padding-end">
              <h4>{{ nodesService.activeNodes.length }} / {{ nodesService._nodes.length }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/address.png">
            </ion-col>
            <ion-col size="7" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-active-addresses' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="3" class="number-container ion-padding-end">
              <h4>{{ fixActiveAddresses() }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/send.png">
            </ion-col>
            <ion-col size="7" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-txperhour' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="3" class="number-container ion-padding-end">
              <h4>{{ nodesService.mainchain.txperhr }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/mining.png">
            </ion-col>
            <ion-col size="7" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-percent-btchashrate' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="3" class="number-container ion-padding-end">
              <h4>{{ nodesService.block.percentBTChashrate }}%</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/block.png">
            </ion-col>
            <ion-col size="5" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-block-height' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="number-container ion-padding-end">
              <h4>{{ fixHeight() }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/rank.png">
            </ion-col>
            <ion-col size="7" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-coin-rank' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="3" class="number-container ion-padding-end">
              <h4>Top #{{ nodesService.price.rank }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/supply.png">
            </ion-col>
            <ion-col size="5" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-supply' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="number-container ion-padding-end">
              <h4>{{ fixSupply() }} ELA</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/price.png">
            </ion-col>
            <ion-col size="7" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-ela-price' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="3" class="number-container ion-padding-end">
              <h4>${{ nodesService.price.usd }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/bitcoin.png">
            </ion-col>
            <ion-col size="5" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-ela-price-btc' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="number-container ion-padding-end">
              <h4>{{ nodesService.price.btc }} BTC</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="2" class="img-container">
              <img src="../assets/dposvoting/icon/volume.png">
            </ion-col>
            <ion-col size="5" class="stat-container">
              <ion-label>
                <h4>{{ 'dposvoting.stats-total-volume' | translate }}</h4>
              </ion-label>
            </ion-col>
            <ion-col size="5" class="number-container ion-padding-end">
              <h4>{{ fixVolume() }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>

  <ng-template #loadingList>
    <ion-grid class="container ion-no-padding" [class.dark-container]="theme.darkMode">
      <ion-list [class.loading-list]="!theme.darkMode">
        <ion-item *ngFor="let empty of nodesService.emptyList">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="2" class="img-container">
                <ion-skeleton-text animated style="width: 40%; height: 100%;"></ion-skeleton-text>
              </ion-col>
              <ion-col size="5">
                <ion-label>
                  <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
                </ion-label>
              </ion-col>
              <ion-col size="5" class="number-container ion-padding-end">
                <ion-skeleton-text animated style="width: 40%; height: 100%;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-grid>
  </ng-template>
 

</ion-content>

