<ion-content>
    <ion-grid *ngIf="!didHasToBePublished" class="container" [class.dark-container]="theme.darkMode">
        <p>{{ 'signin.intro' | translate }}</p>
        <ion-button (click)="signIn()">{{ 'signin.signin' | translate }}</ion-button>
    </ion-grid>
    <ion-grid *ngIf="didHasToBePublished" class="container" [class.dark-container]="theme.darkMode">
        <h2>{{ 'signin.didpublish' | translate }}</h2>
        <p>{{ 'signin.didpublish-msg' | translate }}</p>
        <p>{{ 'signin.didpublish-msg2' | translate }}</p>
        <ion-button (click)="publishDID()">{{ 'signin.publish-now' | translate }}</ion-button>
    </ion-grid>
</ion-content>