@import "src/app/voting/root.scss";


ion-footer {
    background: var(--essentials-box-color);
}

.container {
    margin: 24px;
}

h5 {
    font-size: 13px;
    font-weight: 500;
}

#available {
    margin-top: 5px;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    color: var(--ion-text-color);
}

#max-button {
    margin-top: 5px;
    padding-top: 2px;
    width: 100%;

    background: var(--essentials-button-background-color);
    color: var(--essentials-button-text-color);
    border-radius: 10px;

    font-size: 13px;
    font-style: Bold;
    text-align: center;
}
