<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>{{ 'wallet.available-currencies' | translate }}</p>
            </ion-col>
        </ion-row>
        <ion-row
            class="subwallet-row ripple ion-activatable"
            [class.dark-subwallet-row]="theme.darkMode"
            *ngFor="let currency of currencyService.currencies"
            (click)="currencyService.saveCurrency(currency)"
        >
            <ion-col size="2" class="left-col">
                <img [src]="currency.icon">
            </ion-col>
            <ion-col size="8" class="middle-col">
                <h1>{{ currency.symbol }}</h1>
                <p>{{ currency.name | translate }}</p>
            </ion-col>
            <ion-col size="2" class="right-col">
                <ion-icon *ngIf="currencyService.selectedCurrency.symbol === currency.symbol" name="checkmark" mode="ios"></ion-icon>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
    </ion-grid>
</ion-content>