<ion-content>
  <ion-tabs [class.dark-tabs]="theme.darkMode">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="vote">
        <ion-icon name="list-circle"></ion-icon>
        <ion-label>{{ 'dposvoting.menu-voting' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="stats">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>{{ 'dposvoting.menu-stat' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-icon name="book"></ion-icon>
        <ion-label>{{ 'dposvoting.menu-history' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        <ion-label>{{ 'dposvoting.menu-search' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
