@import "../suggestion-detail/suggestion-detail.scss";

ion-grid {
    ion-card {
        .registered {
            color: #C9C9C9;
        }

        .final {
            color: #2dd36f;
        }

        .rejected {
            color: #f04141;
        }
    }
}

.receive-address {
    div {
        width: 100%;
        font-size: 12px;
        word-wrap: break-word;
    }

    img {
        width: 20px;
        height: 20px;
    }
}


.original-url {
    a {
        width: 100%;
        color: #8052FF;
    }

    a:active {
        color: #428cff;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.darkContainer {
    .original-url {
        a {
            color: #B79DFF;
        }
    }
}
