@import 'src/app/contacts/root.scss';

.container {
  min-height: 100%;
  padding: 30px 35px;

  ion-input {
    background: #ffffff;
    box-shadow: 0 3px 15px 0 #ededf0;
    height: 48px;
    border-radius: 8px;
    font-size: 13px;
    --padding-start: 12px;
  }

  .btn-container {
    padding-top: 15px;

    ion-button {
      height: 50px;
      width: 100%;
      --border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.1px;
    }
  }

  .msg-container {
    padding-top: 25px;

    p {
      margin: 0;
      font-size: 12px;
      font-weight: 600;
    };
  }
}

.darkContainer {
  ion-input {
    background-color: #212021;
    box-shadow: none;
  }
}
