.container {
  min-height: 100%;
  padding: 30px 35px;

  ion-input {
    background: #f0f1ff;
    height: 47px;
    border-radius: 8px;
    font-size: 13px;
    --padding-start: 12px;
  }

  .btn-container {
    padding-top: 15px;
  }

  .msg-container {
    padding-top: 25px;

    p {
      margin: 0;
      font-size: 12px;
      font-weight: 600;
    };
  }
}

.darkContainer {
  ion-input {
    background: #464660;
  }
}
