<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="container ion-no-padding ion-no-margin" [class.darkContainer]="theme.darkMode">
    <ion-row>
      <ion-input
        #input
        autosize
        clearInput
        placeholder="{{ 'contacts.enter-identity-placeholder' | translate }}"
        [(ngModel)]="didInput"
        mode="ios"
        name="didInput" ngDefaultControl
      ></ion-input>
    </ion-row>
    <ion-row class="btn-container">
      <ion-button color="success" (click)="addContact()">
        {{ 'contacts.add-contact' | translate }}
      </ion-button>
    </ion-row>
    <ion-row class="msg-container">
      <p class="ion-text-center">{{ 'contacts.add-contact-prompt' | translate }}</p>
    </ion-row>
  </ion-grid>
</ion-content>


