@import "../../widgets.scss";

.top-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .left-col {
    text-align: left;
    padding: 0;
    display: flex;
  }

  .right-col {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .header {
    flex: 1;
    text-align: left;
    align-self: flex-start;
    padding: 0;

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .subtitle {
      font-size: 12px;
    }
  }

  .button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background: var(--essentials-button-background-color);
    color: var(--essentials-button-text-color);
  }
}

.tokens-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  .token {
    display: flex;
    align-items: center;
    flex: 1;

    .network-logo {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    .selector {
      display: flex;
      flex: 1;
      padding: 10px 15px;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      background: var(--essentials-button-background-color);
      color: var(--essentials-button-text-color);

      .token-name,
      .no-token {
        font-size: 13px;
      }

      .arrow {
        height: 10px;
        margin-left: 10px;
        opacity: 0.8;
      }
    }
  }

  .exchange {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    margin: 0 5px;
  }
}
