@import "../../widgets.scss";

.top-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .left-col {
    text-align: left;
    padding: 0;
  }

  .right-col {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .header {
    flex: 1;
    text-align: left;
    align-self: flex-start;
    padding: 0;

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .subtitle {
      font-size: 12px;
      //color: #787980;
    }
  }

  .button {
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    //background: #dde2f1;
    background: rgba(255, 255, 255, 0.2);
  }
}

.tokens-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  .token {
    display: flex;
    align-items: center;

    .network-logo {
      width: 20px;
      height: 20px;
    }

    .selector {
      display: flex;
      padding: 10px 15px;
      border-radius: 10px;
      margin-left: 10px;
      align-items: center;
      //background: #dde2f1;
      background: rgba(255, 255, 255, 0.2);

      .token-name {
        font-size: 12px;
      }

      .arrow {
        height: 10px;
        margin-left: 10px;
      }
    }
  }

  .exchange {
    width: 20px;
    height: 20px;
  }
}

.darkContainer {
  .top-row {
    .header {
      .subtitle {
        //color: #acacac;
      }
    }

    .button {
      //background: #333133;
    }
  }

  .tokens-row {
    .token {
      .selector {
        // background: #333133;
      }
    }
  }
}
