<ion-row class="widget widget-background" [class.darkContainer]="theme.darkMode">
  <ion-row class="top-row">
    <ion-col size="2" class="left-col">
      <img src="/assets/launcher/widgets/swap-widget-icon.svg" />
    </ion-col>
    <ion-col size="10" class="right-col">
      <div class="header">
        <div class="title">{{ 'launcher.swap-tokens' | translate }}</div>
        <div class="secondary-text subtitle">{{ 'launcher.swap-tokens-subtitle' | translate }}</div>
      </div>
      <!-- <ebutton title="Swap" class="button" (clicked)="onSwapClicked()"></ebutton> -->
      <div class="button ion-activatable ripple" (click)="onSwapClicked()">
        {{ 'launcher.swap' | translate }}
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="tokens-row">
    <ng-container [ngTemplateOutlet]="token" [ngTemplateOutletContext]="{$implicit: sourceToken, forSource: true}">
    </ng-container>
    <img class="exchange"
      [src]="theme.darkMode ? '/assets/launcher/widgets/white-swap.svg' : '/assets/launcher/widgets/swap.svg'" />
    <ng-container [ngTemplateOutlet]="token"
      [ngTemplateOutletContext]="{$implicit: destinationToken, forSource: false}"></ng-container>
  </ion-row>
</ion-row>

<ng-template #token let-token let-forSource="forSource">
  <div class="token" (click)="pickToken(forSource, token)">
    <img class="network-logo" *ngIf="token" [src]="token.token.network.logo" />

    <div class="selector ion-activatable ripple">
      <!-- Token picked -->
      <div class="token-name" *ngIf="token">{{ token.token.getSymbol() }}</div>

      <!-- No token picked yet -->
      <div class="no-token" *ngIf="!token">{{ 'launcher.pick-token' | translate }}</div>

      <img class="arrow"
        [src]="theme.darkMode ? '/assets/launcher/widgets/white-down-arrow.svg' : '/assets/launcher/widgets/down-arrow.svg'" />
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</ng-template>