<ion-row class="widget widget-background" [class.darkContainer]="theme.darkMode"
  *ngIf="notifications.length > 0 || forSelection || editing" (click)="showNotifications()">
  <ion-row class="header-row">
    <ion-col size="10" class="title-col">
      {{ 'launcher.notifications' | translate }}
      <div class="badge" *ngIf="totalNotifications > 0">{{ totalNotifications }}</div>
    </ion-col>
    <ion-col size="2" class="grid">
      <img [src]="theme.darkMode ? '/assets/launcher/icons/dark_mode/grid.svg' : '/assets/launcher/icons/grid.svg'" />
    </ion-col>
  </ion-row>

  <!-- We have notifications to show -->
  <ion-row class="notifications-row" *ngIf="totalNotifications > 0">
    <ion-row class="notifications">
      <ion-col size="12" *ngFor="let notification of notifications">
        <div class="notification">
          <div class="header">
            <div class="icon inline-svg" [inlineSVG]="notificationService.getNotificationIcon(notification)"></div>
            <div class="sender">{{ notificationService.getNotificationHeader(notification) }}</div>
          </div>
          <div class="title">{{ notification.title }}</div>
          <div class="secondary-text message">{{ getNotificationMessage(notification) }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-row>

  <!-- No notification to show (eg: preview) -->
  <ion-row class="notifications-row" *ngIf="totalNotifications === 0">
    <p>{{ 'launcher.no-notif' | translate }}</p>
  </ion-row>
</ion-row>