<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container">
        <img src="assets/wallet/onboard/wallet.svg"/>
        <h1>{{ 'wallet.wallet-prompt1' | translate }}<br>{{ 'wallet.wallet-prompt2' | translate }}</h1>
        <ion-row class="btn-container">
            <ion-button color="secondary" (click)="onNext(1)">
                <ion-label>{{ 'wallet.get-started' | translate }}</ion-label>
            </ion-button>
        </ion-row>
        <p (click)="onNext(2)">{{ 'wallet.import-wallet-msg' | translate }}</p>
    </ion-grid>
</ion-content>