<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container">
        <img src="assets/wallet/onboard/wallet.svg" />
        <h1>{{ 'wallet.wallet-prompt1' | translate }}<br>{{ 'wallet.wallet-prompt2' | translate }}</h1>
        <ion-row class="btn-container">
            <ion-button color="secondary" (click)="createStandardWallet()">
                <ion-label>New standard wallet</ion-label>
            </ion-button>
        </ion-row>
        <ion-row class="btn-container">
            <ion-button color="secondary" (click)="importStandardWallet()">
                <ion-label>Import standard wallet</ion-label>
            </ion-button>
        </ion-row>
        <ion-row class="btn-container">
            <ion-button color="secondary" (click)="createMultiSigWallet()">
                <ion-label>Multi-sig wallet</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>