@import "src/app/identity/root.scss";

.container {
    min-height: 100%;
    width: 100%;
    padding: 5px 15px;

    .avatar-row {
        .icon-section {
            width: 215.1px;
            height: 214.6px;
            margin: 0 auto;
            object-fit: contain;
            display: flex;
            justify-content: center;
            color: #ffffff;
            background-image: url("/assets/identity/svg/empty-balloon.svg");
            background-blend-mode: multiply;
            padding: 35px;
        
            ion-icon {
                display: block;
                margin: auto;
                width: 70%;
                height: 70%;
            }
        
            img {
                display: block;
                margin: auto;
                border-radius: 50%;
                object-fit: cover;
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
        }
    }

    .bio-row {
        padding-left: 5px;
    
        ion-col {
            display: flex;
            align-items: center;
        
            h1, p {
                margin: 0;
            }
        }
    
        .name-col {
          padding-bottom: 0;
    
            h1 {
                font-size: 24px;
                font-weight: 600;
            }
        }
    
        .description-col {
          padding-top: 0px;
    
            p {
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.65px;
            }
        }
    
        .icon-col {
            justify-content: flex-end;
        
            div {
                height: 35px;
                width: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
        
                img {
                  height: 66%;
                  width: 66%;
                }
            }
        }
    }

    .status-grid {
        padding: 10px;
        border-top: 1.5px solid #EAEAEA;
        border-bottom: 1.5px solid #EAEAEA;
        margin-top: 5px;
    
        ion-row {
            ion-col {
                display: flex;
                align-items: center;
        
                ion-label {
                    font-weight: 500;
                    font-size: 13px;
                }
        
                .published {
                    width: 24.8px;
                    height: 19.6px;
                    object-fit: contain;
                }
            
                .verified {
                    width: 20.2px;
                    height: 22.7px;
                    margin-left:2px;
                    object-fit: contain;
                }
            }
        }
    }

    .actions-section {
        padding: 15px 5px 15px 15px;
        border-bottom: 1.5px solid #EAEAEA;

        .title {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.19;
            letter-spacing: 0.8px;
            color: #372153;
            margin-bottom: 10px;
        }

        .card-action {
            border-radius: 18px;
            padding: 12px;
            display: flex;
            align-items: center;
            width: 100%;

            .icon {
                position: relative;
                float: left;
            }

            .text {
                display: block;
                width: 90%;

                .title {
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.29;
                    letter-spacing: 0.7px;
                    text-align: left;
                    color: #ffffff;
                }

                .description {
                    margin-left: 10px;
                    display: block;
                    font-family: Montserrat;
                    font-size: 13px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.23;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }
            }

            .chevron {
                position: relative;
                float: right;
            }
        }

        .card-action-validate {
            @extend .card-action;
            background-color: #03d898;
        }

        .card-action-alert {
            @extend .card-action;
            background-color: #f06666;
        }

        .card-action-info {
            @extend .card-action;
            background-color: #565bdb;
        }
    }

    .issuer-section {
        padding: 15px 5px 15px 15px;
        width: 100%;

        ion-segment {
            width: 230px;
            height: 27px;
            margin-bottom: 10px;
        }

        ion-segment-button {
            --color: #8686be;
            --color-checked: #372153;
            --background-checked: #ffffff;
            border: 0px;
            border-radius: 0px;
            font-family: OpenSans;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 4;
            letter-spacing: 0.75px;
            text-align: left;
            border-radius: 31px;
        }

        .issuer-history {
            padding-top: 30px;
            padding-left: 44px;
            display: block;
            width: 100%;
            .text-badge-disabled{

                margin-bottom: 10px;
                display: flex;
                align-items: center;
                color:#8686be;
                img {
                    object-fit: cover;
                    float: left;
                }
            }
        }

        .issuer-validator {
            display: block;
            width: 100%;
            padding-right: 15px;

            .card-icon {
                margin-top: 10px;
                position: absolute;
                width: 72px;
                height: 72px;
                box-shadow: 0 3px 15px 0 #ededf0;
                background: #ffffff;
                padding: 11px;
                display: flex;
                justify-content: center;

                ion-icon {
                    display: block;
                    margin: auto;
                    width: 70%;
                    height: 70%;
                }

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }

            .card-internal {
                width: 100%;
                min-height: 75px;
                margin-left: 25px;
                border-radius: 18px;
                box-shadow: 0 3px 15px 0 #ededf0;
                background: #ffffff;
                padding-left: 59px;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-right: 7px;

                ion-grid {
                    margin: 0px;
                    margin-top: 5px;
                    padding: 0px;

                    ion-row {
                        margin: 0px;
                        margin-top: 2px;
                        padding: 0px;

                        ion-col {
                            margin: 0px;
                            padding: 0px;
                        }
                    }
                }

                .card-title {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.19;
                    letter-spacing: 0.8px;
                }

                .card-value {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.25;
                    padding-bottom: 5px;
                }

                .card-issuer-chevron {
                    float: right;
                    justify-content: center;
                    margin: auto;
                    width: 6.7px;
                    height: 12.2px;
                }
            }
        }
    }
}

.darkContainer {
    .status-grid {
        border-top: 1.5px solid #464646;
        border-bottom: 1.5px solid #464646;
    }

    .actions-section {
        border-bottom: 1.5px solid #464646;
        
        .title {
            color: #ffffff;
        }

        .card-action{
            background-color: #212021;
            box-shadow: none;
        }
    }

    .issuer-section { 
        .issuer-validator {
            .card-internal {
                background-color: #212021;
                box-shadow: none;

                .card-title {
                    color: #ffffff;
                }

                .card-value {
                    color: #ACACAC;
                    opacity: 1;
                }
            }
        }
    }
}


