@import "src/app/identity/root.scss";

.container {
    min-height: 100%;
    width: 100%;
    padding: 5px 15px;

    .avatar-row {
        display: flex;
        justify-content: center;

        .icon-section {
            width: 110px;
            height: 110px;
            padding: 5px;
            display: flex;
            justify-content: center;
            //border: solid 5px var(--essentials-box-color);
            border-radius: 50%;
            margin-bottom: 20px;

            img {
                margin-top: 9px;
                width: 64px;
                height: 64px;
                padding: 8px;
            }

            .avatar {
                margin-top: 0px;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }

            ion-spinner {
                position: absolute;
                margin-top: 28px;
            }
        }
    }

    .bio-row {
        padding-left: 5px;

        ion-col {
            display: flex;
            align-items: center;

            h1,
            p {
                margin: 0;
            }
        }

        .name-col {
            padding-bottom: 0;

            h1 {
                font-size: 24px;
                font-weight: 600;
            }
        }

        .description-col {
            padding-top: 0px;

            p {
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.65px;
            }
        }

        .icon-col {
            justify-content: flex-end;

            div {
                height: 35px;
                width: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;

                img {
                    height: 66%;
                    width: 66%;
                }
            }
        }

        .address-col {
            padding-top: 5px;

            p {
                font-size: 11px;
                font-weight: 400;
            }
      }

        &.sensitive {
            color: red;
            margin-left: 5px;
        }
    }

    .cred-info-grid {
        padding: 5px;
        border-top: 0;
        border-bottom: 0;

        ion-row {
            ion-col:nth-child(2) {
                text-align: right;
            }
        }
    }

    .status-grid {
        padding: 10px;
        border-top: 1.5px solid var(--essentials-border-separator-color);
        border-bottom: 1.5px solid var(--essentials-border-separator-color);
        margin-top: 5px;

        ion-row {
            ion-col {
                display: flex;
                align-items: center;

                ion-label {
                    font-weight: 500;
                    font-size: 13px;
                }

                .left-icon {
                    width: 25px;
                    object-fit: contain;
                }

                .verified {
                    width: 20.2px;
                    height: 22.7px;
                    margin-left: 2px;
                    object-fit: contain;
                }
            }
        }
    }

    .actions-section {
        padding: 15px 5px 15px 15px;
        border-bottom: 1.5px solid var(--essentials-border-separator-color);

        .title {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.19;
            letter-spacing: 0.8px;
            margin-bottom: 10px;
        }

        .card-action {
            border-radius: 18px;
            padding: 12px;
            display: flex;
            align-items: center;
            width: 100%;

            .icon {
                position: relative;
                float: left;
            }

            .text {
                display: block;
                width: 90%;

                .title {
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.29;
                    letter-spacing: 0.7px;
                    text-align: left;
                }

                .description {
                    margin-left: 10px;
                    display: block;
                    font-size: 13px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.23;
                    letter-spacing: normal;
                    text-align: left;
                }
            }

            .chevron {
                position: relative;
                float: right;
            }
        }

        .card-action-validate {
            @extend .card-action;
            background-color: #03d898;
        }

        .card-action-alert {
            @extend .card-action;
            background-color: #f06666;
        }

        .card-action-info {
            @extend .card-action;
            background-color: var(--essentials-box-color);
        }
    }

    .issuer-section {
        padding: 15px 5px 15px 15px;
        width: 100%;

        .card-issuer-values {
            border-radius: 18px;
            display: flex;
            align-items: center;
            font-size: 8px;
            font-weight: 500;
            line-height: 1.25;
            text-align: left;
            width: 100%;

            .card-issuer-avatar {
                object-fit: cover;
                border-radius: 50%;
                width: 48px;
                height: 48px;
                float: left;
                margin-right: 5px;
            }

            div {
                width: 85%;
            }

            .card-issuer-name {
                font-size: 14px;

                .by {
                    font-weight: 600;
                }
            }

            .card-issuer-did {
                font-size: 11px;
            }

            .card-issuer-chevron {
                float: right;
            }
        }
    }
}
