<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode" *ngIf="credential">

    <ion-row class="avatar-row">
      <div class="icon-section" *ngIf="!isAvatarCred()">
        <img [src]="getCredIconSrc()">
      </div>
      <div class="icon-section" *ngIf="isAvatarCred()">
        <img [src]="getAvatar()" />
      </div>
    </ion-row>

    <ion-row class="bio-row">
      <ion-col size="9" class="name-col">
        <h1>{{ getDisplayableCredentialTitle() }}</h1>
      </ion-col>
      <ion-col size="3" class="icon-col">
        <div class="ripple ion-activatable">
          <img
            src="{{ this.theme.darkMode ? '/assets/identity/svg/share-dark.svg' : '/assets/identity/svg/share.svg' }}"
            (click)="profileService.shareIdentity()"
          >
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col *ngFor="let prop of displayableProperties" size="12" class="description-col">
        <p>{{ prop.value | translate }}</p>
      </ion-col>
    </ion-row>

    <ion-grid  class="status-grid" *ngIf="!hasCheckedCredential">
      <ion-spinner></ion-spinner>
    </ion-grid>
    <ion-grid  class="status-grid" *ngIf="hasCheckedCredential">
      <ion-row *ngIf="!isCredentialInLocalDIDDocument()">
        <ion-col size="1.5">
          <img class="published" src="../../../assets/identity/svg/publish-gray.svg" />
        </ion-col>
        <ion-col size="10.5">
          <ion-label>{{ 'identity.credential-not-published' |  translate }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isCredentialInLocalDIDDocument()">
        <ion-col size="1.5">
          <img class="published" src="../../../assets/identity/svg/credential-published.svg" />
        </ion-col>
        <ion-col size="10.5">
          <ion-label>{{ 'identity.credential-should-be-visible' | translate }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isVerified()">
        <ion-col size="1.5">
          <img class="verified" src="../../../assets/identity/svg/verified-green.svg" />
        </ion-col>
        <ion-col size="10.5">
          <ion-label>{{ 'identity.credential-verified' | translate }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!isVerified()">
        <ion-col size="1.5">
          <img class="verified" src="../../../assets/identity/svg/verified-gray.svg" />
        </ion-col>
        <ion-col size="10.5">
          <ion-label>{{ 'identity.credential-unverified' | translate }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row class="actions-section" *ngIf="!isCredentialInLocalDIDDocument()">
      <span class="title">{{ 'identity.current-actions' | translate }}</span>

      <div class="card-action-info" (click)="publishCredential()">
        <div class="icon">
          <img src="../../../assets/identity/svg/publish-gray.svg" />
        </div>
        <div class="text">
          <span class="title">{{ 'identity.credential-not-published' |  translate }}</span>
          <span class="description">{{ 'identity.credential-on-blockchain' |  translate }}</span>
        </div>
        <div class="chevron">
          <img src="../../../assets/identity/svg/chevron-thin-right-dark.svg" />
        </div>
      </div>

    </ion-row>

    <ion-row class="issuer-section" *ngIf="issuer && isVerified()">
      <ion-segment value="validator" (ionChange)="issuerSegmentChanged($event)">
        <ion-segment-button value="validator">
          <ion-label>{{ 'identity.validator' |  translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="history">
          <ion-label>{{ 'identity.history' |  translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="issuer-validator" *ngIf="segment == 'validator'">
        <div class="card-icon">
          <img *ngIf="issuer.avatar == ''" [src]="getSmallIcon('name')" />
          <div *ngIf="issuer.avatar !== ''">
            <img [src]="issuer.avatar" />
          </div>
        </div>
        <div class="card-internal">
          <!-- <img class="card-issuer-chevron" src="../../../assets/identity/svg/chevron-thin-right-black.svg" /> -->
          <span *ngIf="hasIssuerName()" class="card-title">{{ issuer.name }}</span>
          <span *ngIf="!hasIssuerName()" class="card-title">{{ issuer.did }}</span>

          <span class="card-value">
            <ion-grid>
              <ion-row *ngIf="hasIssuerName()">
                <ion-col size="12">{{ issuer.did }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">{{ 'identity.issuance-date' |  translate }}</ion-col>
                <ion-col size="6">{{ getIssuanceDate() }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">{{ 'identity.expiration-date' |  translate }}</ion-col>
                <ion-col size="6">{{ getExpirationDate() }}</ion-col>
              </ion-row>
            </ion-grid>
          </span>
        </div>
      </div>
      <div class="issuer-history" *ngIf="segment == 'history'">
        <div class="text-badge-disabled">
          <img src="../../../assets/identity/svg/check-disabled.svg" />
          <span>&nbsp;{{ 'identity.no-history-display' |  translate }}</span>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
