<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode" *ngIf="credential">

    <ion-row class="avatar-row">
      <div class="icon-section">
        <img crossOrigin='anonymous' #icon name="icon" src="assets/identity/smallIcons/dark/finger-print.svg"
          class="avatar" style="background-color: #00000080" />
        <ion-spinner *ngIf="!iconLoaded" color="accent"></ion-spinner>
      </div>

      <!-- <div class="icon-section" *ngIf="!isAvatarCred()">
        <ion-spinner *ngIf="!iconLoaded" color="accent" style="position:absolute"></ion-spinner>
        <img [src]="getCredIconSrc()">
      </div>
      <div class="icon-section" *ngIf="isAvatarCred()">
        <img [src]="getAvatar()" />
      </div> -->
    </ion-row>

    <!-- Credential title -->
    <ion-row class="bio-row">
      <ion-col size="9" class="name-col">
        <h1>{{ getDisplayableCredentialTitle() }}</h1>
      </ion-col>
    </ion-row>

    <!-- Has a clean description - use it -->
    <ion-row class="bio-row" *ngIf="hasDescription()">
      <ion-col size="12" class="description-col">
        <p>{{ getDisplayableCredentialDescription() }}</p>
      </ion-col>
    </ion-row>

    <!-- Doesn't have a clean description - display raw properties -->
    <ion-row class="bio-row" *ngIf="!hasDescription()">
      <ion-col *ngFor="let prop of displayableProperties" size="12" class="description-col">
        <p>{{ prop.value | translate }}</p>
      </ion-col>
    </ion-row>

    <ion-row class="bio-row sensitive" *ngIf="isSensitive()">
      {{ 'identity.sensitive' | translate }}
    </ion-row>

    <ion-grid class="cred-info-grid" *ngIf="hasCheckedCredential">
      <ion-row>
        <ion-col size="6">
          {{ 'identity.issuance-date' | translate }}:
        </ion-col>
        <ion-col size="6">
          <ion-label>{{ getDisplayableCredentialIssuanceDate() }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          {{ 'identity.expiration-date' | translate }}:
        </ion-col>
        <ion-col size="6">
          <ion-label>{{ getDisplayableCredentialExpirationDate() }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="status-grid" *ngIf="!hasCheckedCredential">
      <ion-spinner></ion-spinner>
    </ion-grid>
    <ion-grid class="status-grid" *ngIf="hasCheckedCredential">
      <!-- Published or not -->
      <ion-row *ngIf="!isCredentialInPublishedDIDDocument">
        <ion-col size="1.5">
          <img class="left-icon published" src="../../../assets/identity/svg/publish-gray.svg" />
        </ion-col>
        <ion-col size="10.5">
          <ion-label>{{ 'identity.credential-not-published' | translate }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isCredentialInPublishedDIDDocument">
        <ion-col size="1.5">
          <img class="published"
            [src]="theme.darkMode ? '/assets/identity/svg/publish-credentials-white.svg' : '/assets/identity/svg/publish-credentials-black.svg'" />
        </ion-col>
        <ion-col size="10.5">
          <ion-label>{{ 'identity.credential-should-be-visible' | translate }}</ion-label>
        </ion-col>
      </ion-row>

      <!-- Conform or not -->
      <ion-row *ngIf="conformityChecked">
        <ion-col size="1.5">
          <div class="left-icon" inlineSVG="/assets/shared/curcol-icons/warning.svg"></div>
        </ion-col>
        <ion-col size="10.5">
          <ion-label *ngIf="isConform">
            {{ 'identity.credential-details-conform' | translate }}
          </ion-label>
          <ion-label *ngIf="!isConform" class="not-conform">
            {{ 'identity.credential-details-not-conform' | translate }}
          </ion-label>
        </ion-col>
      </ion-row>

    </ion-grid>

    <!-- Actions -->
    <ion-row class="actions-section">
      <span class="title">{{ 'identity.current-actions' | translate }}</span>

      <!-- <div class="card-action-info" (click)="publishCredential()">
        <div class="icon">
          <img src="../../../assets/identity/svg/publish-gray.svg" />
        </div>
        <div class="text">
          <span class="title">{{ 'identity.credential-not-published' | translate }}</span>
          <span class="description">{{ 'identity.credential-on-blockchain' | translate }}</span>
        </div>
        <div class="chevron">
          <img src="../../../assets/identity/svg/chevron-thin-right-dark.svg" />
        </div>
      </div> -->

      <div class="card-action-info">
        <div class="icon">
          <img src="../../../assets/identity/svg/publish-gray.svg" />
        </div>
        <div class="text">
          <span class="title">{{ 'identity.change-visibility' | translate }}</span>
          <span class="description">{{ 'identity.change-visibility-info' | translate }}</span>
        </div>
        <div class="chevron">
          <ion-toggle mode="ios" [(ngModel)]="isCredentialInLocalDIDDocument"
            [disabled]="updatingVisibility || (!getIssuerName() && !isCredentialInLocalDIDDocument)"
            (ngModelChange)="onVisibilityChange($event)">
          </ion-toggle>
        </div>
      </div>

    </ion-row>

    <ion-row class="bio-row" *ngIf="!selfIssued()">
      <ion-col size="9" class="name-col">
        <h1>{{ 'identity.who-made-this' | translate }}</h1>
      </ion-col>
    </ion-row>

    <ion-row class="issuer-section" *ngIf="!selfIssued()">
      <div class="card-issuer-values">
        <img class="card-issuer-avatar" [src]="issuerIcon">
        <div class="info">
          <div class="card-issuer-name" *ngIf="getIssuerName()">{{ 'identity.delivered-by' | translate }} <span
              class="by">{{getIssuerName()}}</span></div>
          <div class="card-issuer-did" *ngIf="getIssuerName()">{{issuerDid}}</div>

          <div class="card-issuer-name" *ngIf="!getIssuerName()">{{ 'identity.delivered-by-unknown-issuer' |
            translate }}</div>
          <div class="card-issuer-did" *ngIf="!getIssuerName()">{{ 'identity.issuer-not-found-info' |
            translate }}</div>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>