<ion-grid [class.darkContainer]="theme.darkMode">

  <ion-row class="ion-activatable ripple" (click)="pasteFromClipboard()">
    <ion-label>{{ 'wallet.paste' | translate }}</ion-label>
    <ion-icon mode="ios" name="clipboard-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>

  <ion-row *ngIf="showContacts" class="ion-activatable ripple" (click)="goContacts()">
    <ion-label>{{ 'wallet.contacts' | translate }}</ion-label>
    <img [src]="!theme.darkMode ? 'assets/wallet/icons/contacts.svg' : 'assets/wallet/icons/darkmode/contacts.svg'"/>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>

  <ion-row class="ion-activatable ripple" (click)="goScan()">
    <ion-label>{{ 'wallet.scan' | translate }}</ion-label>
    <img [src]="!theme.darkMode ? 'assets/wallet/icons/scan.svg' : 'assets/wallet/icons/darkmode/scan.svg'"/>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>

  <ion-row *ngIf="showCryptonames" class="ion-activatable ripple" (click)="goCryponames()">
    <ion-label>{{ 'wallet.cryptonames' | translate }}</ion-label>
    <img [src]="!theme.darkMode ? 'assets/wallet/logos/cryptoname.svg' : 'assets/wallet/logos/darkmode/cryptoname.svg'"/>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>

</ion-grid>

