@import 'src/app/contacts/root.scss';

.container {
  padding: 40px 0;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .profile-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
    }

    h1 {
      margin: 0;
      padding: 15px 30px 7.5px;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.21;
      text-align: center;
    }

    p {
      margin: 0;
      padding: 0px 60px 15px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      overflow: hidden;
    }

    .btn-row {
      padding: 15px 30px 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        border-radius: 100%;
        margin: 0 7.5px;
        height: 46px;
        width: 46px;

        img {
          height: 46px;
          width: 46px;
        }
      }
    }
  }

  ion-list {
    margin: 0;

    .profile-data {
      padding: 7.5px 15px 7.5px 30px;
      border-bottom: 1.5px solid #f0f1ff;
      display: flex;
      align-items: center;
      justify-content: space-between;

      ion-col {
        h5, h4 {
          margin: 0;
        }

        h5 {
          margin-bottom: 2px;
          font-size: 10px;
          font-weight: 600;
          color: #000000;
          opacity: 0.7;
        }

        h4 {
          font-size: 13px;
          font-weight: 500;
        }

        ion-icon {
          margin-top: 4px;
          color: #4620b0;
          font-size: 20px;
        }
      }
    }

    .remove-border {
      border-bottom: none;
    }
  }
}

.darkContainer {
  ion-list {
    background: #121212;

    .profile-data {
      border-bottom: 1.5px solid #464646;

      ion-col {
        h5 {
          color: #9D9D9D;
          opacity: 1;
        }
      }
    }

    .remove-border {
      border-bottom: none;
    }
  }
}
