<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid *ngIf="contact" class="container" [class.blur]="popupService.deletePopup" [class.darkContainer]="theme.darkMode">
    <div class="header">
      <img [src]="uxService.getAvatar(contact)" class="profile-img">
      <h1>{{ uxService.getDisplayableName(contact) }}</h1>
      <p> {{ uxService.getDisplayableBio(contact) }}</p>
      <ion-row class="btn-row">
        <div class="ion-activatable ripple">
          <img [src]="!theme.darkMode ? '/assets/contacts/buttons/scan.svg' : '/assets/contacts/buttons/darkmode/scan.svg'" (click)="popupService.showQRCode(contact)">
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple">
          <img [src]="!theme.darkMode ? '/assets/contacts/buttons/edit.svg' : '/assets/contacts/buttons/darkmode/edit.svg'" (click)="friendsService.showCustomization(contact, false)">
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple">
          <img [src]="!theme.darkMode ? '/assets/contacts/buttons/options.svg' : '/assets/contacts/buttons/darkmode/options.svg'" (click)="popupService.showOptions($event, contact, true)">
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-row>
    </div>

    <ion-segment mode="ios">
      <ion-segment-button [class.active]="detailsActive" (click)="changeList(true)">
        <ion-label>{{ 'details' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [class.active]="!detailsActive" (click)="changeList(false)">
        <ion-label>{{ 'apps' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list *ngIf="detailsActive">
      <ion-row class="profile-data" *ngIf="contact.credentials.name">
        <ion-col>
          <h5>{{ 'name' | translate }}</h5>
          <h4>{{ contact.credentials.name }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.nickname">
        <ion-col>
          <h5>{{ 'nickname' | translate }}</h5>
          <h4>{{ contact.credentials.nickname }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.description">
        <ion-col>
          <h5>{{ 'bio' | translate }}</h5>
          <h4>{{ contact.credentials.description }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.gender">
        <ion-col>
          <h5>{{ 'gender' | translate }}</h5>
          <h4>{{ contact.credentials.gender }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.nation">
        <ion-col>
          <h5>{{ 'country' | translate }}</h5>
          <h4>{{ contact.credentials.nation }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.birthDate">
        <ion-col>
          <h5>{{ 'birth' | translate }}</h5>
          <h4>{{ fixBirthDate(contact.credentials.birthDate) }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.birthPlace">
        <ion-col>
          <h5>{{ 'birth-place' | translate }}</h5>
          <h4>{{ contact.credentials.birthPlace }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.occupation">
        <ion-col>
          <h5>{{ 'occupation' | translate }}</h5>
          <h4>{{ contact.credentials.occupation }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.education">
        <ion-col>
          <h5>{{ 'education' | translate }}</h5>
          <h4>{{ contact.credentials.education }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.interests">
        <ion-col>
          <h5>{{ 'interests' | translate }}</h5>
          <h4>{{ contact.credentials.interests  }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.telephone">
        <ion-col>
          <h5>{{ 'telephone' | translate }}</h5>
          <h4>{{ contact.credentials.telephone }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.email">
        <ion-col>
          <h5>{{ 'email' | translate }}</h5>
          <h4>{{ contact.credentials.email }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.url">
        <ion-col>
          <h5>{{ 'website' | translate }}</h5>
          <h4>{{ contact.credentials.url }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.twitter">
        <ion-col>
          <h5>Twitter</h5>
          <h4>{{ contact.credentials.twitter }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.facebook">
        <ion-col>
          <h5>Facebook</h5>
          <h4>{{ contact.credentials.facebook }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.instagram">
        <ion-col>
          <h5>Instagram</h5>
          <h4>{{ contact.credentials.instagram }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.snapchat">
        <ion-col>
          <h5>Snapchat</h5>
          <h4>{{ contact.credentials.snapchat }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.telegram">
        <ion-col>
          <h5>Telegram</h5>
          <h4>{{ contact.credentials.telegram }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.wechat">
        <ion-col>
          <h5>Wechat</h5>
          <h4>{{ contact.credentials.wechat }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.weibo">
        <ion-col>
          <h5>Weibo</h5>
          <h4>{{ contact.credentials.weibo }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.twitch">
        <ion-col>
          <h5>Twitch</h5>
          <h4>{{ contact.credentials.twitch }}</h4>
        </ion-col>
      </ion-row>

      <ion-row class="profile-data" *ngIf="contact.credentials.elaAddress">
        <ion-col size="11">
          <h5>{{ 'elaWallet' | translate }}</h5>
          <h4>
            {{ contact.credentials.elaAddress.slice(0,25) }} <br>
            {{ contact.credentials.elaAddress.slice(25,50) }}
          </h4>
        </ion-col>
        <ion-col size="1" (click)="copyAddress('elaWallet', contact.credentials.elaAddress)">
          <ion-icon mode="ios" name="copy" color="tertiary"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="contact.id !== 'did:elastos'"
        class="profile-data"
        [class.remove-border]="!contact.carrierAddress && !contact.notificationsCarrierAddress"
        >
        <ion-col size="11">
          <h5>{{ 'did' | translate }}</h5>
          <h4>
            {{ contact.id.slice(0,25) }} <br>
            {{ contact.id.slice(25,50) }}
          </h4>
        </ion-col>
        <ion-col size="1" (click)="copyAddress('did', contact.id)">
          <ion-icon mode="ios" name="copy" color="tertiary"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="contact.carrierAddress"
        class="profile-data"
        [class.remove-border]="!contact.notificationsCarrierAddress"
      >
        <ion-col size="11">
          <h5>{{ 'carrier' | translate }}</h5>
          <h4>
            {{ contact.carrierAddress.slice(0,25) }} <br>
            {{ contact.carrierAddress.slice(25,50) }}
          </h4>
        </ion-col>
        <ion-col size="1" (click)="copyAddress('carrier', contact.carrierAddress)">
          <ion-icon mode="ios" name="copy" color="tertiary"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="contact.notificationsCarrierAddress" class="profile-data remove-border">
        <ion-col size="11">
          <h5>{{ 'elastos-notifications-carrier-address' | translate }}</h5>
          <h4>
            {{ contact.notificationsCarrierAddress.slice(0,25) }} <br>
            {{ contact.notificationsCarrierAddress.slice(25,50) }}
          </h4>
        </ion-col>
        <ion-col size="1" (click)="copyAddress('carrier', contact.carrierAddress)">
          <ion-icon mode="ios" name="copy" color="tertiary"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list *ngIf="!detailsActive && contactsApps.length > 0 && !fetchingApps">
      <ion-item
        class="app"
        *ngFor="let appInfo of contactsApps"
        mode="md"
        lines="none"
        details="none"
      >
        <ion-grid class="ion-no-padding" >
          <ion-row class="ion-align-items-center">
            <ion-col class="img-col" offset="0.5" size="2.5">
              <ion-avatar>
                <img [src]="appInfo.app ? getAppIcon(appInfo.app.id) : '/assets/icon/elalogo.svg'">
              </ion-avatar>
            </ion-col>
            <ion-col size="8.5" class="appInfo-col">
              <h4 *ngIf="appInfo.app">{{ appInfo.app.name }}</h4>
              <h4 *ngIf="!appInfo.app">{{ appInfo.packageId }}</h4>
              <p *ngIf="appInfo.action">{{ appInfo.action }}</p>
            </ion-col>
       <!--      <ion-col offset="0.5" size="3" class="btn-col">
              <ion-button *ngIf="!appInfo.isInstalled" color="tertiary" (click)="discoverApp(appInfo.packageId)">
                <ion-label>{{ 'discover' | translate }}</ion-label>
              </ion-button>
              <ion-button *ngIf="appInfo.isInstalled && appInfo.app" color="tertiary" (click)="connectApp(appInfo.packageId)">
                <ion-label>{{ 'connect' | translate }}</ion-label>
              </ion-button>
              <ion-button *ngIf="appInfo.isInstalled && !appInfo.app" color="tertiary" (click)="appService.startApp(appInfo.packageId)">
                <ion-label>{{ 'open' | translate }}</ion-label>
              </ion-button>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- Apps Loader -->
    <ion-list *ngIf="!detailsActive && fetchingApps">
      <ion-item class="ion-padding" lines="none">
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-spinner name="bubbles" color="primary"></ion-spinner>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- No Apps -->
    <ion-list *ngIf="!detailsActive && contactsApps.length === 0 && !fetchingApps">
      <ion-item class="app" lines="none">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="no-apps ion-text-center">
                {{ 'no-capsules' | translate }}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </ion-grid>
</ion-content>
