@import "../../../root.scss";

ion-grid {
    margin: 24px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: left;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}

.expiration-date {
    font-size: 13px;
    margin-top: 10px;

    .error-input {
        color: red;
    }
}

.input-container {
  border-radius: 9px;
  padding: 0 6px;
  background: var(--essentials-box-color);
  border: solid 1px var(--essentials-border-separator-color);

  ion-input {
      text-align: right;
      height: 45px;

      font-size: 13px;
      font-weight: 400;
      background: var(--essentials-box-color);
      border: none;
  }

  p {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
