@import "../../../root.scss";

ion-grid {
    margin: 24px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    margin-bottom: 2px;
    font-size: 13px;
    text-align: left;
}

p {
    margin-top: 2px;
    font-size: 14px;
    text-align: left;
}

ion-input {
    background: var(--essentials-box-color);
    height: 45px;
    border: 1px solid var(--essentials-border-separator-color);
    border-radius: 7px;
    font-size: 13px;
    text-align: center;
    --padding-start: 12px;
}

.expiration-date {
    font-size: 13px;
    margin-top: 10px;

    .error-input {
        color: red;
    }
}
