@import "src/app/crcouncilvoting/root.scss";

.container {
  min-height: 100%;
  padding-top: 10px;

  .votes-header {
    border-radius: 17px;
    padding: 15px;
    margin: 0 10px 12.5px;
    box-shadow: 0 3px 15px 0 #ededf0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    ion-label {
      font-size: 16px;
      font-weight: 600;
  
      span {
        display: inline;
        font-weight: 700;
        font-size: 22px;
      }
    }
  }

  .candidate-list {
    padding: 0px 0px 1px;
    padding-bottom: 20%;

    ion-item {
      margin: 2px 0;
      box-shadow: 0 3px 15px 0 #ededf0;
      --background:  #ffffff;
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;

      ion-grid {
        padding: 10px 15px;

        .candidate-title {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          ion-img, img {
            border-radius: 10px;
            width: 40px;
            height: 40px;
          }

          ion-label {
            margin-left: 10px;

            h4 {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: -0.5px;
            }
          }
        }

        .candidate-input {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          ion-input {
            border-bottom: 1.25px solid #732dcf;
            --padding-start: 0px;
            --padding-end: 0px;
          }

          ion-label {
            margin-left: 10px;
            font-size: 10px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .btn {
    height: 50px;
    width: 46.5%;
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    ion-label {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .cancel {
    left: 2%;
    box-shadow: 0 3px 15px 0 #ededf0;
    background-color: #ffffff;

    ion-label {
      color: #000000;
    }
  }

  .confirm {
    right: 2%;
    box-shadow: 0 3px 15px 0 #ededf0;
    background-color: #6e23d0;

    ion-label {
      color: #ffffff;
    }
  }
}

.dark-container {
  .votes-header {
    background: #212021;
    box-shadow: none;
  }

  .candidate-list {
    ion-item {
      --background: #212021;
      box-shadow: none;
    }
  }

  .cancel {
    box-shadow: 0 3px 6px 0 #151626;
    background-color: #202039;

    ion-label {
        color: #ffffff;
    }
  }

  .confirm {
    box-shadow: 0 3px 15px 0 #151626;
  }
}
