@import "src/app/crcouncilvoting/root.scss";

.header {
  ion-label {
    font-size: 14px;

    span {
      font-weight: 700;
      font-size: 20px;
    }
  }
}

.container {
  min-height: 100%;
  padding-top: 12%;
  padding-bottom: 16%;

  .candidate-list {
    padding: 0px 0px 1px;

    ion-item {
      margin: 6px 0;
      box-shadow: 0 3px 15px 0 #ededf0;
      --background:  #ffffff;
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;

      ion-grid {
        padding: 10px 15px;

        .candidate-title {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          ion-img, img {
            border-radius: 10px;
            width: 40px;
            height: 40px;
          }

          ion-label {
            margin-left: 10px;

            h4 {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: -0.5px;
            }
          }
        }

        .candidate-input {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          ion-input {
            border-bottom: 1px solid #732dcf;
            --padding-start: 0px;
            --padding-end: 0px;
          }

          ion-label {
            margin-left: 10px;
            font-size: 10px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.dark-container {
  .candidate-list {
    ion-item {
      box-shadow: 0 3px 15px 0 #151626;
      --background:  #2b2c49;
    }
  }
}

.dist-btn, .vote-btn {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 49.9%;
  height: 8%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: btns;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;

  @keyframes btns {
    0% { bottom: -100px }
    100% { bottom: 0px }
  }

  h1 {
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
}

.dist-btn {
  background: linear-gradient(to bottom, #732dcf, #640fd4);
  left: 0;
}

.vote-btn {
  background: linear-gradient(to bottom, #732dcf, #640fd4);
  right: 0;
}