<!-- <ion-header>
  <div class="ion-text-center header">
    <ion-label><span>{{ getElaRemainder() }}</span>/{{ totalEla }} votes remaining</ion-label>
  </div>
</ion-header> -->

<app-titlebar></app-titlebar>
<ion-content>
  <ion-grid class="container ion-no-padding">
    <ion-list lines="none" class="candidate-list" [class.blur]="castingVote">
      <ion-item class="candidate" color="primary" *ngFor="let candidate of candidatesService.selectedCandidates" lines="none">
        <ion-grid>
          <ion-row class="ion-no-padding">
            <ion-col size="6.5" class="candidate-title">
              <img [src]="candidate.imageUrl ? candidate.imageUrl : '/assets/crcouncilvoting/icon/avatar.png'">
              <ion-label>
                <h4>{{ candidate.nickname }}</h4>
              </ion-label>
            </ion-col>
            <ion-col offset="0.5" size="5" class="candidate-input">
              <ion-input
                class="ion-text-center"
                (ionBlur)="setInputDefault($event.target.value)"
                type="number"
                name="userVotes" ngDefaultControl
                [(ngModel)]="candidate.userVotes">
              </ion-input>
              <ion-label>{{ 'pledge-ela' | translate }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <div class="spinner" *ngIf="castingVote">
      <ion-spinner name="bubbles" color="success"></ion-spinner>
    </div>
  </ion-grid>

  <!-- <div class="ballot-box" (click)="castVote()">
    <h1 *ngIf="votesCasted" class="votes-casted-title">VOTES CASTED</h1>
    <ion-img [class.voting-logo]="castingVote" src='/assets/crcouncilvoting/images/cybericon.svg'></ion-img>
    <h1 *ngIf="!votesCasted" [class.voting-title]="castingVote">CAST VOTES</h1>
  </div> -->

  <div class="dist-btn ion-activatable ripple" (click)="distribute()">
    <h1>{{ 'dist-equally' | translate }}</h1>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <div class="vote-btn ion-activatable ripple" (click)="cast()">
    <h1 *ngIf="!votesCasted">{{ 'cast-votes' | translate }}</h1>
    <h1 *ngIf="votesCasted">{{ 'votes-casted' | translate }}</h1>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

</ion-content>
