@import "src/app/crproposalvoting/root.scss";

ion-content {
    .search-row {
        padding: 15px;

        ion-input {
            height: 50px;
            background: #ffffff;
            font-size: 15px;
            border-radius: 5px;
            letter-spacing: -0.5px;
            --padding-start: 15px;
            box-shadow: 0 0.1px 0.5px 0 rgba(0, 0, 0, 0.16);
        }
    }

    .container {
        min-height: 100%;
        padding: 0px 0px 10px;

        .item-row {
            padding: 5px 0;
            margin-bottom: 2px;
            background-color: #ffffff;
            box-shadow: 0 0.1px 1px 0 rgba(0, 0, 0, 0.16);

            h1, p {
                margin: 0;
                text-align: left;
            }

            h1 {
                font-size: 15px;
            }

            p {
                font-size: 9px;
            }

            ion-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    
            .left-col {    
                h1 {
                    font-weight: 700;

                    span {
                        font-size: 11px;
                        font-weight: 500;
                    }
                }
            }
    
            .middle-col {
                align-items: flex-start;
                padding-left: 0;

                h1 {
                    font-weight: 600;
                }
    
                .date {
                    margin: 5px 0 2.5px;
                    font-weight: 600;
                }

                .status {
                    font-weight: 700;
                    color: #666666;
                }

                .active {
                    color: #ffc409;
                }
        
                .final {
                    color: #2dd36f;
                }
                
                .rejected {
                    color: #f04141;
                }

                .middle-label {
                    margin-bottom: 2.5px;
                }

                .invisible {
                    visibility: hidden;
                }
            }
            
            .right-col {
                align-items: center;
            }
        }

        .more {
            margin-top: 15px;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.7px;
            text-align: center;
        }
    }
}

.darkContent {
    .search-row {
        ion-input {
            background: #212021;
            box-shadow: none;
        }
    }

    .container {
        .item-row {
            background: #212021;
            box-shadow: none;
        }
    }    
}




