@import "src/app/crproposalvoting/root.scss";

ion-content {
    .search-row {
        padding: 15px;

        ion-input {
            height: 50px;
            background: #ffffff;
            font-size: 15px;
            border-radius: 5px;
            letter-spacing: -0.8px;
            --padding-start: 15px;
            box-shadow: 0 0.1px 0.5px 0 rgba(0, 0, 0, 0.16);
        }
    }

    .container {
        min-height: 100%;
        padding: 0px 0px 10px;

        .item-row {
            padding: 7.5px 0;
            margin-bottom: 5px;
            background-color: #ffffff;
            box-shadow: 0 0.1px 1px 0 rgba(0, 0, 0, 0.16);

            h1, p {
                margin: 0;
                text-align: left;
            }

            h1 {
                font-size: 15px;
            }

            p {
                font-size: 9px;
            }

            ion-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    
            .left-col {    
                h1 {
                    font-weight: 700;

                    span {
                        font-size: 11px;
                        font-weight: 500;
                    }
                }
            }
    
            .middle-col {
                align-items: flex-start;
                padding-left: 0;

                h1 {
                    font-weight: 600;
                }
    
                .date {
                    margin: 5px 0 2.5px;
                    font-weight: 600;
                }

                .status {
                    font-weight: 700;
                    color: #8888b0;
                }

                .middle-label {
                    margin-bottom: 2.5px;
                }

                .invisible {
                    visibility: hidden;
                }
            }
            
            .right-col {
                align-items: center;
            }
        }

        .more {
            margin-top: 15px;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.7px;
            text-align: center;
        }
    }

    /* .container {
        min-height: 100%;
        padding: 0px 10px 10px;
    
        ion-virtual-scroll {
            background: transparent;
            min-height: 100%;
            width: 100%;
        }
    
        .item-row {
            width: 100%;
            border-radius: 17px;
            padding: 7.5px 15px 7.5px 0;
            margin-bottom: 7.5px;
            background-color: #ffffff;
            //box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 15px 0 #ededf0;
    
            p {
                font-size: 9px;
                font-weight: 600;
                text-align: left;
            }
    
            .left-col {
                display: flex;
                justify-content: center;
                align-items: center;
    
                p {
                    font-weight: 700;
                }
            }
            
            .middle-col, .right-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                overflow: hidden;
          
                h1, p {
                    margin: 0;
                }
          
                h1 {
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 0.7px;
                    text-align: left;
                }
            }
    
            .middle-col {
                padding-left: 0;
    
                p {
                    color: #8888b0;
    
                    span {
                        font-weight: 700;
                    }
                }

                .second-label {
                    margin-top: 5px;
                }

                .middle-label {
                    margin-bottom: 2.5px;
                }

                .invisible {
                    visibility: hidden;
                }
            }
            
            .right-col {
                justify-content: center;
                align-items: flex-end;
          
                p {
                    font-size: 9px;
                    font-weight: 500;
                    text-align: right;
                }
            }
        }
          
        .more {
            margin-top: 15px;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.7px;
            text-align: center;
        }
    } */
}

.darkContent {
    .search-row {
        ion-input {
            background: #2b2c49;
            box-shadow: 0 3px 15px 0 #151626;
        }
    }

    .container {
        background: #191a2f;
    
        .item-row {
            box-shadow: 0 3px 15px 0 #151626;
            background-color: #2b2c49;
        }
    }    
}




