<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container">
        <img src="assets/wallet/onboard/wallet.svg" />
        <h1>Choose a<br />multi-signature<br />wallet type</h1>
        <ion-row class="btn-container">
            <ion-button color="secondary" (click)="createStandardMultiSigWallet()">
                <ion-label>Standard</ion-label>
            </ion-button>
            <ion-button color="secondary" (click)="createGnosisMultiSigWallet()" [disabled]="true">
                <ion-label>Gnosis EVM</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>