@import "src/app/voting/root.scss";
/** General Spinner **/
.spinner {
    position: fixed;
    z-index: 2;
    top: 40%;
    left: 46.5%;

    ion-spinner {
      transform: scale(2);
    }
}

.proposal-search-result {
    width: 100%;
}

//--------------Proposal Status------------------------------------

.propoasl-status {
    font-size: 13px !important;
    color: #666666 !important;

}

.voteragreed {
    color: #00B83E !important;
}

.finished {
    color: #0BBFE7 !important;
}

.registered {
    color: #3C3C3C !important;
}

.cragreed {
    color: #3C3C3C !important;
}

.crcanceled {
    color: #FF5757 !important;
}

.votercanceled {
    color: #FF5757 !important;
}

.darkContainer {
    .voteragreed {
        color: #20E9C5 !important;
    }

    .finished {
        color: #67CBE1 !important;
    }

    .registered {
        color: #C9C9C9 !important;
    }

    .cragreed {
        color: #C9C9C9 !important;
    }
}