@import "src/app/voting/root.scss";

ion-card {
    box-shadow: none;
}

/** General Spinner **/
.spinner {
    position: fixed;
    z-index: 2;
    top: 40%;
    left: 46.5%;

    ion-spinner {
        transform: scale(2);
    }
}

.proposal-search-result {
    width: 100%;
}

//--------------Proposal Status------------------------------------

.propoasl-status {
    font-size: 13px !important;
    color: #666666 !important;
}

.voteragreed {
    color: #00b83e !important;
}

.finished {
    color: #0bbfe7 !important;
}

.registered {
    color: #3c3c3c !important;
}

.cragreed {
    color: #3c3c3c !important;
}

.crcanceled {
    color: #ff5757 !important;
}

.votercanceled {
    color: #ff5757 !important;
}

.darkContainer {
    .voteragreed {
        color: #20e9c5 !important;
    }

    .finished {
        color: #67cbe1 !important;
    }

    .registered {
        color: #c9c9c9 !important;
    }

    .cragreed {
        color: #c9c9c9 !important;
    }
}
