<div class="container" [class.darkContainer]="theme.darkMode">

  <ion-row class="header-row">
    <img src="/assets/default/securityWarning.svg">
    <h1 class="ion-padding-horizontal ion-text-center">Import Type</h1>
  </ion-row>

  <ion-row class="btn-row">
    <ion-button color="success" (click)="importFromMnemonic()">
      <ion-label>Mnemonic Input</ion-label>
    </ion-button>
  </ion-row>

  <ion-row class="btn-row">
    <ion-button color="success" (click)="importFromWalletApp()">
      <ion-label>Import from Wallet</ion-label>
    </ion-button>
  </ion-row>

</div>

<!-- <div class="container">
  <p class="password-intro">
    {{'importdidsource-intro'|translate}}
  </p>

  <did-button class="main-button" (click)="importFromMnemonic()"
    [title]="'import-from-mnemonic' | translate"
    [textcolor]="'#FFFFFF'"
    [bgcolor]="'var(--ion-color-primary)'"
    [bordercolor]="'var(--ion-color-primary)'"
    [shadow]="true"></did-button>

  <did-button class="main-button" (click)="importFromWalletApp()"
    [title]="'import-from-wallet-app' | translate"
    [textcolor]="'#FFFFFF'"
    [bgcolor]="'var(--ion-color-primary)'"
    [bordercolor]="'var(--ion-color-primary)'"
    [shadow]="true"></did-button>
</div> -->
