.container {
  padding: 40px;

  .header-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 15px;
      font-size: 24px;
      font-weight: 700;
      color: #161740;
    }
  }

  .btn-row {
    padding-top: 15px;

    ion-button {
      height: 41px;
      width: 100%;
      --border-radius: 8px;

      ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
      }
    }
  }
}

.darkContainer {
  background: #262641;

  .header-row {
    h1 {
      color: #fdfeff;
    }
  }
}


/* .container {
    margin: 10px 30px;

    .input-container {
        background: #F1F3F7;
        border-radius: 20px;
        padding:2px;
        padding-left:10px;
        margin-bottom:10px;
    }

    ion-input {
        font-size:12px;
        display:block;
    }

    .password-intro {
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        margin: 20px 40px;
        color: var(--ion-color-primary) !important;
        margin-bottom:20px;
    }

    .main-button {
        width:100%;
        display:block;
        margin-top:20px;
    }

    .repeat-no-match {
        border-color:#FF6464;
        background:#FFEBEB;
    }

    .no-match {
        color:#FF6464;
        margin-left:20px;
        font-size:10px;
        font-weight:600;
    }
} */
