<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid [class.dark-container]="theme.darkMode">
    <ion-card>
      <img src="assets/shared/essentials-black-circle.svg">
      <ion-card-title>{{ 'settings.version' | translate }} {{ version }}</ion-card-title>

      <div class="version-check" *ngIf="checkingVersion">
        <ion-spinner name="crescent"></ion-spinner>
        {{ 'settings.checking-updates' | translate }}
      </div>

      <div class="version-new" (click)="openAppUpdateUrl()" *ngIf="!checkingVersion && newerVersion">
        <div class="dot"></div> {{ 'settings.new-version-available' | translate:{version: newerVersion} }}
      </div>

      <div class="version-up-to-date" *ngIf="!checkingVersion && !newerVersion && !checkVersionError">
        {{ 'settings.version-up-to-date' | translate }}
      </div>

      <div class="version-up-to-date" *ngIf="!checkingVersion && checkVersionError">
        {{ 'settings.check-version-error' | translate }}
      </div>
    </ion-card>

    <ion-list>
      <ion-row class="section-row"
        *ngFor="let section of sections">
        <ion-col size="12">
          <ion-label>{{ section.type | translate }}</ion-label>
        </ion-col>
        <ion-col class="bottom-col" size="12" *ngFor="let item of section.links">
          <h4>{{ item.title | translate }}</h4>
          <hr>
          <p (click)="openLink(item)">{{ item.link }}</p>
        </ion-col>
      </ion-row>

      <ion-row class="share-row">
        <ion-col size="12">
          <ion-label>{{ 'common.share' | translate }}</ion-label>
        </ion-col>
        <ion-col class="bottom-col" size="12" (click)="shareApp()">
          <span>{{ 'settings.share-description' | translate }} </span>
          <div class="inline-svg" inlineSVG="/assets/identity/svg/share.svg"></div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>