@import "src/app/settings/root.scss";

ion-grid {
  padding: 20px;
  padding-bottom: 20%;

  ion-card {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--essentials-box-color);
    border-radius: 17px;
    padding: 15px 30px;

    img {
      width: 58px;
      height: 58px;
    }

    ion-card-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.29;
      padding: 5px;
    }

    .version-check {
      display: flex;
      align-items: center;

      ion-spinner {
        height: 20px;
        margin-right: 10px;
      }
    }

    .version-new {
      display: flex;
      align-items: center;

      .dot {
        background: red;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}

ion-list {
  padding: 0;
  background: transparent;

  .section-row,
  .share-row {
    margin: 8px 0;
    padding: 8px 0 15px;
    border-bottom: 1px solid var(--essentials-box-color);

    ion-label {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.1px;
    }

    ion-col {
      margin-bottom: 8px;
    }

    .bottom-col {
      display: flex;
      justify-content: space-between;

      h4,
      p {
        font-size: 12px !important;
        font-weight: 400;
        margin: 0;
      }

      h4 {
        span {
          font-weight: 700;
        }
      }

      p:active {
        opacity: 0.5;
      }

      .inline-svg {
        position: absolute;
        margin-left: 85%;
        top: -2px;
        width: 24px;
      }
    }
  }

  .share-row {
    border-bottom: none;
  }
}
