<ion-content>
  <app-titlebar></app-titlebar>
  <div class="ion-text-center container" [class.darkContainer]="theme.darkMode">
    <ion-row class="mnemonic-row">
      <ion-col size="3.6" *ngFor="let selected of selectedList" [class.selectedCol]="isWord(selected)" (click)="removeWord(selected, selectedList.indexOf(selected))">
        <div class="mnemonic-index">{{ selectedList.indexOf(selected) + 1 }}</div>
        <ion-label>{{ selected }}</ion-label>
      </ion-col>
    </ion-row>
    <p>{{ 'didsessions.verify-prompt' | translate }}</p>
    <ion-row class="mnemonic-row2" *ngIf="!allWordsSelected">
      <ion-col size="3.8" *ngFor="let mnemonic of mnemonicList" (click)="addWord(mnemonicList.indexOf(mnemonic), mnemonic)" [class.selectedCol]="mnemonic.selected">
        <ion-label>{{ mnemonic.text }}</ion-label>
      </ion-col>
    </ion-row>

    <div *ngIf="allWordsSelected" class="footer">
      <ion-button (click)="nextClicked()">
        {{ 'common.continue' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>


<!-- <ion-footer *ngIf="allWordsSelected" class="ion-no-border">
  <ion-button (click)="nextClicked()">
    {{ 'continue' | translate }}
  </ion-button>
</ion-footer> -->
