@import 'src/app/didsessions/root.scss';

.container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mnemonic-row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;

    ion-col {
      height: 40px;
      background: #ffffff;
      box-shadow: 0 3px 15px 0 #ededf0;
      border-radius: 8px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .mnemonic-index {
        position: absolute;
        z-index: 100;
        top: -11px;
        left: -11px;
        width: 22px;
        height: 22px;
        background: #ffffff;
        border-radius: 100%;
        border: 2px solid #F5F5FD;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
      }

      ion-label {
        color: transparent;
      }
    }

    .selectedCol {
      background: linear-gradient(to bottom, #732dcf, #640fd4);

      .mnemonic-index {
        background: linear-gradient(to bottom, #732dcf, #640fd4);
        color: #f8f8ff;
      }

      ion-label {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.29px;
        color: #f8f8ff;
      }
    }
  }

  p {
    margin: 0;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-align: center;
  }

  .mnemonic-row2 {
    padding-left: 12.5px;
    padding-right: 12.5px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;

    ion-col {
      height: 40px;
      background: linear-gradient(to bottom, #732dcf, #640fd4);
      border-radius: 8px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-label {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.29px;
        color: #f8f8ff;
      }
    }

    .selectedCol {
      visibility: hidden;
    }
  }
}

.darkContainer {
  .mnemonic-row {
    ion-col {
      background: #212021;
      box-shadow: none;

      .mnemonic-index {
        background: #212021;
        border: 2px solid #121212;
      }
    }
  }
}

@media screen and (max-height: 670px) {
  .container {
    .mnemonic-row {
      ion-col {
        margin-bottom: 15px;
      }
    }

    .mnemonic-row2 {
      ion-col {
        margin-top: 15px;
      }
    }
  }
}
