<ion-grid [class.darkContainer]="theme.darkMode">

  <div class="row ion-activatable">
    <ion-row (click)="manageIdentity()">
      <img class="share"
        [src]="!theme.darkMode ? '/assets/launcher/icons/manage-identity.svg' : '/assets/launcher/icons/dark_mode/manage-identity.svg'">
      <ion-label>{{ 'launcher.manage-identity' | translate }}</ion-label>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <div class="row ion-activatable">
    <ion-row (click)="shareIdentity()">
      <img class="share"
        [src]="!theme.darkMode ? '/assets/launcher/default/share.svg' : '/assets/launcher/default/darkmode/share.svg'">
      <ion-label>{{ 'common.share' | translate }}</ion-label>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <div class="row ion-activatable">
    <ion-row (click)="signOut()">
      <ion-icon class="sign" mode="ios" name="log-out"></ion-icon>
      <ion-label class="sign">{{ 'common.sign-out' | translate }}</ion-label>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

</ion-grid>