ion-content {
  --background: transparent;
}

* {
  font-family: 'Raleway' !important;
}

.blur {
  filter: blur(5px);
}

.inactive {
  color: rgb(231, 81, 81) !important;
}

/*******************************************  
  GLOBAL HEADER
  pages ~ vote, search, stats, tx, history
*******************************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #A25BFE;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  animation: showHeader;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px 1px 1px rgb(199, 199, 199);

  @keyframes showHeader {
    0% { top: -100px }
    100% { top: 0%; }
  }

  ion-label {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
  }

  .search-container {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-searchbar {
      width: 340px;
    }
  }
}

/************************************ 
  NODES SLIDES
  components ~ node-slider
************************************/
.node-slides {
  position: fixed;
  top: 25%;
  left: 0px;
  right: 0px;

  ion-card {
    min-width: 97%;
    padding: 0;
    margin: 10px;
    border-radius: 10px;
    background: #ffffff;

    ion-grid {
      padding: 0;

      .header-container {
        padding: 12px;
        margin-left: 9px;
        border-bottom: solid 0.5px rgb(233, 233, 233);

        .img-container {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            border-radius: 50%;
            width: 45px;
            height: 45px;
            object-fit: cover;
          }
        }

        .name-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          ion-card-title {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden;
          }
        }
      }

      ion-card-content {
        padding: 0;

        .detail-container {
          justify-content: space-between;
          border-bottom: solid 0.5px rgb(233, 233, 233);
          margin-left: 9px;
          padding: 12px 24px;

          h3, p {
            font-size: 12px !important;
            font-weight: 600;
            margin: 0;
          }

          h3 {
            color: #666666;
          }

          p {
            color: #989aa2 !important;
            padding-right: 0;

          }
        }

        .website {
          justify-content: space-between;
          border-bottom: solid 0.5px rgb(233, 233, 233);
          margin-left: 9px;
          margin-bottom: 36px;
          padding: 12px 24px;
          flex-wrap: wrap;

          h3, p {
            margin: 0;
            font-size: 12px !important;
            font-weight: 600;
          }

          h3 {
            color: #666666;
          }

          h3:active  {
            color: #428cff;
          }

          p {
            color: #989aa2 !important;
            padding-right: 10px;
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

/************************************ 
  NODES LIST
  pages ~ vote, history, search
************************************/
.node-list {
  padding: 0;
  background: hsl(225, 22%, 96%);

  ion-item {
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --background: #ffffff;
    margin: 0 0 5px;
    padding: 0px;

    ion-row {
      padding: 5px 0;

      .rank-container {
        font-size: 12px !important;
        font-weight: 600;
        padding-right: 1px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          border-radius: 50%;
          width: 45px;
          height: 45px;
          object-fit: cover;
        }

        ion-avatar {
          max-width: 45px;
          max-height: 45px;
        }
      }

      .checkbox-container {
        display: flex;
        align-items: center;

        ion-checkbox {
          --border-width: 2px;
          --border-color: #A25BFE !important;
          --border-color-checked: #A25BFE !important;
          --background-checked: #A25BFE !important;
        }
      }

      ion-label {
        margin-top: 6px;

        h4, p {
          font-weight: 600;
        }

        h4 {
          font-size: 14px;
        }

        p {
          font-size: 10px !important;
          color: #989aa2 !important;

          ion-icon {
            color: #9D64FB;
          }
        }
      }
    }
  }
}

/************************************ 
  ROOT TABS
  pages ~ app
************************************/
ion-tab-bar {
  height: 9%;

  ion-icon {
    color: #989aa2;
    font-size: 36px;
  }

  ion-label {
    font-size: 9px;
    font-weight: bold;
    color: #989aa2;
  }
}
