<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="!proposalDetailsFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="proposalDetailsFetched" [class.darkContainer]="theme.darkMode">

        <div class="message">{{ 'crproposalvoting.update-milestone-msg' | translate }}</div>
        <ion-list>
            <ion-row class="profile-data" *ngIf="proposalDetails.title">
                <ion-col>
                    <h5>{{ 'common.title' | translate }}</h5>
                    <h4>{{ proposalDetails.title }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data"
                *ngIf="updateMilestoneCommand.data.proposalhash">
                <ion-col>
                    <h5>{{ 'crproposalvoting.proposal-hash' | translate }}</h5>
                    <h4>{{ updateMilestoneCommand.data.proposalhash }}</h4>
                </ion-col>
            </ion-row>

            <ion-row class="profile-data" *ngIf="updateMilestoneCommand.data.stage">
                <ion-col>
                    <h5>{{ 'crproposalvoting.milestone-stage' | translate }}</h5>
                    <h4>{{ updateMilestoneCommand.data.stage + 1 }}</h4>
                </ion-col>
            </ion-row>
        </ion-list>

        <div *ngIf="signingAndSendingSuggestionResponse">
            <ion-spinner></ion-spinner>
        </div>

        <ion-footer *ngIf="!signingAndSendingSuggestionResponse">
            <ion-row>
                <ion-col class="left-col">
                    <div class="btn-container align-center" id="cancel" (click)="cancel()">
                        {{ 'common.cancel' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col class="right-col">
                    <div class="btn-container align-center" id="confirm" (click)="signAndUpdateMilestone()">
                        {{ 'common.confirm' | translate }}
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
            </ion-row>
        </ion-footer>

    </div>
</ion-content>

