@import "../../root.scss";

.header {
  .search-container {
    width: 85%;

    ion-input {
      height: 45px;
      background: var(--essentials-box-color);
      font-size: 15px;
      border-radius: 15px !important;
    }
  }
}

.container {
  min-height: 100%;
  padding-top: 15%;
}
