<ion-content>
  <app-titlebar></app-titlebar>
  <div class="ion-text-center header">
    <div class="search-container">
      <ion-input #search placeholder="{{ 'dposvoting.search-supernode' | translate }}" [(ngModel)]="_node"
        (ngModelChange)="filterNodes($event)" mode="ios" clearInput>
      </ion-input>
    </div>
  </div>

  <ion-grid class="container ion-no-padding" *ngIf="dpos2Service.dposList.length; else loadingList">

    <app-node-slider-search *ngIf="showNode" [nodeIndex]="nodeIndex" [totalVotes]="dpos2Service.totalVotes"
      [_nodes]="filteredNodes" [node]="node">
    </app-node-slider-search>

    <ion-list lines="none" [class.blur]="showNode" class="node-list" [class.darkContainer]="theme.darkMode">
      <ion-virtual-scroll [items]="filteredNodes" approxItemHeight="240px">
        <ion-item *virtualItem="let node">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding row-list">
              <ion-col size="1" class="rank-container ion-no-padding"
                (click)="_showNode(filteredNodes.indexOf(node), node)">
                {{ node.index }}
              </ion-col>
              <ion-col size="2" class="img-container" (click)="_showNode(filteredNodes.indexOf(node), node)">
                <img-svg-fallback class="img" [src]="node.imageUrl" default="assets/launcher/default/default-avatar.svg"></img-svg-fallback>
              </ion-col>
              <ion-col size="7.5" class="label-col" (click)="_showNode(filteredNodes.indexOf(node), node)">
                <h4>{{ node.nickname }}</h4>
                <p>
                  <!-- <span [class.inactive]="node.state !== 'Active'">
                      <ion-icon name="navigate"></ion-icon> {{ node.Location }}
                    </span>
                    &#8226;  -->
                    {{ showIntegerPart(node.dposv2votesNumber) }} {{ 'voting.vote-rights' | translate }} ({{ showIntegerPart(node.votesPercentage) }}%)
                </p>
                <p *ngIf="node.stakeuntilDate">
                    {{ 'dposvoting.stake-until' | translate }}: {{ node.stakeuntilDate }}
                </p>
                <p *ngIf="node.stakeuntilExpiredIn" class="expired-in">
                    {{ 'dposvoting.expired-in' | translate : { time: node.stakeuntilExpiredIn } }}
                </p>
              </ion-col>
              <!-- <ion-col size="1.5" class="checkbox-container" *ngIf="node.state === 'Active'">
                <ion-checkbox value="node" [(ngModel)]="node.isChecked" mode="ios"></ion-checkbox>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>
  </ion-grid>

  <ng-template #loadingList>
    <ion-grid class="container ion-no-padding">
      <ion-list class="node-list" [class.loading-list-dark]="theme.darkMode" [class.loading-list]="!theme.darkMode">
        <ion-item *ngFor='let empty of dpos2Service.emptyList' lines="none">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="1" class="rank-container ion-no-padding">
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </ion-col>
              <ion-col size="2" class="img-container">
                <ion-avatar>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
              </ion-col>
              <ion-col size="7.5">
                <h4>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h4>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <p>
              </ion-col>
              <ion-col size="1.5" class="checkbox-container">
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-grid>
  </ng-template>

</ion-content>