@import "../../root.scss";

.container {
    margin: 10px;
}

.update-btn {
    height: 100%;
    font-size: 13px;
    font-weight: 400;
    padding-right: 10px;

    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
}
