<ion-content>
    <app-titlebar></app-titlebar>

    <div *ngIf="!dataFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="dataFetched">
        <app-node-slider-update *ngIf="showNode"  (buttonClick)="onClick($event)" [nodeIndex]="nodeIndex" [node]="node"
                [totalVotes]="dpos2Service.totalVotes" [_nodes]="votes">
        </app-node-slider-update>

        <ion-grid class="container ion-no-padding" *ngIf="votes.length">
            <ion-list lines="none" [class.blur]="showNode" class="node-list" [class.darkContainer]="theme.darkMode">
                <ion-item *ngFor="let node of votes; index as i">
                    <ion-grid class="ion-no-padding">
                        <ion-row class="ion-no-padding row-list">
                            <ion-col size="0.5" class="rank-container ion-no-padding">
                                {{ i + 1 }}
                            </ion-col>
                            <ion-col size="2" class="img-container">
                                <img-svg-fallback class="img" [src]="node.imageUrl" default="assets/launcher/default/default-avatar.svg"></img-svg-fallback>
                                                        </ion-col>
                            <ion-col size="6" class="label-col">
                                <h4>{{ node.nickname }}</h4>
                                <p>
                                    <!-- <span [class.inactive]="node.state !== 'Active'">
                                        <ion-icon name="navigate"></ion-icon> {{ node.Location }}
                                    </span>
                                    &#8226;  -->
                                    {{ dpos2Service.getVotes(node.votes) }} {{ 'dposvoting.input-votes' | translate }} ( {{ uxService.toThousands(node.voteRights, 0) }} {{ 'voting.vote-rights' | translate }} )
                                </p>
                                <p  *ngIf="node.stakeuntilDate">
                                    {{ 'dposvoting.stake-until' | translate }}: {{node.stakeuntilDate}}
                                </p>
                                <p  *ngIf="node.stakeuntilExpiredIn" class="expired-in">
                                    {{ 'dposvoting.expired-in' | translate : {time: node.stakeuntilExpiredIn} }}
                                </p>
                                <p  *ngIf="node.stakeuntilAboutExpire" class="expired-in">
                                    {{ node.stakeuntilAboutExpire }}
                                </p>
                            </ion-col>
                            <ion-col size="1.75" (click)="showUpdateNode(i, node)">
                                <ebutton class="update-btn" [disabled]='(node.locktime - node.blockheight) >= 720000' [title]="'common.update' | translate"></ebutton>
                            </ion-col>
                            <ion-col size="1.75" (click)="mintBPosNFT(i, node)">
                                <ebutton class="update-btn" [title]="'Mint' | translate"></ebutton>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-grid>

        <div *ngIf="!votes.length" class="no-data">
            {{ 'dposvoting.no-voting' | translate }}
        </div>

    </div>

</ion-content>

