.app-info {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  border-radius: 28px;
  background: var(--essentials-box-color);

  .icon-container {
    background: white;
    width: 120px;
    height: 120px;
    border-radius: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: solid 3px var(--essentials-border-separator-color);

    .icon {
    }
  }

  .title {
    font-weight: 500;
    font-size: 14px;
  }

  .description {
    font-weight: 500;
    font-size: 10px;
  }

  .fav-button {
    padding: 10px;
    background: var(--ion-background-color);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;

    img {
      margin-right: 10px;
    }
  }
}

.networks {
  margin: 10px;

  h1 {
    font-weight: 600;
    font-size: 18px;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    margin-top: 0;
  }

  .networks-list {
    .network {
      .logo {
        align-items: center;
        display: flex;
      }

      .name {
        align-items: center;
        display: flex;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
