<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <img [src]="!theme.darkMode ? 'assets/wallet/coins/ela-black.svg' : 'assets/wallet/coins/ela-white.svg'" />
        <div *ngIf="displayedKey" class="qrcode-container">
            <qrcode [qrdata]="displayedKey" [width]="200"></qrcode>
        </div>
        <h1>{{ 'wallet.multi-sig-extended-public-key-info' | translate }}</h1>
        <h2 *ngIf="displayedKey" (click)="copyAddress()">
            {{ displayedKey }}
        </h2>
        <p>{{ 'wallet.multi-sig-extended-public-key-copy' | translate }}</p>

        <!-- Elastos mainchain legacy warning -->
        <div class="notice">
            <div class="title">{{ 'wallet.multi-sig-extended-public-key-note' | translate }}</div>
            <p>{{ 'wallet.multi-sig-extended-public-key-note-info' | translate }}</p>
        </div>
    </ion-grid>
</ion-content>