<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <img [src]="!theme.darkMode ? 'assets/wallet/coins/ela-black.svg' : 'assets/wallet/coins/ela-white.svg'" />
        <div *ngIf="displayedKey" class="qrcode-container">
            <qrcode [qrdata]="displayedKey" [width]="200"></qrcode>
        </div>
        <h1>Here is your extended public key. You can use this key as a co-signer key for multi-signature wallets.</h1>
        <h2 *ngIf="displayedKey" (click)="copyAddress()">
            {{ displayedKey }}
        </h2>
        <p>Tap the key to copy</p>

        <!-- Elastos mainchain legacy warning -->
        <div class="notice">
            <div class="title">Technical note</div>
            <p>
                This extended public key is derived using BIP45 in order to be used in a multi-signature wallet,
                while your elastos mainchain wallet is BIP44 for historical reasons.
            </p>
        </div>
    </ion-grid>
</ion-content>