<ion-grid [class.darkContainer]="theme.darkMode">

  <div class="row ion-activatable">
    <ion-row (click)="shareIdentity()">
      <ion-label>{{ 'common.share' | translate }}</ion-label>
      <img class="share" [src]="!theme.darkMode ? '/assets/launcher/default/share.svg' : '/assets/launcher/default/darkmode/share.svg'">
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <div class="row ion-activatable">
    <ion-row (click)="signOut()">
      <ion-label class="sign">{{ 'common.sign-out' | translate }}</ion-label>
      <ion-icon class="sign" mode="ios" name="log-out"></ion-icon>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

</ion-grid>