<ion-content>
    <app-titlebar></app-titlebar>

    <ion-grid class="container ion-no-padding">
        <ion-row>
            <h5>{{ 'staking.enter-amount' | translate }}</h5>
        </ion-row>
        <ion-row>
            <ion-input id="max-votes" type="number" min="0" max="available" name="amount" ngDefaultControl
                [(ngModel)]="amount" clearInput>
            </ion-input>
        </ion-row>
        <ion-row size="9" class="profile-data">
            <ion-col class="left-col">
                <p id="available">{{ 'staking.available' | translate }}: {{ uxService.toThousands(available) }} </p>
            </ion-col>
            <ion-col size="3" class="right-col">
                <div id="max-button" (click)="clickMax()">{{ 'common.max' | translate}}</div>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="stakeService.ownerDpos2" class="toggle-row">
            <ion-col size="10.25" class="left-col">
                <p>{{ 'staking.withdraw-node-reward' | translate }}</p>
            </ion-col>
            <ion-col size="1.75" class="right-col">
                <ion-toggle [(ngModel)]="isNodeReward" (ngModelChange)="onRewardChange($event)" color="dark">
                </ion-toggle>
            </ion-col>
        </ion-row>

        <ion-row class="staked-for-vote">
            <ion-col size="9.5" class="left-col">
                {{ 'staking.staked-for-votes' | translate }}
            </ion-col>
            <ion-col size="2" class="middle-col">
                {{ stakeService.votesRight.maxStakedRatio }}%
            </ion-col>

            <ion-col size="0.5" class="right-col" *ngIf="!isMuiltWallet" (click)="advanced = !advanced">
                <img *ngIf="advanced"
                    [src]="!theme.darkMode ? 'assets/staking/icons/down-arrow.svg' : 'assets/staking/icons/darkmode/down-arrow.svg'" />
                <img *ngIf="!advanced"
                    [src]="!theme.darkMode ? 'assets/staking/icons/up-arrow.svg' : 'assets/staking/icons/darkmode/up-arrow.svg'" />
            </ion-col>

            <ion-col *ngIf="advanced" class="advanced-col">
                <ion-row>
                    <h5>{{ 'staking.send-to' | translate }}</h5>
                </ion-row>
                <ion-row>
                    <ion-input id="max-votes" type="text" name="address" [attr.disabled]="true"
                        ngDefaultControl placeholder="{{'staking.reciever-address' | translate}}" [(ngModel)]="address">
                    </ion-input>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="signingAndTransacting">
        <ion-spinner></ion-spinner>
    </div>

    <ion-footer *ngIf="!signingAndTransacting && isKeyboardHide">
        <ion-row>
            <ion-col>
                <ebutton class="btn-container" (clicked)="withdraw()" [title]="'staking.withdraw' | translate">
                </ebutton>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-footer>

</ion-content>