<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="ion-text-center container">
        <!-- Name -->
        <p>{{ 'wallet.enter-wallet-name' | translate }}</p>
        <ion-row>
            <ion-input type="text" name="name" ngDefaultControl [placeholder]="'wallet.enter-name' | translate"
                [(ngModel)]="wallet.name">
            </ion-input>
        </ion-row>

        <h2>TODO</h2>
        <ul>
            <li>Pick signing wallet (will be the first of N signers)</li>
            <li>Configure others public keys (except us)</li>
            <li>Show stats: "N signers rquired of M total"</li>
            <li>Network options (elastos and btc multi address)</li>
        </ul>

        <!-- Button -->
        <ion-row class="btn-row">
            <ion-button color="secondary" [disabled]='!wallet.name' (click)="onCreate()">
                <ion-label>{{ 'common.continue' | translate }}</ion-label>
            </ion-button>
        </ion-row>

    </ion-grid>
</ion-content>