@import "src/app/wallet/root.scss";
@import "src/essentials.scss";

.container {
    position: relative;
    min-height: 100%;
    padding: 10px 15px;
    padding-bottom: 100px; // Footer space
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    object-fit: cover;

    ion-col {
        padding-inline-start: 0;
    }

    p {
        margin: 0;
        padding: 30px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
    }

    ion-row {
        margin-bottom: 15px;

        ion-input {
            background: var(--essentials-box-color);
            border: none;
            font-weight: 400;
            letter-spacing: -0.34px;
            --padding-start: 12px;
        }

        .pick-wallet {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                margin-left: 5px;
            }

            .picked-wallet {
                font-weight: bold;
            }
        }
    }

    .toggle-row {
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        ion-col {
            padding: 0;
            display: flex;
        }

        .left-col {
            justify-content: flex-start;
        }

        .right-col {
            justify-content: flex-end;

            ion-toggle {
                zoom: 0.8;
            }
        }
    }

    .cosigner-row {
        align-items: center;

        .right-col {
            ion-icon {
                width: 20px;
                height: 20px;
            }
        }

        ion-input {
            flex-direction: row-reverse; // Icons on the right

            .icons {
                height: 100%;
                display: flex;

                .icon {
                    margin: auto 5px;
                    padding: 5px;
                }
            }
        }
    }

    .footer {
        z-index: 10;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}
