@import "src/app/hivemanager/root.scss";

ion-row {
    background: white;
    box-shadow: 0 3px 15px 0 #ededf0;
    border-radius: 20px;
    padding: 10px 15px 15px;
    margin: 5px 0 10px;

    ion-col {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #EAEAEA;
        padding: 7.5px 0;

        h1, h2, p {
            margin: 0;
        }

        h1 {
            font-size: 27px;
            font-weight: 800;
            letter-spacing: 0.3px;
        }

        h2 {
            font-size: 12px;
            font-weight: 500;
        }

        p {
            font-size: 14px;
            font-weight: 600;
        }
    }

    .removeBorder {
        border-bottom: none;
    }
}

.darkContainer {
    background: #212021;
    box-shadow: none;

    ion-col {
        border-bottom: 1px solid #464646;
    }
}

/* .order {
    // BPI: YES I know, i'm at the max of my CSS design skills ;-)
    background: #F0F0F0;
    border: solid 1px olivedrab;
    border-radius: 20px;
    margin:10px;
    padding:10px;
}

ion-title {
    position: absolute;
    left: 0px !important;
    top: 0px !important;
    width: 100%;
    height: 100%;
    text-align: center !important;
    // margin-left: 0px !important;
    // margin-top: 0px !important;
}
 */