<ion-row *ngIf="order"  [class.darkContainer]="theme.darkMode">
    <ion-col size="12">
        <h2>{{ 'order.id' | translate }}</h2>
        <p>{{ order.getId() }}</p>
    </ion-col>
    <ion-col size="12">
        <h2>{{ 'order.plan' | translate }}</h2>
        <p>{{ order.getPricingPlan().getName() }}</p>
    </ion-col>
    <ion-col size="12">
        <h2>{{ 'order.state' | translate }}</h2>
        <p>{{ getFriendlyOrderState(order) }}</p>
    </ion-col>
    <ion-col size="12" class="removeBorder">
        <h2>{{ 'order.date' | translate }}</h2>
        <p>{{ UI.getFriendlyDate(order.getCreationTime()) }}</p>
    </ion-col>
</ion-row>
