<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="ion-text-center container">
        <p>{{ 'wallet.type-menmonic-import' | translate }}</p>
        <ion-slides #slider pager [options]="slideOpts" (ionSlideDidChange)="ionSlideDidChange()">
            <ion-slide *ngFor="let slideNumber of [0,1,2]">
                <ion-row *ngFor="let wordInput of [0,1,2,3]" class="input-row" (click)="showMnemonicInputKeypad()"
                    [class]="{currentInput: keypadShown && inputList.length === (slideNumber*4) + wordInput}">
                    <ion-col size="1">
                        <span>{{ (slideNumber*4) + wordInput + 1 }}.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <div class="virtual-input">
                            {{ getMnemonicWord((slideNumber*4) + wordInput) }}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-slide>
        </ion-slides>
        <ion-row class="btn-container">
            <ebutton [disabled]="!allInputsFilled()" (clicked)="onImport()"
                [title]="'wallet.import-wallet' | translate"> </ebutton>
        </ion-row>
        <h1>{{ 'wallet.import-paste-from-keypad' | translate }}</h1>
    </ion-grid>
</ion-content>