<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="subsetting-grid" [class.dark-subsetting-grid]="theme.darkMode">
    <ion-row class="section-row" (click)="sendNotification()">
      <ion-col size="12" class="left-col">
        <h1>Send notification</h1>
      </ion-col>
    </ion-row>
    <ion-row class="section-row" (click)="sendWalletNewCoinsNotification()">
      <ion-col size="12" class="left-col">
        <h1>Send new coins notification</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>