<ion-content class="lightmode" [class.darkmode]="theme.darkMode">
    <app-titlebar></app-titlebar>

    <ion-content>
        <ion-row class="title-row">
            <div class='title'>{{ 'wallet.ledger-connect' | translate }}</div>
        </ion-row>
        <ion-row class="note-row" *ngIf="device">
            <ion-label>{{ device.name }}</ion-label>
        </ion-row>

        <ion-spinner *ngIf="connecting" class="spinner"></ion-spinner>

        <ion-row>
            <ion-button color="primary" (click)="doConnect()">
                <ion-label> Connect </ion-label>
            </ion-button>
        </ion-row>
        <ion-row>
            <ion-button color="primary" (click)="getEVMAddresses(5, 0)">
                <ion-label> Get EVM Addresses </ion-label>
            </ion-button>
        </ion-row>
        <ion-row>
          <ion-button color="primary" (click)="getBTCAddress()">
              <ion-label> Get BTC Address </ion-label>
          </ion-button>
      </ion-row>
        <ion-row>
            <ion-button color="primary" (click)="getELAAddress()">
                <ion-label> Get ELA Address </ion-label>
            </ion-button>
        </ion-row>

        <ion-row class="note-row" *ngIf="hasGotAddress()">
            <ion-label> Addresses </ion-label>
        </ion-row>
        <ion-row class="note-row" *ngFor="let item of addresses" (click)="selectAddress(item)">
            <p> {{ item.address }} </p>
        </ion-row>

    </ion-content>
</ion-content>