@import "../../root.scss";

.second-line {
  text-align: left;
}

.expired {
  color: #999 !important ;
}

.inactive {
  color: #c74800 !important;
  font-size: 10px;
  margin-top: 10px;
}

.earned-coins {
  display: flex;
  margin-right: 10px;

  .amount {
    text-align: left;
  }
}
