.container {
  background: linear-gradient(to bottom, #181d20 0%,  #21313d 100%);
  border-radius: 15px;
  padding: 30px;

  .delete-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 5px;
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
    }
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    p {
      font-size: 14px;
      text-align: center;
      color: #ffffff;
    }
  }

  .btn-row {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
      width: 167px;
      height: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      background-color: #FAFAFA;

      ion-label {
        font-weight: 500;
        font-size: 14px;
        color: #181d20;
      }
    }
  }
}

