<div class="container">
  <ion-row class="delete-header">
    <img src="/assets/developertools/images/warning.svg">
    <h1 class="ion-padding-horizontal ion-text-center">
      {{ 'common.delete' | translate }} {{ app.name }}
    </h1>
  </ion-row>

  <ion-row>
    <ion-col class="message ion-no-padding">
      <p class="ion-padding-horizontal">
        {{ 'developertools.delete-app-msg' | translate }}
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="btn-row ion-margin-top">
    <ion-col class="btn" size="5" (click)="cancel()">
      <ion-label>{{ 'common.cancel' | translate }}</ion-label>
    </ion-col>
    <ion-col class="btn" size="5" (click)="dAppService.deleteApp(app)">
      <ion-label>{{ 'common.delete' | translate }}</ion-label>
    </ion-col>
  </ion-row>
  </div>
