<ion-content class="ion-text-center">
  <app-titlebar title=""></app-titlebar>
  <div class="warning" *ngIf="!elamainSubWallet">
    <p>{{ 'wallet.wallet-unsupported-on-network' | translate:{network: currentNetworkName} }}</p>
  </div>
  <ion-grid class="container" *ngIf="elamainSubWallet">
    <!-- CARD HEADER -->
    <div>
      <ion-card>
        <ion-card-header>
          <div class="img" inlineSVG="assets/wallet/intents/curcol-smartcontracts.svg"></div>
          <ion-card-title>{{ 'wallet.signtypeddata-subtitle' | translate }}</ion-card-title>
          <ion-card-subtitle>
            {{ 'wallet.signtypeddata-intro' | translate }}
          </ion-card-subtitle>
          <ion-card-subtitle class="danger">
            {{ 'wallet.signtypeddata-danger' | translate }}
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <!-- Network info -->
    <ion-row class="network-row">
      <ion-col size="12" class="left-col">
        <img [src]="networkWallet.network.logo">
        <h1>{{ networkWallet.network.name }}</h1>
      </ion-col>
    </ion-row>

    <!-- Message info -->
    <ion-row *ngIf="message" class="message-row">
      <ion-col size="3" class="left-col">
        <p> Message</p>
      </ion-col>
      <ion-col size="9" class="right-col">
        <p>{{ message }}</p>
      </ion-col>
    </ion-row>

    <!-- BUTTONS FOOTER -->
    <ebutton class="btn cancel" mode="cancel" (clicked)="cancelOperation()" [title]="'common.cancel' | translate">
    </ebutton>
    <ebutton class="btn confirm" (clicked)="confirmSign()" [title]="'common.confirm' | translate"></ebutton>

  </ion-grid>
</ion-content>