@import "src/app/developertools/root.scss";

.container {
  padding: 20px 15px;
  padding-bottom: 15%;

  h1 {
    margin: 0px 0px 15px;
    font-size: 24px;
    font-weight: 900;
  }

  ion-card {
    background: var(--essentials-box-color);
    padding: 15px;
    border-radius: 30px;
    margin: 5px 0;

    ion-card-subtitle {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: initial;
    }
  }
}

ebutton {
  width: 90%;
}
