<ion-content>
    <app-titlebar></app-titlebar>
    <div class="wallet-container walletSelection-container" [class.dark-wallet-container]="theme.darkMode">
        <div class="wallet-selection">
            <ion-row class="header-row">
                <ion-col size="10">
                    <ion-label>
                        <h1>{{ 'wallet.wallets' | translate }}</h1>
                        <p>{{ 'wallet.explore-your-wallets' | translate }}</p>
                    </ion-label>
                </ion-col>
                <ion-col size="2" (click)="goToCreateWallet()">
                    <ion-icon class="add-wallet-icon" name="add-outline"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let masterWallet of masterWalletsToShowInList" class="wallet-row"
                [class.selected-wallet]="masterWallet.id === selectedMasterWallet.id"
                (click)="selectWallet(masterWallet)">
                <ion-col size="2" class="color-col">
                    <div class="color-block" [ngStyle]="
                        {
                            'background-image': masterWallet.theme ?
                            'url(' + masterWallet.theme.background + ')' :
                            'url(/assets/wallet/cards/maincards/card-purple.svg)'
                        }"></div>
                </ion-col>
                <ion-col size="8" class="left-col" *ngFor="let netWallet of [getNetworkWallet(masterWallet)]">
                    <!-- ngFor: Hack to get a netWallet variable -->
                    <div class="wallet-name">{{ masterWallet.name }}</div>
                    <div class="wallet-amount" *ngIf="netWallet">
                        <h4 *ngIf="!currencyService.useCurrency">{{
                            WalletUtil.getWholeBalance(netWallet.getDisplayBalance()) }}<span class="dot"
                                *ngIf="!netWallet.getDisplayBalance().isZero() && WalletUtil.getDecimalBalance(netWallet.getDisplayBalance())">.</span>
                            <span>{{ WalletUtil.getDecimalBalance(netWallet.getDisplayBalance(),
                                netWallet.getDecimalPlaces())
                                }}</span>
                            <span>{{ netWallet.getDisplayTokenName() }}</span>
                        </h4>
                        <h4 *ngIf="currencyService.useCurrency">{{
                            WalletUtil.getWholeBalance(netWallet.getDisplayBalanceInActiveCurrency())
                            }}<span class="dot"
                                *ngIf="!netWallet.getDisplayBalance().isZero() && WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(netWallet.getDisplayBalance()))">.</span>
                            <span>{{
                                WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(netWallet.getDisplayBalance()))
                                }}</span>
                            <span> {{ currencyService.selectedCurrency.symbol }}</span>
                        </h4>
                    </div>
                    <div class="wallet-amount" *ngIf="!netWallet">
                        Unsupported on the {{networkService.activeNetwork.value.name}} network.
                    </div>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border" [class.lightmode]="!theme.darkMode" [class.darkmode]="theme.darkMode">
    <ion-button (click)="cancelOperation()">
        <ion-label>{{ 'common.cancel' | translate }}</ion-label>
    </ion-button>
</ion-footer>