@import "src/app/wallet/root.scss";

.wallet-container {
  border-radius: 11px;
  padding: 5px;
  margin: 10px 0px;

  .wallet-selection {
    padding: 10px 10px 10px;

    .header-row {
      margin-bottom: 20px;

      ion-col {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        align-self: center;

        h1,
        p {
          margin: 0;
        }

        h1 {
          font-size: 22px;
          font-weight: 500;
          text-align: left;
          margin: 0 0 5px;
        }

        p {
          font-size: 13px;
          font-weight: 300;
          text-align: left;
        }

        img {
          width: 30px;
          height: 30px;
          align-self: flex-end;
        }

        .arrow-icon {
          transform: rotate(180deg);
        }

        .add-wallet-icon {
          justify-content: flex-end;
          width: 45px;
          height: 45px;
        }
      }
    }

    .wallet-row {
      border-radius: 17px;
      padding: 5px 10px;
      margin-bottom: 7.5px;
      background-color: var(--essentials-box-color);
      border: 1px solid var(--essentials-border-separator-color);

      ion-col {
        display: flex;
        align-items: center;
      }

      .color-col {
        justify-content: center;

        .inline-svg {
          width: 24px;
          height: 24px;
        }
      }

      .left-col {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;

        img {
          width: 35px;
          height: 35px;
        }

        .wallet-name {
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0.7px;
        }

        .wallet-amount {
          h4 {
            font-size: 13px;
            font-weight: 300;
            margin: 0;
            margin-top: 5px;
          }
        }
      }

      .right-col {
        justify-content: flex-end;

        ion-icon {
          width: 15px;
          height: 12px;
          visibility: hidden;
        }
      }
    }

    .selected-wallet {
      .right-col {
        ion-icon {
          visibility: visible;
        }
      }
    }
  }
}
