@import 'src/app/wallet/root.scss';

.container {
    min-height: 100%;
    padding: 20px;

    .main-title-row {
        margin-bottom: 10px;
        margin-left: 5px;

        p {
            margin: 0;
            font-size: 13px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.33px;
            text-align: left;
            color: #000000;
            opacity: 0.7;
        }

        .refresh-icon {
            ion-icon {
                width: 18px;
                height: 18px;
            }
        }
    }

    .subwallet-row {
        .left-col {
            align-items: center;
            display: flex;
            align-self: start;
            flex-direction: column-reverse;

            .icon-container {
                align-items: center;
                justify-content: center;
                display: flex;
                background: #fff;
                width: 40px;
                height: 40px;
                border-radius: 30%;
                overflow: hidden;
                border: solid 2px white;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    border: 0;
                    padding: 0;
                }
            }
        }
    }

    .itemOption {
        background: transparent;

        img {
          height: 20px;
          width: 20px;
        }
    }
}

.dark-container {
    .main-title-row {
        p {
            color: #9D9D9D;
            opacity: 1;
        }
    }
}

ion-item-sliding {
    // padding-top: 30px;
    margin: 0;
    --ion-item-background: transparent;

    ion-item {
      --padding-start: 0px;
      --inner-padding-end: 0px;
    }
}

ion-footer {
    background: transparent;

    .btn-container {
        width: 100%;
    }
}
