<ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>{{ 'wallet.cryptonames' | translate }}</p>
            </ion-col>
        </ion-row>
        <ion-item-sliding *ngFor="let contact of supportedCryptoAddresses">
            <ion-item>
                <ion-row class="subwallet-row ripple ion-activatable">
                    <ion-col size="2" class="left-col">
                        <div class="icon-container">
                            <img [src]="getResolverLogo(contact)">
                        </div>
                    </ion-col>
                    <ion-col size="10" class="middle-col">
                        <h1>{{ contact.cryptoname }} {{ contact.type }} {{ contact.resolver }} </h1>
                        <p>{{ contact.address.slice(0,30) }}...</p>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option class="itemOption" (click)="showDeletePrompt(contact)">
                    <img src="/assets/contacts/images/delete.svg">
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-row class="btn-container">
        <ebutton (clicked)="modalCtrl.dismiss()" [title]="'common.cancel' | translate">
        </ebutton>
    </ion-row>
</ion-footer>