<ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>{{ 'wallet.cryptonames' | translate }}</p>
            </ion-col>
        </ion-row>
        <ion-row
            class="subwallet-row ripple ion-activatable"
            [class.dark-subwallet-row]="theme.darkMode"
            *ngFor="let contact of contactsService.contacts"
            (click)="selectContact(contact)"
        >
            <ion-col size="2" class="left-col">
                <div class="icon-container">
                    <img [src]="!theme.darkMode ? 'assets/wallet/logos/cryptoname.svg' : 'assets/wallet/logos/darkmode/cryptoname.svg'">
                </div>
            </ion-col>
            <ion-col size="10" class="middle-col">
                <h1>{{ contact.cryptoname }}</h1>
                <p>{{ contact.address.slice(0,30) }}...</p>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-row class="btn-container">
        <ion-button color="primary" (click)="modalCtrl.dismiss()">
            <ion-label>{{ 'common.cancel' | translate}}</ion-label>
        </ion-button>
    </ion-row>
</ion-footer>