@import "src/app/voting/root.scss";

#votes-buttons {
    margin-top: 5px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
        margin: 0;
        padding: 0;
        width: 50%;
        font-size: 13px;
        font-style: Bold;
    }

    #max-button {
        text-align: right;
    }
}
