@import 'src/app/didsessions/root.scss';

.did-button {
    overflow:hidden;

    border-width:4px;
    border-style: solid;
    font-weight:700;
    font-size:12px;
    border-radius: 20px;
    text-align:center;
}

.shadow {
    box-shadow: -3px 3px 3px rgba(0,0,0,0.3);
}