<ion-grid [class.darkContainer]="theme.darkMode">

  <h1>{{ name }}</h1>
  <div>
    <qrcode [qrdata]="qrCodeString" [size]="150"></qrcode>
  </div>
  <h2>{{ didString.slice(4,16) }}...{{ didString.slice(40,46) }}</h2>

  <ion-row class="footer">
    <ion-button color="success" (click)="shareInvitationLink()">
      <ion-label>{{ 'common.share' | translate }}</ion-label>
    </ion-button>
    <ion-button color="success" (click)="copyDIDToClipboard()">
      <ion-label>{{ 'common.copy-to-clipboard' | translate }}</ion-label>
    </ion-button>
  </ion-row>

</ion-grid>
