@import "src/app/contacts/root.scss";

ion-grid {
  height: 100%;
  width: 100%;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.45px;
  }

  h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 5px;
    margin: 10px;
    border-radius: 17px;

    qrcode {
      zoom: 0.8;
    }
  }
}
