.template-root {
  display: block;
  height: auto;
  padding: 10px;
  position: relative;
  overflow: hidden;

  .project {
    width: 15vw;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;

    img {
      border-radius: 10px;
    }
  }

  .right-col {
    width: auto;
    margin-left: 15vw;
    display: flex;
    min-height: 80px; // Don't let the floating project logo overflow
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
