* {
  font-family: 'Raleway' !important;
}

.spinner {
  position: fixed;
  z-index: 2;
  top: 40%;
  left: 46.5%;

  ion-spinner {
    transform: scale(2);
  }
}

/************************************
  NODES SLIDES
  components ~ node-slider
************************************/
.node-slides {
  position: fixed;
  top: 25%;
  left: 0px;
  right: 0px;

  ion-card {
    min-width: 97%;
    padding: 0;
    margin: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 3px 15px 0 #ededf0;

    ion-grid {
      padding: 0;

      .header-container {
        padding: 12px;
        margin-left: 9px;
        border-bottom: 1.5px solid #EAEAEA;

        .img-container {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            border-radius: 50%;
            width: 45px;
            height: 45px;
            object-fit: cover;
          }
        }

        .name-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          ion-card-title {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden;
          }
        }
      }

      ion-card-content {
        padding: 0;

        .detail-container {
          justify-content: space-between;
          border-bottom: 1.5px solid #EAEAEA;
          margin-left: 9px;
          padding: 12px 24px;

          h3, p {
            font-size: 12px !important;
            font-weight: 600;
            padding-right: 0;
            margin: 0;
          }

          h3 {
            color: #000000;
            opacity: 0.7;
          }

          p {
            color: #000000;
          }
        }

        .website {
          justify-content: space-between;
          border-bottom: 1.5px solid #EAEAEA;
          margin-left: 9px;
          margin-bottom: 36px;
          padding: 12px 24px;
          flex-wrap: wrap;

          h3, p {
            margin: 0;
            font-size: 12px !important;
            font-weight: 600;
          }

          h3 {
            color: #000000;
            opacity: 0.7;
          }

          p {
            color: #000000;
            padding-right: 10px;
          }

          h3:active  {
            color: #428cff;
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.dark-node-slides {
  ion-card {
    background: #212021;
    box-shadow: none;

    ion-grid {
      .header-container {
        border-bottom: 1.5px solid #464646;
      }

      ion-card-content {
        .detail-container {
          border-bottom: 1.5px solid #464646;

          p {
            color: #ffffff !important;
          }

          h3 {
            color: #ACACAC;
            opacity: 1;
          }
        }

        .website {
          border-bottom: 1.5px solid #464646;

          p {
            color: #ffffff !important;
          }

          h3 {
            color: #ACACAC;
            opacity: 1;
          }

          h3:active  {
            color: #428cff;
          }
        }
      }
    }
  }
}