@import "src/app/voting/root.scss";

.council-header {
    height: 55px;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-weight: 500;
    font-size: 14px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
