@import "src/app/wallet/root.scss";

.container {
    min-height: 100%;
    padding: 20px;
    object-fit: cover;

    .main-title-row {
        margin-left: 5px;

        p {
            margin: 0;
            font-size: 13px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.33px;
            text-align: left;
        }
    }

    .subwallet-row {
        margin-bottom: 10px;
    }

    .btn {
        left: 2%;
        right: 2%;
        width: 96%;
        position: fixed;
        bottom: 20px;
    }
}

ion-footer {
    background: transparent;
    padding: 30px;

    .btn-container {
        width: 100%;
    }
}
