@import "src/app/launcher/root.scss";

ion-grid {
    min-height: 100%;
    margin: 0;
    padding: 15px 0;

    .news-item {
        --background: transparent;
        background: var(--essentials-box-color);
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin: 0 10px;
        margin-bottom: 10px;
        border: 0;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;

        .news-row {
            padding: 10px;

            .name-col {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    object-fit: cover;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                h2 {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .date-col {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                p {
                    margin: 0 10px;
                    font-size: 10px;
                    font-weight: 500;
                    text-align: right;
                }
            }

            .title-col,
            .message-col {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 14px;
                    letter-spacing: 0.14px;
                    text-align: left;
                    margin: 0;
                    z-index: 1; // Over the background media picture
                }

                .media {
                    opacity: 0.4;
                    position: absolute;
                    right: -20px;
                    bottom: -20px;
                    transform: rotate(5deg);
                    border-radius: 10px;
                }
            }

            .title-col {
                padding-bottom: 0;

                p {
                    font-weight: 600;
                }
            }

            .message-col {
                p {
                    line-height: 1.6;
                    opacity: 0.7;
                }
            }
        }
    }
}
