<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="ion-text-center keystore-container">
        <p>{{ 'wallet.keystore-export-intro' | translate }}</p>
        <textarea readonly class="key" (click)="copyKeystore()">
            {{ keystore }}
        </textarea>
        <ion-row class="password-row">
            <ion-col>
                <ion-input type="password" name="mnemonicPassword" ngDefaultControl
                    placeholder="{{ 'wallet.keystore-input-password' | translate }}" [(ngModel)]="keystorePassword">
                </ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="password-row">
            <ion-input #input type="password" name="keystorePasswordRepeat" ngDefaultControl
                placeholder="{{ 'wallet.keystore-reinput-password' | translate }}" [(ngModel)]="keystorePasswordRepeat">
            </ion-input>
        </ion-row>
        <ion-row class="btn-container">
            <ebutton (clicked)="export()" [title]="'wallet.keystore-export' | translate">
            </ebutton>
        </ion-row>
    </ion-grid>
</ion-content>