<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="proposal" [class.darkContainer]="theme.darkMode">
        <ion-grid>
            <ion-card>
                <ion-card-title>{{ 'crproposalvoting.proposal' | translate }} <span>#</span>{{ proposal.id }}
                </ion-card-title>
                <ion-card-subtitle>{{ 'crproposalvoting.by' | translate }} {{ proposal.proposer }} &#8226; {{
                    uxService.formatDate(proposal.createdAt) }}</ion-card-subtitle>
                <p class="status" [class.voteragreed]="proposal.status === 'voteragreed'"
                    [class.finished]="proposal.status === 'finished'"
                    [class.registered]="proposal.status === 'registered'"
                    [class.cragreed]="proposal.status === 'cragreed'"
                    [class.crcanceled]="proposal.status === 'crcanceled'"
                    [class.votercanceled]="proposal.status === 'votercanceled'">
                    {{ 'crproposalvoting.' + proposal.status | translate }}
                </p>
                <crvotes [crvotes]="crvotes"></crvotes>
            </ion-card>

            <div *ngFor="let item of proposalDetails">
                <ion-card *ngIf="item.value" class="section-row">
                    <ion-col size="12" (click)="item.active = !item.active">
                        <h1>{{ item.title }}</h1>
                        <img [class.rotate]="item.active"
                            [src]="!theme.darkMode ? 'assets/crproposalvoting/icons/down-arrow.svg' : 'assets/crproposalvoting/icons/darkmode/down-arrow.svg'" />
                    </ion-col>
                    <ion-col *ngIf="item.active" class="details-col" size="12" [ngSwitch]="item.type">
                        <div *ngSwitchCase="'marked'" class="item" [innerHtml]="item.value"></div>
                        <div *ngSwitchCase="'hash'" class="item" [innerHtml]="item.value"></div>

                        <div *ngSwitchCase="'milestone'" class="milestone-container item">
                            <div class="vertical-line-container">
                                <div class="inner"></div>
                            </div>
                            <div class="content">
                                <div *ngFor="let entry of item.value; last as isLast" class="entry">
                                    <div class="dot"></div>
                                    <div *ngIf="isLast" class="marker"></div>
                                    <ion-col size="1" class="stage">{{entry.stage}}</ion-col>
                                    <ion-col size="9">
                                        <ion-label>
                                            <h5 class="milestone-timestamp">{{uxService.formatDate(entry.timestamp) }}
                                            </h5>
                                            <h5 class="milestone-goal">{{entry.goal}}</h5>
                                        </ion-label>
                                    </ion-col>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'budgets'" class="budget-container item">
                            <ion-row>
                                <ion-col size="12">
                                    <ion-label>
                                        <h5>{{'crproposalvoting.total-budget' | translate}} (ELA)</h5>
                                        <h4>{{ totalBudget / Config.SELA}}</h4>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-label>
                                        <h5>{{'crproposalvoting.receive-address' | translate}}</h5>
                                        <h4>{{ proposal.recipient }}</h4>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-label>
                                        <h5>{{'crproposalvoting.payment-schedule' | translate}}</h5>
                                        <ul id="budget-list">
                                            <li *ngFor="let entry of item.value; let i = index">
                                                <div id="budget">
                                                    <p><span class="number">{{ i + 1 }}</span> <span>{{ 'crproposalvoting.'+
                                                            entry.type | translate }}</span></p>
                                                    <p class="amount">{{ "ELA " + entry.amount / Config.SELA }} </p>
                                                    <p class="stage">{{ "#Milestone" + entry.stage + 1 }} </p>
                                                    <p class="payment-criteria">{{ entry.paymentCriteria }} </p>
                                                </div>
                                                <div class="space"></div>
                                            </li>
                                        </ul>
                                    </ion-label>

                                </ion-col>
                            </ion-row>
                        </div>
                        <div *ngSwitchCase="'implementationTeam'" class="implementation-team item">
                            <ion-row *ngFor="let entry of item.value">
                                <ion-col size="1.25" id="img-col">
                                    <img class="avatar"
                                        [src]="entry.avatar ? entry.avatar : '/assets/crcouncilvoting/icon/avatar.png'">
                                </ion-col>
                                <ion-col size="10.75">
                                    <div class="implementation">
                                        <h4 class="font-blod">{{ entry.member }} </h4>
                                        <h5>{{ entry.role }} </h5>
                                        <h5>{{ entry.responsibility }}</h5>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </div>

                        <div *ngSwitchCase="'original-url'" class="item">
                            <ion-row class="original-url" (click)="openLink(item.value)">
                                <ion-col class="label-col" size="10.75">
                                    <a>{{ item.value }} </a>
                                </ion-col>
                                <ion-col size="1.25">
                                    <img [src]="'assets/crproposalvoting/icons/link.svg'">
                                </ion-col>
                            </ion-row>
                        </div>

                        <div *ngSwitchCase="'receive-address'" class="item">
                            <ion-row class="receive-address">
                                <ion-col class="label-col" size="10.75">
                                    <div>{{ item.value }}</div>
                                </ion-col>
                                <ion-col size="1.25" (click)="copyAddress(item.value)">
                                    <img [src]="'assets/crproposalvoting/icons/clipboard.svg'">
                                </ion-col>
                            </ion-row>
                        </div>


                        <div *ngSwitchCase="'member-votes'" class="item">
                            <div class="tab-container">
                                <div class="tab" [class.tab-active]="activeTab === 1" (click)='activeTab = 1'>
                                    <p>{{ 'crproposalvoting.yes' | translate }} <span>({{
                                            getVotesByType('approve').length }})</span>
                                    </p>
                                </div>
                                <div class="tab" [class.tab-active]="activeTab === 2 " (click)='activeTab = 2'>
                                    <p>{{ 'crproposalvoting.no' | translate }} <span>({{ getVotesByType('reject').length
                                            }})</span></p>
                                </div>
                                <div class="tab right-tab" [class.tab-active]="activeTab === 3 "
                                    (click)='activeTab = 3'>
                                    <p>{{ 'crproposalvoting.abstain' | translate }}
                                        <span>({{ getVotesByType('abstain').length}})</span>
                                    </p>
                                </div>
                            </div>
                            <div *ngIf="activeTab === 1">
                                <div *ngFor="let vote of getVotesByType('approve')">
                                    <vote-result [vote]="vote"></vote-result>
                                </div>
                            </div>
                            <div *ngIf="activeTab === 2">
                                <div *ngFor="let vote of getVotesByType('reject')">
                                    <vote-result [vote]="vote"></vote-result>
                                </div>
                            </div>
                            <div *ngIf="activeTab === 3">
                                <div *ngFor="let vote of getVotesByType('abstain')">
                                    <vote-result [vote]="vote"></vote-result>
                                </div>
                            </div>
                        </div>

                    </ion-col>
                </ion-card>
            </div>

            <ion-row *ngIf="proposal.status === 'VOTING' || proposal.status === 'NOTIFICATION'" class="section-row">
                <ion-col size="12" (click)="timeActive = !timeActive">
                    <h1>{{ 'crproposalvoting.time-remaining' | translate }}</h1>
                    <img [class.rotate]="timeActive"
                        [src]="!theme.darkMode ? 'assets/crproposalvoting/icons/down-arrow.svg' : 'assets/crproposalvoting/icons/darkmode/down-arrow.svg'" />
                </ion-col>
                <ion-col *ngIf="timeActive" class="details-col" size="12">
                    <pre>{{ getTimeLeft(proposal.duration) }}</pre>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="proposal.status === 'NOTIFICATION'" class="section-row">
                <ion-col size="12" (click)="rejectActive = !rejectActive">
                    <h1>{{ 'crproposalvoting.reject-ratio' | translate }}</h1>
                    <img [class.rotate]="rejectActive"
                        [src]="!theme.darkMode ? 'assets/crproposalvoting/icons/down-arrow.svg' : 'assets/crproposalvoting/icons/darkmode/down-arrow.svg'" />
                </ion-col>
                <ion-col *ngIf="rejectActive" class="details-col" size="12">
                    <pre>{{ proposal.rejectRatio }}</pre>
                </ion-col>
            </ion-row>


        </ion-grid>

        <div *ngIf="buttonLabel">
            <div class="footer-space"></div>
            <ion-footer>
                <ion-row>
                    <ion-col class="align-center">
                        <div class="btn-container align-center" id="sign" (click)="handleCommand()">
                            {{ buttonLabel | translate }}
                        </div>
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </div>
    </div>

    <ion-grid *ngIf="!proposal" class="spinner spinner-container">
        <ion-spinner name="crescent"></ion-spinner>
    </ion-grid>

</ion-content>