@import 'src/app/wallet/root.scss';

.container {
    min-height: 100%;
    padding: 20px;

    .main-title-row {
        margin-bottom: 10px;
        margin-left: 5px;

      p {
          margin: 0;
          font-size: 13px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: -0.33px;
          text-align: left;
          color: #000000;
          opacity: 0.7;
      }
    }
}

.address-row {
    border-radius: 17px;
    padding: 7.5px 10px 7.5px 0;
    margin-bottom: 7.5px;
    background: var(--essentials-box-color);

    p {
        font-weight: 500;
        padding: 0;
    }

    ion-col {
      display: flex;
      align-items: flex-start;
      padding-left: 10px;
    }

    .middle-col {
      padding-left: 0px;
    }

}

.dark-container {
    .main-title-row {
        p {
            color: #9D9D9D;
            opacity: 1;
        }
    }
}