@import "src/app/identity/root.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;

  ion-card {
    margin: 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px 0 #ededf0;
    border-radius: 15px;
    padding: 15px;

    img {
      margin-top: 2.5px;
      width: 57.4px;
      height: 57.2px;
    }

    ion-card-title {
      font-size: 21px;
      font-weight: 600;
      line-height: 1.29;
      color: #2e2f4e;
      margin: 15px 15px 10px;
    }

    ion-card-subtitle {
      text-transform: none;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.46;
      color: #161740;
      margin: 0 15px 15px;
    }
  }

  .msg-container {
    padding: 20px 20px 5px;

    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      text-align: center;
      color: #2e2f4e;
    }
  }

  .data-row {
    box-shadow: 0 3px 15px 0 #ededf0;
    background: #ffffff;
    border-radius: 15px;
    padding: 0px 20px;
    margin-bottom: 7.5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    p {
      font-size: 13px;
      font-weight: 600;
      line-height: 1.46;
      text-align: left;
      color: #2e2f4e;
      margin: 10px 0 2.5px;
    }

    h5 {
      margin: 0 0 10px;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.46;
      text-align: left;
      color: #161740;
    }
  }

  .btn-container {
    padding: 32.5px 0;

    ion-button {
      height: 44.7px;
      width: 100%;
      --border-radius: 20px;

      ion-label {
        text-transform: none;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: -0.43px;
      }
    }
  }
}

.dark-container {
  ion-card {
    margin: 0;
    background: #2e2f4e;
    box-shadow: 0 3px 15px 0 #151626;

    ion-card-title {
      color: #ffffff;
    }

    ion-card-subtitle {
      color: #cfd1f7;
    }
  }

  .msg-container {
    p {
      color: #ffffff;
    }
  }

  .data-row {
    background: #2e2f4e;
    box-shadow: 0 3px 15px 0 #151626;

    p {
      color: #ffffff;
    }

    h5 {
      color: #cfd1f7;
    }
  }
}
