@import "src/app/identity/root.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;

  ion-card {
    margin: 0;
    background: var(--essentials-box-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-radius: 15px;
    padding: 15px;

    img {
      margin-top: 2.5px;
      width: 57.4px;
      height: 57.2px;
    }

    ion-card-title {
      font-size: 21px;
      font-weight: 600;
      line-height: 1.29;
      margin: 15px 15px 10px;
    }

    ion-card-subtitle {
      text-transform: none;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.46;
      margin: 0 15px 15px;
    }
  }

  .msg-container {
    padding: 20px 20px 5px;

    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      text-align: center;
    }
  }

  .data-row {
    background: var(--essentials-box-color);
    border-radius: 15px;
    padding: 0px 20px;
    margin-bottom: 7.5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    p {
      font-size: 13px;
      font-weight: 600;
      line-height: 1.46;
      text-align: left;
      margin: 10px 0 2.5px;
    }

    h5 {
      margin: 0 0 10px;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.46;
      text-align: left;
    }
  }

  .btn-container {
    padding: 32.5px 0;

    ebutton {
      width: 90%;
    }
  }
}
