<ion-content>
    <app-titlebar></app-titlebar>

    <ion-grid class="container ion-no-padding">
        <ion-row>
            <h5>{{ 'staking.enter-amount' | translate }}</h5>
        </ion-row>
        <ion-row>
            <ion-input id="max-votes" type="number" min="0" max="maxStake" name="amount" ngDefaultControl
                [(ngModel)]="amount" clearInput>
            </ion-input>
        </ion-row>
        <ion-row size="9" class="profile-data">
            <ion-col class="left-col">
                <p id="available">{{ 'staking.available' | translate }}: {{ uxService.toThousands(maxStake) }} </p>
            </ion-col>
            <ion-col size="3" class="right-col">
                <div id="max-button" (click)="clickMax()">{{ 'common.max' | translate}}</div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="signingAndTransacting">
        <ion-spinner></ion-spinner>
    </div>

    <ion-footer *ngIf="!signingAndTransacting">
        <ion-row>
            <ion-col>
                <ebutton class="btn-container" (clicked)="unstake()"
                        [title]="'staking.unstake' | translate"> </ebutton>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-footer>

</ion-content>