@import "src/app/identity/root.scss";

.container {
  padding: 0;
  min-height: 100%;

  h1, h2, p {
    margin: 0;
  }

  .header-row {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 108px;
      height: 108px;
    }

    h1, h2, p {
      text-align: center;
    }

    h1 {
      padding-top: 20px;
      font-size: 20px;
      font-weight: 600;
    }

    h2 {
      padding-top: 10px;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
    }

    p {
      padding: 40px 30px 0 30px;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.56;
    }
  }

  .list-title-row {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);

    ion-col {
      h1 {
        margin: 0;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.23;
      }
    }
  }

  .list-item-row {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);

    ion-col {
      display: flex;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 15px;

      ion-icon {
        width: 20px;
        height: 20px;
      }

      .avatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
      }

      .cred-item-div {
        padding-left: 25px;
      }

      h1 {
        padding-bottom: 7px;
        font-size: 14px;
        font-weight: 600;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.27;
        word-break: break-all;
      }
    }

    .checkbox-col {
      justify-content: center;

      .cross-icon {
        width: 28px;
        height: 28px;
      }

      .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 100%;

        ion-icon {
          width: 66%;
          height: 66%;
          color: white;
        }
      }
    }
  }
}

ion-footer {
  padding: 30px 20px;

  .button {
    height: 52px;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(86, 91, 219, 0.31);
    --border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-label, ion-spinner {
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: -0.46px;
    }
  }
}

.dark-container {
}
