<app-titlebar></app-titlebar>
<ion-content>
  <ion-grid class="container" [class.dark-container]="theme.darkMode" [class.blur]="popup">
    <!-- HEADER -->
    <div *ngIf="receivedIntent">
      <ion-row class="header-row">
        <img [src]="getDappIcon()">
        <h1>{{ 'profile-request' | translate }}</h1>
        <h2>{{ getDappName() }}</h2>
        <p>{{ getIntro() }}</p>
      </ion-row>
    </div>
    <!-- MANDATORY ITEMS -->
    <div *ngIf="mandatoryItems.length">
      <ion-row class="list-title-row">
        <ion-col offset="1">
          <h1 [ngStyle]="{ 'color': requestDappColor }">
            {{ 'mandatory-data-access' | translate }}
          </h1>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of mandatoryItems" class="list-item-row">
        <ion-col offset="1" size="9">
          <ion-icon *ngIf="item.name !== 'avatar'" [src]="getCredIcon(item)" [ngStyle]="{ 'fill': requestDappColor }"></ion-icon>
          <img *ngIf="item.name === 'avatar' && getCredIcon(item).startsWith('data:')" [src]="getCredIcon(item)" class="avatar">
          <h1 *ngIf="item.name === 'avatar' && !getCredIcon(item).startsWith('data:')" class="avatar" [ngStyle]="{ 'color': requestDappColor }">?</h1>
          <div class="cred-item-div">
            <h1>{{ didService.getUserFriendlyBasicProfileKeyName(item.name) | translate }}</h1>
            <p>{{ getItemValueDisplay(item) | translate }}</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <!-- OPTIONAL ITEMS -->
    <div *ngIf="optionalItems.length">
      <ion-row class="list-title-row">
        <ion-col offset="1">
          <h1 [ngStyle]="{ 'color': requestDappColor }">
            {{ 'optional-data-access' | translate }}
          </h1>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of optionalItems" class="list-item-row">
        <ion-col offset="1" size="9">
          <ion-icon *ngIf="item.name !== 'avatar'" [src]="getCredIcon(item)" [ngStyle]="{ 'fill': requestDappColor }"></ion-icon>
          <img *ngIf="item.name === 'avatar'" [src]="getCredIcon(item)" class="avatar">
          <div class="cred-item-div">
            <h1>{{ didService.getUserFriendlyBasicProfileKeyName(item.name) }}</h1>
            <p>{{ getItemValueDisplay(item) }}</p>
          </div>
        </ion-col>
        <ion-col size="2" class="checkbox-col">
          <div
            *ngIf="item.canBeDelivered && item.issuer.canBeDelivered"
            (click)="item.selected = !item.selected"
            class="checkbox"
            [ngStyle]="{
            'background': item.selected ? requestDappColor : 'transparent',
            'border': '2px solid' + requestDappColor
          }">
            <ion-icon *ngIf="item.selected" name="checkmark"></ion-icon>
          </div>
          <ion-icon
            *ngIf="!item.canBeDelivered || !item.issuer.canBeDelivered"
            class="cross-icon" name="close"
            [ngStyle]="{ 'color': requestDappColor }">
          </ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<ion-footer [class.blur]="popup">
  <div
    class="button ion-activatable ripple"
    [ngStyle]="{ 'background': requestDappColor, 'box-shadow': '0 1px 5px 0.1px' + requestDappColor }"
    (click)="canDeliver && !showSpinner && !popup ? acceptRequest() : rejectRequest()"
  >
    <ion-label *ngIf="!showSpinner && canDeliver && !publishingDidRequired">{{ 'accept' | translate }}</ion-label>
    <ion-label *ngIf="!showSpinner && !canDeliver || publishingDidRequired">{{ 'close' | translate }}</ion-label>
    <ion-spinner *ngIf="showSpinner" name="crescent"></ion-spinner>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-footer>
