<ion-header class="ion-no-border" [class.dark-header]="theme.darkMode">
  <ion-toolbar mode="ios" [class.dark-header]="theme.darkMode">
    <ion-buttons slot="start">
      <ion-button (click)="onOuterLeftIcon()">
        <img [src]="!theme.darkMode ? '/assets/components/titlebar/elastos.svg' : '/assets/components/titlebar/darkmode/elastos.svg'">
      </ion-button>
      <ion-button *ngIf="innerLeftIcon" (click)="onInnerLeftIcon()">
        <img [src]="innerLeftIcon">
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="innerRightIcon" (click)="onInnerRightIcon()">
        <img [src]="innerRightIcon">
      </ion-button>
      <ion-button *ngIf="outerRightIcon" (click)="onOuterRightIcon()">
        <img [src]="outerRightIcon">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
