<ion-header class="ion-no-border" [class.dark-header]="theme.darkMode">
  <ion-toolbar mode="ios" [class.dark-header]="theme.darkMode">
    <ion-buttons slot="start">
      <ion-button>
        <img [src]="!theme.darkMode ? '/assets/components/titlebar/elastos.svg' : '/assets/components/titlebar/darkmode/elastos.svg'">
      </ion-button>
      <ion-button *ngIf="innerLeftIcon.visible">
        <img [src]="innerLeftIcon.iconPath">
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [class.hidden]="!innerRightIcon.visible">
        <img *ngIf="innerRightIcon.visible" [src]="innerRightIcon.iconPath">
      </ion-button>
      <ion-button *ngIf="!menuVisible && outerRightIcon.visible">
        <img [src]="outerRightIcon.iconPath">
      </ion-button>
      <ion-button *ngIf="menuVisible" (click)="openMenu($event)">
        <img [src]="!theme.darkMode ? '/assets/components/titlebar/menu.svg' : '/assets/components/titlebar/darkmode/menu.svg'">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
