ion-row {
    width: 100%;
}

ion-input {
    height: 48px;
    border-radius: 8px;
    font-size: 13px;
}

ion-button {
    height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    --border-radius: 8px;
}

ion-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: -2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;

    div {
         width: 100%;
    }
}

/************************************
  WALLET CARD
  pages ~ wallet-home, wallet-manager, wallet-settings, coin-list,
************************************/
.card-row {
    position: relative;
    border-radius: 20px;
    padding: 5px 10px 10px;
    margin-bottom: 32px;
    background-repeat: no-repeat;
    background-size: cover;

    .card-label-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .top-row {
            padding: 20px 0px;

            ion-col {
                display: flex;
                align-items: flex-start;
                padding: 0;
            }

            .left-col {
                justify-content: flex-start;
            }

            .right-col {
                justify-content: flex-end;

                img, ion-icon {
                    padding: 0 10px;
                }

                ion-icon {
                    width: 22px;
                    height: 22px;
                }
            }
        }

        h1, h2, h3, h4 {
            padding: 0 10px;
            margin: 0;
            line-height: 1;
        }

        h1 {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.32px;
            color: #ffffff;
        }

        h2 {
            font-size: 9px;
            font-weight: 600;
            letter-spacing: 0.9px;
            color: #fdfeff;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0.8px;
            color: #ffffff;
            margin-bottom: 4px;
        }

        h4 {
            font-size: 42px;
            letter-spacing: 1.05px;
            line-height: 0.85;
            font-weight: 500;
            color: #ffffff;
            margin-bottom: 15px;

            .dot {
                font-size: 49px;
                letter-spacing: 1.23px;
            }

            .decimals {
                font-size: 31px;
                letter-spacing: 0.78px;
            }

            .ela {
                font-size: 21px;
                letter-spacing: 0.53px;
            }
        }
    }

    .arrow-down {
        position: absolute;
        z-index: 0;
        bottom: -15px;
        left: 10%;
        height: 30px;
        width: 30px;
        transform: translate(2px, -2px) rotate(-45deg);
        -webkit-transform: translate(2px, -2px) rotate(-45deg);
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        display: inline-block;
        -moz-transform: translate(2px, -2px) rotate(-45deg);
        -ms-transform: translate(2px, -2px) rotate(-45deg);
        -o-transform: translate(2px, -2px) rotate(-45deg);
    }
}

/************************************
  SUBWALLET ROW
  pages ~ wallet-home, coin-select, coin-list, select-currency, select-subwallet, coin-address
  components ~ contacts
************************************/
.subwallet-row {
    border-radius: 17px;
    padding: 7.5px 10px 7.5px 0;
    margin-bottom: 7.5px;
    background-color: #ffffff;
    box-shadow: 0 3px 15px 0 #ededf0;

    .left-col {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;

        .icon-container {
            position: relative;

            ion-img, img {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }

            .ela-icon {
                position: absolute;
                z-index: 10;
                top: -6px;
                left: -4px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: #000000;
                border: 2px solid white;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                }
            }
        }
    }

    .middle-col, .right-col, .bottom-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        h1, p {
            margin: 0;
        }

        h1 {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.7px;
            text-align: left;
        }

        p {
            font-size: 13px;
            font-weight: 400;
            padding: 3px 0 0;
            text-align: left;
        }
    }

    .middle-col, .right-col {
        padding-bottom: 3px;
    }

    .right-col {
        justify-content: center;
        align-items: flex-end;

        p {
            color: #000000;
            opacity: 0.7;
        }
    }

    .bottom-col {
        padding-top: 0;

        span {
            font-weight: 700;
            font-size: 9px;
            letter-spacing: 0.9px;
        }

        .synced {
            color: #b176ff;
        }

        .syncing {
            color: #20e3d2;
        }
    }
}

.dark-subwallet-row {
    background-color: #212021;
    box-shadow: none;

    .left-col {
        .icon-container {
            .ela-icon {
                border: 2px solid #212021;
            }
        }
    }

    .right-col {
        p {
            color: #ACACAC;
            opacity: 1;
        }
    }
}

/************************************
  SETTINGS OPTION ROW
  pages ~ settings, wallet-settings
************************************/
.setting-row {
    border-radius: 17px;
    padding: 7.5px 5px;
    margin-bottom: 7.5px;
    background-color: #ffffff;
    box-shadow: 0 3px 15px 0 #ededf0;

    h1, p {
        margin: 0;
    }

    h1 {
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.9px;
        text-align: left;
    }

    p {
        padding-top: 5px;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: left;
    }

    .left-col {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        img {
            width: 22px;
            height: 22px;
            object-fit: contain
        }
    }

    .middle-col, .right-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
    }

    .right-col {
        align-items: flex-end;
        padding-right: 10px;
    }
}

.dark-setting-row {
    background-color: #212021;
    box-shadow: none;
}

/************************************
  MNEMONIC LIST ROW
  pages ~ mnemonic-create, mnemonic-export
************************************/
.mnemonic-row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;

    ion-col {
        height: 40px;
        background: #42117d;
        border-radius: 8px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .mnemonic-index {
            position: absolute;
            z-index: 100;
            top: -11px;
            left: -11px;
            width: 22px;
            height: 22px;
            background: #42117d;
            border-radius: 100%;
            border: 2px solid #6a25c4;
            color: #fdfeff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 9px;
        }

        ion-label {
            font-size: 12px;
            font-weight: 500;
            line-height: 1.25;
            letter-spacing: -0.29px;
            color: #fdfeff;
        }
    }
}

/************************************
  REFRESH BOX
  pages ~ wallet-home, coin-home
************************************/
.refresh-row {
    box-shadow: 0 3px 15px 0 #ededf0;
    background-color: #ffffff;
    border-radius: 17px;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 2.5%;

    ion-icon {
        width: 20px;
        height: 20px;
    }

    .left-col {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .mid-col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;

        h1 {
            margin: 0;
            font-size: 15px;
            font-weight: 600;
            line-height: 1.44;
        }
    }

    .right-col {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 17px;
        box-shadow: 0 3px 15px 0 #ededf0;
    }
}

.dark-refresh-row {
    box-shadow: 0 3px 15px 0 #151626;
    background-color: #2e2f4e;

    .right-col {
        box-shadow: 0 3px 15px 0 #151626;
    }
}

/** General Spinner **/
.spinner {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}