@import "src/app/identity/root.scss";

.container {
    padding: 13px 0;

    .header {
        padding: 0 15px;

        ion-col {
            padding-left: 0;
            padding-right: 0;

            ion-label {
                font-size: 30px;
                font-weight: 600;
                line-height: 0.93;
                text-align: left;
            }

            span {
                display: block;
                font-size: 12px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.6px;
                text-align: left;
            }        
        }
    }

    .status-grid {
        padding: 10px;
        border-top: 1.5px solid #EAEAEA;
        border-bottom: 1.5px solid #EAEAEA;
        margin: 10px 0;
    
        ion-row {
            ion-col {
                display: flex;
                align-items: center;
        
                ion-label {
                    font-weight: 500;
                    font-size: 13px;
                }
        
                .published {
                    width: 24.8px;
                    height: 19.6px;
                    object-fit: contain;
                }
            }
        }
    }

    .credentials {
        padding: 0 10px;

        .card {
            padding-top: 8px;
        }

        .card-icon {
            position: absolute;
            width: 72px;
            height: 72px;
            background-repeat: no-repeat;
            background-image: url("/assets/identity/svg/icondiv.svg");
            background-blend-mode: multiply;
            padding: 11px;
            display: flex;
            justify-content: center;
            color: #ffffff;

            img {
                margin-top: 9px;
                width: 64%;
                height: 64%;
            }

            .avatar {
                margin-top: 0px;
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }

        .card-internal {
            width: 100% auto;
            min-height: 75px;
            margin-left: 20px;
            border-radius: 18px;
            box-shadow: 0 3px 15px 0 #ededf0;
            background: white;
            display: flex;
            align-items: center;

            .card-body {
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;

                .labels-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start; 

                    .card-title {
                        font-size: 15px;
                        font-weight: 600;
                        text-align: left;
                    }
    
                    .card-value {
                        font-size: 13px;
                        font-weight: 500;
                        text-align: left;
                        word-break: break-all;
                        margin-top: 5px;
                    }
                }

                .toggle-col {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    ion-toggle {
                        zoom: 0.7;
                    }            
                }
            }
        }
    }

    .btn-row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;

        ion-button {
            width: 90%;
        }
    }
}

.darkContainer {
    .status-grid {
        border-top: 1.5px solid #464646;
        border-bottom: 1.5px solid #464646;
    }

    .credentials {
        .card-internal {
            background-color: #212021;
            box-shadow: none;

            .card-body {
                .labels-col {
                    .card-title {
                        color: white;
                    }
            
                    .card-value {
                        color: #ACACAC;
                        opacity: 1;
                    }
                }
            }
        }
    }
}




