<ion-content>
  <app-titlebar></app-titlebar>
  <!-- Unsupported network -->
  <ion-grid class="container unsupported-network-container" *ngIf="unsupportedNetwork">
    {{ 'redpackets.unsupported-network-intro' | translate }}
  </ion-grid>

  <!-- Supported network and subwallet is set -->

  <ion-grid class="container ion-padding footer-margin" *ngIf="tokenSubwallet && !unsupportedNetwork">

    <div class="redpacket-container new-packet-section-container">

      <div class="new-packet-about-section-title">
        {{ 'redpackets.about-you' | translate }}
      </div>

      <div class="redpacket-container redpacket-inline redpacket-user-profile-container">
        <div class="redpacket-user-profile-image">
          <ion-avatar *ngIf="!getSignedInIdentity().avatar" class="noAvatar">
            <img
              [src]="!theme.darkMode ? 'assets/launcher/default/default-avatar.svg' : 'assets/launcher/default/darkmode/default-avatar.svg'">
          </ion-avatar>
          <ion-avatar *ngIf="getSignedInIdentity().avatar" class="hasAvatar">
            <img
              [src]="'data:'+getSignedInIdentity().avatar.contentType+';base64,'+getSignedInIdentity().avatar.base64ImageData">
          </ion-avatar>
        </div>

        <div class="redpacket-user-profile-infos">
          <div class="redpacket-user-profile-infos-name">{{ name }}</div>
          <div class="form-flex-row-label-helper">{{ 'redpackets.profile-hint' | translate }}</div>
        </div>
      </div>

      <div class="form-flex-col">
        <div class="form-flex-col-label">
          <div class="form-flex-col-label-name">{{ 'redpackets.message' | translate }}</div>
        </div>
        <div class="form-flex-col-input">
          <ion-textarea [(ngModel)]="message" [placeholder]="'redpackets.packet-message-placeholder' | translate"
            type="text"></ion-textarea>
        </div>
      </div>

      <div>
        <div class="form-flex-col-label">
          <div class="form-flex-col-label-name">{{ 'redpackets.theme' | translate }}</div>
          <div class="form-flex-row-label-helper">{{ 'redpackets.theme-hint' | translate }}</div>
        </div>

        <ion-slides #categorySlides [options]="slideOpts" class="themes-container">
          <ion-slide class="category-slide-item" *ngFor="let theme of themes"
            [ngClass]="{'active': packetTheme.key === theme.key}" (click)="useTheme(theme)">
            <img [src]="theme.thumbnailImage" />
            <div class="label">{{ 'redpackets.theme-'+theme.key | translate }}</div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>

    <div class="redpacket-container new-packet-section-container">

      <ion-row class="form-flex-col">
        <div class="form-flex-col-label">
          <div class="form-flex-col-label-name">
            {{ 'redpackets.token' | translate }}
          </div>
        </div>

        <div class="select-essentials" (click)="pickToken()">
          <div class="select-essentials-value">
            <div class="select-essentials-value-main">{{tokenSubwallet.getDisplayTokenName()}}</div>
            <div class="select-essentials-value-sub">{{tokenSubwallet.networkWallet.network.name}}</div>
          </div>
          <div class="select-essentials-icon">
            <img src="assets/redpackets/images/select_icon.svg" alt="Select icon">
          </div>
        </div>

        <div class="form-hint">
          {{ 'redpackets.token-hint' | translate }}
        </div>
      </ion-row>

      <ion-row class="form-flex-row">
        <div class="form-flex-row-label">
          <div class="form-flex-row-label-name">
            {{ 'redpackets.quantity' | translate }}
          </div>
        </div>
        <div class="form-flex-row-input">
          <ion-input [(ngModel)]="packets" type="number" placeholder="20" required class="right"></ion-input>
        </div>
        <div class=" form-hint">
          {{ 'redpackets.quantity-hint' | translate }}
        </div>
      </ion-row>

      <ion-row class="form-flex-row">
        <div class="form-flex-row-label">
          <div class="form-flex-row-label-name">
            {{ 'redpackets.amount' | translate }}
          </div>
        </div>
        <div class="form-flex-row-input">
          <ion-input [(ngModel)]="tokenAmount" type="number" placeholder="10" required>
            <span class="after-input">{{ tokenSubwallet.getDisplayTokenName() }}</span>
          </ion-input>
        </div>
        <div class="form-flex-row-hint form-hint">
          {{ 'redpackets.amount-hint' | translate }}
        </div>
      </ion-row>

      <ion-row class="form-flex-col">
        <div class="form-flex-col-label">
          <div class="form-flex-col-label-name">
            {{ 'redpackets.distribution' | translate }}
          </div>
        </div>
        <div class="form-flex-col-input">
          <ion-select [(ngModel)]="distributionType" [placeholder]="'identity.select-one'|translate"
            [interfaceOptions]="distributionSelectOption" [cancelText]="'common.cancel'|translate"
            [okText]="'common.confirm'|translate" ngDefaultControl>
            <ion-select-option value="fixed">{{ 'redpackets.distribution-fixed' | translate }}</ion-select-option>
            <ion-select-option value="random">{{ 'redpackets.distribution-random' | translate }}</ion-select-option>
          </ion-select>
        </div>
        <div class="additional-input-infos" *ngIf="distributionType === 'fixed'">
          {{ 'redpackets.distribution-fixed-info' | translate : { value: getValuePerFixedPacket(), token:
          tokenSubwallet.getDisplayTokenName() } }}
        </div>
        <div class="additional-input-infos" *ngIf="distributionType === 'random'">
          {{ 'redpackets.distribution-random-info' | translate : { token: tokenSubwallet.getDisplayTokenName() } }}
        </div>
        <div class="form-hint">
          {{ 'redpackets.distribution-hint' | translate }}
        </div>

      </ion-row>

      <ion-row class="form-flex-row">
        <div class="form-flex-row-label">
          <div class="form-flex-row-label-name">
            {{ 'redpackets.probability' | translate }}
          </div>
        </div>
        <div class="form-flex-row-input">

          <span>
            <ion-input [ngModel]="probabilityPercent" (change)="updateProbability($event.target.value)" required number>
            </ion-input>
          </span>
        </div>

        <div class="form-hint">
          {{ 'redpackets.probability-hint' | translate }}
        </div>
      </ion-row>

      <ion-row class="form-flex-col">
        <div class="form-flex-col-label">
          <div class="form-flex-col-label-name">
            {{ 'redpackets.visibility' | translate }}
          </div>
        </div>
        <div class="form-flex-col-input">
          <ion-select [(ngModel)]="visibility" [placeholder]="'identity.select-one'|translate"
            [interfaceOptions]="visibilitySelectOption" [cancelText]="'common.cancel'|translate"
            [okText]="'common.confirm'|translate" ngDefaultControl>
            <ion-select-option value="link">{{ 'redpackets.visibility-link-only' | translate }}</ion-select-option>
            <ion-select-option value="public">{{ 'redpackets.visibility-public' | translate }}</ion-select-option>
          </ion-select>
        </div>
        <div class="form-hint">
          {{ 'redpackets.visibility-hint' | translate }}
        </div>
      </ion-row>

      <ion-row class="form-flex-row">
        <div class="form-flex-row-label">
          <div class="form-flex-row-label-name">
            {{ 'redpackets.duration' | translate }}
          </div>
        </div>
        <div class="form-flex-row-input">
          <ion-input [(ngModel)]="expirationDays" type="number" placeholder="7" required>
            <span class="after-input">{{ 'redpackets.expiration-days' | translate }}</span>
          </ion-input>
        </div>

        <div class="form-flex-row-label-helper">
          {{ 'redpackets.duration-hint' | translate }}
        </div>
      </ion-row>

    </div>
  </ion-grid>

  <div class="redpacket-footer-container" *ngIf="!unsupportedNetwork">
    <div class="redpacket-footer-button">
      <button (click)="createPacket()">
        <ion-label *ngIf="!creatingPacket">{{ 'redpackets.continue' | translate }}</ion-label>
        <ion-spinner *ngIf="creatingPacket"></ion-spinner>
      </button>
    </div>
  </div>

</ion-content>