<ion-content>
    <app-titlebar></app-titlebar>
    <div class="ion-text-center header">
        <ion-label>{{ modDate(vote.date) }}</ion-label>
    </div>

    <ion-grid class="container ion-no-padding" [class.darkContainer]="theme.darkMode">
        <app-node-slider-tx *ngIf="showNode" [nodeIndex]="nodeIndex" [totalVotes]="nodesService.totalVotes"
            [_nodes]="_nodes" [node]="node"></app-node-slider-tx>

        <ion-list lines="none" [class.blur]="showNode" class="node-list">
            <ion-virtual-scroll [items]="_nodes" approxItemHeight="240px">
                <ion-item *virtualItem="let node">
                    <ion-grid class="ion-no-padding">
                        <ion-row class="ion-no-padding">
                            <ion-col size="1" class="rank-container ion-no-padding"
                                (click)="_showNode(_nodes.indexOf(node), node)">
                                {{ node.index }}
                            </ion-col>
                            <ion-col size="2" class="img-container" (click)="_showNode(_nodes.indexOf(node), node)">
                                <img
                                    [src]="node.imageUrl ? node.imageUrl : '../assets/dposvoting/icon/elastos-icon.svg'">
                            </ion-col>
                            <ion-col size="7.5" class="label-col" (click)="_showNode(_nodes.indexOf(node), node)">
                                <ion-label>
                                    <h4>{{ node.nickname }}</h4>
                                    <p>
                                        <span [class.inactive]="node.state !== 'Active'">
                                            <ion-icon name="navigate"></ion-icon> {{ node.Location }}
                                        </span>
                                        &#8226; {{ getVotePercent(node.votes) }}% of Votes
                                    </p>
                                </ion-label>
                            </ion-col>
                            <ion-col size="1.5" class="checkbox-container" *ngIf="node.state === 'Active'">
                                <ion-checkbox value="node" [(ngModel)]="node.isChecked" mode="ios"></ion-checkbox>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-virtual-scroll>
        </ion-list>
    </ion-grid>
</ion-content>