<ion-content>
    <app-titlebar></app-titlebar>
    <div class="header">
    </div>

    <div class="title">
        <h1 *ngIf="dposInfo.state == 'Unregistered'">{{ 'dposregistration.register-header' | translate }}</h1>
        <h1 *ngIf="dposInfo.state == 'Active'">{{ 'dposregistration.update-header' | translate }}</h1>
    </div>

    <ion-grid class="container ion-no-padding ion-no-margin" [class.darkContainer]="theme.darkMode">

        <div *ngIf="state != 'ReturnDeposit'">
            <!-- Name -->
            <p>{{ 'dposregistration.node-name' | translate }}</p>
            <ion-row>
                <ion-input type="text" name="name" [attr.disabled]="needConfirm" ngDefaultControl
                    [placeholder]="'dposregistration.node-name' | translate" [(ngModel)]="dposInfo.nickname">
                </ion-input>
            </ion-row>

            <p>{{ 'dposregistration.node-publickey' | translate }}</p>
            <ion-row>
                <ion-input type="text" name="publickey" [attr.disabled]="needConfirm" ngDefaultControl
                    [placeholder]="'dposregistration.node-publickey' | translate" [(ngModel)]="dposInfo.nodepublickey">
                </ion-input>
            </ion-row>

            <p>{{ 'dposregistration.node-url' | translate }}</p>
            <ion-row>
                <ion-input type="text" name="url" [attr.disabled]="needConfirm" ngDefaultControl
                    [placeholder]="'dposregistration.node-url' | translate" [(ngModel)]="dposInfo.url">
                </ion-input>
            </ion-row>

            <p>{{ 'dposregistration.node-location' | translate }}</p>
            <ion-row>
                <ion-select [(ngModel)]="dposInfo.location" [attr.disabled]="needConfirm">
                    <ion-select-option *ngFor="let code of areaList" [value]="code">{{ 'crcouncilvoting.' + code |
                        translate }}</ion-select-option>
                </ion-select>
            </ion-row>
        </div>

        <ion-row class="btn-container">
            <ng-container *ngIf="!needConfirm">
                <ion-button *ngIf="dposInfo.state == 'Unregistered'" color="success" (click)="needConfirm = true;">
                    {{ 'dposregistration.register' | translate }}
                </ion-button>
                <ion-button *ngIf="dposInfo.state == 'Active'" color="success" (click)="needConfirm = true;">
                    {{ 'dposregistration.update' | translate }}
                </ion-button>
            </ng-container>

            <ion-row class="btn-row" *ngIf="needConfirm">
                <ion-col class="left-col">
                    <ion-button color="light" (click)="needConfirm = false;">
                        {{ 'common.cancel' | translate }}
                    </ion-button>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col class="right-col" color="success">
                    <ion-button color="success" (click)="confirm()">
                        {{ 'common.confirm' | translate }}
                    </ion-button>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
            </ion-row>

            <!-- <ion-button *ngIf="needConfirm" color="success" (click)="confirm()">
                {{ 'common.confirm' | translate }}
            </ion-button> -->

        </ion-row>
    </ion-grid>
</ion-content>