@import "src/app/dposregistration/root.scss";


.title {
    height: 100px;
    h3 {
        font-size: 18px;
        font-weight: 500;
    }
}

ion-content {
    position: relative;
}

ion-input {
    background: #ffffff;
    box-shadow: 0 3px 15px 0 #ededf0;
    height: 48px;
    border-radius: 8px;
    font-size: 13px;
    --padding-start: 12px;
}

ion-col {
    ion-button {
        padding:0 5px;
    }
}

ion-list {
    .profile-data {
        border-bottom: none;
    }
}

p {
    font-size: 13px;
}

.darkContainer {
    ion-input {
        background-color: #212021;
        box-shadow: none;
    }
}
