@import "../root.scss";

#max-votes-label {
    color: #D29700;
}

#max-votes {
    width: 118px;
    height: 46px;
    padding: 13;
    text-align: right;
    float: right;
    border: 1px solid #C9BFD6;
    box-sizing: border-box;
    border-radius: 7px;
}
