<ion-content class="ion-padding">
    <app-titlebar title="text-vote-crcouncil"></app-titlebar>
    <div 
        class="intro ion-text-center"
        [innerHtml]="'You are going to vote to veto a proposal' | translate"
    >
    </div>

    <div class="number-of-votes ion-text-center">
        Number of votes:

        <div class="number-of-votes-value">
            {{ balance | number:'1.0-3'}}
        </div>
    </div>

    <div class="notes">
        <div class="note">
            {{ 'wallet.text-note' | translate }}
        </div>

        <div class="note-entry">
            {{ 'wallet.text-vote-note-1' | translate }}
        </div>
        <div class="note-entry">
            {{ 'wallet.text-vote-note-2' | translate }}
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-button class="ion-no-margin" style="width:50%" fill="clear" color="medium" size="large" (click)="cancelOperation()">{{ 'common.cancel' | translate }}</ion-button>
    <ion-button class="ion-no-margin" style="width:50%" fill="clear" color="primary" size="large" (click)="goTransaction()">{{ 'wallet.text-vote' | translate }}</ion-button>
</ion-footer>