<ion-content>
    <app-titlebar></app-titlebar>

    <div *ngIf="!dataFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="dataFetched">
        <app-vote-slider-details *ngIf="showVotesDetails" [index]="voteType">
        </app-vote-slider-details>

        <div [class.blur]="showVotesDetails" (click)="showVotesDetails=false">
            <ion-grid class="container ion-no-padding">
                <ion-row class="wallet-row">
                  <ion-col size="2" class="color-col">
                        <div class="inline-svg" inlineSVG="/assets/wallet/settings/curcol-wallet.svg"></div>
                    </ion-col>
                    <ion-col size="10" class="left-col">
                        <!-- ngFor: Hack to get a netWallet variable -->
                        <div class="wallet-name">{{ networkWallet.masterWallet.name }}</div>
                        <div class="wallet-amount">
                            <h4 *ngIf="!currencyService.useCurrency">{{
                                WalletUtil.getWholeBalance(networkWallet.getDisplayBalance()) }}<span class="dot"
                                    *ngIf="!networkWallet.getDisplayBalance().isZero() && WalletUtil.getDecimalBalance(networkWallet.getDisplayBalance())">.</span>
                                <span>{{ WalletUtil.getDecimalBalance(networkWallet.getDisplayBalance(),
                                  networkWallet.getDecimalPlaces())
                                    }}</span>
                                <span>{{ networkWallet.getDisplayTokenName() }}</span>
                            </h4>
                            <h4 *ngIf="currencyService.useCurrency">{{
                                WalletUtil.getWholeBalance(networkWallet.getDisplayBalanceInActiveCurrency())
                                }}<span class="dot"
                                    *ngIf="!networkWallet.getDisplayBalance().isZero() && WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(networkWallet.getDisplayBalance()))">.</span>
                                <span>{{
                                    WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(networkWallet.getDisplayBalance()))
                                    }}</span>
                                <span> {{ currencyService.selectedCurrency.symbol }}</span>
                            </h4>
                        </div>
                        <div class="wallet-amount" *ngIf="!networkWallet">
                            {{ 'wallet.unsupported-on-network' | translate:{network:
                            networkService.activeNetwork.value.name} }}
                        </div>
                    </ion-col>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-row>

                <ion-row class="card-row">
                    <img id="bg-img" src="assets/staking/images/bg.svg" />
                    <ion-row class="card-title-row">
                        {{ 'staking.staked-amount' | translate }}
                    </ion-row>
                    <ion-row class="card-label-row">
                        {{ uxService.toThousands(stakeService.votesRight.totalVotesRight) }} ELA
                    </ion-row>
                </ion-row>

                <ion-row *ngFor="let item of showItems" class="item-row">
                    <ion-col size="5" class="left-col">
                        {{ item.title }}
                    </ion-col>
                    <ion-col size="7" class="right-col align-right">
                        {{ item.value }} ELA
                    </ion-col>
                </ion-row>

                <ion-row class="staked-for-vote">
                    <ion-col size="9.5" class="left-col">
                        {{ 'staking.staked-for-votes' | translate }}
                    </ion-col>
                    <ion-col class="middle-col" [size]="showArrow ? 2 : 2.5"
                            [class.align-center]="showArrow" [class.align-right]="!showArrow" >
                        {{ stakeService.votesRight.maxStakedRatio }}%
                    </ion-col>

                    <ion-col size="0.5" class="right-col" (click)="detail = !detail"
                        *ngIf="showArrow">
                        <img *ngIf="detail"
                            [src]="!theme.darkMode ? 'assets/staking/icons/down-arrow.svg' : 'assets/staking/icons/darkmode/down-arrow.svg'" />
                        <img *ngIf="!detail"
                            [src]="!theme.darkMode ? 'assets/staking/icons/up-arrow.svg' : 'assets/staking/icons/darkmode/up-arrow.svg'" />
                    </ion-col>
                    <ion-col *ngIf="detail" class="details-col" size="12">
                        <ion-grid>
                            <!-- <h5>{{'Nodes' | translate}}</h5> -->
                            <div *ngFor="let item of voteItems" class="item">
                                <ion-row>
                                    <h4>{{ item.title }}</h4>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="10" class="left-col">
                                        <p>{{ item.votes}} ELA, {{ item.ratio }}%</p>
                                        <p *ngIf="item.stakeuntilDate">{{ 'staking.stake-until' | translate }}: {{
                                            item.stakeuntilDate }}</p>
                                        <p *ngIf="item.stakeuntilExpiredIn" class="expired-in">{{
                                            'staking.stake-until' |
                                            translate }}: {{ item.stakeuntilExpiredIn }}</p>
                                    </ion-col>
                                    <ion-col size="2" class="right-col" (click)="clickDetails($event, item.type)">
                                        <div class="details-btn align-right"> {{ 'staking.details' | translate }}
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </div>

                            <ion-row>
                                <ion-col size="5" class="left-col">
                                    <h5>{{'staking.locked-ela' | translate}}</h5>
                                </ion-col>
                                <ion-col size="7" class="right-col">
                                    <h5 class="align-right">{{ uxService.toThousands(stakeService.votesRight.maxStaked) }} ELA</h5>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

    <div *ngIf="dataFetched">
        <div class="footer-space"></div>
        <ion-footer>
            <div id="button-list">
                <ebutton *ngFor="let button of buttonList" [topicon]="button.icon" [title]="button.label"
                    (clicked)="clickButton(button.url)"></ebutton>
            </div>
        </ion-footer>
    </div>
</ion-content>