<!--<ion-app>-->
  <!--<ion-router-outlet main></ion-router-outlet>-->
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="vote">
        <ion-icon name="list-circle"></ion-icon>
        <ion-label>Voting</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="stats">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>Statistics</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-icon name="book"></ion-icon>
        <ion-label>History</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<!--</ion-app>-->
