@import '../../root.scss';

ion-tabs {
    ion-tab-bar {
        height: 9%;
    
        ion-tab-button {
            ion-icon {
                color: #bebeeb;
                font-size: 36px;
            }
        
            ion-label {
                font-size: 9px;
                font-weight: 600;
                color: #bebeeb;
            }
        }
    }
}

.dark-tabs {
    ion-tab-bar {
        ion-tab-button {
            ion-icon, ion-label {
                color: #464660;;
            }
        }
    }
}

ion-tab-button {
    --ripple-color: #732dcf;
    }

    ion-tab-button.tab-selected {
        ion-icon, ion-label {
            color: #732dcf !important;
            --ion-color-base: #732dcf !important;
        }
    }

    ion-tab-button:hover {
        ion-icon, ion-label {
            color: #732dcf !important;
            --ion-color-base: #732dcf !important;
        }
}