@import '../../root.scss';

/*** LIGHT MODE ***/
ion-tabs {
    ion-tab-bar {
        height: 9%;
        background-color: #f5f5fd;
    
        ion-tab-button {
            --ripple-color: #732dcf;

            ion-icon {
                color: #bebeeb;
                font-size: 36px;
            }
        
            ion-label {
                font-size: 9px;
                font-weight: 600;
                color: #bebeeb;
            }
        }

        ion-tab-button.tab-selected {
            ion-icon, ion-label {
                color: #732dcf !important;
                --ion-color-base: #732dcf !important;
            }
        }
    }
}

/*** DARK MODE ***/
.dark-tabs {
    ion-tab-bar {
        background: #121212;
    
        ion-tab-button {
            --ripple-color: #ffffff;

            ion-icon {
                color: #666666;
            }
        
            ion-label {
                color: #666666;
            }
        }

        ion-tab-button.tab-selected {
            ion-icon, ion-label {
                color: #ffffff !important;
                --ion-color-base: #ffffff !important;
            }
        }
    }
}
