<app-titlebar title="text-contacts"></app-titlebar>
<ion-content>
    <div *ngIf="isnodata" id="nodata">
        <img src="assets/wallet/images/no-contacts.png" />
        <div>{{'no-add-contact' | translate}}</div>
    </div>
    <ion-list *ngIf="!isnodata" lines="none">
        <ion-item *ngFor="let item of contactUsers" (click)="onClick(item)">
            <img id="contact-circle" src="assets/wallet/images/contact-circle.png" />
            <span id="first-letter">{{item.name[0]}}</span>
            <ion-label>{{ item.name }}</ion-label>
            <ion-label><p>{{item.phone}}</p></ion-label>
            <ion-thumbnail *ngIf="!isHide" solt="end"  (click)="onEdit(item, $event)">
                <img src="assets/wallet/images/contact-edit.png" />
            </ion-thumbnail>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer *ngIf="!isHide">
    <ion-button class="confirm" (click)="onAdd()">+{{'text-contacts-add' | translate}}</ion-button>
</ion-footer>