@import "../../root.scss";

#add-padding-bottom {
    padding-bottom: 20%;
}

#remaining-time {
    font-size: 12px;
    font-weight: 500;
}

.council-header {
    background: var(--ion-background-color);
}

.content {
    padding-top: 55px;
}

.container {
    .candidate-list {
        padding: 0px 0px 1px;
        height: 100%;

        ion-item {
            margin: 2px 0;
            --padding-start: 0px;

            ion-grid {
                padding: 5px 0;
            }

            ion-row {
                padding: 5px 0;
            }

            .rank-col {
                font-size: 13px;
                font-weight: 800;
                padding-right: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .img-col {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .img {
                    width: 40px;
                    height: 40px;
                }
            }

            .label-col {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                align-self: center;

                h4,
                p {
                    margin: 0;
                }

                h4 {
                    font-size: 14px;
                    font-weight: 600;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                p {
                    font-size: 10px !important;
                    margin-top: 5px;
                    font-weight: 400;

                    .votes {
                        font-size: 12px;
                    }
                }

                .state {
                    font-size: 13px;
                    font-weight: 600;
                    color: #b91212;
                }
            }

            .checkbox-col {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                ion-checkbox {
                    --border-color: var(--ion-text-color);
                    --border-color-checked: var(--ion-text-color);
                    --border-width: 1.5px;
                    --checkmark-color: var(--ion-text-color);
                    --background-checked: transparent !important;
                }
            }
        }
    }
}

.selected {
    font-weight: 700;
}

.footer {
    background: var(--ion-background-color);
}
