<ion-content [class.dark-container]="theme.darkMode">
    <app-titlebar></app-titlebar>
    <div class="council-header">
        <div *ngIf="remainingTime">
            <p id="remaining-time">{{ ("voting.voting-ends-in" | translate) + " " + remainingTime }} </p>
        </div>
    </div>

    <div class="content">
        <ion-spinner *ngIf="!candidatesFetched"></ion-spinner>

        <ion-grid *ngIf="crCouncilService.candidates.length > 0" id="add-padding-bottom"
            class="container ion-no-padding">
            <app-candidate-slider *ngIf="showCandidate" [candidate]="candidate" [candidateIndex]="candidateIndex">
            </app-candidate-slider>
            <ion-list lines="none" class="candidate-list" [class.blur]="showCandidate">
                <!-- <ion-virtual-scroll [items]="crCouncilService.candidates" approxItemHeight="240px">
                    <ion-item class="candidate" [class.selected]="!candidateIsSelected(candidate)"
                        *virtualItem="let candidate"> -->
                <ion-item *ngFor="let candidate of crCouncilService.candidates">
                    <ion-grid class="ion-no-padding">
                        <ion-row>
                            <ion-col size="1.25" class="rank-col" (click)="onShowCandidateInfo(candidate.did)">
                                {{ crCouncilService.candidates.indexOf(candidate) + 1 }}
                            </ion-col>
                            <ion-col size="1.5" class="img-col" (click)="onShowCandidateInfo(candidate.did)">
                                <img [src]="candidate.avatar ? candidate.avatar : '/assets/crcouncilvoting/icon/avatar.png'"
                                    src-fallback="/assets/crcouncilvoting/icon/avatar.png">
                            </ion-col>
                            <ion-col size="7.75" class="label-col" (click)="onShowCandidateInfo(candidate.did)">
                                <ion-label>
                                    <h4 [class.selected]="candidateIsSelected(candidate)">{{ candidate.nickname }}
                                    </h4>
                                    <p>
                                        <ion-icon name="navigate"></ion-icon> {{ 'crcouncilvoting.' + candidate.location
                                        | translate }}
                                        &nbsp;
                                        <span class="votes">{{ fixVotes(candidate.votes) }}</span>
                                        {{'crcouncilvoting.votes' | translate }}
                                    </p>
                                </ion-label>
                            </ion-col>
                            <ion-col size="1.5" class="checkbox-col" (click)="addCandidate(candidate)">
                                <!--  TODO checked="candidateIsSelected(candidate)" can't work, why?-->
                                <ion-checkbox checked="true" *ngIf="candidateIsSelected(candidate)"></ion-checkbox>
                                <ion-checkbox checked="false" *ngIf="!candidateIsSelected(candidate)"></ion-checkbox>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <!-- </ion-virtual-scroll> -->
            </ion-list>
        </ion-grid>

        <div *ngIf="candidatesFetched && crCouncilService.candidates.length == 0" class="no-data">
            {{ 'crcouncilvoting.no-candidates' | translate }}
        </div>

        <div *ngIf="candidatesFetched && crCouncilService.candidates.length > 0" class="footer">
            <ion-button [disabled]="!crCouncilService.selectedCandidates.length" (click)="addCandidates()">
                {{ 'crcouncilvoting.dist-votes' | translate }}
            </ion-button>
        </div>
    </div>
</ion-content>