<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container">
        <p *ngIf="!forIntent">
            {{ 'wallet.wallet-manager-intro' | translate }}
        </p>
        <ion-row *ngFor="let networkWallet of walletManager.getNetworkWalletsList()"
            class="card-row ripple ion-activatable" (click)="goWalletSettings(networkWallet);$event.stopPropagation();">
            <ion-row class="card-label-row">
                <ion-row class="top-row">
                    <ion-col size="10" class="left-col">
                        <h1>{{ networkWallet.masterWallet.name }}</h1>
                    </ion-col>
                    <ion-col size="2" class="right-col">
                        <img src="assets/wallet/settings/gears.svg">
                    </ion-col>
                </ion-row>
                <h2></h2>
                <h3>{{ 'wallet.total-amount' | translate }}</h3>
                <h4 *ngIf="!currencyService.useCurrency">{{
                    WalletUtil.getWholeBalance(networkWallet.getDisplayBalance()) }}<span class="dot"
                        *ngIf="!networkWallet.getDisplayBalance().isZero() && WalletUtil.getDecimalBalance(networkWallet.getDisplayBalance())">.</span>
                    <span class="decimals">{{ WalletUtil.getDecimalBalance(networkWallet.getDisplayBalance(),
                        networkWallet.getDecimalPlaces()) }}</span>
                    <span class="ela"> {{ networkWallet.getDisplayTokenName() }}</span>
                </h4>
                <h4 *ngIf="currencyService.useCurrency">{{
                    WalletUtil.getWholeBalance(currencyService.getMainTokenValue(networkWallet.getDisplayBalance()))
                    }}<span class="dot"
                        *ngIf="!networkWallet.getDisplayBalance().isZero() && WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(networkWallet.getDisplayBalance()))">.</span>
                    <span class="decimals">{{
                        WalletUtil.getDecimalBalance(currencyService.getMainTokenValue(networkWallet.getDisplayBalance()))
                        }}</span>
                    <span class="ela"> {{ currencyService.selectedCurrency.symbol }}</span>
                </h4>
            </ion-row>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
    </ion-grid>
</ion-content>