<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container">
        <p *ngIf="!forIntent">
            {{ 'wallet.wallet-manager-intro' | translate }}
        </p>
        <ion-row
            *ngFor="let masterWallet of walletManager.getWalletsList()"
            class="card-row ripple ion-activatable"
            [ngStyle]="
            {
                'background-image': masterWallet.theme ?
                'url(' + masterWallet.theme.background + ')' :
                'url(/assets/wallet/cards/maincards/card-purple.svg)'
            }"
            (click)="goWalletSettings(masterWallet);$event.stopPropagation();"
        >
            <ion-row class="card-label-row">
                <ion-row class="top-row">
                    <ion-col size="10" class="left-col">
                        <h1>{{ masterWallet.name }}</h1>
                    </ion-col>
                    <ion-col size="2" class="right-col">
                        <img src="assets/wallet/settings/gears.svg">
                    </ion-col>
                </ion-row>
                <h2></h2>
                <h3>{{ 'wallet.total-amount' | translate }}</h3>
                <h4 *ngIf="!currencyService.useCurrency">{{ Util.getWholeBalance(masterWallet.getDisplayBalance()) }}<span class="dot" *ngIf="!masterWallet.getDisplayBalance().isZero() && Util.getDecimalBalance(masterWallet.getDisplayBalance())">.</span>
                    <span class="decimals">{{ Util.getDecimalBalance(masterWallet.getDisplayBalance()) }}</span>
                    <span class="ela">  ELA</span>
                </h4>
                <h4 *ngIf="currencyService.useCurrency">{{ Util.getWholeBalance(currencyService.getCurrencyBalance(masterWallet.getDisplayBalance())) }}<span class="dot" *ngIf="!masterWallet.getDisplayBalance().isZero() && Util.getDecimalBalance(currencyService.getCurrencyBalance(masterWallet.getDisplayBalance()))">.</span>
                    <span class="decimals">{{ Util.getDecimalBalance(currencyService.getCurrencyBalance(masterWallet.getDisplayBalance())) }}</span>
                    <span class="ela">  {{ currencyService.selectedCurrency.symbol }}</span>
                </h4>
            </ion-row>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
    </ion-grid>
</ion-content>