@import 'src/app/wallet/root.scss';

.container {
    min-height: 100%;
    margin: 0;
    padding: 15px 20px;
  
    p {
        margin: 0;
        padding: 15px 30px 30px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
    }

    .card-row {
        margin-bottom: 7.5px;
    }
}