<app-titlebar></app-titlebar>

<ion-content>
  <ion-grid *ngIf="!avatar || !avatar.data">
    <ion-row class="btn-row">
      <ebutton (clicked)="takePicture(1)" [title]="'common.take-pictures' | translate"></ebutton>
      <ebutton (clicked)="takePicture(0)" [title]="'common.photo-library' | translate"></ebutton>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="avatar && avatar.data && !oldAvatar">
    <img [src]="'data:'+avatar.contentType+';base64,'+avatar.data">
    <ion-row class="btn-row submit">
      <ebutton (clicked)="submit(true)" [title]="'common.use' | translate"></ebutton>
      <ebutton (clicked)="avatar.data = null" [title]="'common.change' | translate"></ebutton>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="avatar && avatar.data && oldAvatar">
    <img [src]="'data:'+avatar.contentType+';base64,'+avatar.data">
    <ion-row class="btn-row submit">
      <ebutton (clicked)="submit(true)" [title]="'common.use' | translate"></ebutton>
      <ebutton (clicked)="avatar.data = null" [title]="'common.change' | translate"></ebutton>
      <ebutton (clicked)="submit(false)" [title]="'common.delete' | translate"></ebutton>
    </ion-row>
  </ion-grid>
</ion-content>