<app-titlebar></app-titlebar>

<ion-content>
  <ion-grid *ngIf="!avatar || !avatar.data">
    <ion-row class="btn-row">
      <ion-button color="success" (click)="takePicture(1)">
        {{ 'common.take-pictures' | translate }}
      </ion-button>
      <ion-button color="success" (click)="takePicture(0)">
        {{ 'common.photo-library' | translate }}
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="avatar && avatar.data && !oldAvatar">
    <img [src]="'data:'+avatar.contentType+';base64,'+avatar.data">
    <ion-row class="btn-row submit">
      <ion-button color="success" (click)="submit(true)">
        {{ 'common.use' | translate }}
      </ion-button>
      <ion-button color="success" (click)="avatar.data = null">
        {{ 'common.change' | translate }}
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="avatar && avatar.data && oldAvatar">
    <img [src]="'data:'+avatar.contentType+';base64,'+avatar.data">
    <ion-row class="btn-row submit">
      <ion-button color="success" (click)="submit(true)">
        <ion-label>{{ 'common.use' | translate }}</ion-label>
      </ion-button>
      <ion-button color="success" (click)="avatar.data = null">
        <ion-label>{{ 'common.change' | translate }}</ion-label>
      </ion-button>
      <ion-button color="success" (click)="submit(false)">
        <ion-label>{{ 'common.delete' | translate }}</ion-label>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
