<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container">
        <ion-row class="subwallet-row ripple ion-activatable" [class.dark-subwallet-row]="theme.darkMode" *ngFor="let subWallet of subWallets" (click)="onItem(subWallet)">
            <ion-col size="2" class="left-col">
                <img [src]="uiService.getSubWalletIcon(subWallet)">
            </ion-col>
            <ion-col [size]="subWallet.getDisplayBalance().isZero() ? 7.5 : 5" class="middle-col">
                <h1>{{ uiService.getSubwalletTitle(subWallet) }}</h1>
                <p>{{ uiService.getSubwalletSubtitle(subWallet) }}</p>
            </ion-col>
            <ion-col [size]="subWallet.getDisplayBalance().isZero() ? 2.5 : 5" class="right-col">
                <h1>{{ uiService.getFixedBalance(subWallet.getDisplayBalance()) }}</h1>
                <p *ngIf="subWallet.getAmountInExternalCurrency(subWallet.getDisplayBalance())">
                    {{ subWallet.getAmountInExternalCurrency(subWallet.getDisplayBalance()) }}
                    {{ currencyService.selectedCurrency.symbol }}
                </p>
            </ion-col>
            <ion-col offset="2" size="10" class="bottom-col">
                <span *ngIf="subWallet.type === CoinType.ERC20" class="synced">{{ 'wallet.ela-erc20' | translate }}</span>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
    </ion-grid>
</ion-content>