<ion-content>
    <app-titlebar></app-titlebar>
    <ion-slides #slide [options]="slideOpts">
        <ion-slide class="message-container">
            <h1>
                {{ 'wallet.mnemonic-warning1' | translate }} <br>{{ 'wallet.mnemonic-warning2' | translate }}
            </h1>
            <p>
                {{ 'wallet.mnemonic-warning3' | translate }}
            </p>
            <ion-row class="btn-container">
                <ion-button color="secondary" (click)="nextSlide(slide)">
                    <ion-label> {{ 'wallet.view-mnemonic' | translate }}</ion-label>
                </ion-button>
            </ion-row>
        </ion-slide>
        <ion-slide class="ion-text-center mnemonic-container">
            <p>
                {{ 'wallet.mnemonic-prompt1' | translate }}<b>{{ 'wallet.mnemonic-prompt2' | translate }}</b>{{ 'wallet.mnemonic-prompt3' | translate }}<br><br>
            </p>
            <ion-row class="mnemonic-row">
                <ion-col size="3.6" *ngFor="let item of mnemonicList; let i = index">
                    <div class="mnemonic-index">{{ mnemonicList.indexOf(item) + 1 }}</div>
                    <ion-label>{{ item.text }}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="btn-container">
                <ion-button color="secondary" (click)="goToMnemonicWrite()">
                    <ion-label>{{ 'wallet.memory-written-down' | translate }}</ion-label>
                </ion-button>
            </ion-row>
        </ion-slide>
    </ion-slides>
</ion-content>