@import "src/app/launcher/root.scss";

ion-grid {
    min-height: 100%;
    margin: 0;
    padding: 15px 0;

    .header-row {
        margin-bottom: 10px;
        padding: 0px 20px;

        ion-label {
            font-size: 22px;
            font-weight: 600;
            line-height: 1.04;
            text-align: left;
            color: #191a2f;
        }
    }

    .close-all-row {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #8888b0;
        font-size: 13px;
        font-weight: 500;
    }

    .notif-item {
        --background: transparent;
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin: 0 20px;
        border-bottom: 1px solid rgba(34, 34, 34, 0.07);

        .notif-row {
            padding: 10px 0;

            .name-col {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    object-fit: cover;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
    
                h2 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
    
            .date-col {
                display: flex;
                justify-content: flex-end;
                align-items: center;
    
                p {
                    margin: 0;
                    font-size: 10px;
                    font-weight: 500;
                    color: #8888b0;
                    text-align: right;
                }
            }
    
            .title-col, .message-col {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                p {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.17;
                    letter-spacing: 0.14px;
                    text-align: left;
                    color: #2e2f4e;
                    margin: 0;
                }
            }
    
            .title-col {
                padding-bottom: 0;
  
                p {
                    font-weight: 600;
                }
            }
        }
    }

    .removeBorder {
        border-bottom: none;
    }

    .empty-container {
        margin-top: 66%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 22px;
            font-weight: 500;
            line-height: 2.42;
            letter-spacing: 1.2px;
            color: #8888b0;
            margin: 0;
        }

        p {
            font-size: 15px;
            font-weight: normal;
            line-height: 1.38;
            letter-spacing: 1.6px;
            color: #8888b0;
            margin: 0;
        }
    }
}

.dark-container {
    .header-row {
        ion-label {
            color: #ffffff;
        }
    }

    .notif-item {
        border-bottom: 1px solid #2e2f4e;

        .notif-row {
            .message-col {
                p {
                    font-weight: 400;
                    color: #ffffff;
                }
            }
    
            .title-col {
                p {
                    color: #ffffff;
                }
            }
        }
    }

    .removeBorder {
        border-bottom: none;
    }
}


