<ion-content>
  <app-titlebar></app-titlebar>

  <!-- Create App Screen -->
  <ion-grid class="container" *ngIf="!createdDApp">

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1>{{ 'create-new-app' | translate }}</h1>
      </ion-col>
    </ion-row>
   
    <ion-card class="ion-text-center">
      <h5>{{ 'create-app-message' | translate }}</h5>
    </ion-card>

    <ion-list>
      <ion-row class="input-row">
        <ion-col size="12">
          <p>{{ 'app-name' | translate }}</p>
        </ion-col>
        <ion-col size="12">
          <ion-input title="App name" [(ngModel)]="appName" type="text"></ion-input>
        </ion-col>
      </ion-row>
   
      <ion-row class="toggle-row">
        <ion-col size="12">
          <p *ngIf="!importDID">{{ 'create-did' | translate }}</p>
          <p *ngIf="importDID">{{ 'import-did' | translate }}</p>
          <ion-toggle [(ngModel)]="importDID" color="dark"></ion-toggle>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="importDID" class="input-row">
        <ion-col size="12">
          <p>{{ 'existing-app-did-mnemonic' | translate }}</p>
          <ion-icon name="help-circle" (click)='dAppService.showHelp($event, helpMessage2)'></ion-icon>
        </ion-col>
        <ion-col size="12">
          <ion-input [(ngModel)]="mnemonicToImport"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="importDID" class="input-row">
        <ion-col size="12">
          <p>{{ 'mnemonic-passphrase' | translate }} <span>{{ 'if-any' | translate }} </span></p>
          <ion-icon name="help-circle" (click)='dAppService.showHelp($event, helpMessage3)'></ion-icon>
        </ion-col>
        <ion-col size=12>
          <ion-input [(ngModel)]="mnemonicToImportPassphrase"></ion-input>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-button  color="dark" (click)="createApp()">
      <ion-label>{{ 'create-app' | translate }}</ion-label>
    </ion-button>
  </ion-grid>

  <!-- App Created Screen -->
  <ion-grid class="container" *ngIf="createdDApp">
    <ion-row>
      <ion-col size="12">
        <h1>{{ 'app-created' | translate }}</h1>
      </ion-col>
    </ion-row>

    <ion-card class="ion-text-center">
      <h5>{{ 'save-mnemonic' | translate }}</h5> <br>
      <ion-card-subtitle>
        {{ createdDApp.mnemonic }}
      </ion-card-subtitle>
    </ion-card>

    <ion-button color="dark" (click)="endAppCreation()">
      <ion-label>{{ 'done' | translate }}</ion-label>
    </ion-button>
  </ion-grid>

</ion-content>
