/**
 * Totally generic rules that must work for all screens.
 */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.align-self-center {
  align-self: center;
}

.margin-top-15 {
  margin-top: 15px;
}
