// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/declared.scss";
@import "./theme/ionic.scss";
@import "./popups.scss";

/********************** SHARED FONTS **********************/
@font-face {
    font-family: "CircularStd";
    font-weight: 300;
    font-style: normal;
    src: url("assets/fonts/circular/CircularStd-Light.otf");
}
@font-face {
    font-family: "CircularStd";
    font-weight: 400;
    font-style: normal;
    src: url("assets/fonts/circular/CircularStd-Book.otf");
}
@font-face {
    font-family: "CircularStd";
    font-weight: 500;
    font-style: normal;
    src: url("assets/fonts/circular/CircularStd-Medium.otf");
}
@font-face {
    font-family: "CircularStd";
    font-weight: 600;
    font-style: normal;
    src: url("assets/fonts/circular/CircularStd-Bold.otf");
}

/** Global font family **/
* {
    font-family: "CircularStd" !important;
}

/** Remove 'box' outline on clicked items **/
:focus {
    outline: none;
}

/** Hide visibility **/
.hidden {
    visibility: hidden;
}

/** Blur screen when a popup is showing **/
.blur {
    filter: blur(2.5px);
}

/** Ripple to clickable items **/
.ripple {
    overflow: hidden;
    position: relative;
}

/** Color for warning texts  **/
.warning-text {
    color: #f04141;
}

.secondary-text {
    font-weight: 300;
    font-size: 12px;
    opacity: 0.8;
}

// For "primary" ion-buttons
.ion-color-primary {
    --ion-color-base: var(--ion-text-color) !important;
    --ion-color-contrast: var(--ion-background-color) !important;
    --ion-color-shade: red !important;
}
