// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    src: url('assets/fonts/montserrat/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url('assets/fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url('assets/fonts/montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('assets/fonts/montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: normal;
    src: url('assets/fonts/montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    src: url('assets/fonts/montserrat/Montserrat-Black.ttf');
}

* {
    font-family: 'Montserrat' !important;
}

:focus {
    outline: none;
}

/** Clickable items **/
.ripple {
    overflow: hidden;
    position: relative;
}

/** Swipe notification **/
.notifications-swipe-button{
    --background: transparent;
}

/** Options comp **/
.options {
    --background: #ffffff;
    box-shadow: 0 3px 10px 0 rgba(22, 23, 64, 0.12);
}

.darkOptions {
    --background: #2e2f4e;
    box-shadow: 0 3px 10px 0 rgba(22, 23, 64, 0.12);
}

/** Popup **/
.running-comp {
    ion-backdrop{
      opacity: 0.5 !important;
    }

    .popover-wrapper{
        .popover-content{
            top: 0% !important;
            left: 0% !important;
            width: 100%;
            border-bottom-left-radius: 37px;
            border-bottom-right-radius: 37px;
        }
    }
}

.running-modal {
}

@media screen and (max-height: 640px) {
    .swiper-pagination {
        padding-top: 5px;
    }
}

/** Alert controller **/
.custom-alert {
}

/** Loader controller **/
.custom-loader-wrapper {
    --background: white;
}

.custom-loader {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;


    ion-label {
        margin-top: 20px;
        font-size: 14px;
        font-weight: bold;
        color: #353650;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #353650;;
    border-color: #353650 transparent #353650 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/** Darkmode loader controller **/
.dark-custom-loader-wrapper {
    --background: #2e2f4e;
}

.dark-custom-loader {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;


    ion-label {
        margin-top: 20px;
        font-size: 14px;
        font-weight: bold;
        color: white;
    }
}

.dark-lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.dark-lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid white;
    border-color: white transparent white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes dark-lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}