/** BASE **/
.popup-base {
  backdrop-filter: blur(5px);
  //--ion-background-color: transparent !important; // KO for the news configurator if enabled

  // Real content inside the modal - apply backgorund on it to be able to user rounded corners as well if needed
  > :first-child {
    //background: #f0f1ff;
    background: var(--ion-background-color);
  }

  /* &.darkContainer {
    :first-child {
      background: #212021;
    }
  } */
}

/** NEWS WIDGET POPUP **/
.news-widget-configurator-popup {
  --min-width: 320px;
}

/** LAUNCHER COLOR CHOOSER SHEET **/
.color-chooser-component {
  --height: 60%;
  align-items: flex-end; // bottom sheet
}
