@import "src/app/identity/root.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;

  .header-row {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
    }

    h1,
    h2,
    p {
      text-align: center;
    }

    h1 {
      padding-top: 20px;
      font-size: 20px;
      font-weight: 600;
    }

    h2 {
      padding-top: 10px;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      margin: 0;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.56;
      opacity: 0.5;
    }
  }

  .msg-container {
    padding: 20px 20px 5px;

    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      text-align: center;
    }

    .first-msg {
      margin-bottom: 20px;
    }
  }

  .data-container {
    background-color: var(--essentials-box-color);
    border-radius: 15px;
    padding: 0px 20px;
    margin-bottom: 7.5px;
    overflow: hidden;

    .data-row {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      margin: 5px 0;

      p {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.46;
        text-align: left;
        margin: 0;
      }
    }

    h5 {
      margin: 0 0 5px;
      font-size: 13px;
      font-weight: 400;
      text-align: left;
    }
  }
}

ion-footer {
  padding: 30px 20px;

  ebutton {
    width: 90%;
  }
}
