<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="!dataFetched">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="dataFetched">
        <ion-grid class="container ion-no-padding">
            <ion-row>
                <h5>{{ 'staking.enter-amount' | translate }}</h5>
            </ion-row>
            <ion-row>
                <ion-input id="max-votes" type="number" min="0" max="maxStake" name="amount" ngDefaultControl
                    [(ngModel)]="amount" (ionBlur)="onInputBlur()" (ionFocus)="onInputFocus()" clearInput>
                </ion-input>
            </ion-row>
            <ion-row class="profile-data">
                <ion-col size="10" class="left-col">
                    <p id="available">{{ 'staking.available' | translate }}: {{ uxService.toThousands(maxStake) }} </p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <div id="max-button" (click)="clickMax()">{{ 'common.max' | translate}}</div>
                </ion-col>
            </ion-row>
            <p *ngIf="!isSingleAddressWallet" class="memo">{{ 'staking.available-memo' | translate }}</p>
        </ion-grid>

        <div *ngIf="signingAndTransacting">
            <ion-spinner></ion-spinner>
        </div>

        <ion-footer *ngIf="!signingAndTransacting">
            <ion-row>
                <ion-col>
                    <ebutton class="btn-container" (clicked)="stake()"
                            [title]="'staking.stake' | translate"> </ebutton>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
            </ion-row>
        </ion-footer>
    </div>

</ion-content>