<ion-content>
    <app-titlebar></app-titlebar>
    <div *ngIf="planToPurchase" class="container" [class.darkContainer]="theme.darkMode">
        <h1>{{ 'hivemanager.pickplanpurchase.confirm-plan' | translate }}</h1>
        <div class="bubble" style="margin-bottom: 30px;">
            <p>{{ 'hivemanager.pickplanpurchase.purchase-msg' | translate }}</p>
            <div class="bubble-tail"></div>
        </div>

        <payment-plan [purchaseablePlan]="planToPurchase"></payment-plan>

        <ebutton (clicked)="purchasePlan()" [title]="'hivemanager.pickplanpurchase.purchase-now' | translate"></ebutton>
    </div>
</ion-content>