.container {
  min-height: 100%;
  padding: 30px 35px;

  ion-input {
    background: #ffffff;
    box-shadow: 0 3px 15px 0 #ededf0;
    font-size: 15px;
    --padding-start: 12px;
  }

  .btn-container {
    margin-top: 25px;
  }
}

.darkContainer {
  ion-input {
    background: #2b2c49;
    box-shadow: 0 3px 15px 0 #151626;
  }
}
