<div class="container" [class.darkContainer]="theme.darkMode">

  <img [src]="txIcon">
  <h1>{{ txHeader }}</h1>
  <h2>{{ 'wallet.confirm-transaction-title' | translate }}</h2>

  <h3>{{ 'wallet.from' | translate }}:</h3>
  <h4>{{ txInfo.transferFrom }}</h4>

  <h3>{{ 'wallet.to' | translate }}:</h3>
  <h4>{{ txInfo.transferTo }}</h4>

  <h3>{{ 'wallet.amount' | translate }}:</h3>
  <h4 *ngIf="txInfo.amount === -1">{{ 'wallet.transfer-all' | translate }}</h4>
  <h4 *ngIf="txInfo.amount !== -1">{{ txInfo.amount }}</h4>

  <h3 *ngIf="txInfo.memo">{{ 'wallet.tx-info-memo' | translate }}:</h3>
  <h4 *ngIf="txInfo.memo">{{ txInfo.memo }}</h4>

  <ion-row class="btn-row">
    <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancel()">
      <ion-label>{{ 'common.cancel' | translate}}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="confirm()">
      <ion-label>{{ 'common.confirm' | translate}}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>

</div>
