<div class="container" [class.darkContainer]="theme.darkMode">

  <div class="inline-svg" [inlineSVG]="txIcon"></div>
  <h1>{{ txHeader }}</h1>
  <h2>{{ 'wallet.confirm-transaction-title' | translate }}</h2>

  <h3>{{ 'wallet.from' | translate }}:</h3>
  <h4>{{ txInfo.transferFrom }}</h4>

  <h3>{{ 'wallet.to' | translate }}:</h3>
  <h4 *ngIf="txInfo.toChainId">{{ txInfo.toChainId }}</h4>
  <h4>{{ txInfo.transferTo }}</h4>

  <h3 *ngIf="displayAmount">{{ 'wallet.amount' | translate }}:</h3>
  <h4 *ngIf="displayAmount">{{ displayAmount }} {{ txInfo.tokensymbol }}</h4>

  <h3 *ngIf="fee">{{ 'wallet.esctransaction-fees' | translate }}</h3>

  <ion-row class="item-row ripple ion-activatable" *ngIf="fee">
    <ion-col size="11" class="price">
      <span> {{ fee }} </span>
    </ion-col>
    <ion-col size="1" class="edit-gas-col" *ngIf="gasLimit">
      <ion-icon name="create-outline" (click)="editGasPrice()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="item-row ripple ion-activatable" *ngIf="showEditGasPrice">
    <ion-col size="6">
      <div>{{ 'wallet.eth-gasprice' | translate }}</div>
      <ion-input autosize clearInput name="gasPrice" ngDefaultControl [(ngModel)]="gasPriceGwei"
        (ionChange)="updateGasprice($event)" mode="ios">
      </ion-input>
    </ion-col>
    <ion-col size="6">
      <div>{{ 'wallet.eth-gaslimit' | translate }}</div>
      <ion-input autosize clearInput name="gasLimit" ngDefaultControl [(ngModel)]="gasLimit" mode="ios">
      </ion-input>
    </ion-col>
  </ion-row>

  <h3 *ngIf="txInfo.memo">{{ 'wallet.tx-info-memo' | translate }}:</h3>
  <h4 *ngIf="txInfo.memo">{{ txInfo.memo }}</h4>

  <ion-row class="btn-row">
    <ion-col size="5.6">
      <ebutton mode="cancel" (clicked)="cancel()" [title]="'common.cancel' | translate"></ebutton>
    </ion-col>
    <ion-col size="5.6">
      <ebutton (clicked)="confirm()" [title]="'common.confirm' | translate"></ebutton>
    </ion-col>
  </ion-row>

</div>