<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="onboard-container" [class.dark-container]="theme.darkMode">

    <div class="logo-container">
      <img src="assets/icons/elalogo.svg">
    </div>

    <ion-slides
      #slide
      pager="true"
      [options]="slideOpts"
      [class.hidden]="hidden"
    >
      <ion-slide class="ion-padding">
        <div class="slide">
          <h1 class="ion-padding">{{'welcome-to-a'|translate}} <br> {{'secure-environment'| translate}}</h1>
          <p class="ion-padding">
              {{'introduction-0'|translate}}
          </p>
          <div class="btn-container">
            <ion-button mode="ios" color="theme.darkMode ? dark : light" (click)="exit()">
              <ion-label [ngStyle]="{'color': !theme.darkMode ? '#6d74ef' : '#37477d' }">{{'enter-elastos' | translate}}</ion-label>
            </ion-button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>
