
ion-content {
    ion-list {
        --ion-background: none;
        --ion-background-color: none;
    }

    .profile-container {
        position: relative;
        margin-bottom:60px;

        .profile-picture {
            position: absolute;
            //background: white;
            top:0;
            left:0;
            right:0;
            z-index: 10;
            height:35vw;
            width:35vw;
            margin: 0 auto;
            margin-top: -17vw;
            border-radius: 50%;
            //box-shadow: 0px 4px 12px rgba(200,200,200,0.3);
            align-content: center;
            //overflow:hidden;
            align-content: center;

            img {
                width:100%;
                //height:120%; // Overlap effect
                align-self:center;
            }

            .no-picture {
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                color: #CACCD0;
                font-weight: 600;
                font-size:12px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index:-1;
            }
        }

        .profile-items {
            margin-top:100px;
            background:white;
            margin-bottom:20px;
            padding-top:20vw;
            padding-bottom:40px;

            .name {
                font-size:1.3em;
                font-weight:bold;
                text-align: center;
                width:100%;
            }

            .type-icon {
                width:40px;
                height:40px;
                background:#E9ECEF;
                box-shadow: 3px 3px 8px rgba(100,100,100,0.1);
                border-radius: 50%;
            }

            .profile-name {
                font-weight:700;
                font-size:1.2em;
                text-align:center;
                margin-top:34px;
                margin-bottom:20px;
            }

            .actions {
                overflow-x: scroll;
                scrollbar-width: none;
                margin-top:10px;
                margin-bottom:10px;
                display:flex;
                --action-color:#4A9DF9;

                rounded-action-button {
                    width:110px;
                    flex:none;
                }
            }

            ion-list {
                --background: none !important;
                margin-bottom: 10px;
            }

            .section-title {
                font-weight:700;
                font-size:18px;
                margin-left: 25px;
                padding-top:10px;
                color:var(--ion-color-primary);
            }

            ion-checkbox {
                --border-width:2px;
                --checkmark-color:#FFFFFF;

                transition: all 0.5s ease;
                margin-right: -40px; // Hidden by default
                position:absolute;
                right:0;
                margin-top:0;
            }

            .visibility-checkbox {
                --background-checked:var(--ion-color-primary);
                --border-color: var(--ion-color-primary);
                --border-color-checked: var(--ion-color-primary);
            }

            .deletion-checkbox {
                --background-checked:#FF4D4D;
                --border-color: #FF4D4D;
                --border-color-checked: #FF4D4D;
            }

            /*.delete-button {
                transition: all 0.5s ease;
                margin-right: -80px; // Hidden by default
                position:absolute;
                right:0;
            }*/

            .checkBox-visibility-edit {
                margin-right: 0px;
            }

            .deletion-visibility-edit {
                margin-right: 0px;
            }

            .publish-button {
                width:70vw;
                margin: 10px auto;
                display:inline-block;
            }

            .delete-button {
                width:70vw;
                margin: 10px auto;
                display:inline-block;
            }

            .credentials {
                margin-bottom:20px;
                background:#FAFAFA;

                .credential {
                    margin-top:20px;
                    background:white;
                    padding:10px;
                    color: #959DA7;

                    ion-grid {
                        max-width:100%;
                    }

                    .title {
                        font-weight:700;
                        font-size:20px;
                        color:black;
                        margin-bottom:10px;
                        opacity: 1 !important;
                    }

                    .label {
                        font-weight:600;
                        font-size:12px;
                        color:black;
                        margin-top:10px;
                        opacity: 1 !important;
                    }

                    .issuer {
                        opacity: 1 !important;
                        color:#959DA7;
                    }

                    .property {
                        .name {
                            font-size:14px;
                            font-weight:700;
                            margin-top:5px;
                            opacity: 1 !important;
                            color:#959DA7;
                            text-align:left;
                        }

                        .value {
                            font-size:12px;
                            opacity: 1 !important;
                            color:#959DA7;
                        }
                    }
                }
            }
        }
    }
}
