<app-titlebar></app-titlebar>
<div class="root-container">

  <ion-content no-bounce>
    <ion-grid class="ion-no-padding">
      <div class="profile-container">
        <div class="profile-picture">
          <img src="assets/images/Guy_Face.svg" *ngIf="isMale()">
          <img src="assets/images/DefaultProfileWoman.svg" *ngIf="!isMale()">
        </div>
        <div class="profile-items">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="name">{{profile.getName()}}</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="actions">
                  <rounded-action-button title="edit-visibility" image="assets/images/Visibility_Tick_Simple_Icon.svg" (click)="toggleVisibilityMode()" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <rounded-action-button title="delete" image="assets/images/Delete_Warning_Simple_Icon.svg" (click)="toggleDeleteMode()" color="#FF4D4D" imgcolor="#FFFFFF"></rounded-action-button>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-no-padding">
                <div *ngIf="!hasCredential" class="ion-text-center">
                    {{'no-credential-yet'|translate}}
                </div>

                <div class="credentials" *ngIf="hasCredential">
                  <div class="section" *ngIf="visibleData.length > 0">
                    <div class="section-title">{{'my-visible-data'|translate}}</div>
                    <ion-list>
                      <ion-item *ngFor="let entry of visibleData" class="credential" lines="none">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none" class="ion-no-margin">
                                <ion-label class="title" >{{getDisplayableCredentialTitle(entry)}}</ion-label>
                                <ion-checkbox [(ngModel)]="entry.willingToBePubliclyVisible" [disabled]="!editingVisibility" mode="ios" [ngClass]="{'checkBox-visibility-edit': editingVisibility}" class="visibility-checkbox"></ion-checkbox>
                                <ion-checkbox *ngIf="entry.canDelete" [(ngModel)]="entry.willingToDelete" [disabled]="!deletionMode" mode="ios" [ngClass]="{'deletion-visibility-edit': deletionMode}" class="deletion-checkbox"></ion-checkbox>
                              </ion-item>

                              <div class="label">{{'issuer'|translate}}</div>
                              <div class="issuer" >{{getDisplayableIssuer(entry.credential)}}</div>

                              <div class="label">{{'information-it-contains'|translate}}</div>
                              <div class="property" *ngFor="let prop of displayableProperties(entry.credential)">
                                <div class="name">{{prop.name}}</div>
                                <div class="value">{{prop.value}}</div>
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                    </ion-list>
                  </div>

                  <div class="section" *ngIf="invisibleData.length > 0">
                    <div class="section-title">{{'my-hidden-data'|translate}}</div>
                    <ion-list>
                      <ion-item *ngFor="let entry of invisibleData" class="credential" lines="none">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none" class="ion-no-margin">
                                  <ion-label class="title" >{{getDisplayableCredentialTitle(entry)}}</ion-label>
                                <ion-checkbox [(ngModel)]="entry.willingToBePubliclyVisible" [disabled]="!editingVisibility" mode="ios" [ngClass]="{'checkBox-visibility-edit': editingVisibility}" class="visibility-checkbox"></ion-checkbox>
                                <ion-checkbox *ngIf="entry.canDelete" [(ngModel)]="entry.willingToDelete" [disabled]="!deletionMode" mode="ios" [ngClass]="{'deletion-visibility-edit': deletionMode}" class="deletion-checkbox"></ion-checkbox>
                              </ion-item>

                              <div class="label">{{'issuer'|translate}}</div>
                              <div class="issuer" >{{getDisplayableIssuer(entry.credential)}}</div>

                              <div class="label">{{'information-it-contains'|translate}}</div>
                              <div class="property" *ngFor="let prop of displayableProperties(entry.credential)">
                                <div class="name">{{prop.name}}</div>
                                <div class="value">{{prop.value}}</div>
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>

                <ion-item lines="none" *ngIf="editingVisibility">
                  <did-button class="publish-button" (click)="saveVisibilityChanges()"
                      [title]="'publish-changes' | translate"
                      [bgcolor]="'var(--ion-color-primary)'"
                      [bordercolor]="'var(--ion-color-primary)'"
                      [shadow]="true"></did-button>
                </ion-item>

                <ion-item lines="none" *ngIf="deletionMode">
                  <did-button class="delete-button" (click)="deleteSelectedCredentials()"
                      [title]="'delete-credentials' | translate"
                      [bgcolor]="'#FF4D4D'"
                      [bordercolor]="'#FF4D4D'"
                      [shadow]="true"></did-button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-grid>
  </ion-content>
</div>
