ion-ripple-effect {
  --ripple-color: var(--ion-color-primary);
  color: var(--ripple-color);
}

ion-item {
  --background-activated: none;
}

ion-button {
  height: 50px;
  width: 100%;
  --border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.loader {
  --spinner-color: #000000;
  --background: #ffffff;
  color: #000000;
}

.darkLoader {
  --spinner-color: white;
  --background: #2b2c49;
  color: white;
}

ion-title {
  position: absolute;
  left: 0px !important;
  top: 0px !important;
  width: 100%;
  height: 100%;
  text-align: center !important;
  --background: #0093F0;
  font-size: 18px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end:0;
  margin-left: px2rem(45px);
  margin-right: px2rem(45px);
}

ion-note {
  font-size: 14px;
}

ion-footer {
  text-align: center;
}

.confirm {
  width: px2rem(686px);
  height: px2rem(84px);
  --background: #0093F0;
  font-size: 14px;
}

.delete {
  width: px2rem(686px);
  height: px2rem(84px);
  --background: #AB2323;
  font-size: 16px;
}

.line-limit-length {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.backupWalletTextArea {
  margin: auto;
  border: 1px dashed #d9d9d9;
  border-radius: 3px;
  text-align: center;
  width: px2rem(660px);
  height: px2rem(280px);
  display: flex;
  justify-content: center;
  background-color: #161723;
  font-size: 20px;
}

.no-background {
  --background:none;
  background:none;
}