<!-- Identity -->
<ion-row *ngIf="getSignedInIdentity()" class="widget widget-background root id-row ion-activatable ripple"
  [class.darkContainer]="theme.darkMode" (click)="showMyIdentity()">
  <ion-col size="2" class="left-col">
    <div *ngIf="!getSignedInIdentity().avatar" inlineSVG="assets/launcher/default/default-avatar.svg" class="no-avatar">
    </div>
    <img *ngIf="getSignedInIdentity().avatar" class="has-avatar"
      [src]="'data:'+getSignedInIdentity().avatar.contentType+';base64,'+getSignedInIdentity().avatar.base64ImageData" />
  </ion-col>

  <ion-col size="8" class="mid-col">
    <div class="secondary-text">{{ getDateFromNow() }}</div>
    <h2>{{ getSignedInIdentity().name }}</h2>
  </ion-col>
  <ion-col size="2" class="right-col" (click)="showOptions($event)">
    <img
      [src]="!theme.darkMode ? '/assets/launcher/icons/vertical-dots.svg' : '/assets/launcher/icons/dark_mode/vertical-dots.svg'">
  </ion-col>
  <ion-ripple-effect></ion-ripple-effect>
</ion-row>