@import "../../widgets.scss";

.id-row {
  flex-direction: row;

  ion-col {
    display: flex;
  }

  .left-col {
    align-items: center;
    justify-content: flex-start;

    ion-avatar {
      width: 68px;
      height: 68px;
    }
  }

  .mid-col {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    h1,
    h2 {
      color: #000;
      margin: 0;
      text-align: left;
    }

    h2 {
      display: block;
      font-size: 6vw;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }

    h1 {
      font-size: 9px;
      font-weight: 600;
      letter-spacing: 2.4px;
      margin-bottom: 3px;
    }
  }

  .right-col {
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    img {
      width: 4.4px;
      height: 18.6px;
    }
  }
}

.darkContainer {
  .mid-col {
    h1 {
      color: #acacac;
    }

    h2 {
      color: #ffffff;
    }
  }
}
