@import '../../root.scss';

ion-searchbar {
  .searchbar-input-container{
      .searchbar-input{
          border-radius: 30px !important;
      }
  }
}

.header {
  .search-container {
    width: 85%;

    ion-input {
      height: 45px;
      background: #ffffff;
      color: #000000;
      font-size: 15px;
      border-radius: 50px !important;
      letter-spacing: -0.8px;
      box-shadow: 0 0.1px 0.5px 0 rgba(0, 0, 0, 0.16);
    }  
  }
}

.container {
  min-height: 100%;
  padding-top: 15%;
}
