<ion-content #contentArea>
    <app-titlebar></app-titlebar>

    <div *ngIf="transferType !== 3" class="container" [class.dark-container]="theme.darkMode">
        <!------------------ RECHARGE ------------------>
        <ion-grid *ngIf="transferType === 1 || transferType === 4" class="recharge-container"
            [class.recharge-dark-container]="theme.darkMode" [class.blur]="native.popup">
            <ion-row class="main-title-row">
                <ion-col size="12">
                    <p>{{ 'wallet.transfer-from' | translate }}</p>
                </ion-col>
            </ion-row>
            <ion-row class="item-row">
                <ion-col size="2.3" class="left-col">
                    <img [src]="fromSubWallet.getMainIcon()">
                </ion-col>
                <ion-col size="5.5" class="middle-col">
                    <h1>{{ uiService.getSubwalletTitle(fromSubWallet) }}</h1>
                    <p>{{ uiService.getSubwalletSubtitle(fromSubWallet) }}</p>
                </ion-col>
                <ion-col size="4.2" class="right-col">
                    <h1>{{ displayBalanceString }} </h1><strong *ngIf="displayBalanceLocked != ''"> {{
                        'wallet.balance-locked' |
                        translate:{locked: displayBalanceLocked} }}</strong>
                    <p *ngIf="fromSubWallet.getAmountInExternalCurrency(fromSubWallet.getDisplayBalance())">
                        {{ fromSubWallet.getAmountInExternalCurrency(fromSubWallet.getDisplayBalance()) }}
                        {{ currencyService.selectedCurrency.symbol }}
                    </p>
                </ion-col>
            </ion-row>
            <ion-row class="main-title-row">
                <ion-col size="12">
                    <p>{{ 'wallet.transfer-to' | translate }}</p>
                </ion-col>
            </ion-row>
            <ion-row class="item-row" *ngIf="toSubWallet">
                <ion-col size="2.3" class="left-col">
                    <img [src]="toSubWallet.getMainIcon()">
                </ion-col>
                <ion-col size="5.5" class="middle-col">
                    <h1>{{ uiService.getSubwalletTitle(toSubWallet) }}</h1>
                    <p>{{ uiService.getSubwalletSubtitle(toSubWallet) }}</p>
                </ion-col>
                <ion-col size="4.2" class="right-col">
                    <h1>{{ uiService.getFixedBalance(toSubWallet.getDisplayBalance()) }}</h1>
                    <p *ngIf="toSubWallet.getAmountInExternalCurrency(toSubWallet.getDisplayBalance())">
                        {{ toSubWallet.getAmountInExternalCurrency(toSubWallet.getDisplayBalance()) }}
                        {{ currencyService.selectedCurrency.symbol }}
                    </p>
                </ion-col>
            </ion-row>
            <ion-row class="item-row" *ngIf="!toSubWallet && destNetworkInfo">
                <ion-col size="2.3" class="left-col">
                    <img [src]="destNetworkInfo.logo">
                </ion-col>
                <ion-col size="9.7" class="middle-col">
                    <h1>{{ destNetworkInfo.tokenSymbol }}</h1>
                    <p>{{ destNetworkInfo.friendName }}</p>
                </ion-col>
            </ion-row>
            <ion-row class="main-title-row">
                <ion-col size="6">
                    <p>{{ 'wallet.transfer-receiver-address' | translate }}</p>
                </ion-col>
                <ion-col size="5" class="right-col" *ngIf="toSubWallet">
                    <p>{{ 'wallet.transfer-custum-address' | translate }}</p>
                </ion-col>
                <ion-col size="1" class="arrow-col" (click)="enableCustumReceiverAddress()" *ngIf="toSubWallet">
                    <img [src]="!theme.darkMode ? 'assets/wallet/icons/down-arrow.svg' : 'assets/wallet/icons/darkmode/down-arrow.svg'"
                        [class.rotate]="!useCustumReceiverAddress" />
                </ion-col>
            </ion-row>
            <ion-row class="item-row" *ngIf="!useCustumReceiverAddress">
                <ion-col size="12" class="left-col">
                    <p>{{ toAddress }}</p>
                </ion-col>
            </ion-row>
            <ion-row class="item-row" *ngIf="useCustumReceiverAddress">
                <ion-col size="11" class="left-col">
                    <ion-input type="url" placeholder="{{ 'wallet.transfer-receiver-address-placeholder' | translate}}"
                        autocomplete="off" autocorrect="off" [(ngModel)]="toAddress" name="toAddress" ngDefaultControl
                        (input)='onSendToAddressInput($event.target.value)'>
                    </ion-input>
                </ion-col>
                <ion-col size="1" class="right-col" (click)="showOptions($event)">
                    <img
                        [src]="!theme.darkMode ? '/assets/launcher/icons/vertical-dots.svg' : '/assets/launcher/icons/dark_mode/vertical-dots.svg'">
                </ion-col>
            </ion-row>
            <!-- Selected address name (cryptoname, etc) -->
            <ion-row class="contact-row" [class.invisible]="!addressName">
                <p>{{ addressName }}</p>
            </ion-row>

            <!-- Dynamically suggested addresses list -->
            <ion-row *ngIf="suggestedAddresses.length > 0" class="cryptoname-row">
                <ion-col size="12" *ngFor="let suggestedAddress of suggestedAddresses"
                    (click)="selectSuggestedAddress(suggestedAddress)">
                    <span>{{ suggestedAddress.getDisplayName() }}</span>
                    <ion-icon mode="ios" name="add"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="main-title-row">
                <ion-col size="12">
                    <p>{{ 'wallet.transfer-amount' | translate }}</p>
                </ion-col>
            </ion-row>
            <ion-row class="input-row">
                <ion-col size="12">
                    <ion-input *ngIf="!sendMax" type="number" name="amount" ngDefaultControl
                        placeholder="{{ 'wallet.amount' | translate }}" [(ngModel)]="amount"></ion-input>
                    <ion-input *ngIf="sendMax" [value]="displayBalanceString" (ionChange)="resetAmountInput()">
                    </ion-input>
                    <p *ngIf="supportsMaxTransfer()" (click)="setMaxTransfer()">{{ 'wallet.max' | translate }}</p>
                </ion-col>
            </ion-row>
        </ion-grid>

        <!------------------ SEND ------------------>
        <!-- "send" or "send nft" -->
        <ion-grid *ngIf="transferType === 2 || isTransferTypeSendNFT()" class="send-container"
            [class.send-dark-container]="theme.darkMode" [class.blur]="native.popup">
            <img class="header-img"
                [src]="!theme.darkMode ? this.networkWallet.network.logo : this.networkWallet.network.logo" />

            <!-- Sent data - Not for NFT -->
            <h1 *ngIf="transferType === 2">{{ 'wallet.enter-amount' | translate }}</h1>
            <ion-row class="item-row" *ngIf="transferType === 2">
                <ion-col size="4" class="left-col">
                    <h2>{{ tokensymbol }}</h2>
                    <p *ngIf="isStandardSubwallet(fromSubWallet)">{{ currencyService.selectedCurrency.symbol }}</p>
                </ion-col>
                <ion-col size="8" class="right-col">
                    <ion-input *ngIf="!sendMax" class="amount-input" type="number" name="amount" ngDefaultControl
                        placeholder="{{ 'wallet.amount' | translate }}" [(ngModel)]="amount"></ion-input>
                    <ion-input *ngIf="sendMax" class="amount-input" [value]="displayBalanceString"
                        (ionChange)="resetAmountInput()"></ion-input>
                    <p *ngIf="amount && !sendMax">
                        {{ fromSubWallet.getAmountInExternalCurrency(convertAmountToBigNumber(amount)) }}
                    </p>
                    <p *ngIf="sendMax">
                        {{
                        fromSubWallet.getAmountInExternalCurrency(convertAmountToBigNumber(this.networkWallet.subWallets[subWalletId].getDisplayBalance().toFixed(6)))
                        }}
                    </p>
                </ion-col>
            </ion-row>

            <!-- Sent data - For NFT only -->
            <ion-grid class="nft-info" *ngIf="isTransferTypeSendNFT() && nft && nftAsset">
                <div class="asset-icon">
                    <img [src]="getAssetIcon()">
                </div>

                <div class="info-block">
                    <div class="info-title">{{ 'wallet.nft-name' | translate }}</div>
                    <div class="info-value">{{ getDisplayableAssetName() }}</div>
                </div>

                <div class="info-block">
                    <div class="info-title">{{ 'wallet.nft-token-id' | translate }}</div>
                    <div class="info-value">{{ getDisplayableAssetID() }}</div>
                </div>
            </ion-grid>

            <!-- Token balance -->
            <ion-row class="balance-row" *ngIf="!isTransferTypeSendNFT()">
                <p *ngIf="supportsMaxTransfer()" id="max-btn" (click)="setMaxTransfer()">{{ 'wallet.max' | translate }}
                </p>
                <p [class.align-right]="!supportsMaxTransfer()">{{ 'wallet.balance' | translate }}: <strong>{{
                        displayBalanceString }}</strong>
                    <strong *ngIf="displayBalanceLocked != ''"> {{ 'wallet.balance-locked' |
                        translate:{locked: displayBalanceLocked} }}</strong>
                </p>
            </ion-row>

            <!-- Receiver info -->
            <h1>{{ 'wallet.send-to' | translate }}</h1>
            <ion-row class="item-row">
                <ion-col size="11">
                    <ion-input type="url" placeholder="{{ 'wallet.transfer-receiver-address' | translate}}"
                        autocomplete="off" autocorrect="off" [(ngModel)]="toAddress" name="toAddress" ngDefaultControl
                        (input)='onSendToAddressInput($event.target.value)'>
                    </ion-input>
                </ion-col>
                <ion-col size="1" class="right-col" (click)="showOptions($event)">
                    <img
                        [src]="!theme.darkMode ? '/assets/launcher/icons/vertical-dots.svg' : '/assets/launcher/icons/dark_mode/vertical-dots.svg'">
                </ion-col>
            </ion-row>

            <!-- Option to pick a personal wallet to send the asset -->
            <p *ngIf="canSendToPersonalWallet()" (click)="choosePersonalWallet(true)">
                {{ 'wallet.touch-to-select-a-personal-wallet' | translate }}
            </p>

            <!-- Selected address name (cryptoname, etc) -->
            <ion-row class="contact-row" [class.invisible]="!addressName">
                <p>{{ addressName }}</p>
            </ion-row>

            <!-- Dynamically suggested addresses list -->
            <ion-row *ngIf="suggestedAddresses.length > 0" class="cryptoname-row">
                <ion-col size="12" *ngFor="let suggestedAddress of suggestedAddresses"
                    (click)="selectSuggestedAddress(suggestedAddress)">
                    <span>{{ suggestedAddress.getDisplayName() }}</span>
                    <ion-icon mode="ios" name="add"></ion-icon>
                </ion-col>
            </ion-row>

            <!-- Memo -->
            <h1 *ngIf="fromSubWallet.supportMemo() && suggestedAddresses.length === 0" (click)="hideMemo = !hideMemo">
                {{ 'wallet.advanced-options' | translate }}
                <img [src]="!theme.darkMode ? 'assets/wallet/icons/down-arrow.svg' : 'assets/wallet/icons/darkmode/down-arrow.svg'"
                    [class.rotate]="!hideMemo">
            </h1>
            <ion-row *ngIf="!hideMemo && suggestedAddresses.length === 0" class="item-row memo-row">
                <ion-col size="12" class="left-col">
                    <ion-input type="text" name="memo" ngDefaultControl
                        placeholder="{{ 'wallet.tx-info-memo' | translate }}" [(ngModel)]="memo"
                        (ionFocus)="showKeyboard()" (ionBlur)="hideKeyboard()">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div *ngIf="transferType === 4" class="note">
            <p> {{ 'wallet.withdraw-note' | translate }} </p>
        </div>

        <div *ngIf="transferType === 1 || transferType === 4" class="note">
            <p> {{ 'wallet.crosschain-note' | translate }} </p>
        </div>

        <div *ngIf="shouldShowCoinbaseELAWarning()" class="note ela-coinbase-warning">
            <img src="assets/wallet/icons/ela_coinbase_warning.png" />
            <p>{{ 'wallet.ela-coinbase-warning' | translate }}</p>
        </div>

        <!------------------ SEND AND RECHARGE BUTTON ------------------>
        <div *ngIf="!native.popup && !keyboardIsVisible() && transferType !== 3" class="footer-container ion-no-border"
            [class.dark-footer]="theme.darkMode">
            <ion-row class="btn-container">
                <ebutton (clicked)="goTransaction()" [title]="getButtonLabel() | translate">
                </ebutton>
            </ion-row>
        </div>
    </div>

    <!------------------ PAY INTENT ------------------>
    <div *ngIf="transferType === 3" class="pay-container" [class.dark-pay-container]="theme.darkMode">
        <img class="header-img" src="./assets/wallet/tx/send.svg">
        <h1>{{ 'wallet.coin-transfer-send-title' | translate: { coinName: fromSubWallet.getDisplayTokenName() } }}</h1>
        <h2>{{ 'wallet.confirm-transaction-title' | translate }}</h2>
        <div>
            <h3>{{ 'wallet.from' | translate }}:</h3>
            <h4>{{ tokensymbol }}</h4>
        </div>
        <div>
            <h3>{{ 'wallet.to' | translate }}:</h3>
            <h4>{{ toAddress }}</h4>
        </div>
        <div *ngIf="memo">
            <h3>{{ 'wallet.tx-info-memo' | translate }}:</h3>
            <h4>{{ memo }}</h4>
        </div>
        <div>
            <h3>{{ 'wallet.amount' | translate }}:</h3>
        </div>
        <div class="amount-container">
            <ion-row class="item-row">
                <ion-col size="6" class="left-col">
                    <h4 [class.addPaddingBottom]="isStandardSubwallet(fromSubWallet)">{{ tokensymbol }}</h4>
                    <p *ngIf="isStandardSubwallet(fromSubWallet)">{{ currencyService.selectedCurrency.symbol }}</p>
                </ion-col>
                <ion-col size="6" class="right-col">
                    <ion-input [disabled]="!amountCanBeEditedInPayIntent" class="amount-input" type="number"
                        placeholder="0" name="amount3" ngDefaultControl [(ngModel)]="amount">
                    </ion-input>
                    <p *ngIf="amount && isStandardSubwallet(fromSubWallet)">
                        {{ fromSubWallet.getAmountInExternalCurrency(convertAmountToBigNumber(amount)) }}
                    </p>
                </ion-col>
            </ion-row>
        </div>
        <div>
            <p>{{ 'wallet.balance' | translate }}: <strong>{{
                    uiService.getFixedBalance(networkWallet.subWallets[subWalletId].getDisplayBalance())
                    }}</strong></p>
        </div>

        <div class="footer-container ion-no-border" [class.dark-footer]="theme.darkMode">
            <p *ngIf="!checkValuesReady(false)">{{ 'wallet.insufficient-balance' | translate }}</p>
            <ion-row class="btn-row">
                <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancelPayment()">
                    <ion-label>{{ 'common.cancel' | translate }}</ion-label>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="goTransaction()">
                    <ion-label>{{ 'common.confirm' | translate }}</ion-label>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
            </ion-row>
        </div>
    </div>

</ion-content>