@import "src/app/wallet/root.scss";

/********************** Container **********************/
.container {
    /********************** Recharge Container **********************/
    .recharge-container {
        min-height: 100%;
        padding: 15px;

        .main-title-row {
            margin-left: 10px;

            p {
                margin: 0;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0.7px;
                text-align: left;
            }

            .right-col {
                p {
                    text-align: right;
                }
            }

            .arrow-col {
                display: flex;
                justify-content: center;
                align-items: center;

                .rotate {
                    transform: rotate(-180deg);
                }
            }
        }

        .item-row {
            position: relative;
            border-radius: 17px;
            padding: 7.5px 10px 7.5px 0;
            margin-bottom: 18px;
            background-color: var(--essentials-box-color);

            .left-col {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;

                ion-img,
                img {
                    position: relative;
                    z-index: 10;
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
            }

            .middle-col,
            .right-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                overflow: hidden;

                h1,
                p {
                    margin: 0;
                }

                h1 {
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 1.29;
                    letter-spacing: 0.7px;
                    text-align: left;
                }

                p {
                    font-size: 13px;
                    font-weight: 400;
                    padding-top: 6px;
                    text-align: left;
                }
            }

            .right-col {
                align-items: flex-end;

                h1 {
                    font-weight: 700;
                    text-align: right;
                }

                p {
                    text-align: right;
                }

                strong {
                    font-size: 10px;
                    font-weight: 500;
                }
            }
        }

        .input-row {
            background: var(--essentials-box-color);
            border-radius: 17px;

            ion-col {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: transparent;
                border-radius: 16px;
                padding-right: 20px;
            }

            ion-input {
                background-color: transparent;
                height: 50px;
                font-size: 19px;
                font-weight: 600;
                letter-spacing: 0.95px;
                --padding-start: 16px;
            }

            p {
                font-size: 13px;
                font-weight: 700;
            }
        }

        .contact-row {
            p {
                width: 100%;
                text-align: right;
            }
        }

        .cryptoname-row {
            margin-top: 10px;

            h1 {
                width: 100%;
                margin-bottom: 10px;
                font-weight: 500;
                font-size: 11px;
            }

            ion-col {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 5px;

                span,
                ion-icon {
                    color: #3880ff;
                }

                span {
                    font-size: 14px;
                    font-weight: 600;
                }

                ion-icon {
                    font-size: 20px;
                }
            }
        }
    }

    /********************** Send Container **********************/
    .send-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100%;
        margin: 0;
        padding: 30px;

        .header-img {
            width: 75px;
            height: 75px;
            padding: 5px;
        }

        h1 {
            margin: 30px 0 10px;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.7px;

            img {
                margin-left: 4px;
            }

            .rotate {
                transform: rotate(-180deg);
            }
        }

        p {
            margin: 7.5px 10px;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.7px;
            text-align: right;
        }

        .invisible {
            visibility: hidden;
        }

        .item-row {
            border-radius: 16px;
            padding: 10px 15px;
            background-color: var(--essentials-box-color);
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-col {
                display: flex;
                justify-content: space-between;
                align-items: center;

                ion-input {
                    font-size: 14px;
                    font-weight: 400;
                    text-align: left;
                }

                ion-icon {
                    padding-top: 4px;
                    width: 30px;
                    height: 30px;
                }

                .scan-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    width: 45px;
                    height: 45px;

                    img {
                        width: 60%;
                        height: 60%;
                        object-fit: contain;
                    }
                }

                h2,
                .amount-input {
                    width: 100%;
                    margin: 0;
                    font-size: 19px;
                    font-weight: 600;
                    letter-spacing: 0.95px;
                }

                p {
                    margin: 0;
                    padding-top: 4px;
                    font-size: 12px;
                    font-weight: 400;
                }
            }

            .left-col {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                overflow: hidden;

                h2 {
                    padding-bottom: 4px;
                }

                p {
                    text-align: left;
                }
            }

            .right-col {
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                overflow: hidden;

                .amount-input,
                p {
                    text-align: right;
                }

                .amount-input {
                    --padding-end: 0;
                    --padding-top: 0;
                    --padding-bottom: 4px;
                    font-weight: 700;
                }

                .negativeBalance {
                    color: red;
                }
            }
        }

        .balance-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            #max-btn {
                font-size: 11px;
                font-weight: 700;
            }

            .align-right {
                width: 100%;
                text-align: right;
            }
        }

        .contact-row {
            p {
                width: 100%;
                text-align: right;
            }
        }

        .cryptoname-row {
            margin-top: 10px;

            h1 {
                width: 100%;
                margin-bottom: 10px;
                font-weight: 500;
                font-size: 11px;
            }

            ion-col {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 5px;

                span,
                ion-icon {
                    color: #3880ff;
                }

                span {
                    font-size: 14px;
                    font-weight: 600;
                }

                ion-icon {
                    font-size: 20px;
                }
            }
        }

        .nft-info {
            display: flex;
            flex-direction: column;
            position: relative;
            border-radius: 20px;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 32px;
            background: var(--essentials-box-color);
            width: 100%;

            .asset-icon {
                align-self: center;

                img {
                    height: 100px;
                }
            }

            .info-block {
                display: flex;
                flex-direction: column;
                margin-top: 15px;

                .info-title {
                }

                .info-value {
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 1.4;
                    margin-top: 5px;
                }
            }
        }
    }

    .footer-container {
        margin-top: 20px;
        padding: 0 10px;

        .btn-container {
            padding: 10px 10px;
        }
    }

    .note {
        padding: 0 30px;

        p {
            font-size: 12px;
            font-weight: 700;
        }
    }

    .ela-coinbase-warning {
        display: flex;
        align-items: center;

        img {
            width: 60px;
            height: 60px;
            border-radius: 10px;
            margin-right: 10px;
        }
    }
}

/********************** Pay Intent Container **********************/
.pay-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0px;

    .header-img {
        width: 67.2px;
        height: 67.2px;
        object-fit: contain;
    }

    div {
        text-align: left;
        padding: 0 30px;
        width: 100%;
    }

    .amount-container {
        padding: 0 20px;
    }

    h1,
    h2,
    h3,
    h4,
    p {
        margin: 0;
        width: 100%;
    }

    h1,
    h2 {
        text-align: center;
    }

    h3,
    h4 {
        text-align: left;
        font-size: 14px;
    }

    // Screen title
    h1 {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 11px;
        font-weight: 600;
    }

    // Screen subtitle
    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 22px;
        font-weight: 700;
    }

    // Item type
    h3 {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 700;
    }

    // Item value
    h4 {
        padding-top: 0;
        padding-bottom: 15px;
        font-weight: 400;
    }

    // Balance
    p {
        padding-top: 7.5px;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.7px;
        text-align: right;
    }

    .item-row {
        border-radius: 16px;
        padding: 10px;
        box-shadow: 0 3px 15px 0 #ededf0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2,
        h5,
        .amount-input {
            width: 100%;
            margin: 0;
            font-size: 19px;
            font-weight: 600;
            letter-spacing: 0.95px;
        }

        p {
            margin: 0;
            padding-top: 4px;
            font-size: 12px;
            font-weight: 400;
            color: #8888b0;
        }

        .left-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;

            h4 {
                text-align: left;
                padding-left: 0px;
                padding-bottom: 0px;
            }

            p {
                padding-top: 10px;
                text-align: left;
            }
        }

        .right-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;

            .amount-input,
            p,
            h5 {
                text-align: right;
            }

            .amount-input {
                --padding-end: 0;
                --padding-top: 0;
                --padding-bottom: 4px;
                font-weight: 700;
            }
        }
    }

    .footer-container {
        padding: 20px 10px;

        p {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.7px;
            color: red;
            text-align: center;
        }

        .btn-row {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .btn {
                height: 47px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;

                ion-label {
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
    }
}

/********************** Send and Recharge Footer **********************/
.footer {
    background: transparent;

    .btn-container {
        padding: 20px 10px;
    }
}

/********************** Pay Intent Footer **********************/
.pay-footer {
    padding: 20px 10px;

    p {
        margin-top: 0;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.7px;
        color: red;
        text-align: center;
    }

    .btn-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn {
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;

            ion-label {
                font-size: 17px;
                font-weight: 500;
            }
        }
    }
}
