<ion-content>
    <app-titlebar></app-titlebar>

    <div *ngIf="transferType !== 3" class="container" [class.dark-container]="theme.darkMode">

        <!------------------ RECHARGE ------------------>

        <ion-grid *ngIf="transferType === 1 || transferType === 4" class="recharge-container" [class.recharge-dark-container]="theme.darkMode" [class.blur]="native.popup">
            <ion-row class="main-title-row">
                <ion-col size="12">
                    <p>{{ 'wallet.transfer-from' | translate }}</p>
                </ion-col>
            </ion-row>
            <ion-row class="item-row">
                <ion-col size="2.3" class="left-col">
                    <img [src]="uiService.getSubWalletIcon(fromSubWallet)">
                </ion-col>
                <ion-col size="5.5" class="middle-col">
                    <h1>{{ uiService.getSubwalletTitle(fromSubWallet) }}</h1>
                    <p>{{ uiService.getSubwalletSubtitle(fromSubWallet) }}</p>
                </ion-col>
                <ion-col size="4.2" class="right-col">
                    <h1>{{ uiService.getFixedBalance(fromSubWallet.getDisplayBalance()) }}</h1>
                    <p *ngIf="fromSubWallet.getAmountInExternalCurrency(fromSubWallet.getDisplayBalance())">
                        {{ fromSubWallet.getAmountInExternalCurrency(fromSubWallet.getDisplayBalance()) }}
                        {{ currencyService.selectedCurrency.symbol }}
                    </p>
                </ion-col>
                <div class="arrow-down"></div>
            </ion-row>
            <ion-row class="main-title-row">
                <ion-col size="12">
                    <p>{{ 'wallet.transfer-to' | translate }}</p>
                </ion-col>
            </ion-row>
            <ion-row class="item-row">
                <ion-col size="2.3" class="left-col">
                    <img [src]="uiService.getSubWalletIcon(toSubWallet)">
                </ion-col>
                <ion-col size="5.5" class="middle-col">
                    <h1>{{ uiService.getSubwalletTitle(toSubWallet) }}</h1>
                    <p>{{ uiService.getSubwalletSubtitle(toSubWallet) }}</p>
                </ion-col>
                <ion-col size="4.2" class="right-col">
                    <h1>{{ uiService.getFixedBalance(toSubWallet.getDisplayBalance()) }}</h1>
                    <p *ngIf="toSubWallet.getAmountInExternalCurrency(toSubWallet.getDisplayBalance())">
                        {{ toSubWallet.getAmountInExternalCurrency(toSubWallet.getDisplayBalance()) }}
                        {{ currencyService.selectedCurrency.symbol }}
                    </p>
                </ion-col>
                <div class="arrow-down"></div>
            </ion-row>
            <ion-row class="main-title-row">
                <ion-col size="12">
                    <p>{{ 'wallet.transfer-amount' | translate }}</p>
                </ion-col>
            </ion-row>
            <ion-row class="input-row">
                <ion-col size="12">
                    <ion-input
                        *ngIf="!sendMax"
                        type="number"
                        name="amount"
                        ngDefaultControl
                        placeholder="{{ 'wallet.amount' | translate }}"
                        [(ngModel)]="amount"
                    ></ion-input>
                    <ion-input
                        *ngIf="sendMax"
                        [value]="masterWallet.subWallets[elastosChainCode].getDisplayBalance().toFixed(6)"
                        (ionChange)="resetAmountInput()"
                    ></ion-input>
                    <p *ngIf="supportsMaxTransfer()" (click)="setMaxTransfer()">{{ 'wallet.max' | translate }}</p>
                </ion-col>
            </ion-row>
        </ion-grid>

        <!------------------ SEND ------------------>

        <ion-grid *ngIf="transferType === 2" class="send-container" [class.send-dark-container]="theme.darkMode" [class.blur]="native.popup">
            <img class="header-img" [src]="!theme.darkMode ? 'assets/wallet/coins/ela-black.svg' : 'assets/wallet/coins/ela-white.svg'"/>

            <h1>{{ 'wallet.enter-amount' | translate }}</h1>
            <ion-row class="item-row">
                <ion-col size="6" class="left-col">
                    <h2>{{ elastosChainCode }}</h2>
                    <p *ngIf="isStandardSubwallet(fromSubWallet)">{{ currencyService.selectedCurrency.symbol }}</p>
                </ion-col>
                <ion-col size="6" class="right-col">
                    <ion-input
                        *ngIf="!sendMax"
                        class="amount-input"
                        type="number"
                        name="amount"
                        ngDefaultControl
                        placeholder="{{ 'wallet.amount' | translate }}"
                        [(ngModel)]="amount"
                    ></ion-input>
                    <ion-input
                        *ngIf="sendMax"
                        class="amount-input"
                        [value]="masterWallet.subWallets[elastosChainCode].getDisplayBalance().toFixed(6)"
                        (ionChange)="resetAmountInput()"
                    ></ion-input>
                    <p *ngIf="amount && !sendMax">
                        {{ fromSubWallet.getAmountInExternalCurrency(convertAmountToBigNumber(amount)) }}
                    </p>
                    <p *ngIf="sendMax">
                        {{ fromSubWallet.getAmountInExternalCurrency(convertAmountToBigNumber(this.masterWallet.subWallets[elastosChainCode].getDisplayBalance().toFixed(6))) }}
                    </p>
                </ion-col>
            </ion-row>

            <ion-row class="balance-row">
                <p *ngIf="supportsMaxTransfer()" id="max-btn" (click)="setMaxTransfer()">{{ 'wallet.max' | translate }}</p>
                <p [class.align-right]="!supportsMaxTransfer()">{{ 'wallet.balance' | translate }}:  <strong>{{ masterWallet.subWallets[elastosChainCode].getDisplayBalance() }}</strong></p>
            </ion-row>

            <h1>{{ 'wallet.send-to' | translate }}</h1>
            <ion-row class="item-row">
                <ion-col size="11">
                    <ion-input
                        type="text"
                        clearInput
                        placeholder="{{ 'wallet.transfer-receiver-address' | translate}}"
                        [(ngModel)]="toAddress"
                        name="toAddress"
                        ngDefaultControl
                        (input)='onSendToAddressInput($event.target.value)'
                    >
                    </ion-input>
                </ion-col>
                <ion-col size="1" class="right-col" (click)="showOptions($event)">
                  <img [src]="!theme.darkMode ? '/assets/launcher/icons/vertical-dots.svg' : '/assets/launcher/icons/dark_mode/vertical-dots.svg'">
                </ion-col>
            </ion-row>

            <p *ngIf="canSendToPersonalWallet()" (click)="choosePersonalWallet(true)">
                {{ 'wallet.touch-to-select-a-personal-wallet' | translate }}
            </p>

            <ion-row class="contact-row" [class.invisible]="!addressName">
                <p>{{ addressName }}</p>
            </ion-row>

            <ion-row *ngIf="suggestedAddresses.length > 0" class="cryptoname-row">
                <ion-col size="12" *ngFor="let suggestedAddress of suggestedAddresses" (click)="selectSuggestedAddress(suggestedAddress)">
                    <span>{{ suggestedAddress.getDisplayName() }}</span>
                    <ion-icon mode="ios" name="add"></ion-icon>
                </ion-col>
            </ion-row>

            <h1 *ngIf="!isEthsubwallet && suggestedAddresses.length === 0" (click)="hideMemo = !hideMemo">
                {{ 'wallet.advanced-options' | translate }}
                <img [src]="!theme.darkMode ? 'assets/wallet/icons/down-arrow.svg' : 'assets/wallet/icons/darkmode/down-arrow.svg'" [class.rotate]="!hideMemo">
            </h1>
            <ion-row *ngIf="!hideMemo && suggestedAddresses.length === 0" class="item-row memo-row">
                <ion-col size="12" class="left-col">
                    <ion-input
                        type="text"
                        clearInput
                        name="memo"
                        ngDefaultControl
                        placeholder="{{ 'wallet.tx-info-memo' | translate }}"
                        [(ngModel)]="memo"
                        (ionFocus)="showKeyboard()"
                        (ionBlur)="hideKeyboard()"
                    >
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <!------------------ SEND AND RECHARGE BUTTON ------------------>

        <div
            *ngIf="!native.popup && !keyboardIsVisible() && transferType !== 3"
            class="footer-container ion-no-border" [class.dark-footer]="theme.darkMode"
        >
            <ion-row class="btn-container">
                <ion-button color="primary" [disabled]="!valuesValid()" (click)="goTransaction()">
                    <ion-label>{{ getButtonLabel() | translate }}</ion-label>
                </ion-button>
            </ion-row>
        </div>
    </div>


    <!------------------ PAY INTENT ------------------>

    <div *ngIf="transferType === 3" class="pay-container" [class.dark-pay-container]="theme.darkMode">
        <img class="header-img" src="./assets/wallet/tx/send.svg">
        <h1>{{ 'wallet.coin-transfer-send-title' | translate: { coinName: fromSubWallet.getDisplayTokenName() } }}</h1>
        <h2>{{ 'wallet.confirm-transaction-title' | translate }}</h2>
        <div>
            <h3>{{ 'wallet.from' | translate }}:</h3>
            <h4>{{ elastosChainCode }}</h4>
        </div>
        <div>
            <h3>{{ 'wallet.to' | translate }}:</h3>
            <h4>{{ toAddress }}</h4>
        </div>
        <div *ngIf="memo">
            <h3>{{ 'wallet.tx-info-memo' | translate }}:</h3>
            <h4>{{ memo }}</h4>
        </div>
        <div>
            <h3>{{ 'wallet.amount' | translate }}:</h3>
        </div>
        <div class="amount-container">
            <ion-row class="item-row">
                <ion-col size="6" class="left-col">
                    <h4 [class.addPaddingBottom]="isStandardSubwallet(fromSubWallet)">{{ elastosChainCode }}</h4>
                    <p *ngIf="isStandardSubwallet(fromSubWallet)">{{ currencyService.selectedCurrency.symbol }}</p>
                </ion-col>
                <ion-col size="6" class="right-col">
                    <ion-input  [disabled]="!amountCanBeEditedInPayIntent"
                        class="amount-input"
                        type="number"
                        placeholder="0"
                        name="amount3" ngDefaultControl
                        [(ngModel)]="amount"
                    >
                    </ion-input>
                    <p *ngIf="amount && isStandardSubwallet(fromSubWallet)">
                        {{ fromSubWallet.getAmountInExternalCurrency(convertAmountToBigNumber(amount)) }}
                    </p>
                </ion-col>
            </ion-row>
        </div>
        <div>
            <p>{{ 'wallet.balance' | translate }}:  <strong>{{ masterWallet.subWallets[elastosChainCode].getDisplayBalance() }}</strong></p>
        </div>

        <div class="footer-container ion-no-border" [class.dark-footer]="theme.darkMode">
            <p *ngIf="!valuesReady(false)">{{ 'wallet.insufficient-balance' | translate }}</p>
            <ion-row class="btn-row">
                <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancelPayment()">
                    <ion-label>{{ 'common.cancel' | translate }}</ion-label>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
                <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="goTransaction()">
                    <ion-label>{{ 'common.confirm' | translate }}</ion-label>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-col>
            </ion-row>
        </div>
    </div>

</ion-content>

<!------------------ RECHARGE AND SEND FOOTER ------------------>

<!-- <ion-footer
    *ngIf="!native.popup && !keyboardIsVisible() && transferType !== 3"
    class="footer ion-no-border" [class.dark-footer]="theme.darkMode"
>

</ion-footer>
 -->
<!------------------ PAY INTENT FOOTER ------------------>

<!-- <ion-footer
    class="pay-footer ion-no-border" [class.dark-pay-footer]="theme.darkMode"
    *ngIf="transferType === 3"
>
    <p *ngIf="valuesReady()">{{ 'insufficient-balance' | translate }}</p>
    <ion-row class="btn-row">
        <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancelPayment()">
            <ion-label>{{ 'cancel' | translate }}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
        <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="goTransaction()">
            <ion-label>{{ 'confirm' | translate }}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
    </ion-row>
</ion-footer> -->
