@import "src/app/wallet/root.scss";

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px 10px;
    object-fit: cover;

    ion-card {
        img {
            width: 75px;
            height: 75px;
        }

        h1 {
          font-size: 16px;
        }
    }

    .msg-container {
        padding: 0px 20px 5px;

        p,
        h1 {
            text-align: center;
            font-weight: 500;
        }

        p {
            margin: 0;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.25;
        }

        h1 {
            margin: 15px 0 30px;
            font-size: 22px;
            letter-spacing: 0.55px;

            span {
                font-size: 33px;
                font-weight: 700;
                line-height: 1.21;
                letter-spacing: 0.83px;
            }
        }

        ion-row {
            margin: 0;
            font-size: 12px;
            line-height: 1.25;
            align-items: center;

            div {
                text-align: right;
            }

            .div_center {
                text-align: center;
            }

            span {
                text-align: right;
                font-weight: 700;
                font-size: 18px;
            }
        }

        ion-input {
            background: var(--essentials-box-color);
            height: 32px;
            opacity: 0.8;
            border-radius: 5px;
            font-size: 14px;
            text-align: left;
            --padding-start: 12px;
            --padding-end: 10px;
            margin-top: 5px;
        }

        .price {
            text-align: left;

            .fee {
                padding: 0px;
            }
        }

        .address {
          font-size: 14px;
          margin: 10px 0;
        }

        .btc-fee-row {
          border-radius: 16px;
          margin-top: 15px;
          padding: 10px 15px;
          background-color: var(--essentials-box-color);
          display: flex;
          justify-content: space-between;
          align-items: center;

          ion-col {
            display: flex;
            align-items: center;
            padding: 10px 5px;

            span {
                font-size: 14px;
                font-weight: 600;
            }
          }
        }

        .middle-col {
            justify-content: flex-end;
        }
    }

    .btn {
        width: 46.5%;
        position: fixed;
        bottom: 20px;
    }

    .cancel {
        left: 2%;
    }

    .confirm {
        right: 2%;
    }

    .expand {
        right: 2%;
        width: 96%;
    }
}

.warning {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    color: darkorange;
}
