<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="ion-text-center container">

        Transaction type:
        Standard payment | voting ...

        Amount (if standard payment):
        XXX ELA

        Signing wallet:
        Auto selected based on the public key (active wallet first priority)

        Number of required signers: 3
        Already signed: pubkey1, pubkey2 (2 total)

        <!-- Button -->
        <ion-row class="btn-row">
            <ion-button color="secondary" [disabled]='!wallet.name' (click)="sign()">
                <ion-label>Sign</ion-label>
                <ion-label>Sign & Publish</ion-label>
            </ion-button>
        </ion-row>

    </ion-grid>
</ion-content>