.container {
  height: 302px;
  background: #fafaff;
  border-radius: 12px;

  .header {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 5px;
      font-size: 24px;
      font-weight: 700;
      color: #161740;
    }
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafaff;
    height: 110px;
    overflow: hidden;

    p {
      font-size: 14px;
      text-align: center;
      color: #161740;
    }
  }

  .btn-row {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
      width: 100%;

      &.half {
        width: 45%;
      }
    }
  }
}

.darkContainer {
  background: #2b2c49;

  .header {
    h1 {
      color: #fdfeff;
    }
  }

  .message {
    background: #2b2c49;

    p {
      color: #fdfeff;
    }
  }

  .btn-row {
    .btn {
      background: #161740;

      ion-label {
        color: #fdfeff;
      }
    }
  }
}

.deleteContainer {
  border: 1.2px solid #fdd034;
}
