<div class="view">
    <div class="arrow_mask" (click)=click_close()></div>
    <div class="kuang">
        <p class="pay-box-title">{{'transfer-info' | translate}}
            <img class="close" src="./assets/icons/icon-close.svg" (click)="click_close()">
        </p>

        <ion-list lines="none">
            <ion-item *ngIf="toAddress!=''">
                <ion-label class="left">{{'transfer-address' | translate}}:</ion-label>
                <ion-label class="right" id="address" slot="end">{{toAddress}}</ion-label>
            </ion-item>
            <ion-item *ngIf="transfer.amount">
                <ion-label class="left">{{'amount' | translate}}:</ion-label>
                <ion-label class="right" slot="end">{{transfer.amount}}</ion-label>
            </ion-item>
            <ion-item *ngIf="transfer.fee">
                <ion-label class="left">{{'text-fees' | translate}}:</ion-label>
                <ion-label class="right" slot="end">{{transfer.fee/SELA}}</ion-label>
            </ion-item>
            <ion-item *ngIf="transfer.rate">
                <ion-label class="left">{{'text-rate' | translate}}:</ion-label>
                <ion-label class="right" slot="end">1 : {{transfer.rate}}</ion-label>
            </ion-item>
            <!--<ion-item *ngIf="!useFingerprintAuthentication">
                <ion-label class="left">{{'paypassword' | translate}}:</ion-label>
                <ion-input slot="end" type="password" placeholder="{{ 'text-pay-password-input' | translate }}" #pwd
                    [(ngModel)]="transfer.payPassword"></ion-input>
                <ion-img slot="end" *ngIf="canPromptFingerprint()" src="assets/images/fingerprint-24px.svg" class="fingerprint-preview" (click)="promptFingerprintActivation()"></ion-img>
            </ion-item>-->
        </ion-list>

        <!--<div *ngIf="useFingerprintAuthentication && !fingerprintPluginAuthenticationOnGoing">
            <ion-img src="assets/images/fingerprint-24px.svg" class="fingerprint-large text-align-center" (click)="promptFingerprintAuthentication()"></ion-img>

            <ion-item lines="none">
               <ion-label>{{'use-fingerprint-authentication' | translate}}</ion-label>
               <ion-toggle (ionChange)="disableFingerprintAuthentication()" checked="true"></ion-toggle>
            </ion-item>
        </div>-->

        <div style="text-align: center">
            <ion-button class="confirm" (click)="click_button()">{{ 'confirm' | translate }}</ion-button>
        </div>
    </div>
</div>