<ion-content class="ion-padding">
    <app-titlebar></app-titlebar>
    <div class="intro ion-text-center">
        {{ info | translate}}
    </div>

    <div class="notes">
        <div class="note">
            {{ 'wallet.text-note' | translate }}
        </div>

        <div class="note-entry">
            {{ 'wallet.text-vote-note-1' | translate }}
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-button class="ion-no-margin" style="width:50%" fill="clear" color="medium" size="large" (click)="cancelOperation()">{{ 'common.cancel' | translate }}</ion-button>
    <ion-button class="ion-no-margin" style="width:50%" fill="clear" color="primary" size="large" (click)="goTransaction()">{{ 'wallet.text-vote' | translate }}</ion-button>
</ion-footer>