@import "src/app/wallet/root.scss";

.ledger-container {
  height: 100%;
  border-radius: 11px;
  // padding: 5px;
  // margin: 10px 15px;
  background-color: #ffffff;
  box-shadow: 0 3px 15px 0 #ededf0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 15px;
  position: relative;

  h1, h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 0 20px;
  }

  h2 {
    font-size: 14px;
    font-weight: 400;
  }

  .row {
    align-self: center;
    align-items: center;

    .title {
        font-weight: 600;
        padding-left: 20px;
    }
  }

  .prompt-row {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 10px;
    border-radius: 13px;
    background: lightblue;

    ion-label {
        font-weight: 500;
        font-size: 14px;
        padding: 5px 0px;
    }
  }

  .device-row {
    margin: 5px 0;

    .device-name {
        font-weight: bold;
    }
  }

  .btn-row {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: #f8f8ff;

      ion-label {
        font-size: 15px;
        font-weight: 500;
        color: #161740;
        font-family: 'Inter' !important;
      }
    }
  }
}

.dark-ledger-container {
  background-color: #212021;
  box-shadow: 0px 123px 89px #000000ad;

  h1, h2 {
    color: #ffffff;
  }

  .prompt-row {
    background: lightseagreen;
  }

  .btn-row {
    .btn {
      background: #313031;

      ion-label {
        color: #fdfeff;
      }
    }
  }
}

.ripple {
  overflow: hidden;
}

