ion-content {
    --padding-bottom: 240px;
}

.container {
    display: flex;
    flex-direction: column;

    &.intro-loading {
        text-align: center;

        ion-spinner {
            margin: 20px;
        }
    }

    .heading {
        font-size: 12px;
        margin: 20px 0;
        margin-bottom: 10px;
        transition: all 0.3s ease;

        &.highlighted {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    .card {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        background: var(--essentials-box-color);
    }

    .wallet-name {
        margin-bottom: 0px;
    }

    .fetch-tokens-heading {
        display: flex;
        flex-direction: row;
    }

    .source-tokens,
    .destination-tokens {
        .source-token,
        .destination-token {
            padding: 15px;
            margin-bottom: 5px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: solid 2px transparent;
            background: var(--essentials-box-color);

            .left {
                margin-right: 15px;

                .network-logo {
                    height: 40px;
                }
            }

            &.selected {
                border-color: var(--ion-text-color);
            }

            &.gone {
                display: none;
            }

            .right {
                .amount-symbol {
                    margin-bottom: 5px;
                    font-weight: bold;

                    .token-symbol {
                    }
                }

                .token-name {
                    opacity: 50%;
                }
            }
        }
    }

    .switch {
        height: 24px;
        margin-top: 10px;
    }

    .amount-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
        background: var(--essentials-box-color);

        .input-row {
            display: flex;
            align-items: center;

            .transfer-input {
                font-size: 14px;
                font-weight: 400;
                text-align: left;
                border-radius: 10px;
                font-size: 18px;
                text-align: right;
            }

            .token-symbol {
                margin-top: 2px;
                font-weight: bold;
            }
        }

        .balance-row {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            #max-btn {
                font-size: 11px;
                font-weight: 700;
                width: 50px;
            }

            .align-right {
                width: 100%;
                text-align: right;
            }
        }
    }

    .computing-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .transfer-summary {
        margin-top: 10px;

        .heading {
            margin-top: 5px;
            font-weight: 600;
        }

        ion-col {
            margin-bottom: 10px;
            padding: 0;

            &:nth-child(2) {
                padding-left: 10px;
            }
        }
    }
}

.footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: var(--ion-background-color);

    .last-error {
        margin: 20px 0;
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
            height: 20px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .transfer-progress {
        .heading {
            font-weight: 600;
        }

        .progress-step,
        .progress-message {
            margin-top: 10px;
        }

        .progress-message {
            margin-bottom: 10px;
        }
    }
}

ion-spinner {
    align-self: center;
    margin: 10px;
}
