<ion-content [class.dark-container]="theme.darkMode">
  <app-titlebar></app-titlebar>

  <ion-grid *ngIf="!initializing" class="container ion-padding transfer-container">
    <!-- Active wallet -->
    <div class="wallet-name">{{ 'easybridge.active-wallet' | translate }}: <b>{{ getWalletName() }}</b></div>

    <!-- Source tokens -->
    <div class="fetch-tokens-heading">
      <div class="heading" [class.highlighted]="!selectedSourceToken">{{ 'multiswap.source-token' | translate }}
      </div>
    </div>
    <div class="source-tokens">
      <!-- No token selected yet -->
      <div class="source-token" (click)="pickSourceToken()" *ngIf="!selectedSourceToken">
        <div class="left"> </div>
        <div class="right">
          {{ 'multiswap.pick-a-token' | translate }}
        </div>
      </div>

      <!-- Source token is selected -->
      <div *ngIf="selectedSourceToken" class="source-token selected" (click)="pickSourceToken()">
        <div class="left">
          <img [src]="getTokenLogo(selectedSourceToken.token)" class="network-logo" />
        </div>
        <div class="right">
          <div class="amount-symbol">
            <span class="token-symbol">{{ selectedSourceToken.token.getSymbol() }}</span>
          </div>
          <div class="token-name">
            {{ selectedSourceToken.token.getDescription() }}
          </div>
        </div>
      </div>
    </div>

    <!-- Destination tokens -->
    <div>
      <div class="heading" [class.highlighted]="!selectedDestinationToken">{{ 'multiswap.destination-token' |
        translate }}</div>
      <div class="destination-tokens">
        <!-- No token selected yet-->
        <div class="destination-token" (click)="pickDestinationToken()" *ngIf="!selectedDestinationToken">
          <div class="left"> </div>
          <div class="right">
            Pick a token
          </div>
        </div>

        <!-- Destination token is selected -->
        <div *ngIf="selectedDestinationToken" class="destination-token selected" (click)="pickDestinationToken()">
          <div class="left">
            <img [src]="getTokenLogo(selectedDestinationToken.token)" class="network-logo" />
          </div>
          <div class="right">
            <div class="amount-symbol token-symbol">
              {{ selectedDestinationToken.token.getSymbol() }}
            </div>
            <div class="token-name">
              {{ selectedDestinationToken.token.getDescription() }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Transfer amount -->
    <div *ngIf="selectedSourceToken && selectedDestinationToken">
      <div class="heading" [class.highlighted]="!transferAmount">{{ 'easybridge.transfer-amount' | translate }}</div>

      <div class="amount-container">
        <div class="input-row">
          <ion-input #transferamount class="transfer-input" type="number" name="transferAmount" ngDefaultControl
            placeholder="{{ 'wallet.amount' | translate }}" [(ngModel)]="transferAmount"
            [disabled]="!this.canEditFields || transferIsBeingComputed"
            (ionFocus)="transferAmountFocused($event, transferamount)" (ionBlur)="transferAmountChanged()"> </ion-input>
          <span class="token-symbol">{{
            selectedSourceToken.token.getSymbol() }}</span>
        </div>
        <div class="balance-row">
          Balance: {{ getDisplayableAmount(selectedSourceToken.amount) }} <b>{{ selectedSourceToken.token.getSymbol()
            }}</b>
        </div>
      </div>

      <!-- <div *ngIf="transferAmount && userAmountBelowMinAmount()">
        {{ 'easybridge.below-min-bridge-amount' | translate : {minTx: activeTransfer.bridgeStep.minTx, symbol:
        selectedSourceToken.token.getSymbol() } }}
      </div> -->
    </div>

    <!-- Computing -->
    <div *ngIf="transferIsBeingComputed" class="card computing-container">
      <ion-spinner></ion-spinner>
      {{ 'easybridge.computing-transfer-info' | translate }}
    </div>

    <!-- Transfer info -->
    <div *ngIf="selectedDestinationToken && activeTransfer && !lastError && canTransfer() && !transferIsBeingComputed"
      class="card transfer-summary">
      <div class="heading">{{ 'easybridge.transfer-summary' | translate }} <ion-spinner *ngIf="transferStarted">
        </ion-spinner>
      </div>

      <!-- Swap slippage. Only when DEXes are involved, not pure bridges -->
      <ion-row *ngIf="activeTransfer.swapStep && activeTransfer.swapStep.slippage">
        <ion-col size="5">
          {{ 'easybridge.swap-price-impact' | translate }}
        </ion-col>
        <ion-col size="7">
          {{ getDisplayableSwapPriceImpact() }} %
        </ion-col>
      </ion-row>

      <!-- Swap info, only if a swap is required -->
      <ion-row *ngIf="activeTransfer.swapStep">
        <ion-col size="5">
          {{ 'easybridge.swap-fees' | translate }}
        </ion-col>
        <ion-col size="7">
          {{ getDisplayableSwapFees() }}%
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          {{ 'easybridge.received-amount' | translate }}
        </ion-col>
        <ion-col size="7">
          <b>~ {{ getEstimatedReceivedAmount() }}
            {{selectedDestinationToken.token.getSymbol() }}</b>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <div class="footer">
    <!-- Steps summary -->
    <div *ngIf="selectedDestinationToken && activeTransfer" class="transfer-progress">
      <div class="heading">{{ 'easybridge.transfer-progress' | translate }}</div>
      <div class="progress-step">({{ getTransferProgressIndex() + 1 }} / {{ getTotalNumberOfSteps() }})</div>
      <div class="progress-message">{{ getTransferProgressMessage() }}</div>
    </div>

    <!-- Errors -->
    <div *ngIf="lastError" class="last-error">
      <img src="assets/easybridge/icons/orange-warning.svg" /> {{ lastError }}
    </div>

    <div class="buttons">
      <!-- Transfer -->
      <ebutton (clicked)="transfer()" [disabled]="!canTransfer()" *ngIf="!isCompleted()"
        [title]="getTransferButtonText()"></ebutton>

      <!-- Reset -->
      <p (click)="reset()" *ngIf="!isCompleted() && canReset()" class="reset">
        {{'easybridge.reset'| translate }}
      </p>

      <!-- Done -->
      <ebutton (clicked)="done()" *ngIf="isCompleted()" [title]="'easybridge.done' | translate">
      </ebutton>
    </div>
  </div>

</ion-content>