<ion-header *ngIf="nodesService._nodes.length > 0">
  <div class="ion-text-center header">
    <ion-label><span>{{ getSelectedNodes() }}</span>/36 selected nodes</ion-label>
  </div>
</ion-header>

<ion-content>

  <ion-grid class="container ion-no-padding" *ngIf="nodesService._nodes.length > 0">

<!--     <ion-button [routerLink]="['/dposvoting/home']">
      GO HOME
    </ion-button> -->

    <app-node-slider
      *ngIf="showNode"
      [nodeIndex]="nodeIndex"
      [node]="node"
      [totalVotes]="nodesService.totalVotes"
      [_nodes]="nodesService.activeNodes">
    </app-node-slider>

    <ion-list lines="none" [class.blur]="showNode" class="node-list">
      <ion-virtual-scroll [items]="nodesService.activeNodes"  approxItemHeight="240px">
        <ion-item *virtualItem="let node">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col
                size="1"
                class="rank-container ion-no-padding"
                (click)="_showNode(nodesService.activeNodes.indexOf(node), node)"
              >
                {{ nodesService.activeNodes.indexOf(node) + 1 }}
              </ion-col>
              <ion-col
                size="2"
                class="img-container"
                (click)="_showNode(nodesService.activeNodes.indexOf(node), node)"
              >
                <img-loader *ngIf="node.imageUrl" useImg><img [src]="node.imageUrl"></img-loader>
                <img-loader *ngIf="!node.imageUrl" useImg><img src="../assets/dposvoting/icon/elastos-icon.svg"></img-loader>
              </ion-col>
              <ion-col
                size="7.5"
                (click)="_showNode(nodesService.activeNodes.indexOf(node), node)"
              >
                <ion-label>
                  <h4>{{ node.nickname }}</h4>
                  <p>
                    <span [class.inactive]="node.state !== 'Active'">
                      <ion-icon name="navigate"></ion-icon>{{ node.Location }}
                    </span>
                    &nbsp; {{ getVotePercent(node.votes) }}% of Votes
                  </p>
                </ion-label>
              </ion-col>
              <ion-col size="1.5" class="checkbox-container">
                <ion-checkbox value="node" [(ngModel)]="node.isChecked" mode="ios" [disabled]="selectedNodes > 35 && !node.isChecked"></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>

  </ion-grid>

  <ion-grid class="ion-no-padding" *ngIf="nodesService._nodes.length === 0 ">
    <ion-list class="node-list">
      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item lines="none">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col
              size="1"
              class="rank-container ion-no-padding"
            >
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </ion-col>
            <ion-col size="2" class="img-container">
              <ion-avatar>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="7.5">
              <ion-label>
                <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
                <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text><p>
              </ion-label>
            </ion-col>
            <ion-col size="1.5" class="checkbox-container">
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content>

<div *ngIf="nodesService._nodes.length > 0" class="vote-btn ion-activatable ripple animate-btn" (click)="castVote()">
  <h1 *ngIf="!voted">CAST VOTE</h1>
  <h1 *ngIf="voted">VOTES CASTED</h1>
  <ion-ripple-effect></ion-ripple-effect>
</div>
