@import '../../root.scss';

.header {
  ion-label {
    font-size: 16px;

    span {
      font-weight: 700;
      font-size: 24px;
    }
  }
}

ion-content {
  position: relative;
}

.container {
  background: hsl(225, 22%, 96%);
  min-height: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.vote-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 8%;
  background: #A25BFE;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;
  }
}

.animate-btn {
  animation: reveal;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px 1px 1px rgb(199, 199, 199);

  @keyframes reveal {
    0% { bottom: -100px }
    100% { bottom: 0px }
  }
}

.ripple {
  overflow: hidden;
}