<ion-content>
    <app-titlebar></app-titlebar>
    <p>{{ 'crproposalvoting.review-proposal-msg' | translate }}</p>
    <div>
        <ion-row class="header">{{ 'crproposalvoting.vote-result' | translate }}</ion-row>
        <ion-row>{{ 'crproposalvoting.' + trackingType  | translate }}</ion-row>
    </div>
    <ion-button (click)="signAndReviewMilestone()" *ngIf="!signingAndSendingProposalResponse">{{ 'crproposalvoting.sign-review-milestone' | translate }}</ion-button>
    <div *ngIf="signingAndSendingProposalResponse">
        <ion-spinner></ion-spinner>
    </div>
</ion-content>

