<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">

        <ion-card>
            <div *ngIf="exportMnemonic" class="inline-svg" inlineSVG="/assets/shared/curcol-icons/warning.svg"></div>
            <div *ngIf="!exportMnemonic" class="inline-svg" inlineSVG="/assets/wallet/settings/curcol-wallet.svg"></div>
            <ion-card-title>{{ title }}</ion-card-title>
            <ion-card-subtitle *ngIf="requestDapp">{{ requestDapp }}</ion-card-subtitle>
        </ion-card>

        <div *ngIf="!exportMnemonic">
            <div class="msg-container">
                <p *ngIf="showReason">{{ 'wallet.access-reason' | translate }}: {{ requestItems[0].reason }}</p>
                <p *ngIf="!showReason">{{ 'wallet.access-request-for-info' | translate }}</p>
                <p class="second-msg">{{ 'wallet.access-data-access' | translate }}</p>
            </div>
            <ion-row class="data-row" *ngFor="let item of requestItems">
                <p>{{ getClaimTitle(item.name) | translate }}</p>
                <h5 *ngIf="item.name === 'elaamount'">{{ item.value}} ELA</h5>
                <h5 *ngIf="item.name !== 'elaamount'">{{ item.value }}</h5>
            </ion-row>
        </div>

        <div *ngIf="exportMnemonic">
            <div class="msg-container">
                <p>{{ 'wallet.text-share-mnemonic-warning' | translate }}</p>
                <p *ngIf="showReason">{{ 'wallet.access-reason' | translate }}: {{ requestItems[0].reason }}</p>
            </div>
        </div>

        <ebutton class="btn cancel" mode="cancel" (clicked)="cancelOperation()"
            [title]="'common.cancel' | translate">
        </ebutton>
        <ebutton class="btn confirm" (clicked)="onShare()"
            [title]="'common.confirm' | translate">
        </ebutton>

    </ion-grid>
</ion-content>
