<ion-content>
    <app-titlebar></app-titlebar>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="header">
            <ion-col size="12">
                <ion-label>
                    {{ 'identity.mycredentials-header' |  translate }}
                </ion-label>
            </ion-col>
            <!-- <ion-col size="2">
                <img class="dots"
                    src="{{ this.theme.darkMode ? '/assets/identity/svg/dots-three-vertical-dark.svg' : '/assets/identity/svg/dots-three-vertical.svg' }}"
                    (click)="presentActionSheet()" float-right />
            </ion-col> -->
        </ion-row>
        
        <ion-segment value="all" scrollable="true" (ionChange)="credentialsListChanged($event)">
            <ion-segment-button value="all" [class.active]="segment === 'all'">
                {{ 'identity.mycredentials-segment-all' |  translate }}
            </ion-segment-button>
            <ion-segment-button value="hidden" [class.active]="segment === 'hidden'">
                {{ 'identity.mycredentials-segment-hidden' |  translate }}
            </ion-segment-button>
            <ion-segment-button value="visible" [class.active]="segment === 'visible'">
                {{ 'identity.mycredentials-segment-visible' |  translate }}
            </ion-segment-button>
            <ion-segment-button value="verified" [class.active]="segment === 'verified'">
                {{ 'identity.mycredentials-segment-verified' |  translate }}
            </ion-segment-button>
            <ion-segment-button value="unverified" [class.active]="segment === 'unverified'">
                {{ 'identity.mycredentials-segment-unverified' |  translate }}
            </ion-segment-button>
        </ion-segment>
    
        <ion-row class="credentials">
            <ion-col size="12">
                <div *ngFor="let entry of filteredCredentials" class="credential" style="padding-top: 6.8px;" (click)="openCredential(entry)">
                    <div class="card-icon">
                        <!-- <ion-icon *ngIf="!isAvatarCred(entry)" mode="ios" [name]="getCredIcon(entry)"></ion-icon> -->
                        <img *ngIf="!isAvatarCred(entry)" [src]="getCredIconSrc(entry)" />
                        <div *ngIf="isAvatarCred(entry)">
                            <img class="avatar" [src]="getAvatar(entry)" />
                        </div>
                    </div>
                    <div class="card-internal">
                        <div class="card-header">
                            <span class="card-title">{{ getDisplayableCredentialTitle(entry) }}</span>
                            <span class="card-title-icons">

                                <img class="verified-icon" *ngIf="!isVerified(entry)"
                                    src="/assets/identity/svg/verified-gray.svg" />
                                <img class="verified-icon" *ngIf="isVerified(entry)" src="/assets/identity/svg/verified.svg" />


                                <img class="published-icon" *ngIf="!isPublished(entry.credential)"
                                    src="/assets/identity/svg/publish-gray.svg" />
                                <img class="published-icon" *ngIf="isPublished(entry.credential)"
                                    src="/assets/identity/svg/credential-published.svg" />
                            </span>
                        </div>
                        <span 
                            class="card-value"
                            *ngFor="let prop of displayableProperties(entry.credential)"
                        >
                            {{ prop.value | translate }}
                        </span>
                        <div class="card-issuer" *ngIf="hasIssuer(entry.issuer) && isVerified(entry)">
                            <div class="card-issuer-badge">
                                <img src="/assets/identity/svg/verified.svg" />
                                <span>
                                    {{ 'identity.mycredentials-verifiedby' |  translate }}
                                </span>
                            </div>
                            <div class="card-issuer-values">
                                <img class="card-issuer-avatar" [src]="getIssuerAvatar(entry.issuer)">
                                <div>
                                    <span *ngIf="hasIssuerName(entry.issuer)">{{ getIssuerName(entry.issuer) }}</span>
                                    <span>{{ getIssuerDID(entry.issuer) }}</span>
                                </div>

                                <img class="card-issuer-chevron"
                                    src="{{ this.theme.darkMode ? '/assets/identity/svg/chevron-thin-right-dark.svg' : '/assets/identity/svg/chevron-thin-right.svg' }}" />
                            </div>
                        </div>
                    </div>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
