@import "src/app/identity/root.scss";

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 5px;

    .icon {
        margin-right: 31.8px;
    }

    .header {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.93;
        letter-spacing: normal;
        text-align: left;
        color: #372153;
    }

    ion-card {
        margin: 0;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 15px 0 #ededf0;
        border-radius: 15px;
        padding: 15px;

        img {
            margin-top: 2.5px;
            width: 56px;
            height: 56px;
        }

        ion-card-title {
            font-size: 21px;
            font-weight: 600;
            line-height: 1.29;
            color: #2e2f4e;
            margin: 15px 15px 10px;
        }

        ion-card-subtitle {
            text-transform: none;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.46;
            color: #161740;
            margin: 0 15px 15px;
        }
    }

    .msg-container {
        padding: 20px 20px 5px;

        p {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.25;
            text-align: center;
            color: #2e2f4e;
        }

        .second-msg {
            color: #8888b0;
            text-align: left;
            margin: 30px 0 10px;
        }

        .third-msg {
            color: #8888b0;
            text-align: left;
            margin: 0px 0 10px;
        }
    }

    .data-row {
        box-shadow: 0 3px 15px 0 #ededf0;
        background: #ffffff;
        border-radius: 15px;
        padding: 0px 20px;
        margin-bottom: 7.5px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        p {
            font-size: 13px;
            font-weight: 600;
            line-height: 1.46;
            text-align: left;
            color: #2e2f4e;
            margin: 10px 0 2.5px;
        }

        h5 {
            margin: 0 0 10px;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.46;
            text-align: left;
            color: #161740;
            word-break: break-all;
        }
    }

    .options-row {
        flex-direction: row;
        justify-content: space-around;

        ion-col {
            padding: 0;
        }

        .checkbox-col {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            ion-checkbox {
                --border-width: 2px;
                --border-color: #565bdb;
            }
        }
    }

    .btn-container {
        padding: 32.5px 0;

        ion-button {
            height: 44.7px;
            width: 100%;
            --border-radius: 20px;

            ion-label {
                text-transform: none;
                font-size: 17px;
                font-weight: 500;
                letter-spacing: -0.43px;
            }

            ion-spinner {
                color: #ffffff;
            }
        }
    }
    .card-icon {
        position: absolute;
        width: 72px;
        height: 72px;
        background-repeat: no-repeat;
        background-image: url("/assets/identity/svg/icondiv.svg");
        background-blend-mode: multiply;
        padding: 11px;
        display: flex;
        justify-content: center;
        color: #ffffff;
        // ion-icon {
        //     display: block;
        //     margin: auto;
        //     width: 70%;
        //     height: 70%;
        // }
        img{
            margin-top: 9px;
            width: 64%;
            height: 64%;
        }

        .avatar {
            margin-top: 0px;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }

    .card-internal {
        width: 100% auto;
        min-height: 75px;
        margin-left: 25px;
        border-radius: 18px;
        box-shadow: 0 3px 15px 0 #ededf0;
        background-image: linear-gradient(to right, #ede6ff, #ffffff 1%, #ffffff 81%);
        padding-left: 59px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 7px;
    }

    .card-header {
        margin: 5px 0px 5px 2px;



        .published-icon {
            width: 22px;
            margin-right: 10px;
            margin-top: -1px;

        }
        .verified-icon {
            width: 18px;
            margin-right: 15px;
        }
    }

    .card-title {
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: left;
        color: #191a2f;
    }

    .card-title-icons {
        float: right;
    }

    .card-value {
        display: block;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #191a2f;
        padding-bottom: 5px;
    }

    .card-issuer{
        font-family: Montserrat;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #372153;
        padding-top: 5px;



        .card-issuer-badge{
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            img {
                object-fit: cover;
                float: left;
            }

            span{
                margin-left: 3px;
            }
        }

        .card-issuer-values{
            background-color: #efeff7;
            border-radius: 18px;
            height: 32px;
            display: flex;
            align-items: center;
            padding-left: 5px;
            font-family: Montserrat;
            font-size: 8px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            text-align: left;
            color: #372153;
            width: 100%;
            .card-issuer-avatar {
                object-fit: cover;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                float: left;
                margin-right: 5px;
            }

            div {
                width: 85%;
            }

            span{
                display: block;
            }

            .card-issuer-chevron {
                float: right;

            }
        }
    }

    ion-segment-button {
        --color: #8686be;
        --color-checked: #ffffff;
        --background-checked:#8686be;
        --border-color: none !important;
        --border-radius: 0;
        --border-style: none;
        --indicator-color: none;
        --indicator-box-shadow: none;
        border: 0px;
        border-radius: 0px;
        font-family: OpenSans;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 4;
        letter-spacing: 0.75px;
        text-align: left;
        border-radius: 31px;
    }
}

.dark-container {
    background: #191a2f;

    .header {
        color: #ffffff;
    }



    ion-card {
        margin: 0;
        background: #2e2f4e;
        box-shadow: 0 3px 15px 0 #151626;

        ion-card-title {
            color: #ffffff;
        }

        ion-card-subtitle {
            color: #cfd1f7;
        }
    }

    .msg-container {
        p {
            color: #ffffff;
        }
    }

    .data-row {
        background: #2e2f4e;
        box-shadow: 0 3px 15px 0 #151626;

        p {
            color: #ffffff;
        }

        h5 {
            color: #cfd1f7;
        }
    }

    .card-internal {
        box-shadow: 0 3px 15px 0 #151515;
        background-image: none;
        background-color: #2a2a4d;

    }
    .card-title{
        color: #565bdb;
    }

    .card-value{
        color: #ffffff;
    }

    .card-issuer{
        color: #ffffff;



        .card-issuer-values{
            background-color: #191a2f;
            color: #ffffff;
        }
    }

    ion-segment-button{
        --color: #8686be;
        --color-checked: #372153;
        --background-checked: #ffffff;
    }
}

.error-info {
    color: #ff005f !important;
}


