@import "src/app/identity/root.scss";

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 13px 0;

    .icon {
        margin-right: 31.8px;
    }

    .header {
        padding: 0 15px;

        ion-col {
            padding-left: 0;
            padding-right: 0;

            ion-label {
                font-size: 30px;
                font-weight: 600;
                line-height: 0.93;
                text-align: left;
            }
        }
    }

    ion-segment {
        --background: transparent;
        padding: 0 15px;

        ion-segment-button {
            --color-checked: var(--ion-text-color);
            --background-checked: var(--essentials-box-color);
            --border-color: none !important;
            --border-radius: 0;
            --border-style: none;
            --indicator-color: none;
            --indicator-box-shadow: none;
            min-width: auto !important;
            border: 0px;
            border-radius: 0px;
            font-family: OpenSans;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.75px;
            border-radius: 31px;
            padding: 5px 2.5px;
        }

        .active {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .intro {
        margin: 10px 50px;
        text-align: center;
        opacity: 0.7;
        font-size: 14px;
    }

    .credentials {
        padding: 0 10px;

        ion-item-options {
          border-bottom: none;
        }

        .itemOption {
          background: transparent;

          img {
            height: 20px;
            width: 20px;
          }
        }
    }
}

.error-info {
    color: #ff005f !important;
}
