<app-titlebar></app-titlebar>
<ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="section2">
            <ion-col size="12">
                <ion-label class="header">
                    {{ 'mycredentials-header' |  translate }}
                </ion-label>
            </ion-col>
            <!-- <ion-col size="2">
                <img class="dots"
                    src="{{ this.theme.darkMode ? '/assets/identity/svg/dots-three-vertical-dark.svg' : '/assets/identity/svg/dots-three-vertical.svg' }}"
                    (click)="presentActionSheet()" float-right />
            </ion-col> -->
        </ion-row>
        <ion-row style="padding-top: 35px;">
            <ion-col size="12">
                <ion-segment value="all" scrollable (ionChange)="credentialsListChanged($event)">
                    <ion-segment-button value="all">
                        <ion-label>
                            {{ 'mycredentials-segment-all' |  translate }}
                        </ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="hidden">
                        <ion-label>
                            {{ 'mycredentials-segment-hidden' |  translate }}
                        </ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="visible">
                        <ion-label>
                            {{ 'mycredentials-segment-visible' |  translate }}
                        </ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="verified">
                        <ion-label>
                            {{ 'mycredentials-segment-verified' |  translate }}
                        </ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="unverified">
                        <ion-label>
                            {{ 'mycredentials-segment-unverified' |  translate }}
                        </ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
            <ion-col size="3">
                <!-- <div float-right>
                    <img class="icon" src="/assets/identity/svg/list.svg" (click)="list()" />

                    <img src="/assets/identity/svg/loupe.svg" (click)="list()" />
                </div> -->

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div *ngFor="let entry of filteredCredentials" style="padding-top: 6.8px;"
                    (click)="openCredential(entry)">
                    <div class="card-icon">
                        <!-- <ion-icon *ngIf="!isAvatarCred(entry)" mode="ios" [name]="getCredIcon(entry)"></ion-icon> -->

                        <img *ngIf="!isAvatarCred(entry)" [src]="getCredIconSrc(entry)" />
                        <div *ngIf="isAvatarCred(entry)">
                            <img class="avatar" [src]="getAvatar(entry)" />
                        </div>
                    </div>
                    <div class="card-internal">
                        <div class="card-header">
                            <span class="card-title">{{ getDisplayableCredentialTitle(entry) }}</span>
                            <span class="card-title-icons">

                                <img class="verified-icon" *ngIf="!isVerified(entry)"
                                    src="/assets/identity/svg/verified-gray.svg" />
                                <img class="verified-icon" *ngIf="isVerified(entry)" src="/assets/identity/svg/verified.svg" />


                                <img class="published-icon" *ngIf="!isPublished(entry.credential)"
                                    src="/assets/identity/svg/publish-gray.svg" />
                                <img class="published-icon" *ngIf="isPublished(entry.credential)"
                                    src="/assets/identity/svg/credential-published.svg" />
                            </span>
                        </div>
                        <span class="card-value"
                            *ngFor="let prop of displayableProperties(entry.credential)">{{ prop.value | translate }}</span>
                        <div class="card-issuer" *ngIf="hasIssuer(entry.issuer) && isVerified(entry)">
                            <div class="card-issuer-badge">
                                <img src="/assets/identity/svg/verified.svg" />
                                <span>
                                    {{ 'mycredentials-verifiedby' |  translate }}
                                </span>
                            </div>
                            <div class="card-issuer-values">
                                <img class="card-issuer-avatar" [src]="getIssuerAvatar(entry.issuer)">
                                <div>
                                    <span *ngIf="hasIssuerName(entry.issuer)">{{ getIssuerName(entry.issuer)}}</span>
                                    <span>{{ getIssuerDID(entry.issuer)}}</span>
                                </div>

                                <img class="card-issuer-chevron"
                                    src="{{ this.theme.darkMode ? '/assets/identity/svg/chevron-thin-right-dark.svg' : '/assets/identity/svg/chevron-thin-right.svg' }}" />
                            </div>
                        </div>
                    </div>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
