/** language pg, developer, select-network pg **/
.subsetting-grid {
  padding: 0px 20px 20px;
  min-height: 100%;

  .section-row {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #EAEAEA;
    width: 100%;

    ion-col {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        margin: 0;
        font-size: 15px;
        font-weight: 600;
      }

      ion-icon {
        width: 22px;
        height: 22px;
      }

      ion-toggle {
        zoom: 0.85;
      }
    }

    .left-col {
      justify-content: flex-start;
    }

    .right-col {
      justify-content: flex-end;
    }
  }

  .input-row {
    .left-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    ion-input {
      --padding-start: 12px;
      height: 45px;
      font-size: 14px;
      font-weight: 400;
      color: #353650;
      border-radius: 10px;
      border: solid 2px #dfdff4;
    }

    .right-col {
      .btn-container {
        border-radius: 100%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon {
          width: 25px;
          height: 25px;
          color:  #353650;
        }
      }
    }

    #add-margin {
      margin-top: 10px;
    }
  }

  .remove-border {
    border-bottom: none;
  }
}

.dark-subsetting-grid {
  .section-row {
    border-bottom: 1px solid #464646;
  }

  .input-row {
    ion-input {
      color: #ffffff;
      border: 2px solid  #2e2f4e;
    }

    .right-col {
      .btn-container {
        ion-icon {
          color: #ffffff;
        }
      }
    }
  }
 
  .remove-border {
    border-bottom: none;
  }
}

/** developer, select-network pg **/
ion-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  ion-row {
    padding: 20px 0;

    ion-label {
      font-weight: 600;
      font-size: 14px;
      color: #353650;
    }

    ion-input {
      --padding-start: 12px;
      height: 45px;
      font-size: 14px;
      font-weight: 400;
      color: #353650;
      border-radius: 10px;
      border: solid 2px #b2b5c2;
    }

    #add-margin {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .submit {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn-container {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon {
          width: 30px;
          height: 30px;
          color:  #353650;
        }
      }
    }
  }
}

.dark-footer {
  ion-row {
    ion-label {
      color: #ffffff;
    }

    ion-input {
      color: #ffffff;
    }

    .submit {
      .btn-container {
        ion-icon {
          color: #ffffff;
        }
      }
    }
  }
}